
@{
    ViewBag.Title = "IPBill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<script type="text/javascript" src="../Projectscript/IPBill.js"></script>
<script type="text/javascript" src="~/ProjectScript/Windowsprint.js"></script>
<script type="text/javascript" src="~/ProjectScript/CommonHMS.js"></script>

<link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/tables/jsgrid/jsgrid-theme.min.css">
<link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/tables/jsgrid/jsgrid.min.css">
<link rel="stylesheet" type="text/css" href="../app-assets/vendors/css/hopscotch.css">
<script src="~/Scripts/Autocomplete/jquery-ui.js"></script>
<script type="text/javascript" src="~/ProjectScript/DosPrint.js"></script>


<style>
    #Cell1 {
        width: 75%;
    }

    #Cell2 {
        width: 25%;
        text-align: right;
    }

    .mgtpin {
        margin-top: 10px;
    }

    .mgtpin1 {
        margin-top: 5px;
    }

    .mgtpdec {
        margin-top: -10px;
    }

    .mglftin {
        margin-left: 5px;
    }

    .label-control {
        font-weight: bold;
    }

    .p-1 {
        padding-top: .1rem !important;
        padding-bottom: .1rem !important;
    }

    select.form-control:not([size]):not([multiple]) {
        height: calc(2.25rem + 4px);
    }

    .headertable tr {
        border: 1px solid #BABFC7;
        height: 30px;
    }

    .modal-xl {
        max-width: 1200px;
    }

    .jsgrid-cell {
        border: 1px solid #9faec3;
    }
    .jsgrid-cell {
    padding: .3em!important;
     font-weight: 500;
}
    .jsgrid input {
    font-size: 1em;
    font-weight: 500;
}
</style>
<div class="myData" data-x="M356" />



<div id="Entry" style="margin-top:-20px;">

    <section class="grid-row-label">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" style="border-bottom:1px solid #e6e6e6;background-color:#009DA0;height:70px">

                        <h3 class="text-md-right" id="fc" style="float:right;opacity:0;color:red;font-weight:500;display:none">fc </h3>

                        <div class="row">
                            <table width="100%">
                                <tr>
                                    <td>
                                        <h2 class="card-title mb-0" style="font-weight:bold;font-size:x-large;color:white;">IP BILLING</h2>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-radio display-inline-block white" style="float:right;font-weight:normal;font-size:x-large;margin-top:2%">
                                            <input type="radio" id="Cash" name="customRadioInline3" class="custom-control-input" checked="">
                                            <label class="custom-control-label custsize" for="Cash">Cash</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-radio display-inline-block white" style="float:right;font-weight:normal;font-size:x-large;margin-top:2%">
                                            <input type="radio" id="Credit" name="customRadioInline3" class="custom-control-input">
                                            <label class="custom-control-label custsize" for="Credit">Credit</label>
                                        </div>
                                    </td>
                                    <td class="text-right" width="59%">
                                        <i class="ft-calendar" style="font-weight:normal;font-size:x-large;color:white"></i>
                                        <input type="text" id="BillDate" style="border:none;background-color:#009DA0;color:white;font-weight:normal;font-size:x-large;" class="disb" disabled>
                                    </td>
                                </tr>
                            </table>
                        </div>

                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body" style="margin-top:-20px">

                            <form action="#">
                                <div class="form-body">
                                    <hr id="" style="margin-top:1.2%" />
                                    <div class="p-1" style="background-color:#E0F3F4;margin-top:-1.5%">
                                        <div class="row p-1" style="background-color:#E0F3F4;">

                                            <div class="col-md-1">
                                                <label class="label-control">Bill#</label>
                                            </div>
                                            <div class="col-md-2">
                                                <input type="text" id="BillNoCopy" class="form-control cpybl avdclr disb" style="display:none" onfocus="LoadBillSearch()" onkeypress='isNumber(event,this)'>
                                                <input type="text" id="BillNo" class="form-control avdclr disb" disabled style="background-color:white">

                                            </div>
                                            <div class="col-md-1 text-right">
                                                <label class="label-control">IP#</label>
                                            </div>
                                            <div class="col-md-2">
                                                <input type="text" id="IpNo" class="form-control rdonl patdet">
                                            </div>
                                            <div class="col-md-1 text-right">
                                                <label class="label-control">OP#</label>
                                            </div>
                                            <div class="col-md-2">
                                                <input type="text" id="OpNo" class="form-control rdonl patdet">
                                            </div>
                                            <div class="col-md-3 text-center">
                                                <h3 style="font-weight:bold">TOTAL</h3>
                                            </div>
                                        </div>

                                        <div class="row p-1" style="">
                                            <div class="col-md-1 ">
                                                <label class="label-control">Reg No</label>
                                            </div>
                                            <div class="col-md-2">
                                                <input type="text" id="RegNo" class="form-control atcm" onfocus="LoadRegNumber()">
                                            </div>
                                            <div class="col-md-1 text-right" style="min-width: 8%;">
                                                <label class="label-control" style="width: 130%;margin-left:-30%">Patient Name</label>
                                            </div>
                                            <div class="col-md-2">
                                                <input type="text" id="Name" class="form-control rdonl patdet">
                                            </div>
                                            <div class="col-md-1 text-right">
                                                <label class="label-control">Age/Sex</label>
                                            </div>
                                            <div class="col-md-2 input-group m-0">
                                                <input type="text" id="Age" class="form-control rdonl patdet">

                                                <select type="text" id="Gender" class="form-control rdonl">
                                                    <option value="0" class="disopt">
                                                        Select
                                                    </option>
                                                    <option value="1" class="disopt">
                                                        Male
                                                    </option>
                                                    <option value="2" class="disopt">
                                                        Female
                                                    </option>
                                                    <option value="3" class="disopt">
                                                        Others
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-md-3 text-center">
                                                <h3 id="GrandTotal" style="font-weight:bold;color:red;font-size:45px;margin-bottom:-.45rem"></h3>
                                            </div>
                                        </div>
                                        <div class="row p-1" style="">
                                            <div class="col-md-1 ">
                                                <label class="label-control">Doctor</label>
                                            </div>
                                            <div class="col-md-2">
                                                <select id="Doctor" class="form-control patdet"></select>
                                            </div>

                                            <div class="col-md-1  text-right">
                                                <label class="label-control">Admit Date</label>
                                            </div>
                                            <div class="col-md-2">
                                                <input type="text" id="AdmitDate" class="form-control rdonl patdet">
                                                @*<select type="text" id="RateType0" class="form-control">
                                                    <option value="0">Normal Rate</option>
                                                    <option value="1">Special Rate</option>
                                                    <option value="2">Very Special Rate</option>
                                                    <option value="3">Outside Rate</option>
                                                </select>*@
                                            </div>
                                            <div class="col-md-1 text-right">
                                                <label class="label-control" style="width: 130%;margin-left:-30%">Discharge Date</label>
                                            </div>
                                            <div class="col-md-2">
                                                <input type="text" id="DischargeDate" class="form-control rdonl patdet">
                                                @*<select id="Hospital" class="form-control">
                                                    <option value="0">Kims HosPital</option>
                                                    <option value="1">LakeShore HosPital</option>
                                                </select>*@
                                            </div>
                                        </div>
                                        <div class="row p-1" style="">
                                            <div class="col-md-1 ">
                                                <label class="label-control">Surgery Date</label>
                                            </div>
                                            <div class="col-md-2">
                                                <input type="text" id="SurgeryDate" class="form-control denull">
                                            </div>

                                            <div class="col-md-1  text-right">
                                                <label class="label-control">Remarks</label>
                                            </div>
                                            <div class="col-md-5">
                                                <input type="text" id="Remarks" class="form-control denull">
                                            </div>
                                        </div>
                                    </div>
                                    <hr style="margin-top:3px" />
                                    <div class="px-0">
                                        <div class="row" style="margin-top:-15px;margin-left:3px">
                                            <div class="col-md-12">
                                                <div class="row" style="height:26px;">
                                                    <div class="col-md-3">

                                                        <label class="label-control">Description<span class="danger">*</span></label>

                                                    </div>
                                                    <div class="col-md-1">

                                                        <label class="label-control">Qty.<span class="danger">*</span></label>

                                                    </div>
                                                    <div class="col-md-1">

                                                        <label class="label-control">Rate<span class="danger">*</span></label>

                                                    </div>
                                                    <div class="col-md-1">

                                                        <label class="label-control">Amount<span class="danger">*</span></label>

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3">

                                                        <input type="text" id="TestName0" class="form-control atcm" onfocus="LoadTest(0)">
                                                        <input type="text" id="TestId0" style="display:none">
                                                    </div>
                                                    <div class="col-md-1">
                                                        <input type="text" id="PQty0" class="form-control" onkeyup="AmountCalc(0)" onkeypress="isNumberInt(event,this)">
                                                    </div>
                                                    <div class="col-md-1">
                                                        <input type="text" id="PRate0" class="form-control" onkeyup="AmountCalc(0)" onkeypress="isNumber(event,this)">
                                                    </div>
                                                    <div class="col-md-1">
                                                        <input type="text" id="TestAmount0" style="" class="form-control rdonl" readonly>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <button type="button" style="font-weight:bold;width:37%" id="btnadd" onclick="AddTest()" class="btn btn-outline-primary">+Add</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="px-2">
                                    <div id="customView" class="jsgrid" style="position: relative; height: 277px; width: 100%; border:solid 1px;border-color:#e9e9e9;margin-top:-5px;overflow-x: auto;overflow-y: hidden;">
                                        <div class="jsgrid-grid-header jsgrid-header-scrollbar" style="width: 100%;">
                                            <table class="jsgrid-table" id="">
                                                <tr class="jsgrid-header-row">
                                                    <th class="jsgrid-header-cell jsgrid-control-field jsgrid-align-center" id="editheader" style="width: 5%;"><i class="icon-trash"></i></th>
                                                    <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width: 5%;">SL#</th>
                                                    <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width: 20%;">Code</th>
                                                    <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width: 40%;">Description</th>
                                                    <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width: 5%;">Qty.</th>
                                                    <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width: 12%;">Rate.</th>
                                                    <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width: 12%;">Amount</th>
                                                </tr>

                                            </table>
                                        </div>
                                        <div id="proddiv" class="" style="position: relative; overflow-x: auto;overflow-y: scroll; height:233px; width: 100%;border-bottom:1px solid;border-bottom-color:#e9e9e9">
                                            <table class="jsgrid-table" id="TblLabBill"></table>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-actions" style="padding-top:5px">
                                    <div class="row">
                                        <div class="col-md-7 row">

                                            <div class="col-md-12" style="padding-left:3%">
                                                <table class="headertable" id="" style="background-color:white;width:100%;">
                                                    <tbody>
                                                        <tr>
                                                            <td class="text-center" width="25%" style="border-left:1px solid #BABFC7;"><b>Total Amount</b></td>
                                                            <td class="text-center" width="25%" style="border-left:1px solid #BABFC7;"><b>Discount%</b></td>
                                                            <td class="text-center" width="25%" style="border-left:1px solid #BABFC7;"><b>Discount Amount</b></td>
                                                            <td class="text-center" width="25%" style="border-left:1px solid #BABFC7;"><b>Net Amount</b></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="border-left:1px solid #BABFC7;text-align:center;" class="pt-1">
                                                                <label class="totlbl" style="font-weight:bold;" id="TotalAmt"></label>
                                                            </td>
                                                            <td style="border-left:1px solid #BABFC7;text-align:center;" class="pt-1">
                                                                <input type="text" class="form-control text-center" style="font-weight:bold;border:none" onclick="this.select()" id="DiscPercent" onkeypress='isNumber(event,this)' onkeyup="CalcGrandTotal(0)" onblur="$('#DiscPercent').val(parseFloat($('#DiscPercent').val()).toFixed(Decimal));">
                                                            </td>
                                                            <td style="border-left:1px solid #BABFC7;text-align:center;" class="pt-1">
                                                                <input type="text" class="form-control text-center" style="font-weight:bold;border:none" onclick="this.select()" id="DiscAmt" onkeypress='isNumber(event,this)' onkeyup="CalcGrandTotal(2)" onblur="$('#DiscAmt').val(parseFloat($('#DiscAmt').val()).toFixed(Decimal));">
                                                                @*<label class="totlbl" style="font-weight:bold;" id="DiscAmt"></label>*@
                                                            </td>
                                                            <td style="border-left:1px solid #BABFC7;text-align:center;" class="pt-1">
                                                                <label class="totlbl" style="font-weight:bold;" id="NetAmt"></label>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                        <div class="col-md-5 text-right">
                                            <button type="button" style="width:120px" id="btnsubmit" class="btn btn-primary btn-min-width mr-1 mb-1"><u>S</u>ave <i class="fa fa-check-square-o"></i></button>
                                            <button type="button" style="width:120px" id="btnview" onclick="GetRows(1)" class="btn btn-primary btn-min-width mr-1 mb-1" autocomplete="off">View <i class="ft-eye"></i></button>
                                            <button type="button" style="width:120px" id="btnlist" onclick="GetRows(0)" class="btn btn-primary btn-min-width mr-1 mb-1">Copy <i class="ft-align-justify"></i></button>
                                            <button type="button" style="width:120px" id="btnnew" onclick="formrefreshconfirm()" class="btn btn-primary btn-min-width mr-1 mb-1">New <i class="ft-refresh-cw position-right"></i></button>
                                            <button style="display:none" type="button" id="btnprint" onclick="PrintthisBill(1)" class="btn btn-primary btn-min-width mr-1 mb-1">Print <i class="ft-printer"></i></button>
                                            <button style="display:none;width:120px" type="button" id="btnedit" onclick="$('#otptype').val(0), $('#OTPDiv').show(), $('#txtotp,#otpremarks').prop('disabled', false), $('#txtotp').focus()" class="btn btn-secondary btn-min-width mr-1 mb-1">Edit<i class="fa fa-check-square-o"></i></button>
                                            <button style="display:none;width:120px" type="button" id="btnupdate" class="btn btn-secondary btn-min-width mr-1 mb-1">Update<i class="fa fa-check-square-o"></i></button>
                                            <button style="display:none;width:120px" type="button" id="btndelete" onclick="$('#otptype').val(1), $('#OTPDiv').show(), $('#txtotp,#otpremarks').prop('disabled', false), $('#txtotp').focus()" class="btn btn-danger btn-min-width mr-1 mb-1">Delete<i class="fa fa-times"></i></button>
                                            <button style="display:none" type="button" id="btnacctran" onclick="GetTrans()" class="btn btn-info white btn-min-width mr-1 mb-1">Accounts Details <i class="fa ft-info"></i></button>
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div id="confirmff" class="overlay" style="display:none;">
    <div class="modal fade text-left show" id="keyboardff" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" style="display:none;padding-right: 17px; top:28%;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-body" style="text-align:center">
                    <h3 style="color:red"><B>ADD BILL NUMBER !!!</B></h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog" style="">
        <div class="modal-dialog modal-xl">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header bg-primary white">
                    <div class="row col-md-12 p-0">
                        <div class="col-md-6">
                            <h4 class="modal-title font-weight-bold">INPATIENT BILLS</h4>
                        </div>
                        <div class="col-md-5">
                        </div>
                        <div class="col-md-1 p-0">
                            <button type="button" class="close pull-right" onclick="ngOnDestroy()">&times;</button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-2">
                            <input type="text" style="" id="DateFrom" class="form-control disb" onchange="">
                        </div>
                        <div style="margin-top:.6%">
                            -
                        </div>
                        <div class="col-md-2">
                            <input type="text" style="" id="DateTo" class="form-control disb" onchange="">
                        </div>
                        <div class="col-md-1" style="margin-top:.6%">
                            Department
                        </div>
                        <div class="col-md-2">
                            <select id="select_dept" class="form-control disb"></select>
                        </div>
                        <div class="col-md-2">
                            <button type="button" id="btnsubmitsgo" class="btn btn-warning" onclick="CallViewList()">GO</button>
                        </div>



                    </div>
                    <div class="row" style="height:500px;overflow-y:auto">
                        <table id="tblViewList" width="100%" class="table table-striped table-bordered base-style dataTable"></table>
                    </div>
                </div>
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-default" onclick="ngOnDestroy()">OK</button>*@
                </div>
            </div>

        </div>
    </div>
</div>

<div id="OTPDiv" class="modal fade text-left show ImpDiv" tabindex="-1" role="dialog" aria-labelledby="myheader" style="background:rgba(0,0,0,0.5); display: block;margin-top:0%;display: none;">
    <div class="modal-dialog modal-dialog-centered" role="document" style="top:-25%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="$('#OTPDiv').hide()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="row" id="panel" style="margin-top:2%;">
                        <label class="col-md-5" style="text-align:left" id="reason">Enter the OTP:</label>
                        <div class="col-md-7">
                            <input type="text" id="txtotp" class="form-control" autocomplete="off">
                        </div>
                    </div>
                    <div class="row" id="panel" style="margin-top:2%;">
                        <label class="col-md-5" style="text-align:left" id="reason">Remarks:</label>
                        <div class="col-md-7">
                            <input type="text" id="otpremarks" class="form-control" autocomplete="off">
                        </div>
                    </div>
                    <div style="display:none">
                        <input type="text" class="form-control" id="otptype" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" style="width:100px;" id="btnotpcancel" onclick="$('#OTPDiv').hide(),$('#txtotp,#otpremarks').val('')" class="btn btn-outline-secondary">Cancel</button>
                <button type="button" style="width:100px" id="btnotpsave" onclick="CheckEditandDeleteBill($('#otptype').val())" class="btn btn-outline-warning">Continue</button>
            </div>
        </div>
    </div>
</div>

<div id="Loadingsave" class="overlay1" style="background: none;display: none;">
    <div style="margin-top:23%;margin-left: 50%;">
        <img src="/app-assets/img/Loading_1.gif">
    </div>
</div>

<div style="display:none">
    <input type="text" id="RegSeries" class="form-control patdet">
    <input type="text" id="Genderhid" class="form-control rdonl patdet">
    <input type="text" id="TestCode0" class="form-control rdonl patdet">
    <input type="text" id="IpYear" class="form-control rdonl patdet">
    <table id="DosPrint" class="dataTable"></table>

</div>

