
@{
    ViewBag.Title = "ItemwiseReport";
}

<style type="text/css">
    .main-panel {
        height: auto;
        width: auto;
        max-height: none;
        min-height: 100%;
        margin: 0;
        padding-top: 85px;
        float: none;
    }

    .eumi-search-box {
        box-sizing: border-box;
        width: 100%;
    }

    body.eumi-loader::before {
        content: '';
        display: block;
        position: fixed;
        z-index: 31000;
        height: 4px;
        background-color: rgba(0, 157, 160, 0.2);
        top: 0;
        left: 0;
        right: 0;
    }

    body.eumi-loader::after {
        content: '';
        display: block;
        position: fixed;
        z-index: 31001;
        height: 4px;
        background-color: rgba(0, 157, 160, 1);
        top: 0;
        width: 50px;
        animation: eumiloader 4s infinite linear;
    }

    .eumi-search-table, .eumi-shadow {
        border-spacing: 0 0px;
        box-shadow: 0px 0px 0px 2px #fff, 0 0 2px 2px #999;
    }
    /* .eumi-search-table tbody td { border:none; } */
    @@keyframes eumiloader {
        from {
            right: 100%;
        }

        to {
            right: 0;
        }
    }

       .form-control {
        font-weight: bold;
    }

         
</style>

<div class="myData" data-x="M37" />
<div class="card">
    <div class="row m-1">
        <div class="col-md-6">
            <h2>Purchase Report-Itemwise</h2>
        </div>
        <div class="col-md-6 eumi-button-area" id="divReportOptions" data-download-url="@Url.Action("ItemwiseReportDownload", "Report")">


            <div class="btn-group" role="group">
                <button id="btnColVisibility" type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Columns
                </button>
                <div class="dropdown-menu eumi-col-show" aria-labelledby="btnColVisibility">
                </div>
            </div>

            <button type="button" id="btnchgp" class="btn btn-primary" data-toggle="modal" data-target="#paramModal">Change Parameters</button>

            <div class="btn-group excelexport" role="group">
                <button id="btnGroupDropDownload" type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Export
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDropDownload">
                    <a class="dropdown-item buttons-excel" data-eumi-download="excel" href="#">Excel</a>
                    <a class="dropdown-item buttons-pdf" data-eumi-download="pdf" href="#">PDF</a>
                    <a class="dropdown-item buttons-csv" data-eumi-download="csv" href="#">CSV</a>
                    <a class="dropdown-item buttons-print" data-eumi-download="print" href="#">Print</a>
                </div>
            </div>
            <button class="btn btn-outline-primary" data-eumi-clear="1" id="ClearSearch" type="button">Clear Search</button>
             <div class="clearfix"></div>
        </div>
    </div>

    <div id="popup" style="display:none">
        <div class="row m-1" >
            <div id="paramOfReport" class="row m-1"></div>
        </div>

        <div style="overflow:auto;">
            <table id="itemreport" class="table table-condensed table-light table-striped table-bordered eumi-search-table" style="width:3000px; margin: 0 auto 0 0;">
                <tfoot>
                    <tr class="eumi-search-row">
                        <th></th>
                        <th>Inv.#</th>
                        <th>Sup.Inv.#</th>
                        <th>Date</th>
                        <th>Account#</th>
                        <th>Supplier</th>
                        <th>ItemCode</th>
                        <th>Item Name</th>
                        <th></th>
                        <th></th>
                        <th id="containerno"></th>
                        <th>Job Code</th>
                        <th>Terms</th>
                        <th>Area</th>
                        <th>Location</th>
                        <th>Pay Type</th>
                        <th>Purchase Type</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Fx.</th>
                        <th></th>
                        <th></th>
                        <th>Due Date</th>
                        <th>ShipDate</th>
                        <th>Group</th>
                        <th>Sub Group</th>
                        <th>Category</th>
                        <th>Subcategory</th>
                        <th>Dept.Code</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Grand Total</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th id="eumiQuantity">Qty.</th>
                        <th id="eumiUnitRate">Unit Rate</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th id="eumiOtherCost" class="text-right">OtherCost</th>
                        <th id="eumiTaxableAmount" class="text-right">TaxableAmount</th>
                        <th id="eumiTaxAmount" class="text-right">TaxAmount</th>
                        <th id="eumiAmount" class="text-right">Amount</th>
                        <th></th>
                        <th></th>
                        <th id="eumiFCAmount" class="text-right">FCAmount</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<div style="height:100px;clear: both">
    &nbsp;
</div>


<script type="text/javascript">
    $(document).ready(function () {
        var BusinessType = CompanySettingsArray.BusinessType;
        $('#UserId').val(ERPUserId);

        $('#btnchgp').click();
        $('#Area').focus();
            var decimal = (window.Decimal || 1);
            window.EumiLastSelectedInItemRpt = null;
            if (BusinessType != 3) {
                var table = $('#itemreport').EumiDataTable({
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        "url": "../Report/ItemwiseReportJson",
                        "type": "POST",
                        "data": function (data, settings) {
                            var addData = (window.EumiLastSelectedInItemRpt || {});
                            addData.dateFrom = moment(addData.dateFrom || new Date()).format("YYYY-MM-DD");
                            addData.dateTo = moment(addData.dateTo || new Date()).format("YYYY-MM-DD");
                            addData.Area = (addData.Area || 0);
                            addData.LocnId = (addData.LocnId || 0);
                            addData.SupplierId = (addData.SupplierId || 0);
                            addData.PayType = (addData.PayType || 0);
                            addData.JobNo = (addData.JobNo || 0);
                            addData.UserId = (addData.UserId || 0);
                            if (!addData.title) {
                                addData.title = "Parameters - " + "From: " + moment(new Date()).format("DD-MM-YYYY") + " To: " + moment(new Date()).format("DD-MM-YYYY")
                                $("#paramOfReport").text(addData.title);
                            }
                            data.addData = addData;
                            $("#eumiQuantity").text(0);
                            $("#eumiUnitRate").text(parseFloat(0).toFixed(decimal));
                            $("#eumiOtherCost").text(parseFloat(0).toFixed(decimal));
                            $("#eumiTaxableAmount").text(parseFloat(0).toFixed(decimal));
                            $("#eumiTaxAmount").text(parseFloat(0).toFixed(decimal));
                            $("#eumiAmount").text(parseFloat(0).toFixed(decimal));
                            $("#eumiFCAmount").text(parseFloat(0).toFixed(decimal));
                        }
                    },
                    "columnDefs": [
                        {
                            "targets": 3,
                            "className": "text-center",

                        },
                        {
                            "targets": 6,
                            "className": "text-left",
                            "width": "100%",
                        },
                        {
                            "targets": 8,
                            "className": "text-center",
                           
                        },
                           {
                               "targets": 9,
                               "className": "text-right",
                               "render": function (data) {
                                   return (data || 0).toFixed(decimal);
                               }
                           },
                            {
                                "targets": 10,
                                "className": "text-right",
                                "render": function (data) {
                                    return (data || 0).toFixed(decimal);
                                }
                            },
                        {
                            "targets": 17,
                            "className": "text-right",
                            "render": function (data) {
                                return (data || 0).toFixed(decimal);
                            }
                        },
                    {
                        "targets": 18,
                        "className": "text-right",
                        "render": function (data) {
                            return (data || 0).toFixed(decimal);
                        }
                    },
                    {
                        "targets": 19,
                        "className": "text-right",
                        "render": function (data) {
                            return (data || 0).toFixed(decimal);
                        }
                    },
                     {
                         "targets": 20,
                         "className": "text-right",
                         "render": function (data) {
                             return (data || 0).toFixed(decimal);
                         }
                     },
                     {
                         "targets": 21,
                         "className": "text-center",

                     },
                     {
                         "targets": 22,
                         "className": "text-right",
                         "render": function (data) {
                             return (data || 0).toFixed(decimal);
                         }

                     },
                    {
                        "targets": 23,
                        "className": "text-right",
                        "render": function (data) {
                            return (data || 0).toFixed(decimal);
                        }
                    }],
                    "columns": [
                        { data: "slno", title: "Sl#", searchable: false, sortable: false },
                         
                        { data: "SerialNo", title: "Inv.#", sortable: false },
                        //{
                        //    data: { SerialNo: "SerialNo", InvoNo: "InvoNo" },
                        //    mRender: function (data, type, full) {
                        //        return data.SerialNo + ' - ' + data.InvoNo;
                        //    }, title: "Invoice#", sortable: false
                        //},
                        { data: "InvoNo", title: "Sup.Inv.#", sortable: false },
                        { data: "InvoDate", title: "Date", sortable: false },
                        { data: "AccCode", title: "Account#", sortable: false },
                        { data: "Supplier", title: "Supplier", sortable: false },
                        { data: "ItemCode", title: "ItemCode", sortable: false },
                        { data: "ItemDescription", title: "Item Name", sortable: false },
                        { data: "Quantity", title: "Qty.", sortable: false },
                        { data: "Cost", title: "Unit Rate", sortable: false },
                         { data: "MRP", title: "MRP", sortable: false },
                        { data: "JobCode", title: "Job Code", sortable: false },
                        { data: "TermDescription", title: "Terms", sortable: false },
                        { data: "Area", title: "Area", sortable: false },
                        { data: "LocationName", title: "Location", sortable: false },
                         { data: "PayType", title: "Pay Type", sortable: false },
                        { data: "PurchaseType", title: "Purchase Type", sortable: false },
                         { data: "OtherCost", title: "Other Cost", sortable: false },
                        { data: "TaxableAmount", title: "Taxable Amount", sortable: false },
                        { data: "TaxAmount", title: "Tax Amount", sortable: false },
                        { data: "Amount", title: "Amount", sortable: false },
                        { data: "CurrencyName", title: "Fx.", sortable: false },
                        { data: "CurrencyRate", title: "Rate", sortable: false },
                        { data: "FCAmount", title: "FC Amount", sortable: false },
                        { data: "DueDate", title: "Due Date", sortable: false },
                        { data: "ShipDate", title: "Ship Date", sortable: false },
                          { data: "GrpName", title: "Group", sortable: false },
                          { data: "SbgrpName", title: "Sub Group", sortable: false },
                          { data: "CategoryName", title: "Category", sortable: false },
                          { data: "SubCategoryName", title: "Subcategory", sortable: false },
                        { data: "DepartmentName", title: "Dept.Code", sortable: false },
                    ],
                    "createdRow": function (row, data, index) {
                        if (index == 0) {
                            $("#eumiQuantity").text(ReplaceNumberWithCommas(data._quantity));
                            $("#eumiUnitRate").text(ReplaceNumberWithCommas(data._Cost.toFixed(decimal)));
                            $("#eumiOtherCost").text(ReplaceNumberWithCommas(data._othercost.toFixed(decimal)));
                            $("#eumiTaxableAmount").text(ReplaceNumberWithCommas(data._taxableamount.toFixed(decimal)));
                            $("#eumiTaxAmount").text(ReplaceNumberWithCommas(data._taxamount.toFixed(decimal)));
                            $("#eumiAmount").text(ReplaceNumberWithCommas(data._amount.toFixed(decimal)));
                            $("#eumiFCAmount").text(ReplaceNumberWithCommas(data._fcamount.toFixed(decimal)));
                            console.log(index);
                        }
                    },
                });
            }
            else {
                $('#containerno').text('Container')
                var table = $('#itemreport').EumiDataTable({
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        "url": "../Report/ItemwiseReportJson",
                        "type": "POST",
                        "data": function (data, settings) {
                            var addData = (window.EumiLastSelectedInItemRpt || {});
                            addData.dateFrom = moment(addData.dateFrom || new Date()).format("YYYY-MM-DD");
                            addData.dateTo = moment(addData.dateTo || new Date()).format("YYYY-MM-DD");
                            addData.Area = (addData.Area || 0);
                            addData.LocnId = (addData.LocnId || 0);
                            addData.SupplierId = (addData.SupplierId || 0);
                            addData.PayType = (addData.PayType || 0);
                            addData.JobNo = (addData.JobNo || 0);
                            addData.UserId = (addData.UserId || 0);
                            if (!addData.title) {
                                addData.title = "Parameters - " + "From: " + moment(new Date()).format("DD-MM-YYYY") + " To: " + moment(new Date()).format("DD-MM-YYYY")
                                $("#paramOfReport").text(addData.title);
                            }
                            data.addData = addData;
                            $("#eumiQuantity").text(0);
                            $("#eumiUnitRate").text(parseFloat(0).toFixed(decimal));
                            $("#eumiOtherCost").text(parseFloat(0).toFixed(decimal));
                            $("#eumiTaxableAmount").text(parseFloat(0).toFixed(decimal));
                            $("#eumiTaxAmount").text(parseFloat(0).toFixed(decimal));
                            $("#eumiAmount").text(parseFloat(0).toFixed(decimal));
                            $("#eumiFCAmount").text(parseFloat(0).toFixed(decimal));
                        }
                    },
                    "columnDefs": [
                        {
                            "targets": 3,
                            "className": "text-center",

                        },
                        {
                            "targets": 6,
                           
                            
                        },
                         {
                             "targets": 8,
                             "className": "text-center",

                         },
                         {
                             "targets": 9,
                             "className": "text-right",
                             "render": function (data) {
                                 return (data || 0).toFixed(decimal);
                             }
                         },
                        {
                            "targets": 17,
                            "className": "text-right",
                            "render": function (data) {
                                return (data || 0).toFixed(decimal);
                            }
                        },
                    {
                        "targets": 18,
                        "className": "text-right",
                        "render": function (data) {
                            return (data || 0).toFixed(decimal);
                        }
                    },
                    {
                        "targets": 19,
                        "className": "text-right",
                        "render": function (data) {
                            return (data || 0).toFixed(decimal);
                        }
                    },
                     {
                         "targets": 20,
                         "className": "text-right",
                         "render": function (data) {
                             return (data || 0).toFixed(decimal);
                         }
                     },
                     {
                         "targets": 21,
                         "className": "text-center",

                     },
                     {
                         "targets": 22,
                         "className": "text-right",
                         "render": function (data) {
                             return (data || 0).toFixed(decimal);
                         }
                     },
                    {
                        "targets": 23,
                        "className": "text-right",
                        "render": function (data) {
                            return (data || 0).toFixed(decimal);
                        }
                    }],
                    "columns": [
                        { data: "slno", title: "Sl#", searchable: false, sortable: false },
                        //{
                        //    data: { SerialNo: "SerialNo", InvoNo: "InvoNo" },
                        //    mRender: function (data, type, full) {
                        //        return data.SerialNo + ' - ' + data.InvoNo;
                        //    }, title: "Invoice#", sortable: false
                        //},
                        { data: "SerialNo", title: "Inv.#", sortable: false },
                        { data: "InvoNo", title: "Sup.Inv.#", sortable: false },
                        { data: "InvoDate", title: "Date", sortable: false },
                        { data: "AccCode", title: "Account#", sortable: false },
                        { data: "Supplier", title: "Supplier", sortable: false },
                        { data: "ItemCode", title: "ItemCode", sortable: false },
                        { data: "ItemDescription", title: "Item Name", sortable: false },
                        { data: "Quantity", title: "Qty.", sortable: false },
                        { data: "Cost", title: "Unit Rate", sortable: false },
                        { data: "Model1", title: "Container Number", sortable: false },
                        { data: "JobCode", title: "Job Code", sortable: false },
                        { data: "TermDescription", title: "Terms", sortable: false },
                        { data: "Area", title: "Area", sortable: false },
                        { data: "LocationName", title: "Location", sortable: false },
                         { data: "PayType", title: "Pay Type", sortable: false },
                        { data: "PurchaseType", title: "Purchase Type", sortable: false },
                         { data: "OtherCost", title: "Other Cost", sortable: false },
                        { data: "TaxableAmount", title: "Taxable Amount", sortable: false },
                        { data: "TaxAmount", title: "Tax Amount", sortable: false },
                        { data: "Amount", title: "Amount", sortable: false },
                        { data: "CurrencyName", title: "Fx.", sortable: false },
                        { data: "CurrencyRate", title: "Rate", sortable: false },
                        { data: "FCAmount", title: "FC Amount", sortable: false },
                        { data: "DueDate", title: "Due Date", sortable: false },
                        { data: "ShipDate", title: "Ship Date", sortable: false },
                          { data: "GrpName", title: "Group", sortable: false },
                          { data: "SbgrpName", title: "Sub Group", sortable: false },
                          { data: "CategoryName", title: "Category", sortable: false },
                          { data: "SubCategoryName", title: "Subcategory", sortable: false },
                        { data: "DepartmentName", title: "Dept.Code", sortable: false },
                    ],
                    "createdRow": function (row, data, index) {
                        if (index == 0) {
                            $("#eumiQuantity").text(ReplaceNumberWithCommas(data._quantity));
                            $("#eumiUnitRate").text(ReplaceNumberWithCommas(data._Cost.toFixed(decimal)));
                            $("#eumiOtherCost").text(ReplaceNumberWithCommas(data._othercost.toFixed(decimal)));
                            $("#eumiTaxableAmount").text(ReplaceNumberWithCommas(data._taxableamount.toFixed(decimal)));
                            $("#eumiTaxAmount").text(ReplaceNumberWithCommas(data._taxamount.toFixed(decimal)));
                            $("#eumiAmount").text(ReplaceNumberWithCommas(data._amount.toFixed(decimal)));
                            $("#eumiFCAmount").text(ReplaceNumberWithCommas(data._fcamount.toFixed(decimal)));
                            console.log(index);
                        }
                    },
                });
            }

            $('#itemreport tbody').on('dblclick', 'tr', function () {
                var table = $("#itemreport").DataTable();
                var data = table.row(this).data();
                GetRows(data.SerialNo, data.DeptId);
            });

            function GetRows(SerialNo, DeptId) {
                if ((usermenu1.indexOf("M31") != -1)) {
                    window.open('../inventory/PurchaseInvoice?slno=' + SerialNo + '&dept=' + DeptId);
                }
                else if ((usermenu1.indexOf("M233") != -1)) {
                    window.open('../Purchase/PurchaseInvoiceNew?slno=' + SerialNo + '&dept=' + DeptId);

                }
                else {
                    warningshow('Invalid User Rights');
                    return false;
                }
            }
       
        function warningshow(message, Id) {
            $('#popupmessage').text(message);
            $('#Warningpopup').show();
            $('#' + Id).focus();
            window.setTimeout(function () {
                $('#Warningpopup').hide();
            }, 3000);
        }

        $('#Area').keypress(function (e) {
            var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
            if (key == 13) {
                $('#Location').focus();
                e.preventDefault();
            }
        });

        $('#Location').keypress(function (e) {
            var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
            if (key == 13) {
                $('#Supplier').focus();
                e.preventDefault();
            }
        });

        $('#Supplier').keypress(function (e) {
            var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
            if (key == 13) {
                $('#PayType').focus();
                e.preventDefault();
            }
        });

        $('#PayType').keypress(function (e) {
            var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
            if (key == 13) {
                $('#vDept').focus();
                e.preventDefault();
            }
        });
        $('#vDept').keypress(function (e) {
            var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
            if (key == 13) {
                $('#jobCode').focus();
                e.preventDefault();
            }
        });
        $('#jobCode').keypress(function (e) {
            var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
            if (key == 13) {
                $('#btnsubmit').focus();
                e.preventDefault();
            }
        });
        });
</script>


@section popups {
    <div class="modal" id="paramModal" style="margin-top:10%">
        <div class="modal-dialog">
            <div class="modal-content" style="height:100%;width:110%">

                <!-- Modal Header -->
                <div class="modal-header bg-primary white">
                    <h4 class="modal-title">Itemwise Report</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
              
                    <div class="row">
                        <label style="font-weight:bold;margin-left:11%">From</label>
                        <div class="col-md-4">
                            <input type="text" id="dateFrom" class="form-control" autocomplete="off">
                        </div>


                        <label style="font-weight:bold;margin-left:10.5%">To</label>
                        <div class="col-md-4">
                            <input type="text" id="dateTo" class="form-control" autocomplete="off">
                        </div>
                    </div>
                    <div class="row" style="border-bottom:1px solid #cfd8dc;margin-top:3%;"></div>
                    <div class="row"  style="margin-top:2%">
                        <label style="margin-top:2%;font-weight:bold;margin-left:12%">Area </label>
                        <div class="col-md-4" style="margin-top:2%">
                            <select id="Area" name="priority" class="form-control">
                                <option value="0">- All -</option>
                            </select>
                        </div>


                        <label style="margin-top:2%;font-weight:bold;margin-left:1%">Location </label>
                        <div class="col-md-4" style="margin-top:2%">
                            <select id="Location" name="priority" class="form-control">
                                <option value="0">- All -</option>
                            </select>
                        </div>
                    </div>
                  
                    <div class="row">
                        <label style="margin-top:2%;font-weight:bold;margin-left:6.5%">Supplier </label>
                        <div class="col-md-4" style="margin-top:2%;">
                            <input type="text" id="Supplier" class="form-control">
                        </div>

                        <label style="margin-top:2%;font-weight:bold;margin-left:1%">Pay Type</label>
                        <div class="col-md-4" style="margin-top:2%;">
                            <select id="PayType" class="form-control" name="priority">
                                <option value="0">-All-</option>
                                <option value="1">Cash</option>
                                <option value="2">Credit</option>
                                <option value="3">Card</option>
                            </select>
                        </div>
                    </div>
                 
                    <div class="row">
                        <label style="margin-top:2%;font-weight:bold;margin-left:11%">Dept.</label>
                        <div class="col-md-4" style="margin-top:2%;">
                            <select id="vDept" name="priority" class="form-control">
                                <option value="0">- All -</option>
                            </select>
                        </div>

                        <label style="margin-top:2%;font-weight:bold;margin-left:0.5%">Job Code</label>
                        <div class="col-md-4" style="margin-top:2%">
                            <input type="text" id="jobCode" class="form-control">
                        </div>
                    </div>
                    <input type="text" class="form-control" id="UserId" style="display:none">
                  
                </div>
                
                    <!-- Modal footer -->
                    
                <div class="modal-footer">
                    <button type="button" id="btnsubmit" style="margin-right:2%"  class="btn btn-primary" data-dismiss="modal" onclick="redrawTable();">Apply</button>
                    <button type="button" id="btnclose" style="margin-right:30%"  class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
                
                </div>
        </div>
    </div>
}

@section bottomscripts {
    <script type="text/javascript" src="~/Scripts/EumiDataTable/eumi-datatable.js"></script>
    <script src="~/Scripts/Autocomplete/jquery-ui.js"></script>
    <script type="text/javascript">
            $(document).ready(function () {

                $("#jobCode").autocomplete({
                    source: function (request, response) {
                        var data = {};
                        data.JobCode = request.term;
                        $.ajax({
                            url: '../Master/JobCodeSearch',
                            type: "POST",
                            data: data,
                            dataType: "json",
                            success: function (resultData) {
                                var resultData = $.map(resultData, function (item) {
                                    return {
                                        value: item.JobCode,
                                        label: item.Description,
                                        value2: item.ProjectJobId,
                                    }
                                });
                                response(resultData);
                            }
                        });
                    },
                    autoFocus: true,
                    select: function (event, ui) {
                        $("#jobCode").data("eumi-val", ui.item.value2);
                    },
                }).autocomplete("instance")._renderItem = function (ul, item) {
                    var jqLi = $("<li>")
                    var jqRow = getTableRow(item, ["value", "label"], ["50%", "50%"], ["Code", "Desc"]);
                    return jqLi.append($('<table class="tblautocomplete">').css("width", "300px").append(jqRow)).appendTo(ul);
                };

                $("#Supplier").autocomplete({
                    source: function (request, response) {
                        var data = {};
                        data.CustName = $("#Supplier").val();
                        data.CustType = 'S';

                        $.ajax({
                            url: '../Master/CustomerOrSupplierSearch',
                            type: "POST",
                            data: data,
                            dataType: "json",
                            success: function (data) {

                                response($.map(data, function (item) {
                                    return ({
                                        ColCount: 'TWOEnq',
                                        label: item.CustAccount,
                                        label1: item.CustName,
                                        value2: item.CustId,

                                    })
                                }));
                            }

                        })

                    },
                    autoFocus: true,
                    select: function (event, ui) {
                        $("#Supplier").data("eumi-val", ui.item.value2);

                    },

                }).autocomplete("instance")._renderItem = function (ul, item) {
                    var jqLi = $("<li>")
                    var jqRow = getTableRow(item, ["label", "label1"], ["50%", "50%"], ["Code", "Name"]);
                    return jqLi.append($('<table class="tblautocomplete">').css("width", "300px").append(jqRow)).appendTo(ul);
                };

                $('#dateFrom, #dateTo').daterangepicker({
                    minDate: minDate,
                    maxDate: new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate()),
                    singleDatePicker: true,
                    showDropdowns: true,
                    locale: {
                        format: 'DD/MM/YYYY'
                    }
                });


                GetDepartment(0);
                GetArea(0);
                GetLocation(0);
            });


            function getTableRow(item, keyArray, widthArray, headersArray) {
                var jqRow = $("<tr>")
                for (var x = 0; x < keyArray.length; x++) {
                    $("<td>").css({ "border": "1px solid #d6d9db", "width": widthArray[x] })
                        .html(item[keyArray[x]])
                        .attr("data-em-header", (headersArray[x] || ""))
                        .appendTo(jqRow)
                }
                return jqRow;
            }

            function GetDepartment(id) {
                var data = {};
                data.UserId = ERPUserId;
                $.ajax({
                    type: "POST",
                    url: "../Master/UserDepartmentGetandGets",
                    data: data,
                    success: function (result) {
                        DepartmentLoad(result.oList, id);


                    }
                });
            }

            function DepartmentLoad(result, a) {
                $("#vDept").empty();
                $("#vDept").append("<option value='0'>-All-</option>");
                for (var i = 0; i < result.length; i++) {
                    $("#vDept").append("<option value='" + result[i].DepartmentId + "'>" + result[i].DepartmentName + "</option>");
                }
            }

            function GetArea(id) {
                var data = {};
                data.Id = 0;
                $.ajax({
                    type: "POST",
                    url: "../Master/AreaGetandGets",
                    data: data,
                    success: function (result) {
                        $.each(result.oList, function (index, ele) {
                            $("#Area").append($("<option>").attr("value", ele.AreaId).text(ele.AreaCode));
                        });
                    }
                });
            }



            function GetLocation(id) {
                var data = {};
                data.LocationId = 0;
                $.ajax({
                    type: "POST",
                    url: "../Master/LocationGetandGets",
                    data: data,
                    success: function (result) {
                        $.each(result.oList, function (index, ele) {
                            $("#Location").append($("<option>").attr("value", ele.LocationId).text(ele.LocationName));
                        });


                    }
                });

            }
            function redrawTable() {
                $('#popup').show();
                var data = {};
                data.dateFrom = moment($('#dateFrom').val(), "DD-MM-YYYY").toDate();
                data.dateTo = moment($('#dateTo').val(), "DD-MM-YYYY").toDate();
                data.Area = parseInt($('#Area').val() || 0);
                data.LocnId = parseInt($('#Location').val() || 0);
                data.SupplierId = ($('#Supplier').val().match(/^\s*$/) ? 0 : parseInt($('#Supplier').data("eumi-val") || 0));
                data.JobNo = ($('#jobCode').val().match(/^\s*$/) ? 0 : parseInt($('#jobCode').data("eumi-val") || 0));
                data.PayType = parseInt($('#PayType').val() || 0);
                data.DepartmentId = parseInt($('#vDept').val() || 0);
                data.UserId = parseInt($('#UserId').val() || 0);

                data.title = "Parameters - "
                    + "From: " + $('#dateFrom').val()
                    + " To: " + $('#dateTo').val()
                    + " Area: " + $('#Area').find("option:selected").text()
                    + " Location: " + $('#Location').find("option:selected").text()
                    + " Supplier: " + ($('#Supplier').val() || "(All)")
                   + " Job: " + ($('#jobCode').val() || "(All)")
                    + " Pay Type: " + $('#PayType').find("option:selected").text()
                    + " Department: " + $('#vDept').find("option:selected").text();
                if ($.fn.DataTable.isDataTable('#itemreport')) {
                    window.EumiLastSelectedInItemRpt = data;
                    $("#itemreport").DataTable().ajax.reload();
                    $("#paramOfReport").text(data.title);
                }
            }
    </script>
}





