
@{
    ViewBag.Title = "ProcedureBillReport";
}


<script type="text/javascript" src="~/ProjectScript/ReportPrint.js"></script>
<script type="text/javascript" src="../Projectscript/Common.js"></script>
<script src="~/Scripts/Autocomplete/jquery-ui.js"></script>

<style>
    .form-control {
        font-weight: bold;
    }

    #btnsubmit:hover {
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }

    #btnback:hover {
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }

    #btnprint:hover {
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
</style>

<div class="myData" data-x="M196" />
<div id="Entry">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" style="border-bottom:1px solid #e6e6e6">
                    <div>


                        <table style="width:100%">
                            <tr>
                                <td id="header"></td>
                                <td width="15%"></td>
                                <td align="right"><b id="rpthead">Consolidated Report</b></td>

                                <td align="right">
                                    <button type="button" style="width:100px" onclick="$('#popupdiv').show(), $('#User').focus()" id="btnback" class="btn btn-outline-primary">Back</button>
                                    <div class="btn-group" id="buttonPlace">
                                        <div align="right">
                                            <div class="heading-elements">
                                                <div class="btn-group" id="buttonPlace">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                        </table>


                        <div align="center">

                            <div class="heading-elements">
                                <div id="divreport" style="display:none;width:100%; overflow:auto">
                                    <hr style="margin-top:.1%;" />
                                    <table id="Tblreport" class="table table-striped table-bordered dataTable" style="width:100%;margin: 0 auto 0 0;"></table><br />
                                </div>
                                <div style="display:none">
                                    <table id="Tblreportprint"></table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div style="display:none" class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" style="border-bottom:1px solid #e6e6e6">
                    <div>


                        <table style="width:100%">
                            <tr>
                                <td id="header"></td>
                                <td width="15%"></td>
                                <td align="center"><b id="header21">Proc Report</b></td>

                                <td align="right">
                                    <div class="btn-group" id="buttonPlace">
                                        <div align="right">
                                            <div class="heading-elements">
                                                <div class="btn-group" id="buttonPlace1">

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </td>

                            </tr>
                        </table>


                        <div align="center">

                            <div class="heading-elements">
                                <div id="divreport" style="display:none1;width:100%; overflow:auto">
                                    <hr style="margin-top:.1%;" />

                                    <table id="Tblreportproc" class="table table-striped table-bordered dataTable" style="width:100%;margin: 0 auto 0 0;"></table><br />
                                </div>




                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div  style="display:none" class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" style="border-bottom:1px solid #e6e6e6">
                    <div>


                        <table style="width:100%">
                            <tr>
                                <td id="header"></td>
                                <td width="15%"></td>
                                <td align="center"><b id="header23">IP Report</b></td>

                                <td align="right">
                                    <div class="btn-group" id="buttonPlace">
                                        <div align="right">
                                            <div class="heading-elements">
                                                <div class="btn-group" id="buttonPlace3">

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </td>

                            </tr>
                        </table>


                        <div align="center">

                            <div class="heading-elements">
                                <div id="divreport" style="display:none1;width:100%; overflow:auto">
                                    <hr style="margin-top:.1%;" />
                                    <table id="TblreportIP" class="table table-striped table-bordered dataTable" style="width:100%;margin: 0 auto 0 0;"></table><br />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div  style="display:none" class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" style="border-bottom:1px solid #e6e6e6">
                    <div>


                        <table style="width:100%">
                            <tr>
                                <td id="header"></td>
                                <td width="15%"></td>
                                <td align="center"><b id="header22">Lab Report</b></td>

                                <td align="right">
                                    <div class="btn-group" id="buttonPlace">
                                        <div align="right">
                                            <div class="heading-elements">
                                                <div class="btn-group" id="buttonPlace2">

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </td>

                            </tr>
                        </table>


                        <div align="center">

                            <div class="heading-elements">
                                <div id="divreport" style="display:none1;width:100%; overflow:auto">
                                    <hr style="margin-top:.1%;" />

                                    <table id="Tblreportlab" class="table table-striped table-bordered dataTable" style="width:100%;margin: 0 auto 0 0;"></table><br />
                                </div>




                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    @*stephy*@

    <div  style="display:none" class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" style="border-bottom:1px solid #e6e6e6">
                    <div>


                        <table style="width:100%">
                            <tr>
                                <td id="header"></td>
                                <td width="15%"></td>
                                <td align="center"><b id="header24">Registration Report</b></td>

                                <td align="right">
                                    <div class="btn-group" id="buttonPlace">
                                        <div align="right">
                                            <div class="heading-elements">
                                                <div class="btn-group" id="buttonPlace4">

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </td>

                            </tr>
                        </table>


                        <div align="center">

                            <div class="heading-elements">
                                <div id="divreport" style="display:none1;width:100%; overflow:auto">
                                    <hr style="margin-top:.1%;" />

                                    <table id="TblreportReg" class="table table-striped table-bordered dataTable" style="width:100%;margin: 0 auto 0 0;"></table><br />
                                </div>




                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>



    <div  style="display:none" class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" style="border-bottom:1px solid #e6e6e6">
                    <div>


                        <table style="width:100%">
                            <tr>
                                <td id="header"></td>
                                <td width="15%"></td>
                                <td align="center"><b id="header25">Revisit Report</b></td>

                                <td align="right">
                                    <div class="btn-group" id="buttonPlace">
                                        <div align="right">
                                            <div class="heading-elements">
                                                <div class="btn-group" id="buttonPlace5">

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </td>

                            </tr>
                        </table>


                        <div align="center">

                            <div class="heading-elements">
                                <div id="divreport" style="display:none1;width:100%; overflow:auto">
                                    <hr style="margin-top:.1%;" />

                                    <table id="TblreportRevisit" class="table table-striped table-bordered dataTable" style="width:100%;margin: 0 auto 0 0;"></table><br />
                                </div>




                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    @*stephy*@





</div>


<div id="popupdiv" class="modal fade text-left show" tabindex="-1" role="dialog" aria-labelledby="myheader" style="padding-right: 17px; background:rgba(0,0,0,0.5); display: block; ">
    <div class="modal-dialog" role="document" style="top:10%">
        <div class="modal-content">
            <div class="modal-header bg-primary white">
                <h3 class="modal-title" id="myheader">Collection Report</h3>
                <button type="button" class="close" onclick="popuprefresh()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form id="monthpopup">
                <div class="modal-body">
                    <div class="row">
                        <label style="font-weight:bold;margin-left:11%">From</label>
                        <div class="col-md-4">
                            <input type="text" id="DateFrom" class="form-control" autocomplete="off">
                        </div>


                        <label style="font-weight:bold;margin-left:4%">To</label>
                        <div class="col-md-4">
                            <input type="text" id="DateTo" class="form-control" autocomplete="off">
                        </div>
                    </div>
                    <div class="row" style="border-bottom:1px solid #cfd8dc;margin-top:3%;"></div>
                    <div class="row" style="margin-top:2%;display:none">

                        <label style="margin-top:2%;font-weight:bold;margin-left:8%">&#160;&#160;&#160;Type&#160;&#160;&#160;&#160;</label>
                        <div class="col-md-9" style="margin-top:2%">
                            <select type="text" id="Doctor" maxlength="100" class="form-control">
                                <option value="0">Detailed</option>
                                <option value="1">Summary</option>

                            </select>
                        </div>
                    </div>

                    <div class="row" style="margin-top:2%">

                        <label style="margin-top:2%;font-weight:bold;margin-left:8%">&#160;&#160;&#160;User&#160;&#160;&#160;</label>
                        <div class="col-md-9" style="margin-top:2%">
                            <select type="text" id="userid" maxlength="100" class="form-control">
                               
                            </select>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" style="width:100px;margin-right:6%" id="btnsubmit" class="btn btn-primary">Go</button>
                    <input type="hidden" id="LabBillLength" class="form-control" />
                </div>
            </form>

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
    //DoctorLoad();


    function popuprefresh() {
        $('#popupdiv').hide();
        }





        function Showreportproc(result) {
            disable_datatable('Tblreportproc', 'buttonPlace1');
            var responseText = "<thead><tr><th align= center>Sl#</th><th>Bill No</th><th>Reg No</th><th>Patient</th><th style='text-align:right;'> Amount</th><th style='text-align:right;'> Discount</th><th style='text-align:right;'>Total Amount</th></tr></thead><tbody>";
            for (var i = 0; i < result.length; i++) {
                var slno = parseInt(i + 1);
                if (result[i].BillNo == '0') {
                    responseText += '<tr style=background-color:#d3d3d3><td align= center id = Col1_' + slno + '>' + slno + '</td><td  id= Col7_' + slno + '>' + " " + '</td><td id= Col2_' + slno + '>' + result[i].BillDate + '</td><td id= Col3_' + slno + '><b>' + result[i].Name + '</b></td><td align= right id= Col10_' + slno + '><b>' + parseFloat(result[i].NetAmt).toFixed(Decimal) + '</b></td><td align=right id= Col9_' + slno + '><b>' + parseFloat(result[i].DiscAmt).toFixed(Decimal) + '</b></td><td align = right  id= Col11_' + slno + '><b>' + parseFloat(result[i].TotalAmt).toFixed(Decimal) + '</b></td></tr>';
                }
                else {
                    responseText += '<tr ><td align= center id = Col1_' + slno + '>' + slno + '</td><td id= Col5_' + slno + '><b>' + result[i].BillNo + '</b></td><td id= Col6_' + slno + '><b>' + result[i].RegNo + '</b></td><td id= Col3_' + slno + '><b>' + result[i].Name + '</b></td><td align= right id= Col10_' + slno + '><b>' + parseFloat(result[i].NetAmt).toFixed(Decimal) + '</b></td><td align=right id= Col9_' + slno + '><b>' + parseFloat(result[i].DiscAmt).toFixed(Decimal) + '</b></td><td align = right  id= Col11_' + slno + '><b>' + parseFloat(result[i].TotalAmt).toFixed(Decimal) + '</b></td></tr>';

                }
            }
            $('#Tblreportproc').html(responseText + '</tbody>');
            //$('#Tblreportprint').html(responseText + '</tbody>');
            var title = "Procedure Bill Report - from " + $("#DateFrom").val() + " to " + $("#DateTo").val() + "";
            datatableWithsearch1('Tblreportproc', true, title, 'buttonPlace1');
            
            $('#header21').text(title);


        }

        //anu
        function Showreport(result) {
            disable_datatable('LabBillLength', 'buttonPlace');
            var responseText = "<thead><tr><th align= center>Sl#</th><th>Bill Type</th><th style='text-align:right;'> Cash</th><th style='text-align:right;'> Upi</th><th style='text-align:right;'> Card</th><th style='text-align:right;'> Credit</th><th style='text-align:right;'> Amount</th><th style='text-align:right;'> Discount</th><th style='text-align:right;'>Total Amount</th></tr></thead><tbody>";
            for (var i = 0; i < result.length; i++) {
                var slno = parseInt(i + 1);
                if (result[i].BillNo == '0') {
                    if (result[i].Name == 'TOTAL' || result[i].Name == 'GRAND TOTAL') {
                        responseText += '<tr style=background-color:#d3d3d3><td align= center id = Col1_' + slno + '>' + slno + '</td><td id= Col3_' + slno + '><b>' + result[i].Name + '</b><td align= right id= Col10_' + slno + '><b>' + parseFloat(result[i].Department).toFixed(Decimal) + '</b></td><td align= right id= Col10_' + slno + '><b>' + parseFloat(result[i].Hospital).toFixed(Decimal) + '</b></td><td align= right id= Col10_' + slno + '><b>' + parseFloat(result[i].BillDate).toFixed(Decimal) + '</b></td><td align= right id= Col10_' + slno + '><b>' + parseFloat(result[i].Doctor).toFixed(Decimal) + '</b></td><td align= right id= Col10_' + slno + '><b>' + parseFloat(result[i].NetAmt).toFixed(Decimal) + '</b></td><td align=right id= Col9_' + slno + '><b>' + parseFloat(result[i].DiscAmt).toFixed(Decimal) + '</b></td><td align = right  id= Col11_' + slno + '><b>' + parseFloat(result[i].TotalAmt).toFixed(Decimal) + '</b></td></tr>';
                    }
                    else {
                        responseText += '<tr style=background-color:#d3d3d3><td align= center id = Col1_' + slno + '>' + slno + '</td><td id= Col3_' + slno + '><b>' + result[i].Name + '</b></td><td align= right id= Col10_' + slno + '></b></td><td align=right id= Col9_' + slno + '></td><td align = right  id= Col11_' + slno + '></td><td align= right id= Col10_' + slno + '></b></td><td align = right  id= Col11_' + slno + '></td><td align=right id= Col9_' + slno + '></td><td align = right  id= Col11_' + slno + '></td></tr>';
                    }
                }
                else {
                    responseText += '<tr ><td align= center id = Col1_' + slno + '>' + slno + '</td><td id= Col3_' + slno + '><b>' + result[i].Name + '</b></td><td align= right id= Col10_' + slno + '><b>' + parseFloat(result[i].Department).toFixed(Decimal) + '</b></td><td align= right id= Col10_' + slno + '><b>' + parseFloat(result[i].Hospital).toFixed(Decimal) + '</b></td><td align= right id= Col10_' + slno + '><b>' + parseFloat(result[i].BillDate).toFixed(Decimal) + '</b></td><td align= right id= Col10_' + slno + '><b>' + parseFloat(result[i].Doctor).toFixed(Decimal) + '</b></td><td align= right id= Col10_' + slno + '><b>' + parseFloat(result[i].NetAmt).toFixed(Decimal) + '</b></td><td align=right id= Col9_' + slno + '><b>' + parseFloat(result[i].DiscAmt).toFixed(Decimal) + '</b></td><td align = right  id= Col11_' + slno + '><b>' + parseFloat(result[i].TotalAmt).toFixed(Decimal) + '</b></td></tr>';

                }
            }
            $('#Tblreport').html(responseText + '</tbody>');
            // $('#Tblreportprint').html(responseText + '</tbody>');
            var title = "Collection Report - from " + $("#DateFrom").val() + " to " + $("#DateTo").val() + "";
            datatableWithsearch1('Tblreport', true, title, 'buttonPlace');
            $('#LabBillLength').val(result.length);
            $('#rpthead').text(title);


        }


    //function Showreport(result) {
    //    disable_datatable('LabBillLength', 'buttonPlace');
    //    var responseText = "<thead><tr><th align= center>Sl#</th><th>Bill Type</th><th style='text-align:right;'> Amount</th><th style='text-align:right;'> Discount</th><th style='text-align:right;'>Total Amount</th></tr></thead><tbody>";
    //    for (var i = 0; i < result.length; i++) {
    //        var slno = parseInt(i + 1);
    //        if (result[i].BillNo == '0') {
    //            if (result[i].Name == 'TOTAL' || result[i].Name == 'GRAND TOTAL') {
    //                responseText += '<tr style=background-color:#d3d3d3><td align= center id = Col1_' + slno + '>' + slno + '</td><td id= Col3_' + slno + '><b>' + result[i].Name + '</b></td><td align= right id= Col10_' + slno + '><b>' + parseFloat(result[i].NetAmt).toFixed(Decimal) + '</b></td><td align=right id= Col9_' + slno + '><b>' + parseFloat(result[i].DiscAmt).toFixed(Decimal) + '</b></td><td align = right  id= Col11_' + slno + '><b>' + parseFloat(result[i].TotalAmt).toFixed(Decimal) + '</b></td></tr>';
    //            }
    //            else {
    //                responseText += '<tr style=background-color:#d3d3d3><td align= center id = Col1_' + slno + '>' + slno + '</td><td id= Col3_' + slno + '><b>' + result[i].Name + '</b></td><td align= right id= Col10_' + slno + '></b></td><td align=right id= Col9_' + slno + '></td><td align = right  id= Col11_' + slno + '></td></tr>';
    //            }
    //        }
    //        else {
    //            responseText += '<tr ><td align= center id = Col1_' + slno + '>' + slno + '</td><td id= Col3_' + slno + '><b>' + result[i].Name + '</b></td><td align= right id= Col10_' + slno + '><b>' + parseFloat(result[i].NetAmt).toFixed(Decimal) + '</b></td><td align=right id= Col9_' + slno + '><b>' + parseFloat(result[i].DiscAmt).toFixed(Decimal) + '</b></td><td align = right  id= Col11_' + slno + '><b>' + parseFloat(result[i].TotalAmt).toFixed(Decimal) + '</b></td></tr>';

    //        }
    //    }
    //    $('#Tblreport').html(responseText + '</tbody>');
    //   // $('#Tblreportprint').html(responseText + '</tbody>');
    //    var title = "Collection Report - from " + $("#DateFrom").val() + " to " + $("#DateTo").val() + "";
    //    datatableWithsearch1('Tblreport', true, title, 'buttonPlace');
    //    $('#LabBillLength').val(result.length);
    //    $('#rpthead').text(title);


    //    }



        function ShowreportLab(result) {
            disable_datatable('Tblreportlab', 'buttonPlace2');
            var responseText = "<thead><tr><th align= center>Sl#</th><th>Bill No</th><th>Reg No</th><th>Patient</th><th style='text-align:right;'> Amount</th><th style='text-align:right;'> Discount</th><th style='text-align:right;'>Total Amount</th></tr></thead><tbody>";
            for (var i = 0; i < result.length; i++) {
                var slno = parseInt(i + 1);
                if (result[i].BillNo == '0') {
                    responseText += '<tr style=background-color:#d3d3d3><td align= center id = Col1_' + slno + '>' + slno + '</td><td  id= Col7_' + slno + '>' + " " + '</td><td id= Col2_' + slno + '>' + result[i].BillDate + '</td><td id= Col3_' + slno + '><b>' + result[i].Name + '</b></td><td align= right id= Col10_' + slno + '><b>' + parseFloat(result[i].NetAmt).toFixed(Decimal) + '</b></td><td align=right id= Col9_' + slno + '><b>' + parseFloat(result[i].DiscAmt).toFixed(Decimal) + '</b></td><td align = right  id= Col11_' + slno + '><b>' + parseFloat(result[i].TotalAmt).toFixed(Decimal) + '</b></td></tr>';
                }
                else {
                    responseText += '<tr ><td align= center id = Col1_' + slno + '>' + slno + '</td><td id= Col5_' + slno + '><b>' + result[i].BillNo + '</b></td><td id= Col6_' + slno + '><b>' + result[i].RegNo + '</b></td><td id= Col3_' + slno + '><b>' + result[i].Name + '</b></td><td align= right id= Col10_' + slno + '><b>' + parseFloat(result[i].NetAmt).toFixed(Decimal) + '</b></td><td align=right id= Col9_' + slno + '><b>' + parseFloat(result[i].DiscAmt).toFixed(Decimal) + '</b></td><td align = right  id= Col11_' + slno + '><b>' + parseFloat(result[i].TotalAmt).toFixed(Decimal) + '</b></td></tr>';

                }
            }
            $('#Tblreportlab').html(responseText + '</tbody>');
            //$('#Tblreportprint').html(responseText + '</tbody>');
            var title = "Lab Bill Report - from " + $("#DateFrom").val() + " to " + $("#DateTo").val() + "";
            datatableWithsearch1('Tblreportlab', true, title, 'buttonPlace2');
           
            $('#header22').text(title);


        }

        function ShowreportIP(result) {
            disable_datatable('TblreportIP', 'buttonPlace3');
            var responseText = "<thead><tr><th align= center>Sl#</th><th>Bill No</th><th>Reg No</th><th>Patient</th><th style='text-align:right;'> Amount</th><th style='text-align:right;'> Discount</th><th style='text-align:right;'>Total Amount</th></tr></thead><tbody>";
            for (var i = 0; i < result.length; i++) {
                var slno = parseInt(i + 1);
                if (result[i].BillNo == '0') {
                    responseText += '<tr style=background-color:#d3d3d3><td align= center id = Col1_' + slno + '>' + slno + '</td><td  id= Col7_' + slno + '>' + " " + '</td><td id= Col2_' + slno + '>' + result[i].BillDate + '</td><td id= Col3_' + slno + '><b>' + result[i].Name + '</b></td><td align= right id= Col10_' + slno + '><b>' + parseFloat(result[i].NetAmt).toFixed(Decimal) + '</b></td><td align=right id= Col9_' + slno + '><b>' + parseFloat(result[i].DiscAmt).toFixed(Decimal) + '</b></td><td align = right  id= Col11_' + slno + '><b>' + parseFloat(result[i].TotalAmt).toFixed(Decimal) + '</b></td></tr>';
                }
                else {
                    responseText += '<tr ><td align= center id = Col1_' + slno + '>' + slno + '</td><td id= Col5_' + slno + '><b>' + result[i].BillNo + '</b></td><td id= Col6_' + slno + '><b>' + result[i].RegNo + '</b></td><td id= Col3_' + slno + '><b>' + result[i].Name + '</b></td><td align= right id= Col10_' + slno + '><b>' + parseFloat(result[i].NetAmt).toFixed(Decimal) + '</b></td><td align=right id= Col9_' + slno + '><b>' + parseFloat(result[i].DiscAmt).toFixed(Decimal) + '</b></td><td align = right  id= Col11_' + slno + '><b>' + parseFloat(result[i].TotalAmt).toFixed(Decimal) + '</b></td></tr>';

                }
            }
            $('#TblreportIP').html(responseText + '</tbody>');
            //$('#Tblreportprint').html(responseText + '</tbody>');
            var title = "IP Bill Report - from " + $("#DateFrom").val() + " to " + $("#DateTo").val() + "";
            datatableWithsearch1('TblreportIP', true, title, 'buttonPlace3');

            $('#header23').text(title);


        }

        /*  stephy*/
    

        function ShowreportReg(result) {

           // $('#LabBillLengths').val(result.length);
            disable_datatable('TblreportReg', 'buttonPlace4');
            var responseText = "<thead><tr><th align= center>Sl#</th><th>Reg No</th><th> Date</th><th>Patient</th><th style='text-align:right;'> RegFee</th><th style='text-align:right;'> Consut Fee</th><th style='text-align:right;'>Other Fee</th></tr></thead><tbody>";
            for (var i = 0; i < result.length; i++) {
                var slno = parseInt(i + 1);
                /*   if (result[i].PName == 'Total') {*/
                if (result[i].BillNo == '0') {
                    responseText += '<tr style="background:#d3d3d3"><td align= center id= Col1_' + slno + '>' + slno + '</td><td id= Col2_' + slno + '>' + " " + "" + " " + '</td><td id= Col3_' + slno + '>' + " " + '</td><td id= Col4_' + slno + '><b>' + result[i].PName + '</b></td><td id= Col5_' + slno + '>' + " " + '</td><td id= Col6_' + slno + '>' + " " + '</td><td class="Hidden">' + " " + '</td><td class="Hidden">' + " " + '</td><td class="Hidden">' + " " + '</td><td align=right id= Col7_' + slno + '><b>' + parseFloat(result[i].RegFee).toFixed(Decimal) + '</b></td><td align= right id= Col8_' + slno + '><b>' + parseFloat(result[i].ConsultFee).toFixed(Decimal) + '</b></td><td align = right id= Col9_' + slno + '><b>' + parseFloat(result[i].OtherFee).toFixed(Decimal) + '</b></td></tr>';
                }
                else {
                    responseText += '<tr><td align= center id= Col1_' + slno + '>' + slno + '</td><td id= Col2_' + slno + '><b>' + result[i].Bloodgroup + '-' + result[i].RegNo + '</b></td><td id= Col3_' + slno + '><b>' + result[i].RegDate + '</b></td><td id= Col4_' + slno + '><b>' + result[i].PName + '</b></td><td align=right id= Col7_' + slno + '><b>' + parseFloat(result[i].RegFee).toFixed(Decimal) + '</b></td><td align= right id= Col8_' + slno + '><b>' + parseFloat(result[i].ConsultFee).toFixed(Decimal) + '</b></td><td align = right id= Col9_' + slno + '><b>' + parseFloat(result[i].OtherFee).toFixed(Decimal) + '</b></td></tr>';

                }
            }
            $('#TblreportReg').html(responseText + '</tbody>'); 
            //    < tfoot > <tr><th> </th><th> </th><th> </th><th>Patient</th><th>Doctor</th><th> </th><th class="Hidden"> </th><th class="Hidden"> </th><th class="Hidden">PhoneNo</th><th> </th><th> </th><th> </th></tr> </tfoot > ');
          //  $('#Tblreportprint').html(responseText + '</tbody>');
            var title = "Registration Report - from " + $("#DateFrom").val() + " to " + $("#DateTo").val() + "";
            datatableWithsearch1('TblreportReg', true, title, 'buttonPlace4');

            $('#header24').text(title);

        }

        function ShowreportRevisit(result) {
            //$('#LabBillsLength').val(result.length);
            disable_datatable('TblreportRevist', 'buttonPlace5');
            var responseText = "<thead><tr><th align= center>Sl#</th><th>Revisit No</th><th> Date</th><th>Patient</th><th style='text-align:right;'> Revisit Fee</th><th style='text-align:right;'> Consut Fee</th><th style='text-align:right;'>Other Fee</th></tr></thead><tbody>";
            for (var i = 0; i < result.length; i++) {
                var slno = parseInt(i + 1);
                /*   if (result[i].PName == 'Total') {*/
                if (result[i].BillNo == '0') {
                    responseText += '<tr style="background:#d3d3d3"><td align= center id= Col1_' + slno + '>' + slno + '</td><td id= Col2_' + slno + '>' + " " + "" + " " + '</td><td id= Col3_' + slno + '>' + " " + '</td><td id= Col4_' + slno + '><b>' + result[i].PName + '</b></td><td id= Col5_' + slno + '>' + " " + '</td><td id= Col6_' + slno + '>' + " " + '</td><td class="Hidden">' + " " + '</td><td class="Hidden">' + " " + '</td><td class="Hidden">' + " " + '</td><td align=right id= Col7_' + slno + '><b>' + parseFloat(result[i].RegFee).toFixed(Decimal) + '</b></td><td align= right id= Col8_' + slno + '><b>' + parseFloat(result[i].ConsultFee).toFixed(Decimal) + '</b></td><td align = right id= Col9_' + slno + '><b>' + parseFloat(result[i].OtherFee).toFixed(Decimal) + '</b></td></tr>';
                }
                else {
                    responseText += '<tr><td align= center id= Col1_' + slno + '>' + slno + '</td><td id= Col2_' + slno + '><b>' + result[i].Bloodgroup + '-' + result[i].RegNo + '</b></td><td id= Col3_' + slno + '><b>' + result[i].RegDate + '</b></td><td id= Col4_' + slno + '><b>' + result[i].PName + '</b></td><td align=right id= Col7_' + slno + '><b>' + parseFloat(result[i].RegFee).toFixed(Decimal) + '</b></td><td align= right id= Col8_' + slno + '><b>' + parseFloat(result[i].ConsultFee).toFixed(Decimal) + '</b></td><td align = right id= Col9_' + slno + '><b>' + parseFloat(result[i].OtherFee).toFixed(Decimal) + '</b></td></tr>';

                }
            }
            $('#TblreportRevisit').html(responseText + '</tbody>');
            // <tfoot><tr><th> </th><th> </th><th> </th><th>Patient</th><th>Doctor</th><th> </th><th class="Hidden"> </th><th class="Hidden">Address</th><th class="Hidden">PhoneNo</th><th> </th><th> </th><th> </th></tr> </tfoot>');
           // $('#Tblreportprint').html(responseText + '</tbody>');
            var title = "Revisit Report - from " + $("#DateFrom").val() + " to " + $("#DateTo").val() + "";
            datatableWithsearch1('TblreportRevisit', true, title, 'buttonPlace5');

            $('#header25').text(title);

         
        }
      
 /*       stephy*/

    $(function () {

        $('#User').focus();
        $('#Dept').keydown(function (e) {
            var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
            if (key == 13) {
                $('#btnsubmit').focus();
                e.preventDefault();
            }
        });
        $('#DateFrom').daterangepicker({
            minDate: minDate,
            maxDate: new Date(new Date().getFullYear()+1, new Date().getMonth(), new Date().getDate()),
            singleDatePicker: true,
            showDropdowns: true,
            locale: {
                format: 'DD/MM/YYYY'
            }
        });

        $('#DateTo').daterangepicker({
            minDate: minDate,
            maxDate: new Date(new Date().getFullYear()+1, new Date().getMonth(), new Date().getDate()),
            singleDatePicker: true,
            showDropdowns: true,
            locale: {
                format: 'DD/MM/YYYY'
            }
        });
        $('#DateFrom,#DateTo').val(CurDate);
    });
        $("#btnsubmit").click(function (e) {


            if ($('#DateFrom').val() == '') {
                alert('Please Select From Date');
                $('#DateFrom').focus();

            }
            else if ($('#DateTo').val() == '') {
                alert('Please Select To Date');
                $('#DateTo').focus();

            }

            else {
                $('#Loading').show();

                var data = {};
                data.FromDate = $('#DateFrom').val() ;
                data.ToDate = $('#DateTo').val();
                data.Doctor = parseInt($('#userid').val() || 0);


                $.ajax({
                    type: "POST",
                    url: "../Master/ProcedureBillReportItemWise",
                    data: data,
                    success: function (result) {
                        $('#Loading').hide();
                        $('#divreport').show();
                        $('#popupdiv').hide();
                        Showreport(result);
                    }
                });

                //var data = {};
                //data.FromDate = $('#DateFrom').val() + '##' + parseInt($('#UserId').val() || 0);;
                //data.ToDate = $('#DateTo').val();
                //data.Doctor = parseInt($('#Doctor').val() || 0);


                //$.ajax({
                //    type: "POST",
                //    url: "../Master/LabBillReport",
                //    data: data,
                //    success: function (result) {
                       
                //        ShowreportLab(result);


                //    }
                //});


                //var data = {};
                //data.FromDate = $('#DateFrom').val() + '##' + parseInt($('#UserId').val() || 0);;
                //data.ToDate = $('#DateTo').val();
                //data.Doctor = parseInt($('#Doctor').val() || 0);


                //$.ajax({
                //    type: "POST",
                //    url: "../Master/ProcedureBillReport",
                //    data: data,
                //    success: function (result) {
                       
                //        Showreportproc(result);


                //    }
                //});

                //var data = {};
                //data.FromDate = $('#DateFrom').val() ;
                //data.ToDate = $('#DateTo').val();
                //data.Doctor = parseInt($('#Doctor').val() || 0);


                //$.ajax({
                //    type: "POST",
                //    url: "../Master/IPBillReport",
                //    data: data,
                //    success: function (result) {

                //        ShowreportIP(result);


                //    }
                //});

                /*  stephy*/

                //var data = {};
                //data.FromDate = $('#DateFrom').val() + '##' + parseInt($('#UserId').val() || 0);
                //data.ToDate = $('#DateTo').val();
                //data.Doctor = parseInt($('#DoctorId').val() || 0);
                //data.RegId =0;


                //$.ajax({
                //    type: "POST",
                //    url: "../Master/RegistrationReport",
                //    data: data,
                //    success: function (result) {

                //        ShowreportReg(result);


                //    }
                //});

                //var data = {};
                //data.FromDate = $('#DateFrom').val() + '##' + parseInt($('#UserId').val() || 0);;
                //data.ToDate = $('#DateTo').val();
                //data.Doctor = parseInt($('#Doctor').val() || 0);


                //$.ajax({
                //    type: "POST",
                //    url: "../Master/RevisitReport",
                //    data: data,
                //    success: function (result) {

                //        ShowreportRevisit(result);


                //    }
                //});
              /*  stephy*/


            }
        });

    });
    userLoad();
    function userLoad() {
        var data = {};
        data.UserId = 0;
        $.ajax({
            type: "POST",
            url: "../Master/UsersGetandGets",
            data: data,
            success: function (result) {
                if (result.oList.length > 0) {
                    $("#userid").empty();
                    $("#userid").append("<option value='0' Fee='0'>Select</option>");
                    for (var i = 0; i < result.oList.length; i++) {
                        $("#userid").append("<option value='" + result.oList[i].UserId + "'>" + result.oList[i].Name + "</option>");
                    }
                }
            }
        });
    }

    function datatableWithsearch1(tablename, download, title, tableButtonContainerId) {

        var a = '#' + tablename + ' tfoot th'
        $(a).each(function () {
            var title = $(this).text();
            if (title != ' ')
                $(this).html('<input type="text" placeholder="Search ' + title + '" style="width:100%" />');

        });
        var table = null;
        if (download) {

            if (!title || !tableButtonContainerId) { console.log("download table need title and button container"); }

            // AddColumnSelectionButton(tableButtonContainerId, tablename)

            table = $('#' + tablename).DataTable({
                dom: "<'row'<'col-sm-1'l><'col-sm-11'f>>" +
                            "<'row'<'col-sm-12'tr>>" +
                            "<'row'<'col-sm-1'i><'col-sm-11'p>>",
                buttons: [],
                

            });
            new $.fn.dataTable.Buttons(table, {
                buttons: [
                {
                    extend: 'collection',
                    text: 'Export',
                    buttons: [
                        {
                            extend: 'excelHtml5',
                            messageTop: $.trim(CompanySettingsArray.CompanyName) + ',' + CompanySettingsArray.Address + ',' + CompanySettingsArray.PhoneNo,
                            title: title,
                           // exportOptions: { columns: [0, 1, 2,3,4,5] }
                        },
                        {
                            extend: 'pdfHtml5',
                            messageTop: $.trim(CompanySettingsArray.CompanyName) + ',' + CompanySettingsArray.Address + ',' + CompanySettingsArray.PhoneNo,
                            title: title,
                            //exportOptions: { columns: [0, 1, 2, 3, 4, 5] }
                        },
                        {
                            extend: 'print',
                            messageTop: $.trim(CompanySettingsArray.CompanyName) + ',' + CompanySettingsArray.Address + ',' + CompanySettingsArray.PhoneNo,
                            title: title,
                           // exportOptions: { columns: [0, 4, 5,8,9,10] }
                        }
                    ]
                },
                'colvis'
                ],

            });

            table.buttons(0, null).container().appendTo($("#" + tableButtonContainerId));
            $("#" + tableButtonContainerId).find(".buttons-collection").addClass("btn-outline-primary mx-1").css("border-radius", "4px");



        } else {
            table = $('#' + tablename).DataTable();
        }
        table.columns().every(function () {
            var that = this;
            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();

                }
            });
        });
    }


</script>






