
@{
    ViewBag.Title = "DailyCashUpdation";
}

<style>
   
</style>
<script src="~/app-assets/data/table2excel.js" type="text/javascript"></script>

<script type="text/javascript" src="../Projectscript/Common.js"></script>
<script src="~/Scripts/Autocomplete/jquery-ui.js"></script>


<style>
   .ab{
        margin-top:1%
    }
    .jsgrid-header-row>.jsgrid-header-cell{background:#009da0;color:white}
    #TblDailyCash tr td, #TblDailyCash tr th{
        text-align:center;
    }
    .qty{
         text-align:center;
    }
</style>

<div class="myData" data-x="M256" />


<div id="Entry" style="">

    <section class="grid-row-label">
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8" style="">
                <div class="card">
                    <div class="card-header" style="border-bottom:1px solid #e6e6e6;height:70px">
                        <h3 style="font-weight:bold;text-align:center;">Daily Cash Updation</h3>
                    </div>
                    <div class="card-body ">

                        <form action="#">

                            <div class="px-3" style="background-color:#E0F3F4;">

                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="row ab">

                                            <div class="col-md-1">
                                                <label class="label">TR#</label>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" id="TRNO" class="form-control" autocomplete="off" disabled="">
                                            </div>
                                            <div class="col-md-1 text-right">
                                                <label class="label">Date</label>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" id="Date" style="margin-left:10%" class="form-control" autocomplete="off">
                                            </div>
                                            <div class="col-md-1 text-right">
                                                <label class="label">User</label>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" id="User" class="form-control" autocomplete="off" onkeydown="checkuserempty(event,1)">
                                            </div>

                                        </div>
                                        <div class="row ab">

                                            <div class="col-md-1">
                                                <label class="label">Collected by</label>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" id="CollectedBy" class="form-control" autocomplete="off" onkeydown="checkuserempty(event,2)">
                                            </div>
                                            <div class="col-md-2">
                                                <label class="label">Total PDC Received</label>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" style="margin-left:-29%" id="Pdc" class="form-control" autocomplete="off" onkeypress="isNumberInt(event, this);">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">

                                        <div class="col-md-12 text-center">
                                            <label class="label h4">TOTAL IN AED</label>
                                        </div>

                                        <div class="col-md-12 text-center">
                                            <h2 class="label h2 red" style="font-weight:bold" id="AedTottext">0.00</h2>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div style="width:95%;margin-left:2.5%;height:565px;overflow:auto;margin-top:.5%;border-bottom:1px solid #e9e9e9;border-left:1px solid #e9e9e9">
                                <div id="proddiv" class="" style="overflow: auto;height:auto; width: 100%;">
                                    <table class="table table-bordered jsgrid-table" id="TblDailyCash" style="table-layout:fixed">
                                        <tr class="jsgrid-header-row">
                                            <th class="jsgrid-header-cell" style="width: 5%;">CURR.</th>
                                            <th class="jsgrid-header-cell" style="width: 8%;">DENOMINATION</th>
                                            <th class="jsgrid-header-cell" style="width: 7%;">QTY.</th>
                                            <th class="jsgrid-header-cell" style="width: 7%;">TOTAL</th>
                                            <th class="jsgrid-header-cell" style="width: 7%;"></th>
                                           
                                            <th class="jsgrid-header-cell jsgrid-control-field jsgrid-align-center" style="width: 7%;"></th>
                                        </tr>

                                        <tr>
                                            <td style="width: 5%;font-weight:bold;font-size:larger;vertical-align:middle" rowspan="8" id="currencyAED" align="center">AED</td>
                                            <td style="width: 8%;" id="Denom1">1000</td>
                                            <td style="width: 7%;"><input type="text" style="border:none;height:30px" class="form-control qty" id="Qty1" onkeyup="CalcTotal(1)" /></td>
                                            <td style="width: 7%;" id="Total1"></td>
                                          
                                            <td style="width: 7%;vertical-align : middle;font-weight:bold;font-size:larger" rowspan="8">TOTAL AED</td>
                                            <td style="width: 7%;vertical-align : middle;color:red;font-weight:bold;font-size:x-large" rowspan="8" id="AEDTOT"></td>

                                        </tr>
                                        <tr>
                                            <td style="width: 8%;" id="Denom2">500</td>
                                            <td style="width: 7%;"><input type="text" style="border:none;height:30px" class="form-control qty" id="Qty2" onkeyup="CalcTotal(2)" /></td>
                                            <td style="width: 7%;" id="Total2"></td>
                                           
                                           

                                        </tr>
                                        <tr>
                                            <td style="width: 8%;" id="Denom3">200</td>
                                            <td style="width: 7%;"><input type="text" style="border:none;height:30px" class="form-control qty" id="Qty3" onkeyup="CalcTotal(3)" /></td>
                                            <td style="width: 7%;" id="Total3"></td>
                                           

                                        </tr>
                                        <tr>
                                            <td style="width: 8%;" id="Denom4">100</td>
                                            <td style="width: 7%;"><input type="text" style="border:none;height:30px" class="form-control qty" id="Qty4" onkeyup="CalcTotal(4)" /></td>
                                            <td style="width: 7%;" id="Total4"></td>
                                           

                                        </tr>
                                        <tr>
                                            <td style="width: 8%;" id="Denom5">50</td>
                                            <td style="width: 7%;"><input type="text" style="border:none;height:30px" class="form-control qty" id="Qty5" onkeyup="CalcTotal(5)" /></td>
                                            <td style="width: 7%;" id="Total5"></td>
                                           

                                        </tr>
                                        <tr>
                                            <td style="width: 8%;" id="Denom6">20</td>
                                            <td style="width: 7%;"><input type="text" style="border:none;height:30px" class="form-control qty" id="Qty6" onkeyup="CalcTotal(6)" /></td>
                                            <td style="width: 7%;" id="Total6"></td>
                                           

                                        </tr>
                                        <tr>
                                            <td style="width: 8%;" id="Denom7">10</td>
                                            <td style="width: 7%;"><input type="text" style="border:none;height:30px" class="form-control qty" id="Qty7" onkeyup="CalcTotal(7)" /></td>
                                            <td style="width: 7%;" id="Total7"></td>
                                            

                                        </tr>
                                        <tr>
                                            <td style="width: 8%;" id="Denom8">5</td>
                                            <td style="width: 7%;"><input type="text" style="border:none;height:30px" class="form-control qty" id="Qty8" onkeyup="CalcTotal(8)" /></td>
                                            <td style="width: 7%;" id="Total8"></td>
                                           

                                        </tr>


                                        <tr style="border-top:3px solid #dee2e6">
                                            <td style="width: 5%;font-weight:bold;font-size:larger;vertical-align:middle" id="currencyOMR" rowspan="6" align="center">OMR</td>
                                            <td style="width: 8%;" id="Denom9">100</td>
                                            <td style="width: 7%;"><input type="text" style="border:none;height:30px" class="form-control qty" id="Qty9" onkeyup="CalcTotal(9)" /></td>
                                            <td style="width: 7%;" id="Total9"></td>
                                           
                                            <td style="width: 7%;vertical-align : middle;font-weight:bold;font-size:larger" rowspan="3">TOTAL OMR</td>
                                            <td style="width: 7%;vertical-align : middle;color:red;font-weight:bold;font-size:x-large" rowspan="3" id="OMRTOT"></td>

                                        </tr>
                                        <tr>
                                            <td style="width: 8%;" id="Denom10">50</td>
                                            <td style="width: 7%;"><input type="text" style="border:none;height:30px" class="form-control qty" id="Qty10" onkeyup="CalcTotal(10)" /></td>
                                            <td style="width: 7%;" id="Total10"></td>
                                           
                                           
                                        </tr>
                                        <tr>
                                            <td style="width: 8%;" id="Denom11">20</td>
                                            <td style="width: 7%;"><input type="text" style="border:none;height:30px" class="form-control qty" id="Qty11" onkeyup="CalcTotal(11)" /></td>
                                            <td style="width: 7%;" id="Total11"></td>
                                           


                                        </tr>
                                        <tr>
                                            <td style="width: 8%;" id="Denom12">10</td>
                                            <td style="width: 7%;"><input type="text" style="border:none;height:30px" class="form-control qty" id="Qty12" onkeyup="CalcTotal(12)" /></td>
                                            <td style="width: 7%;" id="Total12"></td>
                                           
                                            <td style="width: 7%;vertical-align : middle;font-weight:bold;font-size:larger" rowspan="3">TOTAL AED</td>
                                            <td style="width: 7%;vertical-align : middle;color:red;font-weight:bold;font-size:x-large" rowspan="3" id="OMRTOAEDTOT"></td>

                                        </tr>
                                        <tr>
                                            <td style="width: 8%;" id="Denom13">5</td>
                                            <td style="width: 7%;"><input type="text" style="border:none;height:30px" class="form-control qty" id="Qty13" onkeyup="CalcTotal(13)" /></td>
                                            <td style="width: 7%;" id="Total13"></td>
                                          
                                           

                                        </tr>
                                        <tr>
                                            <td style="width: 8%;" id="Denom14">1</td>
                                            <td style="width: 7%;"><input type="text" style="border:none;height:30px" class="form-control qty" id="Qty14" onkeyup="CalcTotal(14)" /></td>
                                            <td style="width: 7%;" id="Total14"></td>
                                           


                                        </tr>


                                        <tr style="border-top:3px solid #dee2e6">
                                            <td style="width: 5%;font-weight:bold;font-size:larger;vertical-align:middle" id="currencyUSD" rowspan="6" align="center">USD</td>
                                            <td style="width: 8%;" id="Denom15">100</td>
                                            <td style="width: 7%;"><input type="text" style="border:none;height:30px" class="form-control qty" id="Qty15" onkeyup="CalcTotal(15)" /></td>
                                            <td style="width: 7%;" id="Total15"></td>
                                          
                                            <td style="width: 7%;vertical-align : middle;font-weight:bold;font-size:larger" rowspan="3">TOTAL USD</td>
                                            <td style="width: 7%;vertical-align : middle;color:red;font-weight:bold;font-size:x-large" rowspan="3" id="USDTOT"></td>

                                        </tr>
                                        <tr>
                                            <td style="width: 8%;" id="Denom16">50</td>
                                            <td style="width: 7%;"><input type="text" style="border:none;height:30px" class="form-control qty" id="Qty16" onkeyup="CalcTotal(16)" /></td>
                                            <td style="width: 7%;" id="Total16"></td>
                                           
                                          
                                        </tr>
                                        <tr>
                                            <td style="width: 8%;" id="Denom17">20</td>
                                            <td style="width: 7%;"><input type="text" style="border:none;height:30px" class="form-control qty" id="Qty17" onkeyup="CalcTotal(17)" /></td>
                                            <td style="width: 7%;" id="Total17"></td>
                                           

                                        </tr>
                                        <tr>
                                            <td style="width: 8%;" id="Denom18">10</td>
                                            <td style="width: 7%;"><input type="text" style="border:none;height:30px" class="form-control qty" id="Qty18" onkeyup="CalcTotal(18)" /></td>
                                            <td style="width: 7%;" id="Total18"></td>
                                           
                                            <td style="width: 7%;vertical-align : middle;font-weight:bold;font-size:larger" rowspan="3">TOTAL AED</td>
                                            <td style="width: 7%;vertical-align : middle;color:red;font-weight:bold;font-size:x-large" rowspan="3" id="USDTOAEDTOT"></td>
                                        </tr>
                                        <tr>
                                            <td style="width: 8%;" id="Denom19">5</td>
                                            <td style="width: 7%;"><input type="text" style="border:none;height:30px" class="form-control qty" id="Qty19" onkeyup="CalcTotal(19)" /></td>
                                            <td style="width: 7%;" id="Total19"></td>
                                           
                                           
                                        </tr>
                                        <tr>
                                            <td style="width: 8%;" id="Denom20">1</td>
                                            <td style="width: 7%;"><input type="text" style="border:none;height:30px" class="form-control qty" id="Qty20" onkeyup="CalcTotal(20)" /></td>
                                            <td style="width: 7%;" id="Total20"></td>
                                           

                                        </tr>


                                        <tr style="border-top:3px solid #dee2e6">
                                            <td style="width: 5%;font-weight:bold;font-size:larger;vertical-align:middle" id="currencySAUDI" align="center">SAUDI</td>
                                            <td style="width: 8%;" id="Denom21">500</td>
                                            <td style="width: 7%;"><input type="text" style="border:none;height:30px" class="form-control qty" id="Qty21" onkeyup="CalcTotal(21)" /></td>
                                            <td style="width: 7%;" id="Total21"></td>
                                           
                                            <td style="width: 7%;vertical-align : middle;font-weight:bold;font-size:larger">TOTAL AED</td>
                                            <td style="width: 7%;vertical-align : middle;color:red;font-weight:bold;font-size:x-large" id="SAUDITOT"></td>
                                        </tr>

                                        <tr>
                                            <td style="width: 5%;font-weight:bold;font-size:larger;vertical-align:middle" id="currencyCOINS" align="center">COINS</td>
                                            <td style="width: 8%;"></td>
                                            <td style="width: 7%;"><input type="text" style="border:none;height:30px" class="form-control qty" id="Qty22" onkeyup="CalcTotal(22)" /></td>
                                            <td style="width: 7%;" id="Total22"></td>
                                            <td style="width: 7%;vertical-align : middle;font-weight:bold;font-size:larger">TOTAL AED</td>
                                            <td style="width: 7%;vertical-align : middle;color:red;font-weight:bold;font-size:x-large" id="COINTOT"></td>
                                        </tr>

                                        <tr>
                                            <td style="width: 5%;font-weight:bold;font-size:larger"  colspan="5" class="text-right">TOTAL CASH CONVERTED</td>
                                            <td style="width: 5%;color:red;font-weight:bold;font-size:x-large" colspan="1" id="TotalCash"></td>
                                        </tr>
                                       

                                    </table>
                                </div>
                            </div>

                            <div class="row" style="margin-top:1%">
                                <div class="col-md-8">

                                </div>
                                <div class="col-md-4 text-right">
                                    <button type="button" id="btnsubmit" class="btn btn-primary mr-1 mb-1" onclick="SaveAndUpdate()"><u>S</u>ave <i class="fa fa-check-square-o"></i></button>
                                    <button type="button" id="btnnew" onclick="formrefresh()" class="btn btn-primary mr-1 mb-1">New <i class="ft-refresh-cw position-right"></i></button>
                                    <button type="button" id="btnExporttoExcel" onclick="" class="btn btn-primary  mr-1 mb-1">Export <i class="fa fa-file-excel-o position-right"></i></button>

                                </div>
                            </div>
                        </form>



                    </div>
                </div>
            </div>
            <div class="col-md-2">

            </div>
        </div>

    </section>

       
</div>
<table id="tbExport" style="display:none;table-layout:fixed;width:100%"></table>
<div style="display:none">
    <input type="text" class="form-control" id="UserId" />
    <input type="text" class="form-control" id="CollectorId" /> 
</div>

<script>
     $(function () {
        $("#btnExporttoExcel").click(function () {
                exportbilltotable();
               
                                       
        });

     });

     function exportbilltotable() {
         $('#tbExport thead tr').remove();
         $('#tbExport tbody tr').remove();
         $('#tbExport tfoot tr').remove();
         var row = "";
         row += '<thead><tr><th style="width: 5%;font-weight:bold"><b>CURRENCY</b></th><th style="font-weight:bold"><b>DENOMINATION</b></th><th style="font-weight:bold"><b>QUANTITY</b></th><th style="font-weight:bold"><b>TOTAL</b></th><th> </th><th> </th></tr><thead><tbody>'
         for (var k = 1; k <= 23; k++) {

             if (k == 22) { var CurId = 'COINS'; var TotalCurrency = 'TOTAL AED' }    //No Currency For Coins
             else if (k == 21) { var CurId = 'SAUDI'; var TotalCurrency = 'TOTAL AED' }
             else if (k <= 20 && k > 14) { var CurId = 'USD'; var TotalCurrency = 'TOTAL AED' }
             else if (k <= 14 && k > 8) { var CurId = 'OMR'; var TotalCurrency = 'TOTAL OMR' }
             else if (k <= 8) { var CurId = 'AED'; var TotalCurrency = 'TOTAL AED' }
             else if (k = 23) { var CurId = ''; var TotalCurrency = ''; var Qty =''}

             if (k == 22) { var TotalCurrency = 'TOTAL AED'; var TotalCurrencyValue=$('#COINTOT').text();}    //No Currency For Coins
             else if (k == 21) { var TotalCurrency = 'TOTAL AED'; var TotalCurrencyValue = $('#SAUDITOT').text(); }
             else if (k <= 20 && k > 17) { var TotalCurrency = 'TOTAL AED'; var TotalCurrencyValue = $('#USDTOAEDTOT').text(); }
             else if (k <= 17 && k > 14) { var TotalCurrency = 'TOTAL USD'; var TotalCurrencyValue = $('#USDTOT').text(); }
             else if (k <= 14 && k > 11) { var TotalCurrency = 'TOTAL AED'; var TotalCurrencyValue = $('#OMRTOAEDTOT').text(); }
             else if (k <= 11 && k > 8) { var TotalCurrency = 'TOTAL OMR'; var TotalCurrencyValue = $('#OMRTOT').text(); }
             else if (k <= 8) { var TotalCurrency = 'TOTAL AED'; var TotalCurrencyValue = $('#AEDTOT').text(); }
             else if (k == 23) { var TotalCurrency = 'TOTAL CASH CONVERTED'; var TotalCurrencyValue = $('#TotalCash').text(); }    //No Currency For Coins

             var Denom = $('#Denom' + k).text();
             var Qty = $('#Qty' + k).val();
             var Total = $('#Total' + k).text();


             if (CurId == 'AED') {
                 if (Denom == 1000)
                     row += '<tr><td text-align=center style="vertical-align:middle;font-weight:bold;font-size:larger;" rowspan=8>' + CurId + '</td><td>' + Denom + '</td><td>' + Qty + '</td><td>' + parseFloat(Total).toFixed(Decimal) + '</td><td rowspan=8 style="vertical-align : middle;text-align:center;font-weight:bold;font-size:larger">' + TotalCurrency + '</td><td >' + parseFloat(TotalCurrencyValue).toFixed(Decimal) + '</td></tr>'
                 else
                     row += '<tr><td>' + Denom + '</td><td>' + Qty + '</td><td>' + parseFloat(Total).toFixed(Decimal) + '</td><td >' + parseFloat(TotalCurrencyValue).toFixed(Decimal) + '</td></tr>'

             }
             else if (CurId == 'OMR') {
                 if (Denom == 100)
                     row += '<tr><td style="vertical-align:middle;font-weight:bold;font-size:larger;" text-align=center rowspan=6>' + CurId + '</td><td>' + Denom + '</td><td>' + Qty + '</td><td>' + parseFloat(Total).toFixed(Decimal) + '</td><td rowspan=3 style="vertical-align : middle;text-align:center;font-weight:bold;font-size:larger">' + TotalCurrency + '</td><td >' + parseFloat(TotalCurrencyValue).toFixed(Decimal) + '</td></tr>'
                 else if(Denom==10)
                     row += '<tr><td>' + Denom + '</td><td>' + Qty + '</td><td>' + parseFloat(Total).toFixed(Decimal) + '</td><td rowspan=3 style="vertical-align : middle;text-align:center;font-weight:bold;font-size:larger">' + TotalCurrency + '</td><td >' + parseFloat(TotalCurrencyValue).toFixed(Decimal) + '</td></tr>'
                 else
                     row += '<tr><td>' + Denom + '</td><td>' + Qty + '</td><td>' + parseFloat(Total).toFixed(Decimal) + '</td><td >' + parseFloat(TotalCurrencyValue).toFixed(Decimal) + '</td></tr>'

             }
             else if (CurId == 'USD') {
                 if (Denom == 100)
                     row += '<tr><td style="vertical-align:middle;font-weight:bold;font-size:larger;" text-align=center rowspan=6>' + CurId + '</td><td>' + Denom + '</td><td>' + Qty + '</td><td>' + parseFloat(Total).toFixed(Decimal) + '</td><td rowspan=3 style="vertical-align : middle;text-align:center;font-weight:bold;font-size:larger">' + TotalCurrency + '</td><td >' + parseFloat(TotalCurrencyValue).toFixed(Decimal) + '</td></tr>'
                 else if (Denom == 10)
                     row += '<tr><td>' + Denom + '</td><td>' + Qty + '</td><td>' + parseFloat(Total).toFixed(Decimal) + '</td><td rowspan=3 style="vertical-align : middle;text-align:center;font-weight:bold;font-size:larger">' + TotalCurrency + '</td><td >' + parseFloat(TotalCurrencyValue).toFixed(Decimal) + '</td></tr>'
                 else
                     row += '<tr><td>' + Denom + '</td><td>' + Qty + '</td><td>' + parseFloat(Total).toFixed(Decimal) + '</td><td >' + parseFloat(TotalCurrencyValue).toFixed(Decimal) + '</td></tr>'

             }
             else if (CurId == 'SAUDI') {
                 row += '<tr><td style="vertical-align:middle;font-weight:bold;font-size:larger;" text-align=center>' + CurId + '</td><td>' + Denom + '</td><td>' + Qty + '</td><td>' + parseFloat(Total).toFixed(Decimal) + '</td><td style="vertical-align : middle;text-align:center;font-weight:bold;font-size:larger">' + TotalCurrency + '</td><td >' + parseFloat(TotalCurrencyValue).toFixed(Decimal) + '</td></tr>'
             }
             else if (CurId == 'COINS') {
                 row += '<tr><td style="vertical-align:middle;font-weight:bold;font-size:larger;" text-align=center>' + CurId + '</td><td>' + Denom + '</td><td>' + Qty + '</td><td>' + parseFloat(Total).toFixed(Decimal) + '</td><td style="vertical-align : middle;text-align:center;font-weight:bold;font-size:larger">' + TotalCurrency + '</td><td >' + parseFloat(TotalCurrencyValue).toFixed(Decimal) + '</td></tr>'
             }
             else {
                 row += '<tr><td style="vertical-align : middle;text-align:right;font-size:larger" colspan="5"><b>' + TotalCurrency + '</b></td><td >' + parseFloat(TotalCurrencyValue).toFixed(Decimal) + '</td></tr>'

             }
          }
         row+='</tbody>'
         $('#tbExport').append(row);

         $("#tbExport").table2excel({
             filename: 'DailyCash' + ".xls"
         });
     }

    function Slnumberget()
    {
        var data = {};
        data.id = 0;
        data.DeptId = ERPDeptId;
        $.ajax({
            type: "POST",
            url: "../Common/SlNoGetandGets",
            data: data,
            success: function (result) {
                $('#TRNO').val(result.oList[0].DailyTnNum);
            }
        });
    }

    function SaveAndUpdate() { 
        if (parseInt($('#AedTottext').text()) > 0)
        {
            $('#btnsubmit').prop('disabled', true);
            var oArray = new Array();
            for (var k = 1; k <= 22; k++) {
                 if (k == 22)                      var CurId = 5;    //No Currency For Coins
                 else if (k == 21)                 var CurId = 4;
                 else if ( k <= 20 && k > 14 )     var CurId = 3;
                 else if (k <= 14 && k > 8)        var CurId = 2;
                 else if (k <= 8)                  var CurId = 1;

                var TRNO = $('#TRNO').val();
                var Date = $('#Date').val();
                var UserId = $('#UserId').val();
                var CollectedBy = $('#CollectorId').val(); 
                var Pdc = $('#Pdc').val();
                var DeptId = ERPDeptId;
                var Denom = $('#Denom' + k).text();
                var Qty = $('#Qty' + k).val();
                var Total = $('#Total' + k).text();
                var TotalAed = $('#AedTottext').text();

                if (Denom != undefined) {
                    oArray.push({
                        'TRNO': TRNO,
                        'Date': Date,
                        'UserId': UserId,
                        'CollectedBy': CollectedBy,
                        'Pdc': Pdc,
                        'DeptId': DeptId,
                        'CurId': CurId,
                        'Denom': Denom,
                        'Qty': Qty,
                        'Total': Total,
                        'TotalAed': TotalAed,
                    })
                }
            }
            if (oArray != "") {
                var data = { 'DailyClosing': oArray }; 
                $.ajax(
                {
                type: "POST",
                url: "../SalesInvoice/DailyClosingInsertandUpdate", 
                data: data,
                success: function (result) {                                   
                        var status = result.oList[0].Status;                     
                        Showalerts(status);
                        $('#btnsubmit').prop('disabled', false); 
                }
            });
            }
        }
        else
        {
            warningshow("Total AED can not be Zero", 'Qty1');
            $('#Qty1').select();
        }

    }

    function formrefresh()
    {
        $('.form-control').val('');
        $('#Date').val(CurDate);
        MainCalc();
        Slnumberget();
        Defaultfocus();
    }

    function Defaultfocus() {
        $('#User').focus();
    }
    
    $('.form-control').click(function (e) {                
             $(this).select();           
    });

    $('.qty').keypress(function (e) {      
        isNumberInt(event, this);
    });

     
    $('.qty').keydown(function (e) { 
        var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
        var Id = $(this).attr('id').match(/\d+/)[0];
        if (key == 40)                 //Down Arrow
        {           
            e.preventDefault();          
            var Nextid = parseInt(Id) + 1;
            if ($('#Qty' + Nextid)) {
                $('#Qty' + Nextid).focus();
                $('#Qty' + Nextid).select();
            }
            else {
                $('#Qty' + Id).focus();
                $('#Qty' + Id).select();
            }
        }
        else if (key == 38) {           //Up Arrow
            e.preventDefault();          
            var Nextid = parseInt(Id) - 1;
            if ($('#Qty' + Nextid))
            {
                $('#Qty' + Nextid).focus();
                $('#Qty' + Nextid).select();
            }
            else
            {
                $('#Qty' + Id).focus();
                $('#Qty' + Id).select();
            }
        }
    });

    function MainCalc()
    {
        for (var x = 1; x <= 22; x++) {
            $('#Qty' + x).val('');
            CalcTotal(x);
        }
    }

    function CalcTotal(id)
    {
        if (id != 22)
        {
            var qty = parseFloat($('#Qty' + id).val() || 0);
            var Denom = parseFloat($('#Denom' + id).text() || 0);
            var Total = (qty * Denom);
            Total = Total.toFixed(Decimal);
            $('#Total' + id).text(Total);
        }
        else
        {
            var qty = parseFloat($('#Qty22').val() || 0);
            var Denom = 1;
            var Total = (qty * Denom);
            Total = Total.toFixed(Decimal);
            $('#Total22').text(Total); 
        }
       

        CalcGrandTotal();
    }

    function CalcGrandTotal()
    {
        var TotAed = 0; var TotOmr = 0; var TotUsd = 0; var TotSaudi = 0; var OMRTOAEDTOT = 0; var USDTOAEDTOT = 0;
        for (var x = 1; x <= 8; x++) {
            TotAed = parseFloat(TotAed) + parseFloat($('#Total' + x).text());
        }
        for (var x = 9; x <= 14; x++) {
            TotOmr = parseFloat(TotOmr) + parseFloat($('#Total' + x).text());
        }
        for (var x = 15; x <= 20; x++) { 
            TotUsd = parseFloat(TotUsd) + parseFloat($('#Total' + x).text());
        }

        TotCoins=parseFloat($('#Total22').text());

        TotSaudi = .9 * (parseFloat(TotSaudi) + parseFloat($('#Total21').text()));

        OMRTOAEDTOT = (9.5 * TotOmr);
        USDTOAEDTOT=(3.66 * TotUsd);
      
        $('#AEDTOT').text(''); $('#OMRTOT').text(''); $('#USDTOT').text(''); $('#SAUDITOT').text(''); $('#TotalCash').text('');

        $('#AEDTOT').text(TotAed.toFixed(Decimal));
        $('#OMRTOT').text(TotOmr.toFixed(Decimal));
        $('#USDTOT').text(TotUsd.toFixed(Decimal));
        $('#SAUDITOT').text(TotSaudi.toFixed(Decimal)); 

        $('#OMRTOAEDTOT').text(OMRTOAEDTOT.toFixed(Decimal));
        $('#USDTOAEDTOT').text(USDTOAEDTOT.toFixed(Decimal));

        $('#COINTOT').text(TotCoins.toFixed(Decimal));

        var Totcash = parseFloat(OMRTOAEDTOT + USDTOAEDTOT + TotAed + TotSaudi + TotCoins) || 0;
        $('#TotalCash').text(Totcash.toFixed(Decimal));
        $('#AedTottext').text(Totcash.toFixed(Decimal));
        
    }

    $(function () {
    $('#Date').daterangepicker({
        minDate: minDate,       
        singleDatePicker: true,
        showDropdowns: true,
        locale: {
            format: 'DD/MM/YYYY'
        }
    });
    });

    $("#User").autocomplete({
        delay: 0,
        minLength: 0,
        source: function (request, response) {
            var data1 = {};
            data1.UserName = $("#User").val();

            $.ajax({
                url: '../Master/UserSearchInUserMenuSettings',
                type: "POST",
                data: data1,
                dataType: "json",
                success: function (data) {

                    response($.map(data, function (item) {

                        return ({
                            ColCount: '1',
                            label: item.UserName,
                            UserId: item.UserId,
                            UserName: item.UserName,
                            UserRole: item.UserRole,
                            MenuCode: item.MenuCode,
                            headers: ["User"]
                        })
                    }));
                }
            })
        },
        autoFocus: true,
        select: function (event, ui) {
            $('#UserId').val(ui.item.UserId);           
        },
    });

    $("#CollectedBy").autocomplete({
        delay: 0,
        minLength: 0,
        source: function (request, response) {
            var data1 = {};
            data1.UserName = $("#CollectedBy").val();

            $.ajax({
                url: '../Master/UserSearchInUserMenuSettings',
                type: "POST",
                data: data1,
                dataType: "json",
                success: function (data) {

                    response($.map(data, function (item) {

                        return ({
                            ColCount: '1',
                            label: item.UserName,
                            UserId: item.UserId,
                            UserName: item.UserName,
                            UserRole: item.UserRole,
                            MenuCode: item.MenuCode,
                            headers: ["User"]
                        })
                    }));
                }
            })
        },
        autoFocus: true,
        select: function (event, ui) {
            $('#CollectorId').val(ui.item.UserId); 
        },
    });

    

    function checkuserempty(e,type)
    {
        var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
        if (key != 13)
        {
            if (type == 1) $('#UserId').val('');
            else if (type == 2) $('#CollectorId').val(''); 
        }
           

    }

    function isNumberInt(evt, selectedvalue) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        $(selectedvalue).val($(selectedvalue).val().replace(/[^0-9\.]/g, ''));
        if (charCode != 8 && charCode != 13 && (charCode < 48 || charCode > 57)) {
            evt.preventDefault();
            warningshow('Digits Only')
            return false;
        }
        return true;

    }

    formrefresh();
</script>

