
@{
    ViewBag.Title = "DashBoardScrap";
}

<div class="myData" data-x="M216" />


<style>
    .card-content:hover {
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
        -webkit-transition: box-shadow 0.3s;
        transform: scale(1.1);
        transition: transform 0.3s;
        cursor: pointer;
    }
</style>

<script>
    GetLatetstPurchase();

    function GetLatetstPurchase() {
        var datax = {};
        datax.DeptId = ERPDeptId;
        $.ajax({
            type: "POST",
            url: "../Purchaseandsalesreports/SalesmanDashBoardPurchaseList",
            data: datax,
            success: function (result) {
                ShowTopPurchasereport(result);
            }
        });

    }
    function ShowTopPurchasereport(result) {
        var responseText = "<thead><tr><th>Image</th><th>Product Code</th><th>Product Description</th><th>Quantity</th><th>Location</th><th></th></tr></thead>  <tbody>";
        for (var i = 0; i < result.length; i++) {

            responseText += '<tr><td><img class="media-object round-media height-50" src="../app-assets/img/elements/01.png" alt="" /></td><td>' + result[i].ItemCode + '</td><td>' + result[i].Description + '</td><td>' + result[i].InHandQty + '</td><td>' + result[i].LocationName + '</td><td><a class="danger" data-original-title="" title=""></a></td></tr>';
        }
        $('#toppurchase').html(responseText + '</tbody>');
    }


</script>


<section _ngcontent-c7="" id="minimal-statistics-bg">
    <div _ngcontent-c7="" class="row text-left" matchheight="card">
        <div _ngcontent-c7="" class="col-xl-3 col-lg-6 col-12">
            <a href="~/SalesInvoice/SalesScrap">
                <div _ngcontent-c7="" class="card gradient-green-tea" style="height: 108.25px;">
                    <div _ngcontent-c7="" class="card-content">
                        <div _ngcontent-c7="" class="px-3 py-3">

                            <div _ngcontent-c7="" class="media">
                                <div _ngcontent-c7="" class="media-body white text-left"><h2 _ngcontent-c7=""><b>&#160;SALES</b></h2><span _ngcontent-c7="">&#160;</span></div>
                                <div _ngcontent-c7="" class="media-right align-self-center"><i _ngcontent-c7="" class="ft-airplay white font-large-2 float-right"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>


        <div _ngcontent-c7="" class="col-xl-3 col-lg-6 col-12"><a href="~/Purchase/PurchaseScrap"><div _ngcontent-c7="" class="card gradient-blackberry" style="height: 108.25px;"><div _ngcontent-c7="" class="card-content"><div _ngcontent-c7="" class="px-3 py-3"><div _ngcontent-c7="" class="media"><div _ngcontent-c7="" class="media-body white text-left"><h2 _ngcontent-c7=""><b>&#160;PURCHASE</b></h2><span _ngcontent-c7="">&#160;</span></div><div _ngcontent-c7="" class="media-right align-self-center"><i _ngcontent-c7="" class="ft-shopping-cart white font-large-2 float-right"></i></div></div></div></div></div></a></div>

        <div _ngcontent-c7="" class="col-xl-3 col-lg-6 col-12"><a href="~/Report/SPStockQuery"><div _ngcontent-c7="" class="card gradient-ibiza-sunset" style="height: 108.25px;"><div _ngcontent-c7="" class="card-content"><div _ngcontent-c7="" class="px-3 py-3"><div _ngcontent-c7="" class="media"><div _ngcontent-c7="" class="media-body white text-left"><h2 _ngcontent-c7=""><b>&#160;STOCK</b></h2><span _ngcontent-c7="">&#160;</span></div><div _ngcontent-c7="" class="media-right align-self-center"><i _ngcontent-c7="" class="ft-grid white font-large-2 float-right"></i></div></div></div></div></div></a></div>
        <div _ngcontent-c7="" class="col-xl-3 col-lg-6 col-12"><a href="~/master/itemmasterscrap"><div _ngcontent-c7="" class="card gradient-pomegranate" style="height: 108.25px;"><div _ngcontent-c7="" class="card-content"><div _ngcontent-c7="" class="px-3 py-3"><div _ngcontent-c7="" class="media"><div _ngcontent-c7="" class="media-body white text-left"><h2 _ngcontent-c7=""><b>&#160;NEW ITEM</b></h2><span _ngcontent-c7="">&#160;</span></div><div _ngcontent-c7="" class="media-right align-self-center"><i _ngcontent-c7="" class="ft-plus white font-large-2 float-right"></i></div></div></div></div></div></a></div>
    </div>






    <div _ngcontent-c7="" class="row text-left" matchheight="card">
        <div _ngcontent-c7="" class="col-xl-3 col-lg-6 col-12"><a href="~/AccountsErp/VoucherEntry"><div _ngcontent-c7="" class="card gradient-blackberry" style="height: 108.25px;"><div _ngcontent-c7="" class="card-content"><div _ngcontent-c7="" class="px-3 py-3"><div _ngcontent-c7="" class="media"><div _ngcontent-c7="" class="media-body white text-left"><h2 _ngcontent-c7=""><b>&#160;VOUCHER</b></h2><span _ngcontent-c7="">&#160;</span></div><div _ngcontent-c7="" class="media-right align-self-center"><i _ngcontent-c7="" class="ft-edit-2 white font-large-2 float-right"></i></div></div></div></div></div></a></div>


        <div _ngcontent-c7="" class="col-xl-3 col-lg-6 col-12">
            <a href="~/AccountsReport/AccountStatement">
                <div _ngcontent-c7="" class="card gradient-green-tea" style="height: 108.25px;">
                    <div _ngcontent-c7="" class="card-content">
                        <div _ngcontent-c7="" class="px-3 py-3">

                            <div _ngcontent-c7="" class="media">
                                <div _ngcontent-c7="" class="media-body white text-left"><h2 _ngcontent-c7=""><b>&#160;ACCOUNT STATMENT</b></h2><span _ngcontent-c7="">&#160;</span></div>
                                <div _ngcontent-c7="" class="media-right align-self-center"><i _ngcontent-c7="" class="ft-layout white font-large-2 float-right"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

        <div _ngcontent-c7="" class="col-xl-3 col-lg-6 col-12"><a href="~/SalesReport/SalesReportSub"><div _ngcontent-c7="" class="card gradient-pomegranate" style="height: 108.25px;"><div _ngcontent-c7="" class="card-content"><div _ngcontent-c7="" class="px-3 py-3"><div _ngcontent-c7="" class="media"><div _ngcontent-c7="" class="media-body white text-left"><h2 _ngcontent-c7=""><b>&#160;DAILY SALES</b></h2><span _ngcontent-c7="">&#160;</span></div><div _ngcontent-c7="" class="media-right align-self-center"><i _ngcontent-c7="" class="ft-trending-up white font-large-2 float-right"></i></div></div></div></div></div></a></div>



        <div _ngcontent-c7="" class="col-xl-3 col-lg-6 col-12"><a href="~/Purchaseandsalesreports/DatewisePurchase"><div _ngcontent-c7="" class="card gradient-ibiza-sunset" style="height: 108.25px;"><div _ngcontent-c7="" class="card-content"><div _ngcontent-c7="" class="px-3 py-3"><div _ngcontent-c7="" class="media"><div _ngcontent-c7="" class="media-body white text-left"><h2 _ngcontent-c7=""><b>&#160;DAILY PURCHASE</b></h2><span _ngcontent-c7="">&#160;</span></div><div _ngcontent-c7="" class="media-right align-self-center"><i _ngcontent-c7="" class="ft-bar-chart-2 white font-large-2 float-right"></i></div></div></div></div></div></a></div>
    </div>


    <div class="row match-height">

        <div class="col-xl-12 col-lg-12 col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Latest Purchased Items</h4>
                </div>
                <div class="card-body" style="margin-top:-25px;height:500px; overflow:auto;">
                    <table class="table table-responsive-sm text-center" id="toppurchase"></table>
                </div>
            </div>
        </div>
    </div>
