
.rotatebox .images{
 width:950px!important;
 height:600px!important;
  position: relative;
  
}
.rotatebox .images img{
    width:950px!important;
  height:600px!important;
  display: block;
  position: absolute;
  top:0px;
  left: 0;
}

.images slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all img{
    width:950px!important;
  height:600px!important;
}