
@{
    ViewBag.Title = "PCDReceived";
}
<script type="text/javascript" src="~/ProjectScript/PDCReceived.js"></script>
<script src="~/Scripts/Autocomplete/jquery-ui.js"></script>

<link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/tables/jsgrid/jsgrid-theme.min.css">
<link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/tables/jsgrid/jsgrid.min.css">

<style>
    #customView {
        border: 1px solid #CCD6E6;
    }
</style>

<div id="Entry" style="margin-top:-20px;">
    <section class="grid-row-label" id="grid-row-label">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" style="border-bottom:1px solid #e6e6e6">
                        <h3 class="card-title mb-0" style="float:left">PDC Transfer - Received</h3>
                    </div>

                    <div class="card-content collapse show">
                        <div class="card-body"  style="margin-top:-75px">
                            <form action="#">
                                <div class="form-body">
                                    <hr style="margin-top:75px" />

                                    <div class="row" style="background-color:#F0F6F6;margin-left:3px;width:100%;margin-top:-20px;height:188px;">
                                        <div class="col-md-12" style="margin-top:-5px;">
                                            <br />
                                            <div class="form-group">

                                                <div class="row">
                                                    <label class="col-md-1 text-lg-right">PDC Account</label>
                                                    <div class="col-md-2">
                                                        <input type="text" id="PDCAccount" class="form-control">
                                                        <input type="text" id="PDCAccountId" value="0" style="display:none">
                                                    </div>
                                                    <div class="col-md-1"></div>
                                                    <fieldset class="col-md-2">
                                                        <div class="custom-control custom-radio">
                                                            <input type="radio" class="custom-control-input" name="customRadio" id="ChequeDtRadio" onclick="EnableDt()">
                                                            <label class="custom-control-label" for="ChequeDtRadio">ChequeDate From</label>                                                           
                                                        </div>                                                        
                                                    </fieldset>
                                                    <div class="col-md-2" style="margin-left:-6%">
                                                        <input type="text" id="ChequeDtFrom" class="form-control" disabled/>
                                                    </div>                                                       
                                                    <label class="text-lg-right">To</label>
                                                    <div class="col-md-2">
                                                        <input type="text" id="ChequeDtTo" class="form-control" disabled/>
                                                    </div>                                                                                                                                                
                                                </div>
                                                <div class="row" style="margin-top:10px;">
                                                    <label class="col-md-1 text-lg-right">Bank Account</label>
                                                    <div class="col-md-2">
                                                        <input type="text" id="BankAccount" class="form-control">
                                                        <input type="text" id="BankAccountId" value="0" style="display:none">
                                                    </div>
                                                    <div class="col-md-1"></div>
                                                    <fieldset class="col-md-1">
                                                        <div class="custom-control custom-radio">
                                                            <input type="radio" class="custom-control-input" name="customRadio" id="ChequeNoRadio" onclick="Enable()">
                                                            <label class="custom-control-label" for="ChequeNoRadio">Cheque No</label>
                                                        </div>
                                                    </fieldset>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    &nbsp;<div class="col-md-2">
                                                        <input type="text" id="ChequeNo" class="form-control" disabled>
                                                    </div>  
                                                    <div class="col-md-1 text-right">
                                                        <button type="button" style="width:100px" id="btngo" class="btn btn-primary btn-min-width mr-1 mb-1" onclick="GetList()">Go</button>
                                                    </div>                                                   
                                                    </div>

                                                <div class="row" style="margin-top:7px;">
                                                    <label class="col-md-1 text-lg-right">Transfer Date</label>
                                                    <div class="col-md-2">
                                                        <input type="text" id="TransferDate" class="form-control" />
                                                    </div>  
                                                    <div class="col-md-2"></div>
                                                                                                        
                                                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label class="col-md-1 text-lg-right" style="margin-top:10px;"><b>Total Amount :</b></label>
                                                    <div class="col-md-2" style="margin-top:2px;">
                                                        <input type="text" id="TotalAmount" class="form-control" style="color:black;background-color:#f0f6f6;border:none" />
                                                    </div>                                                                                                           
                                                    </div>                                         
                                                </div>
                                            </div>
                                        </div>
                                    <hr style="margin-top:5px;" />

                                    <div id="customView" class="jsgrid" style="position: relative; height: 310px; width: 99%; margin-left:9px;margin-top:-10px;">
                                        <div class="jsgrid-grid-header jsgrid-header-scrollbar">
                                            <table class="jsgrid-table">
                                                <tr class="jsgrid-header-row">
                                                    <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width:30px;"><input class='jsgrid-button jsgrid-edit-button' type='button' title='Edit' onclick="EnableGrid()"></th>
                                                    <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width:50px">No</th>
                                                    <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width:100px">ChqNo</th>
                                                    <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width:150px">ChqDate</th>
                                                    <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width:200px">Bank</th>                                                                                                       
                                                    <th class="jsgrid-header-cell jsgrid-align-center" style="width:150px">Amount</th>
                                                    <th class="jsgrid-header-cell jsgrid-align-center" style="width:150px">Account Code</th>
                                                    <th class="jsgrid-header-cell jsgrid-align-center" style="width:250px">Account Name</th> 
                                                    <th class="jsgrid-header-cell jsgrid-align-center" style="width:130px">Voucher Type</th>
                                                    <th class="jsgrid-header-cell jsgrid-align-center" style="width:150px">Voucher No</th>
                                                    <th class="jsgrid-header-cell jsgrid-align-center" style="width:150px">Voucher Date</th>
                                                    <th class="jsgrid-header-cell jsgrid-align-center" style="width:150px">Description</th>
                                                    <th class="jsgrid-header-cell jsgrid-align-center" style="width:100px">Ref No</th>                                                    
                                                </tr>
                                            </table>
                                        </div>
                                        <div id="proddiv" class="jsgrid dataTables_scrollBody" style="position: relative; overflow: auto; height: 270px; width: 100%;">
                                            <table class="jsgrid-table" id="PDCReceived"></table>
                                        </div>
                                    </div>
                                    <input type="text" id="txtRowCount" readonly="readonly" style="display:none" />

                                        <div class="form-actions">
                                            <div class="text-right">
                                                <input type="text" id="slnotxt" class="form-control" value="1" style="display:none">
                                                @*<input type="text" id="VoNo" class="form-control">*@
                                                <button type="button" style="width:100px" id="btnsubmit" class="btn btn-primary btn-min-width mr-1 mb-1"><u>S</u>ave <i class="fa fa-check-square-o"></i></button>
                                                <button type="button" style="width:100px" id="btnlist" onclick="window.open('../AccountsReport/AccountsReport')" class="btn btn-primary btn-min-width mr-1 mb-1">Report <i class="ft-align-justify"></i></button>
                                                <button type="button" style="width:100px" id="btnnew" onclick="formrefresh()" class="btn btn-primary btn-min-width mr-1 mb-1">Clear <i class="ft-refresh-cw position-right"></i></button>
                                                <button style="display:none" type="button" id="btndelete" class="btn btn-primary btn-min-width mr-1 mb-1">Delete <i class="fa fa-times"></i></button>                                                
                                            </div>
                                        </div>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    $("#PDCAccount").autocomplete({        
        source: function (request, response) {
            var data = {};
            data.AccCode = $("#PDCAccount").val();
            $.ajax({
                url: '../AccountsErp/AccSearch',
                type: "POST",
                data: data,
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    response($.map(data, function (item) {
                        return ({
                            ColCount: '-2',
                            label: item.AccCode,
                            label1: item.AccDescription,
                            Acc_Id: item.AccId,
                        })
                    }));
                }
            })
        },
        autoFocus: true,

        select: function (event, ui) {
            $('#PDCAccountId').val(ui.item.Acc_Id);
            $('#BankAccount').focus();
        },

    });

    $("#BankAccount").autocomplete({
        source: function (request, response) {
            var data = {};
            data.AccCode = $("#BankAccount").val();
            $.ajax({
                url: '../AccountsErp/AccSearch',
                type: "POST",
                data: data,
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    response($.map(data, function (item) {
                        return ({
                            ColCount: '-2',
                            label: item.AccCode,
                            label1: item.AccDescription,
                            Acc_Id: item.AccId,
                        })
                    }));
                }
            })
        },
        autoFocus: true,

        select: function (event, ui) {
            $('#BankAccountId').val(ui.item.Acc_Id);
            $('#TransferDate').focus();
        },

    });
</script>