
@{
    ViewBag.Title = "PDCReceived";
}
<script type="text/javascript" src="~/ProjectScript/PDCReceived.js"></script>
<script src="~/Scripts/Autocomplete/jquery-ui.js"></script>

<link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/tables/jsgrid/jsgrid-theme.min.css">
<link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/tables/jsgrid/jsgrid.min.css">
<script src="~/app-assets/data/table2excel.js" type="text/javascript"></script>
<style>

    #PDCReceived tr td
    {
        border:1px solid black;
        cursor:pointer;
    }

    #PDCReceived tr:hover {
        background: #ebebe0;
    }


    #customView {
        border: 1px solid #CCD6E6;
    }
      /*.form-control
    {
        font-weight:bold;
    }*/
</style>
<div class="myData" data-x="M79" />

<div style="display:none">

    <table id="tbExport"></table>
</div>
<div id="Entry" style="margin-top:-10px;">
   
    <section class="grid-row-label" id="grid-row-label">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" style="border-bottom:1px solid #e6e6e6;height:70px">
                        <div class="row">
                            <h3 class="card-title mb-0 col-md-3" style="float:left;font-weight:bold;"> Cash Received Entry</h3>

                            <label class="col-md-3 text-right" style="margin-top:10px;font-weight:bold;">Collected Amount :</label>
                            <div class="col-md-2">
                                <input type="text" id="TotalAmount" class="form-control red font-large-1" readonly="" style="color:black;background-color:white;border:none;font-weight:700;" />

                            </div>
                            <label class="col-md-2 text-right" style="margin-top:10px;font-weight:bold;">Total Amount :</label>
                            <div class="col-md-2">
                                <input type="text" id="TotalAmountAll" class="form-control red font-large-1" value="0.00" readonly="" style="color:black;background-color:white;border:none;font-weight:700;" />

                            </div>
                        </div>

                    </div>

                    <div class="card-content collapse show">
                        <div class="card-body" style="margin-top:-75px">
                            <form action="#">
                                <div class="form-body">
                                    <hr style="margin-top:75px" />

                                    <div class="row" style="background-color:#F0F6F6;margin-left:3px;width:100%;margin-top:-20px;">
                                        <div class="col-md-12" style="margin-top:-5px;">
                                            <br />
                                            <div class="form-group">

                                                <div class="row">
                                                    <label class="col-md-1 text-lg-left" style="font-weight:bold">Name/MRNo</label>
                                                    <div class="col-md-2">
                                                        <input type="text" id="PDCAccount" class="form-control">
                                                        <input type="text" id="PDCAccountId" style="display:none">
                                                    </div>

                                                    <fieldset class="col-md-1">
                                                        <div class="custom-control custom-radio">
                                                            <input type="radio" class="custom-control-input" name="customRadio" checked id="ChequeDtRadio">
                                                            <label class="custom-control-label" for="ChequeDtRadio" style="font-weight:bold;padding-left:1%">Pending</label>
                                                        </div>
                                                    </fieldset>

                                                    <fieldset class="col-md-1">
                                                        <div class="custom-control custom-radio">
                                                            <input type="radio" class="custom-control-input" name="customRadioo" disabled  id="mybills">
                                                            <label class="custom-control-label" for="mybills" style="font-weight:bold;padding-left:1%">Own bills</label>
                                                        </div>
                                                    </fieldset>
                                                    <div class="col-md-2" style="">
                                                        <input type="text" id="ChequeDtFrom" class="form-control" />
                                                    </div>
                                                    <label class="col-md-1 text-lg-left" style="font-weight:bold">To<span class="danger">*</span></label>

                                                    <div class="col-md-2">
                                                        <input type="text" id="ChequeDtTo" class="form-control" />
                                                    </div>
                                                </div>

                                                <div class="row" style="margin-top:10px;">
                                                    <label class="col-md-1 text-lg-left" style="font-weight:bold">Pay Date<span class="danger">*</span></label>
                                                    <div style="display:none" class="col-md-2">
                                                        <input type="text" id="BankAccount" class="form-control">
                                                        <input type="text" id="BankAccountId" style="display:none">
                                                    </div>

                                                    <div class="col-md-2">
                                                        <input type="text" id="vdateet" class="form-control">
                                                      
                                                    </div>

                                                    <fieldset class="col-md-1">
                                                        <div class="custom-control custom-radio">

                                                            <input type="radio" disabled class="custom-control-input" name="customRadio" id="ChequeNoRadio">
                                                            <label class="custom-control-label" for="ChequeNoRadio" style="font-weight:bold;padding-left:1%">Day</label>

                                                        </div>
                                                    </fieldset>

                                                    <fieldset class="col-md-1">
                                                        <div class="custom-control custom-radio">

                                                            <input type="radio" class="custom-control-input" disabled name="customRadioo" id="ChequeNo1Radio">
                                                            <label class="custom-control-label" for="ChequeNo1Radio" style="font-weight:bold;padding-left:1%">All(ADMIN)</label>

                                                        </div>
                                                    </fieldset>
                                                    <div class="col-md-2">
                                                        <input type="text" id="ChequeNo" class="form-control" disabled>
                                                    </div>
                                                    <label class="col-md-1 text-lg-left" style="font-weight:bold">Bill Type<span class="danger">*</span></label>
                                                    <div class="col-md-2">
                                                        <select id="TransferDate" class="form-control">
                                                            <option value="0">All</option>
                                                            <option value="PB">OP Bill</option>
                                                            <option value="LB">LAB Bill</option>
                                                            <option value="IPB">IB Bill</option>
                                                            <option value="CON">REG Bill</option>
                                                            <option value="SI">PHARMA Bill</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-1 text-right">
                                                        <button type="button" style="width:100px;margin-left:65%" id="btngo" class="btn btn-primary btn-min-width mr-1 mb-1" onclick="GetList()">Go</button>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <hr style="margin-top:5px;" />

                                    @*<div id="customView" class="jsgrid dataTables_scrollBody" style="overflow:auto;height: 310px; width: 99%; margin-left:9px;margin-top:-15px;">
            <div class="jsgrid-grid-header jsgrid-header-scrollbar">
                <table class="jsgrid-table">
                    <tr class="jsgrid-header-row">
                        <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width:60px"><input type="checkbox" onchange="SelectAll()" id= "SlNoHeadCheck"/> All</th>
                        <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width:50px">No</th>
                        <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width:100px">ChqNo</th>
                        <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width:120px">ChqDate</th>
                        <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width:200px">Bank</th>
                        <th class="jsgrid-header-cell jsgrid-align-center" style="width:150px">Amount</th>
                        <th class="jsgrid-header-cell jsgrid-align-center" style="width:150px">Account Code</th>
                        <th class="jsgrid-header-cell jsgrid-align-center" style="width:250px">Account Name</th>
                        <th class="jsgrid-header-cell jsgrid-align-center" style="width:130px">Voucher Type</th>
                        <th class="jsgrid-header-cell jsgrid-align-center" style="width:150px">Voucher No</th>
                        <th class="jsgrid-header-cell jsgrid-align-center" style="width:150px">Voucher Date</th>
                        <th class="jsgrid-header-cell jsgrid-align-center" style="width:150px">Description</th>
                        <th class="jsgrid-header-cell jsgrid-align-center" style="width:100px">Ref No</th>
                    </tr>
                </table>
            </div>
            <div id="proddiv" class="jsgrid dataTables_scrollBody" style="overflow:auto;height: 310px; width: 99%; margin-left:9px;margin-top:-15px;">
                <table class="jsgrid-table" id="PDCReceived"></table>
            </div>
        </div>*@




                                    <div class="px-2">
                                        <div id="customView" class="jsgrid" style="position: relative; height: auto; width: 100%; border:solid 1px;border-color:#e9e9e9;margin-top:-20px;overflow-x: auto;overflow-y: hidden;">
                                            <div class="jsgrid-grid-header jsgrid-header-scrollbar" style="width: 2030px;">
                                                <table class="jsgrid-table" style="width:100%;">
                                                    <tr class="jsgrid-header-row">
                                                        <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width:2%"><input type="checkbox" onchange="SelectAll()" id="SlNoHeadCheck" /></th>
                                                        <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width:3%">SL#</th>
                                                        <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width:5%">Bill Type</th>
                                                        <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width:6%">Bill Date</th>
                                                        <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width:5%;display:none">Series</th>
                                                        <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width:5%">Bill No#</th>
                                                        <th class="jsgrid-header-cell jsgrid-align-center" style="width:5%">OP NO#</th>
                                                        <th class="jsgrid-header-cell jsgrid-align-center" style="width:5%">MR NO#</th>
                                                        <th class="jsgrid-header-cell jsgrid-align-center" style="width:20%">Name</th>
                                                        <th class="jsgrid-header-cell jsgrid-align-center" style="width:6%">CASH</th>
                                                        <th class="jsgrid-header-cell jsgrid-align-center" style="width:6%">UPI</th>
                                                        <th class="jsgrid-header-cell jsgrid-align-center" style="width:6%">CARD</th>

                                                        <th class="jsgrid-header-cell jsgrid-align-center" style="width:7%">Bill Amount</th>
                                                        <th class="jsgrid-header-cell jsgrid-align-center" style="width:7%">Bal Amount</th>

                                                        <th class="jsgrid-header-cell jsgrid-align-center" style="width:10%">Desc</th>
                                                        <th class="jsgrid-header-cell jsgrid-align-center" style="width:2%"><i class="icon-trash"></i></th>






                                                    </tr>

                                                </table>
                                            </div>
                                            <div id="proddiv" class="" style="position: relative;overflow-x: auto;overflow-y:scroll;height:300px; width: 2030px;border-bottom:1px solid;border-bottom-color:#e9e9e9">
                                                <table width="100%" class="jsgrid-table" id="PDCReceived"></table>
                                            </div>
                                        </div>
                                    </div>





                                    <input type="text" id="txtRowCount" readonly="readonly" style="display:none" value="0" />
                                    <input type="text" id="PDCNo" style="display:none">

                                    <div class="form-actions">

                                        <div class="text-right">
                                            <input type="text" id="slnotxt" class="form-control" value="1" style="display:none">
                                            @*<input type="text" id="VoNo" class="form-control">*@


                                            <button type="button" style="width:100px" id="btnprint" onclick="reportprint()" class="btn btn-primary btn-min-width mr-1 mb-1">Print <i class="ft-printer"></i></button>



                                            <button type="button" style="width:100px" id="btnsubmit" class="btn btn-primary btn-min-width mr-1 mb-1"><u>S</u>ave <i class="fa fa-check-square-o"></i></button>

                                            <button type="button" style="width:100px" id="btnnew" onclick="Clear()" class="btn btn-primary btn-min-width mr-1 mb-1">Clear <i class="ft-refresh-cw position-right"></i></button>
                                            <button style="display:none" type="button" id="btndelete" class="btn btn-primary btn-min-width mr-1 mb-1">Delete <i class="fa fa-times"></i></button>
                                       
   <button type="button" style="width:100px" id="btnExport" onclick="reportExport()" class="btn btn-primary btn-min-width mr-1 mb-1">Excel <i class="ft-printer"></i></button>


                                            <button type="button" style="width:100px;display:none" id="btnExportnew" class="btn btn-primary btn-min-width mr-1 mb-1">Excel <i class="ft-printer"></i></button>



 </div>
                                        <span style="font-weight:bold;margin-top:-100px">
                                            &#160;&#160;1.SI-Pharma Bill &#160;&#160;,
                                            2.LB-Lab Bill&#160;&#160;,
                                            3.PB-Procedure Bill&#160;&#160;,
                                            4.CON-Consult Fee&#160;&#160;
                                        </span>
                                    </div>
                                 
                                </div>
                              
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </section>
  
</div>


<script src="~/Scripts/ExcelExport/tableToExcel.js" type="text/javascript"></script>
<script>



    function reportExport() {
        $('#tbExport').html('');
        var RW=""
        //myWindow.document.write('<table width=100%><tr>' +
        //    '<tr><td style="font-size:18;font-weight:bold;font-family: tahoma;" colspan=3>' + window.CompanySettingsArray.CompanyName + '</td></tr>' +
        //    '<tr><td style="font-size:15;font-weight: bold;font-family: tahoma;" colspan=3>' + window.CompanySettingsArray.Address + '</td></tr>' +
        //    //'<tr><td>Fax</td><td> : </td><td>' + window.CompanySettingsArray.Fax + '</td></tr>' +
        //    '<tr><td style="font-size:15;font-weight: bold;font-family: tahoma;" colspan=3>' + window.CompanySettingsArray.Email + '</td></tr>' +
        //    '<tr><td style="font-size:15;font-weight: bold;border-bottom:1px solid black;font-family: tahoma;" colspan=3>' + window.CompanySettingsArray.PhoneNo + '</td></tr>' +
        //    '</table>');

       // myWindow.document.write('<tr ><td colspan=15 style="font-size:12;font-weight: bold;font-family: tahoma;">Pending Bills   ' + $('#ChequeDtFrom').val() + '-' + $('#ChequeDtTo').val() + '<td></tr>');

        RW+='<tr><td>Type</td><td>Date</td><td>Patient</td>  <td>MR No#</td>  <td>Bill No#</td>  <td>Bill Amount</td><td>Bal Amount</td><td>User</td></tr>';
       // myWindow.document.write('<tr ><td colspan=15 style="border-top:1px solid black;border-bottom:1px solid black"><td></tr>');

        for (var a = 0; a <= ROWC; a++) {

            RW +='<tr><td>' + $('#BankName' + a).text() + '</td><td >' + $('#VoucherDate' + a).text() + '</td>    <td>' + $('#AccDescription' + a).text() + '</td>            <td>' + $('#ChequeDate' + a).text() + '</td>      <td>' + $('#VoucherNo' + a).text() + '</td>                            <td align=right style="font-size:12;font-family: tahoma;">' + $('#BaseAmount' + a).text() + '</td><td align=right style="font-size:12;font-family: tahoma;">' + $('#FCAmount' + a).text() + '</td><td style="font-size:12;font-family: tahoma;">' + $('#usernm' + a).text() + '</td></tr>';

        }
        RW += '<tr><td></td><td ></td>    <td></td> TOTAL           <td></td>      <td></td>                            <td align=right style="font-size:12;font-family: tahoma;">' + $('#TotalAmountAll').val() + '</td><td align=right style="font-size:12;font-family: tahoma;">' + $('#TotalAmountAll').val()  + '</td><td style="font-size:12;font-family: tahoma;"></td></tr>';

        $('#tbExport').append(RW);
        let button = document.querySelector("#btnExportnew");
        button.addEventListener("click", e => {
            filename = "Pending Report-(" + window.CompanySettingsArray.PhoneNo + ") on-" + $('#LayouEOD').text() + ".xlsx"
            let table = document.querySelector("#tbExport");
            TableToExcel.convert(table);
        });

        $("#btnExportnew").click();
    }



     if ("@Request.QueryString["pid"]") {
       
         setTimeout(function () {
             $('#PDCAccountId').val("@Request.QueryString["pid"]")
             $('#PDCAccount').val( "@Request.QueryString["Preg"]")

             GetList()


        }, 1000);
    }




    function reportprint() {
        var myWindow = window.open("", "", "width=1500,height=1500");
        myWindow.document.write('<table width=100%><tr>' +
            '<tr><td style="font-size:18;font-weight:bold;font-family: tahoma;" colspan=3>' + window.CompanySettingsArray.CompanyName + '</td></tr>' +
            '<tr><td style="font-size:15;font-weight: bold;font-family: tahoma;" colspan=3>' + window.CompanySettingsArray.Address + '</td></tr>' +
            //'<tr><td>Fax</td><td> : </td><td>' + window.CompanySettingsArray.Fax + '</td></tr>' +
            '<tr><td style="font-size:15;font-weight: bold;font-family: tahoma;" colspan=3>' + window.CompanySettingsArray.Email + '</td></tr>' +
            '<tr><td style="font-size:15;font-weight: bold;border-bottom:1px solid black;font-family: tahoma;" colspan=3>' + window.CompanySettingsArray.PhoneNo + '</td></tr>' +
            '</table>');

        myWindow.document.write('<tr ><td colspan=15 style="font-size:12;font-weight: bold;font-family: tahoma;">Pending Bills   ' + $('#ChequeDtFrom').val() + '-' + $('#ChequeDtTo').val() + '<td></tr>');

        myWindow.document.write('<table width=100%><tr><td style="font-size:12;font-weight: bold;font-family: tahoma;">Type<td><td style="font-size:12;font-weight: bold;font-family: tahoma">Date<td><td style="font-size:12;font-weight: bold;font-family: tahoma">Patient<td>  <td style="font-size:12;font-weight: bold;font-family: tahoma">MR No#<td>  <td style="font-size:12;font-weight: bold;font-family: tahoma">Bill No#<td>  <td align=right style="font-size:12;font-weight: bold;font-family: tahoma">Bill Amount<td><td align=right style="font-size:12;font-weight: bold;font-family: tahoma">Bal Amount<td><td style="font-size:12;font-weight: bold;font-family: tahoma">User<td></tr>');
        myWindow.document.write('<tr ><td colspan=15 style="border-top:1px solid black;border-bottom:1px solid black"><td></tr>');

        for (var a = 0; a <= ROWC; a++) {

            myWindow.document.write('<tr><td style="font-size:12;font-family: tahoma;">' + $('#BankName' + a).text() + '<td><td style="font-size:12;font-family: tahoma;">' + $('#VoucherDate' + a).text() + '<td>    <td style="font-size:12;font-family: tahoma;">' + $('#AccDescription' + a).text() + '<td>            <td style="font-size:12;font-family: tahoma;">' + $('#ChequeDate' + a).text() + '<td>      <td style="font-size:12;font-family: tahoma;">' + $('#VoucherNo' + a).text() + '<td>                            <td align=right style="font-size:12;font-family: tahoma;">' + $('#BaseAmount' + a).text() + '<td><td align=right style="font-size:12;font-family: tahoma;">' + $('#FCAmount' + a).text() + '<td><td style="font-size:12;font-family: tahoma;">' + $('#usernm' + a).text() +'<td></tr>');

        }
        myWindow.document.write('<tr ><td colspan=15 style="border-top:1px solid black;border-bottom:1px solid black"><td></tr>');
        myWindow.document.write('<tr style="border-top:1px solid black;border-bottom:1px solid black"><td style="font-size:12;font-family: tahoma;"><td><td style="font-size:12;font-family: tahoma;"><td>    <td style="font-size:12;font-family: tahoma;"><td>            <td style="font-size:12;font-family: tahoma;"><td>      <td style="font-size:12;font-family: tahoma;"><td>                            <td align=right style="font-size:12;font-family: tahoma;"><td><td align=right style="font-size:12;font-weight: bold;font-family: tahoma;">' + $('#TotalAmountAll').val() + '<td><td align=right style="font-size:12;font-family: tahoma;"><td></tr>');
        myWindow.document.write('<tr ><td colspan=15 style="border-top:1px solid black;border-bottom:1px solid black"><td></tr>');
        myWindow.document.write('<tr ><td style="font-size:12;font-family: tahoma;" colspan=15">Prepared By :' + $('#UserDetsss').text() + ' - ' + (new Date().toLocaleString()).substring(10, 20) + '<td></tr>');
        myWindow.print();
    }


    $("#PDCAccount").autocomplete({
        delay: 0,
        minLength: 0,
        source: function (request, response) {

            var data = {};
            data.PatientName = $("#PDCAccount").val();
            data.DeptId = ERPDeptId;

            $.ajax({
                url: '../Revisit/HMS_PatientSearch',
                type: "POST",
                data: data,
                dataType: "json",
                success: function (data) {
                    response($.map(data, function (item) {
                        return ({
                            ColCount: '3RR',
                            label: item.OPSerName + '-' + item.OPNumber,
                            label1: item.PatientName,
                            label2: item.Add1,
                            label3: item.Add2,
                            label4: item.Contact,
                            PatientId: item.PatientId,
                            DOB: item.DOB,
                            Contact: item.Contact,
                            OPNumber: item.OPNumber,
                            PatientName: item.PatientName,
                            headers: ["RegNo", "Patient", "Guardian", "Address", "Mobile"]
                        })
                    }));
                }



            })
        },
        autoFocus: true,
        select: function (event, ui) {
            $('#PDCAccountId').val(ui.item.PatientId);
            $("#DocName").focus();
        },

    });


    //$("#PDCAccount").autocomplete({
    //    source: function (request, response) {
    //        var data = {};
    //        data.AccCode = $("#PDCAccount").val();
    //        $.ajax({
    //            url: '../AccountsErp/AccSearch',
    //            type: "POST",
    //            data: data,
    //            dataType: "json",
    //            success: function (data) {
    //                response($.map(data, function (item) {
    //                    return ({
    //                        ColCount: '-2',

    //                        label: item.AccCode,
    //                        label1: item.AccDescription,
    //                        Acc_Desc: item.AccDescription,
    //                        Acc_Id: item.AccId,
    //                        headers: ["Account Code", "Account Name"]
    //                    })
    //                }));
    //            }
    //        })
    //    },
    //    autoFocus: true,

    //    select: function (event, ui) {
    //        $('#PDCAccountId').val(ui.item.Acc_Id);

    //        $('#BankAccount').focus();
    //    },

    //});

    $("#BankAccount").autocomplete({
        source: function (request, response) {
            var data = {};
            data.AccCode = $("#BankAccount").val();
            $.ajax({
                url: '../AccountsErp/AccSearch',
                type: "POST",
                data: data,
                dataType: "json",
                success: function (data) {
                    response($.map(data, function (item) {
                        return ({
                            ColCount: '2',
                            label: item.AccCode,
                            label1: item.AccDescription,
                            Acc_Id: item.AccId,
                            headers: ["Account Code", "Account Name"]
                        })
                    }));
                }
            })
        },
        autoFocus: true,

        select: function (event, ui) {
            $('#BankAccountId').val(ui.item.Acc_Id);
            $('#TransferDate').focus();
        },

    });
</script>






