
@{
    ViewBag.Title = "OutstatndingStatmentPDC";
}

<script src="~/Scripts/Autocomplete/jquery-ui.js"></script>

<script>
    var decimal = Decimal;
    function popuprefresh() {
        $('#popupdiv').hide();
    }


    

    var summ = 0; var gpayy = 0; var Cardpay = 0;
    function ShowListconsolidated(result) {
        disable_datatable('Tblreport', 'buttonPlace');
        var responseText = "<thead><tr><th>Slno</th><th>Ref#</th><th>Type</th><th>Date</th><th>Shift</th><th>User</th><th>Cash</th><th>UPI/CARD</th><th>Diff</th><th></th></tr></thead><tbody>";
        var responseText1 = "";
        for (var i = 0; i < result.length; i++) {
            var slno = parseInt(i + 1);
            responseText += '<tr><td width=10px>' + slno + '</td><td width=30px>' + result[i].VoucherNo + '</td><td>' + result[i].VTypePrefix + '</td><td>' + result[i].VDate + '</td><td>' + result[i].AccCode + '</td><td>' + result[i].AccName + '</td><td  style=text-align:right>' + parseFloat(result[i].Amount || 0).toFixed(decimal) + '</td>  <td  style=text-align:right>' + parseFloat(result[i].PDCAccCode || 0).toFixed(decimal) + '</td> <td  style=text-align:right>' + parseFloat(result[i].ChequeDate || 0).toFixed(decimal) + '</td>  <td style="width:3%" class="text-center"><button class="btn  white btn-round btn-xs" type="button" style="background-color:black;font-size:smaller;margin:0" onclick="SalesGetCall(' + result[i].VoucherNo +')" data-toggle="tooltip" data-placement="right" data-original-title="Preview" autocomplete="off"> <i class="ft-eye"></i></button></td></tr>';
            summ = summ + result[i].Amount;
            gpayy = gpayy + parseFloat(result[i].ChequeDate || 0)
            Cardpay = Cardpay + parseFloat(result[i].Bank || 0)
            if (slno == result.length) {
                responseText1 += '<tr style=background-color:#cfd8dc><td>' + slno + '</td><td></td><td></td><td></td><td></td><td><b>Grand Total</b></td><td  style=text-align:right><b>' + parseFloat(sum || 0).toFixed(decimal) + '</b></td><td  style=text-align:right><b>' + parseFloat(gpay || 0).toFixed(decimal) + '</b></td><td  style=text-align:right><b>' + parseFloat(Cardpay || 0).toFixed(decimal) + '</b></td><td></td><td></td><td></td></tr>'
            }
        }
        $('#Tblreport').html(responseText + '</tbody>');
        sum = 0;
      
        var title = "Cash Collection Report from- " + $("#DateFrom").val() + " to " + $("#DateTo").val() + "";
        datatableWithsearch('Tblreport', true, title, 'buttonPlace');
        $('#header').text(title);
    }



    function disable_datatable(tablename, tableButtonContainerId) {
        $('#Warningpopup').fadeOut();
        if ($.fn.DataTable.isDataTable('#' + tablename)) {
            var table = $('#' + tablename).DataTable();
            table.destroy();
            if (tableButtonContainerId) { $("#" + tableButtonContainerId).empty(); }
            return;
        }
    }



    function datatableWithsearch(tablename, download, title, tableButtonContainerId) {

        var a = '#' + tablename + ' tfoot th'
        $(a).each(function () {
            var title = $(this).text();
            if (title != 'Edit' && title != 'Select' && title != 'Slno' && title != 'Serial#' && title != 'Credit Limit' && title != 'Due Days' && title != 'O Balance' && title != ' ')
                $(this).html('<input type="text" placeholder="Search ' + title + '" style="width=100%" />');
            if (title == 'Key')
                $(this).html('<input type="text" placeholder="' + title + '" style="width:100%" />');
        });
        var table = null;
        if (download) {
            if (!title || !tableButtonContainerId) { console.log("download table need title and button container"); }

            // AddColumnSelectionButton(tableButtonContainerId, tablename)

            table = $('#' + tablename).DataTable({
                // dom: 'Bfrtip',
                dom: "<'row'<'col-sm-1'l><'col-sm-11'f>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-1'i><'col-sm-11'p>>",
                buttons: []

            });
            new $.fn.dataTable.Buttons(table, {
                buttons: [
                    {
                        extend: 'collection',
                        text: 'Export',
                        className: 'excelexport',
                        buttons: [
                            {
                                extend: 'excelHtml5',
                                title: '',
                                messageTop: title,
                                exportOptions: { columns: ":visible" }
                            },
                            {
                                extend: 'pdfHtml5',
                                title: '',
                                messageTop: title,
                                exportOptions: { columns: ":visible" }
                            },
                            {
                                extend: 'print',
                                title: '',
                                messageTop: title,
                                exportOptions: { columns: ":visible" }
                            }
                        ]
                    },
                    'colvis'
                ]
            });
            table.buttons(0, null).container().appendTo($("#" + tableButtonContainerId));
            $("#" + tableButtonContainerId).find(".buttons-collection").addClass("btn-outline-primary mx-1").css("border-radius", "4px");
            //$("#" + tableButtonContainerId).off("click.emButtonEvent").on("click.emButtonEvent", "[data-em-col]", function () {
            //    var column = table.column($(this).attr('data-em-col'));
            //    console.log($(this).attr('data-em-col'));
            //    console.log(column);
            //    column.visible($(this).prop("checked"));
            //});
        } else {
            table = $('#' + tablename).DataTable();
        }
        table.columns().every(function () {
            var that = this;
            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();

                }
            });
        });
        if (ExcelExport == 0) {
            $('.excelexport').hide();
        }
    }





    var sum = 0; var gpay = 0; var Cpay = 0;
    function ShowList(result) {

        disable_datatable('Tblreport', 'buttonPlace');
        var responseText = "<thead><tr><th>Slno</th><th>VoucherNo</th><th>Type</th><th>Date</th><th>MR NO#</th><th>Name</th><th>Cash</th><th>UPI/BANK</th><th>-</th><th>User</th></tr></thead><tbody>";
        var responseText1="";
        for (var i = 0; i < result.length; i++) {
            var slno = parseInt(i + 1);
            responseText += '<tr><td width=10px>' + slno + '</td><td width=30px>' + result[i].VoucherNo + '</td><td>' + result[i].VTypePrefix + '</td><td>' + result[i].VDate + '</td><td>' + result[i].AccCode + '</td><td>' + result[i].AccName + '</td><td  style=text-align:right>' + parseFloat(result[i].Amount || 0).toFixed(decimal) + '</td><td  style=text-align:right>' + parseFloat(result[i].ChequeDate || 0).toFixed(decimal) + '</td><td style=text-align:right></td><td>' + result[i].Bank + '</td></tr>';
            sum = sum + result[i].Amount;
            gpay = gpay + parseFloat(result[i].ChequeDate || 0)
            Cpay = 0;

            if (slno == result.length) {
                responseText1 += '<tr style=background-color:#cfd8dc><td>' + slno + '</td><td></td><td></td><td></td><td></td><td><b>Grand Total</b></td><td  style=text-align:right><b>' + parseFloat(sum || 0).toFixed(decimal) + '</b></td><td  style=text-align:right><b>' + parseFloat(gpay || 0).toFixed(decimal) + '</b></td><td><b>' + parseFloat(Cpay || 0).toFixed(decimal) + '</b></td><td>55</td></tr>'
            }
        }
        $('#Tblreport').html(responseText + '</tbody>'  );
        sum = 0;        
        $('#Tblreportprint').html(responseText + '</tbody>');
        var title = "Cash Collection Report from- " + $("#DateFrom").val() + " to " + $("#DateTo").val() + "";
        datatableWithsearch('Tblreport', true, title, 'buttonPlace');
        $('#header').text(title);
    }

    var tableToExcel = (function () {
        var uri = 'data:application/vnd.ms-excel;base64,'
          , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
          , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
          , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
        return function (table, name) {
            if (!table.nodeType) table = document.getElementById(table)
            var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML }
            window.location.href = uri + base64(format(template, ctx))
        }
    })

    function AccountLoad() {
        var flag;
        var accno = {};
        accno.DeptId = ERPDeptId;
        accno.flag = $('#AccountType').val();
        $.ajax({
            type: "POST",
            url: "../AccountsErp/AccountNoGetandGets",
            data: accno,
            success: function (result) {
                getacno(result.oList);
            }
        });
    }

    function getacno(result) {
        for (var k = 0; k < result.length; k++) {
            if (k == 0) {
                $('#PDCAccount').val(result[k].TaxAcc);
                $('#PDCAccountId').val(result[k].TaxAccId);
            }
        }
    }

    $(function () {

       // GetDept(0);
        $('#AccountType').focus();

        $('#AccountType').keydown(function (e) {
            var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
            if (key == 13) {
                $('#PDCAccount').focus();
                e.preventDefault();
            }
        });
        $("#PDCAccount").keydown(function (e) {
            var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
            $('#PDCAccountId').val(0);
            if (key == 13) {
                e.preventDefault();
                $('#vDept').focus();
            }

        });
        $('#vDept').keydown(function (e) {
            var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
            if (key == 13) {
                $('#btnsubmit').focus();
                e.preventDefault();
            }
        });


        $('#PDCAccountId').val(ERPUserId)
        $("#PDCAccount").val($('#UserDetsss').text())

        $("#PDCAccount").autocomplete({
            delay: 0,
            minLength: 0,
            source: function (request, response) {
                var data1 = {};
                data1.UserName = $("#PDCAccount").val();

                $.ajax({
                    url: '../Master/UserSearchInUserMenuSettings',
                    type: "POST",
                    data: data1,
                    dataType: "json",
                    success: function (data) {

                        response($.map(data, function (item) {

                            return ({
                                ColCount: '1',
                                label: item.UserName,
                                UserId: item.UserId,
                                UserName: item.UserName,
                                UserRole: item.UserRole,
                                MenuCode: item.MenuCode,
                                headers: ["User"]
                            })
                        }));
                    }

                })

            },
            autoFocus: true,
            select: function (event, ui) {              
                $('#PDCAccountId').val(ui.item.UserId);
            },
        });

        
        //$("#PDCAccount").autocomplete({
        //    source: function (request, response) {
        //        var data = {};
        //        data.AccCode = $("#PDCAccount").val();
        //        $.ajax({
        //            url: '../AccountsErp/AccSearch',
        //            type: "POST",
        //            data: data,
        //            dataType: "json",
        //            success: function (data) {
        //                console.log(data);
        //                response($.map(data, function (item) {
        //                    return ({
        //                        ColCount: '2',
        //                        label: item.AccCode,
        //                        label1: item.AccDescription,
        //                        Acc_Id: item.AccId,
        //                        headers: ["Account Code", "Account Name"]
        //                    })
        //                }));
        //            }
        //        })
        //    },
        //    autoFocus: true,

        //    select: function (event, ui) {
        //        $('#PDCAccountId').val(ui.item.Acc_Id);
        //    },

        //});

       // $('#DateFrom').val(FinanceStartDate)
        $('#DateFrom').daterangepicker({
            minDate: minDate,
            maxDate: new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate()),
            singleDatePicker: true,
            showDropdowns: true,
            locale: {
                format: 'DD/MM/YYYY'
            }
        });

        $('#DateTo').daterangepicker({
            minDate: minDate,
            maxDate: new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate()),
            singleDatePicker: true,
            showDropdowns: true,
            locale: {
                format: 'DD/MM/YYYY'
            }
        });



        $("#btnsubmit").click(function (e) {
            SalesGetCall(0)
        });
    });



    function SalesGetCall(Vid) {
        if (0 != 0) {
            warningshow('Please Enter AccountCode', 'PDCAccount');
        }
        else {
            var data = {};
            data.DateFrom = $('#DateFrom').val();
            data.DateTo = $('#DateTo').val();
            data.PDCAccountId = $('#PDCAccountId').val();
            data.PDCType = $('#AccountType').val();
            data.DepartmentId = Vid;

            $.ajax({
                type: "POST",
                url: "../AccountsErp/OutstatndingStatmentPDCGetandGets",
                data: data,
                success: function (result) {
                    if (Vid != 0 && $('#AccountType').val()==2) {
                        ShowList(result.oList);  
                    }
                    else if (Vid == 0 && $('#AccountType').val() == 3) {
                        ShowList(result.oList);
                    }
                    else {
                        ShowListconsolidated(result.oList);
                    }

                    $('#divreport').show();
                    $('#popupdiv').hide();
                }
            });
        }
    }


    //function GetDept(id) {
    //    var data = {};
    //    data.DeptId = 0;
    //    $.ajax({
    //        type: "POST",
    //        url: "../Master/DepartmentGetandGets",
    //        data: data,
    //        success: function (result) {
    //            console.log(result)
    //            $.each(result.oList, function (index, ele) {
    //                $("#vDept").append($("<option>").attr("value", ele.DepartmentId).text(ele.DepartmentName));
    //            });
    //        }
    //    });
    //}
</script>

<div class="myData" data-x="M89" />
<div id="Entry">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" style="border-bottom:1px solid #e6e6e6">
                    <div>
                        <table width="100%">
                            <tr>
                                <td><h7 id="header"></h7></td>
                                <td width="25%"></td>
                                <td align="right"><button type="button" style="width:100px" onclick="$('#popupdiv').show(), $('#AccountType').focus()" id="btnback" class="btn btn-outline-primary">Back</button></td>
                                <td align="right">
                                    <div class="btn-group" id="buttonPlace">
                                        <div align="right">
                                            <div class="heading-elements">
                                                <div class="btn-group" id="buttonPlace">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div align="right">
                            <div class="heading-elements">
                                <br /><hr />
                                <div id="divreport" style="overflow:auto;display:none1">
                                    <table id="Tblreport" class="table table-striped table-bordered base-style dataTable"></table><br />
                                </div>


                                <div style="display:none">
                                    <table id="Tblreportprint"></table>
                                </div>

                                <br /><br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="popupdiv" class="modal fade text-left show" tabindex="-1" role="dialog" aria-labelledby="myheader" style="padding-right: 17px; background:rgba(0,0,0,0.5); display: block;height:200%">
    <div class="modal-dialog" role="document" style="top:5%">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Report Parameters</h4>
                <button type="button" class="close" onclick="popuprefresh()">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="DateFrom">From Date:</label>
                            <input type="text" class="form-control" id="DateFrom">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="dateTo">
                            <label for="DateTo">To Date:</label>
                            <input type="text" class="form-control" id="DateTo">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div style=""class="col-md-12">
                        <div class="form-group">
                            <label for="AccountType">Type:</label>
                            <select disabled id="AccountType" class="form-control">
                                <option value="2">Consolidated reports</option>
                                <option value="3">Detailed report</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="PDCAccount">User:</label>
                            <input type="text" class="form-control" id="PDCAccount">
                            <input type="hidden" class="form-control" id="PDCAccountId">
                        </div>
                    </div>
                </div>
                <div style="display:none" class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="vDept">Type:</label>
                            <select id="vDept" class="form-control">
                                <option value="0">Non Closed</option>
                                <option value="1">Closed</option>
                                <option value="2">All-</option>

                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" id="btnsubmit" class="btn btn-primary" data-dismiss="modal">Apply</button>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    //$(document).ready(function () {
    //    AccountLoad();
    //    });
</script>