
@{
    ViewBag.Title = "DailyPlannerRent";
}

<script type="text/javascript" src="../Projectscript/DailyPlannerRent.js"></script>
<script src="~/Scripts/Autocomplete/jquery-ui.js"></script>

<link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/tables/jsgrid/jsgrid-theme.min.css">
<link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/tables/jsgrid/jsgrid.min.css">

<style>
    #customView {
        border: 1px solid #CCD6E6;
    }
    .htdleft {
        padding-left: 2%;
    }
    .htdright {
        padding-right: 2%;
    }
    .htdtop {
        padding-top: .5%;
    }
    .htdbot {
        padding-bottom: .5%;
    }
    .input-group-text {
        cursor: pointer;
        border-color: rgb(0, 142, 145) !important;
        background-color: transparent;
        color: rgb(0, 142, 145) !important;
    }
        .input-group-text:hover {
            transform: scale(1.1);
            transition: transform 0.1s;
        }
        .input-group-text:hover {
            background-color: rgb(0, 142, 145) !important;
            color: rgb(255, 255, 255) !important;
        }
    .botlbl {
        margin-bottom: 0rem;
    }
    .Adddets .form-control {
        width: 90%;
    }

    .topcn {
        margin-top: -5%;
    }
    .headertable tr {
        border: 1px solid #BABFC7;
        height: 30px;
    }
    .hidtd {
        display: none;
    }
    kbd{
        padding: 0.3rem 0.4rem!important;
    }
    .jsgrid-cell {
    border: 1px solid lightblue!important;
}
    .notbookd:hover {   
   background-image:  linear-gradient(45deg, #cfd8dc, #546e7a);
}

    .tdhov {   
   background-image:  linear-gradient(45deg, #cfd8dc, #546e7a);
}

   
/*.tblheader th,.tblheader td { min-width: 150px; }*/
 
</style>

<div class="myData" data-x="M316" />
<div id="Entry" style="">

    <section class="grid-row-label">
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="px-3">
                        <div class="row">
                            <div class="col-md-4">
                                <h2 class="card-title mb-0 font-large-1" style="font-weight:bold;text-align:left;padding-top:20px;padding-bottom:10px"><i class="fa fa-calendar" aria-hidden="true"></i> DAILY PLANNER</h2>   
                            </div>
                            <div class="col-md-2">
                                <br />
                                <kbd style="display:none;background-color:#009da0;font-weight:700" class="stdiv">Status &nbsp;: <span id="ConStatus"></span></kbd>
                            </div>                           
                        </div>
                    </div>

                    <div class="card-content collapse show">
                        <div class="card-body" style="margin-top:-75px">

                            <form action="#">

                                <div class="form-body">
                                    <hr style="margin-top:75px" />


                                    <table class="hedrtbl" style="width:100%;background-color:#F0F6F6;margin-top:-1%">
                                        <tr class="row htdtop">
                                            <td class="col-md-1 htdleft">
                                                <label style="font-weight:bold">Start Date</label>
                                            </td>
                                            <td class="col-md-2">
                                                <input type="text" id="StartDate" class="form-control" onchange="TermsLoad(1)">                                               
                                            </td>
                                            <td class="col-md-1">
                                                <label style="font-weight:bold">Interval Days</label>
                                            </td>
                                            <td class="col-md-2">
                                                <select id="IntervalDays" class="form-control" onchange="GetTable(1)">
                                                    
                                                </select>

                                            </td>

                                            <td class="col-md-1">
                                                <label style="font-weight:bold">Make</label>
                                            </td>
                                            <td class="col-md-2">
                                                <select id="Make" class="form-control">
                                                    <option value=0>-Select-</option>
                                                </select>
                                            </td>
                                            <td class="col-md-1 ">
                                                <label style="font-weight:bold">Model</label>
                                            </td>
                                            <td class="col-md-2 htdright">
                                                <select id="Modal" class="form-control">
                                                  
                                                </select>
                                            </td>
                                        </tr>
                                        <tr class="row htdtop">
                                            <td class="col-md-1 htdleft">
                                                <label style="font-weight:bold;width: 150%!important;">Vehicle Type</label>
                                            </td>
                                            <td class="col-md-2">
                                                <select id="VehicleType" class="form-control"></select>
                                            </td>
                                            <td class="col-md-1">
                                                <label style="font-weight:bold">Location</label>
                                            </td>
                                            <td class="col-md-2">
                                                <select id="Location" class="form-control" ></select>
                                            </td>
                                            <td class="col-md-1">
                                                <label style="font-weight:bold">Car</label>
                                            </td>
                                            <td class="col-md-2">
                                                <input type="text" id="CarName" class="form-control atfcs">
                                                <input type="text" id="CarHidId" class="form-control" style="display:none">
                                            </td>
                                            <td class="col-md-2">
                                                <button type="button" class="btn btn-outline-primary" style="width:100px" onclick="VehicleLoad(1)"  id="SearchDet" onkeydown="Focusinput('btnnew', event, 'SearchDet')"><i class="icon-magnifier"></i> Search</button>
                                                <button type="button" class="btn btn-outline-primary" style="width:100px" id="btnnew" onclick="formrefresh(0)" onkeydown="Focusinput('SearchDet', event, 'btnnew')"><i class="ft-refresh-cw position-right"></i> Clear</button>
                                            </td>
                                           
                                            <td class="col-md-1">
                                               
                                            </td>
                                            <td class="col-md-2 htdright">
                                              
                                            </td>

                                        </tr>
                                    
                                    </table>

                                    <hr style="margin-top:.3%" />

                                    <div class="px-3" style="margin-top:-.7%">
                                        <table style="" class="Adddets" cellpadding="10" >
                                            <tr>
                                                <td style="width:85%">
                                                    <kbd style="background-color:hotpink;font-weight:700" >On Agreement</kbd>
                                                </td>
                                                <td>
                                                    <input type="text" id="SearchInput" class="form-control atfcs" onkeyup="SearchInTable()" placeholder="Search for data..">
                                                </td>
                                                <td style="display:none">
                                                    <kbd style="background-color:#1B5E20;font-weight:700">Agreement From Reservation</kbd>
                                                </td>
                                                <td style="display:none">
                                                    <kbd style="background-color:#B71C1C;font-weight:700">Overdue Agreement</kbd>
                                                </td>
                                                <td style="display:none">
                                                    <kbd style="background-color:#FFFF00;font-weight:700;color:black">Walkin Reservation</kbd>
                                                </td>
                                                <td style="display:none">
                                                    <kbd style="background-color:#EF6C00;font-weight:700">Online Reservation</kbd>
                                                </td>

                                                <td style="display:none">
                                                    <kbd style="background-color:#22F6FF;font-weight:700;color:black">New Reservation</kbd>
                                                </td>                                              
                                            </tr>                                        
                                        </table>
                                    </div>
                                    <br />
                                    <div class="px-2" style="margin-top:-1.3%">
                                        <div id="customView" class="tblheader" style="overflow:hidden;overflow-x:auto;width: 100%;height:555px;">
                                        </div>
                                    </div>

                                    <div class="form-actions row px-3">
                                        <div class="col-md-7 row">

                                        </div>
                                        <div class="col-md-5 text-right">                                           
                                          
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@*<div id="divContainer"
     style="width: 100px;
            height: 100px;
            line-height: 100px;
            border-radius: 50%;
            background-color: green;
            display: none;">
</div>*@

<style>
    .divpop{
        position: absolute;
        text-align: center;
        display:none;
        color:white;
         border-radius:5px;
    }
    #divContainer { 
    border: solid 1px #FF2D3C;
    /*max-width: 200px;*/
    width: auto;
    height: auto; 
    background-color: #FF2D3C;      
}
    #divContainerNew {   
    border: solid 1px black;
    min-width: 200px;
    min-height: 40px;
    padding-top:8px;
    width: auto;
    height: auto;
    background-color: black;
    cursor:pointer!important;
    font-weight:bold;
   
}
</style>

<div id="divContainerNew" class="row divpop" onmouseleave="ShowDetails(3, 0);">
    <div onclick="NewAgrmnt($('#CarNum0').val(), $('#CarCode0').val(), $('#CarDate').val())">New Agreement</div>
    <div style="display:none"><input type="text" id="CarNum0" class="form-control" /><input type="text" id="CarCode0" class="form-control" /><input type="text" id="CarDate" class="form-control" /></div>
</div>

<div id="divContainer" class="row divpop">
    <div >Agreement No :  <span class=ppfld id="PopAgrNo0"></span></div>
    <div >Customer Name : <span class=ppfld id="PopCustName0"></span></div>
    <div >Phone No :      <span class=ppfld id="PopPhon0"></span></div>
    <div >Checkin Time :  <span class=ppfld id="PopCheckIn0"></span></div>
</div>

<script>
    function NewAgrmnt(CarId, CarCode, AgrDate) {

        var CarId = CarId;
        var CarCode = CarCode;
        var AgrDate = AgrDate;
   
        sessionStorage.setItem("CarId", CarId);
        sessionStorage.setItem("CarCode", CarCode);
        sessionStorage.setItem("AgrDate", AgrDate); 
    
        window.location = "@Url.Action("CarAgreement", "CarAgreement", new { from = "DailyPlannerRent" })"; 
    }
    $("#CarName").autocomplete({
        delay: 0,
        minLength: 0,
        source: function (request, response) {
            $('#CarHidId').val('');            
            var data = {};
            data.VechicleNo = $("#CarName").val();
            $.ajax({
                url: '../CarAgreement/CarSearch',
                type: "POST",
                data: data,
                dataType: "json",
                success: function (data) {
                    response($.map(data, function (item) {
                        return ({
                            ColCount: '2',
                            label: item.VechicleNo,
                            label1: item.VechicleDesc,
                            VechicleId: item.VechicleId,
                            Model: item.Model,
                            Make: item.Make,
                            headers: ["Vechicle Code", "Vechicle Description"]
                        })
                    }));
                }
            })

        },
        autoFocus: true,
        select: function (event, ui) {
            $('#CarHidId').val(ui.item.VechicleId);         
            $('#CarName').focus().select(); 
        },

    }).on('keydown', function (e) {
        if ((e.which == 13) && (($('#CarName').val() == '') || (($('#CarHidId').val() || 0) != 0))) { 
            window.setTimeout(function () {
                $('#SearchDet').focus();
            });
        }
    });
</script>