
@{
    ViewBag.Title = "RentCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #CELL1 {
        border-right: 1px solid #cccccc;
        border-left: 1px solid #ffffff;
        width: 32%;
    }

    #CELL2 {
        border-right: 1px solid #cccccc;
        width: 50%;
    }

    #CELL3 {
        border-right: 1px solid #ffffff;
    }

    .label-control {
        font-weight: bold;
    }

    form .form-group {
        margin-bottom: 0.5em;
    }

    hr {
        border-color: #cccccc;
    }

    #ImageDiv,#NoImageDiv img {
        height: 100%;
        max-width: 100%;
        display: block;
        margin: auto;
    }
</style>


<script type="text/javascript" src="../Projectscript/Common.js"></script>
<script type="text/javascript" src="../Projectscript/RentCustomer.js"></script>
<div class="myData" data-x="M308" />

<div id="Entry">

    <div class="row" style="">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" style="border-bottom:1px solid #e6e6e6">
                    <table width="100%">
                        <tr>
                            <td><h4 class="card-title mb-0" style="font-weight:bold;">Customer</h4></td>
                            <td align="right">
                                <div class="col-md-6">

                                    <fieldset>
                                        <div class="custom-control custom-checkbox" style="float:right">
                                            <input type="checkbox" class="custom-control-input" id="select_status" checked="">
                                            <label class="custom-control-label" for="select_status">IsActive</label>
                                        </div>
                                    </fieldset>

                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="card-body">
                    <div class="px-3 py-1">

                        <table width="100%">
                            <tr>
                                <td id="CELL1" valign="top">
                                    <table width="95%">
                                        <tr>
                                            <td>
                                                <div class="card-content collapse show">
                                                    <div class="card-body">
                                                        <form class="form">
                                                            <div class="form-body">
                                                                <div class="row">
                                                                    <div class="col-md-12">

                                                                        <div class="form-group row">
                                                                            <label class="col-md-5 label-control" > Account Type<span class="danger">*</span></label>
                                                                            <div class="col-md-7">
                                                                                <select id="select_acnt" name="acnt" class="form-control"></select>
                                                                            </div>
                                                                        </div>



                                                                        <div class="form-group row">
                                                                            <label class="col-md-5 label-control" >Code<span class="danger">*</span></label>
                                                                            <div class="col-md-7">
                                                                                <table width="100%">
                                                                                    <tr>
                                                                                        <td width="40%">
                                                                                            <input type="text" id="txtacnt1" maxlength="4" class="form-control" style="border-right:none;background:white;border-top-right-radius:0px;border-bottom-right-radius:0px;text-align:right" disabled>
                                                                                        </td>
                                                                                        <td>
                                                                                            <input type="text" id="txtacnt" maxlength="4" class="form-control" name="acnt1" onkeypress="return isNumberInt(event, this)" autocomplete="off" style="border-top-left-radius:0px;border-bottom-left-radius:0px;border-left:none">
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                            </div>
                                                                        </div>


                                                                        <div class="form-group row">
                                                                            <label class="col-md-5 label-control" > Name<span class="danger">*</span></label>
                                                                            <div class="col-md-7">
                                                                                <input type="text" id="txtname" class="form-control" autocomplete="off">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group row">
                                                                            <label class="col-md-5 label-control" > DOB</label>
                                                                            <div class="col-md-7">
                                                                                <input type="text" id="txtdob" class="form-control dedate" autocomplete="off">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group row">
                                                                            <label class="col-md-5 label-control" >TRN#</label>
                                                                            <div class="col-md-7">
                                                                                <input type="text" id="txttrn" class="form-control" autocomplete="off">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group row">
                                                                            <label class="col-md-5 label-control" >Opening Balance</label>
                                                                            <div class="col-md-7">
                                                                                <input type="text" id="txtblnc" class="form-control" name="Balance" onkeypress="return isNumber(event, this)" disabled autocomplete="off">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group row">
                                                                            <label class="col-md-5 label-control" >Terms</label>
                                                                            <div class="col-md-7">
                                                                                <div class="input-group mb-0">
                                                                                    <select id="select_terms" class="form-control" style="height:40px;"></select>
                                                                                    <input type="text" id="txtduedays" class="form-control" disabled="" onkeypress="return isNumberInt(event, this)">

                                                                                </div>
                                                                            </div>
                                                                        </div>


                                                                        <div class="form-group row">
                                                                            <label class="col-md-5 label-control" >Credit Limit</label>
                                                                            <div class="col-md-7">
                                                                                <input type="text" id="txtcredit" class="form-control" name="Credit" onkeypress="return isNumber(event, this)" autocomplete="off">
                                                                            </div>
                                                                        </div>



                                                                        <div class="form-group row">
                                                                            <label class="col-md-5 label-control" >Currency<span class="danger">*</span></label>
                                                                            <div class="col-md-7">
                                                                                <select id="select_crncy" name="priority" class="form-control"></select>
                                                                            </div>
                                                                        </div>


                                                                        <div class="form-group row">
                                                                            <label class="col-md-5 label-control">Email </label>
                                                                            <div class="col-md-7">
                                                                                <input type="tel" class="form-control" id="txtcustemail">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group row">
                                                                            <label class="col-md-5 label-control" >Phone#</label>
                                                                            <div class="col-md-7">
                                                                                <input type="text" id="txtcustphone" class="form-control" onkeypress="return isNumberInt(event, this)">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group row">
                                                                            <label class="col-md-5 label-control" >Salesman</label>
                                                                            <div class="col-md-7">
                                                                                <select id="select_sales" name="priority" class="form-control"></select>
                                                                            </div>
                                                                        </div>

                                                                        
                                                                       

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>

                                            </td>
                                        </tr>
                                    </table>
                                </td>

                                <td id="CELL2" valign="top" style="height:600px;">
                                    <table width="100%">
                                        <tr>
                                            <td>

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="card-content collapse show">
                                                            <div class="card-body">
                                                                <ul class="nav nav-tabs nav-topline">
                                                                    <li class="nav-item">
                                                                        <a class="nav-link active" id="tab0" data-toggle="tab" aria-controls="div0" href="#div0" aria-expanded="true" style="font-weight:bold">&nbsp;Main Info</a>
                                                                    </li>
                                                                    <li class="nav-item">
                                                                        <a class="nav-link" id="tab1" data-toggle="tab" aria-controls="div1" href="#div1" aria-expanded="true" style="font-weight:bold">&nbsp;Address Info</a>
                                                                    </li>
                                                                    <li class="nav-item">
                                                                        <a class="nav-link" id="tab2" data-toggle="tab" aria-controls="div2" href="#div2" aria-expanded="false" style="font-weight:bold">Contact person Info</a>
                                                                    </li>

                                                                </ul>
                                                                <div class="tab-content px-1 pt-1  border-lighten-2 border-0-top">
                                                                    <div role="tabpanel" class="tab-pane active" id="div0" aria-expanded="true" aria-labelledby="tab0">
                                                                        <div class="repeater-default">
                                                                            <div data-repeater-list="car">
                                                                                <div data-repeater-item="">
                                                                                    <form class="form px-2">
                                                                                        <div class="form-group row pt-2 pb-2">

                                                                                            <label class="col-md-12 label-control"> <u>License Info</u></label>


                                                                                        </div>
                                                                                        <div class="form-group row">

                                                                                            <label class="col-md-2 label-control" >License No</label>
                                                                                            <div class="col-md-4">
                                                                                                <input type="text" id="textLicenseNo" class="form-control denull">
                                                                                            </div>
                                                                                            <label class="col-md-2 label-control" >Category</label>
                                                                                            <div class="col-md-4">
                                                                                                <input type="text" id="txtlicensecategory" class="form-control denull">
                                                                                            </div>
                                                                                        </div>

                                                                                        <div class="form-group row">
                                                                                            <label class="col-md-2 label-control" >Issued On</label>
                                                                                            <div class="col-md-4">
                                                                                                <input type="text" id="textlicnseissuedate" class="form-control dedate">
                                                                                            </div>
                                                                                            <label class="col-md-2 label-control" >Expire On</label>
                                                                                            <div class="col-md-4">
                                                                                                <input type="text" id="txtlicenseexpiry" class="form-control dedate">
                                                                                            </div>
                                                                                        </div>


                                                                                        <div class="form-group row">
                                                                                            <label class="col-md-2 label-control" >Issued State</label>
                                                                                            <div class="col-md-4">
                                                                                                <input type="text" id="txtlicenseissuedstate" class="form-control denull">
                                                                                            </div>
                                                                                            <label class="col-md-2 label-control" >Driving Exp.</label>
                                                                                            <div class="col-md-4">
                                                                                                <input type="text" id="txtdrivingexp" class="form-control denull">
                                                                                            </div>
                                                                                        </div>


                                                                                        <div class="form-group row pt-2 pb-2">

                                                                                            <label class="col-md-12 label-control"> <u>Company Info</u></label>


                                                                                        </div>
                                                                                        <div class="form-group row">

                                                                                            <label class="col-md-2 label-control" >Company</label>
                                                                                            <div class="col-md-4">
                                                                                                <input type="text" id="txtcompanyname" class="form-control denull">
                                                                                            </div>
                                                                                            <label class="col-md-2 label-control" >Work Ph#</label>
                                                                                            <div class="col-md-4">
                                                                                                <input type="text" id="txtworkphn" class="form-control denull" onkeypress="return isNumberInt(event, this)">
                                                                                            </div>
                                                                                        </div>

                                                                                        <div class="form-group row pt-2 pb-2">

                                                                                            <label class="col-md-12 label-control"> <u>ID Info</u></label>


                                                                                        </div>
                                                                                        <div class="form-group row">
                                                                                            <label class="col-md-2 label-control" >ID/Passport</label>
                                                                                            <div class="col-md-4">
                                                                                                <input type="text" id="txtpassportno" class="form-control denull">
                                                                                            </div>
                                                                                            <label class="col-md-2 label-control" >Nationality</label>
                                                                                            <div class="col-md-4">
                                                                                                <select type="text" id="txtnationality" class="form-control dezero"></select>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-group row">
                                                                                            <label class="col-md-2 label-control" >Issued On</label>
                                                                                            <div class="col-md-4">
                                                                                                <input type="text" id="txtpassportissued" class="form-control dedate">
                                                                                            </div>
                                                                                            <label class="col-md-2 label-control" >Expire On</label>
                                                                                            <div class="col-md-4">
                                                                                                <input type="text" id="txtpassportexpire" class="form-control dedate">
                                                                                            </div>
                                                                                        </div>



                                                                                    </form>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div role="tabpanel" class="tab-pane" id="div1" aria-expanded="true" aria-labelledby="tab1">
                                                                        <div class="repeater-default">
                                                                            <div data-repeater-list="car">
                                                                                <div data-repeater-item="">
                                                                                    <form class="form px-2">
                                                                                        <div class="form-group row pt-2 pb-2">

                                                                                            <label class="col-md-12 label-control"> <u>Billing Address</u></label>


                                                                                        </div>
                                                                                        <div class="form-group row">
                                                                                            <label class="col-md-2 label-control" > Street</label>
                                                                                            <div class="col-md-4">
                                                                                                <input type="text" id="txtadr1" class="form-control" name="Address1" onkeyup="checkauto()" autocomplete="off">
                                                                                            </div>
                                                                                            <label class="col-md-2 label-control" >City</label>
                                                                                            <div class="col-md-4">
                                                                                                <input type="text" id="txtadr3" class="form-control" name="Address3" onkeyup="checkauto()" autocomplete="off">
                                                                                            </div>
                                                                                        </div>

                                                                                        <div class="form-group row">
                                                                                            <label class="col-md-2 label-control" >State</label>
                                                                                            <div class="col-md-4">
                                                                                                <input type="text" id="txtstate" class="form-control" name="Address3" onkeyup="checkauto()" autocomplete="off">
                                                                                            </div>
                                                                                            <label class="col-md-2 label-control" >Pin</label>
                                                                                            <div class="col-md-4">
                                                                                                <input class="form-control" type="email" id="txtpin" onkeyup="checkauto()" onkeypress="return isNumberInt(event, this)" autocomplete="off">
                                                                                            </div>
                                                                                        </div>

                                                                                        <div class="form-group row">
                                                                                            <label class="col-md-2 label-control" >Country</label>
                                                                                            <div class="col-md-4">
                                                                                                <input class="form-control" type="email" id="txtcntry" onkeyup="checkauto()" autocomplete="off">
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-group row pt-2 pb-2">

                                                                                            <label class="col-md-4 label-control"> <u>Shipping Address</u></label>
                                                                                            <div class="custom-control custom-checkbox col-md-8">
                                                                                                <input type="checkbox" class="custom-control-input" checked="" name="customCheck" id="select_adrs">
                                                                                                <label class="custom-control-label" for="select_adrs" style="font-weight:bold">Same As Billing Address</label>
                                                                                            </div>

                                                                                        </div>
                                                                                        <div class="form-group row">
                                                                                            <label class="col-md-2 label-control" >Street</label>
                                                                                            <div class="col-md-4">
                                                                                                <input type="text" id="txtadr2" class="form-control" name="Address2" readonly="">
                                                                                            </div>
                                                                                            <label class="col-md-2 label-control" > City</label>
                                                                                            <div class="col-md-4">
                                                                                                <input type="text" id="txtcity" class="form-control" name="Contact" readonly="">
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-group row">
                                                                                            <label class="col-md-2 label-control" > State</label>
                                                                                            <div class="col-md-4">
                                                                                                <input type="text" id="txtstate1" class="form-control" name="Contact" readonly="">
                                                                                            </div>
                                                                                            <label class="col-md-2 label-control" > Pin</label>
                                                                                            <div class="col-md-4">
                                                                                                <input class="form-control" type="email" id="txtpin1" readonly="" onkeypress="return isNumberInt(event, this)">
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-group row">
                                                                                            <label class="col-md-2 label-control" >Country</label>
                                                                                            <div class="col-md-4">
                                                                                                <input class="form-control" type="email" id="txtcntry1" readonly="">
                                                                                            </div>
                                                                                        </div>








                                                                                    </form>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="tab-pane" id="div2" aria-labelledby="tab2">
                                                                        <div class="repeater-default">
                                                                            <div data-repeater-list="car">
                                                                                <div data-repeater-item="">
                                                                                    <form class="form px-2">
                                                                                        <div class="form-body">
                                                                                            <div class="form-group row">

                                                                                            </div>

                                                                                            <div class="form-group row">
                                                                                                <label class="col-md-2 label-control" >Person 1</label>
                                                                                                <div class="col-md-4">

                                                                                                    <input type="text" class="form-control" id="txtcn1" autocomplete="off">

                                                                                                </div>
                                                                                                <label class="col-md-2 label-control" >Contact#</label>
                                                                                                <div class="col-md-4">
                                                                                                    <input type="tel" placeholder="" class="form-control" id="txtcno1" onkeypress="return isNumberInt(event, this)" autocomplete="off">
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group row">
                                                                                                <label class="col-md-2 label-control" >Email </label>
                                                                                                <div class="col-md-4">
                                                                                                    <input type="text" id="txtemail" class="form-control" autocomplete="off">

                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group row pt-2 pb-2">

                                                                                                <label class="col-md-12 label-control"> <u>Additional</u></label>


                                                                                            </div>
                                                                                            <div class="form-group row">
                                                                                                <label class="col-md-2 label-control" >Person 2</label>
                                                                                                <div class="col-md-4">
                                                                                                    <input type="text" placeholder="" class="form-control" id="txtcn2" autocomplete="off">
                                                                                                </div>
                                                                                                <label class="col-md-2 label-control" >Contact#</label>
                                                                                                <div class="col-md-4">
                                                                                                    <input type="tel" class="form-control" id="txtcno2" onkeypress="return isNumberInt(event, this)" autocomplete="off">
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group row">
                                                                                                <label class="col-md-2 label-control" >Person 3</label>
                                                                                                <div class="col-md-4">
                                                                                                    <input type="text" placeholder="" class="form-control" id="txtcn3" autocomplete="off">
                                                                                                </div>
                                                                                                <label class="col-md-2 label-control" >Contact#</label>
                                                                                                <div class="col-md-4">
                                                                                                    <input type="tel" placeholder="" class="form-control" id="txtcno3" onkeypress="return isNumberInt(event, this)" autocomplete="off">
                                                                                                </div>
                                                                                            </div>



                                                                                            <div class="form-group row">
                                                                                                <label class="col-md-2 label-control" >Notes</label>
                                                                                                <div class="col-md-10">
                                                                                                    <textarea id="txtnotes" rows="10" class="form-control" autocomplete="off" name="notes" style="height:100px;"></textarea>
                                                                                                </div>

                                                                                            </div>





                                                                                        </div>
                                                                                    </form>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>


                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td id="CELL3" valign="top">

                                    <div class="col-md-12">
                                        <div class="">
                                            <div class="text-center" id="ImageDiv" style="height:250px;">


                                                <img id="myImg" src="~/app-assets/img/portrait/medium/avatar-m-9.png" alt="Gini" width="300" class="img-thumbnail gradient-back-to-earth" onerror="this.onerror = null; this.src = '../app-assets/img/portrait/medium/avatar-m-9.png';">

                                            </div>
                                            <div class="text-center" id="NoImageDiv" style="height:250px;display:none">


                                                <img id="myImg" src="~/app-assets/img/NoImage.png" width="300" class="img-thumbnail gradient-back-to-earth">

                                            </div>

                                        </div>
                                        <div class="" style="">
                                            <div class="" style="">

                                                <input type="file" id="selectedImage" accept="image/*"  class="btn btn-sm gradient-back-to-earth" style="width:100%;">



                                            </div>

                                        </div>
                                        <hr />
                                        <div class="text-center" style="display:none" id="fileuploaddiv">

                                            <button type="button" class="btn btn-info btn-sm white" style="width:115px;" onclick="ViewSavedFiles()" autocomplete="off">Documents <i class="fa fa-file-archive-o"></i></button>

                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="card-footer">
                    <div class="text-right">
                        <button type="button" style="width:100px" id="btnsubmit" class="btn btn-primary btn-min-width mr-1 mb-1"><u>S</u>ave <i class="fa fa-check-square-o"></i></button>
                        <button type="button" style="width:100px" id="btnlist" onclick="GetRows(0)" class="btn btn-primary btn-min-width mr-1 mb-1">List <i class="ft-align-justify"></i></button>
                        <button type="button" style="width:100px" id="btnnew" onclick="formrefresh()" class="btn btn-primary btn-min-width mr-1 mb-1">Clear <i class="ft-refresh-cw position-right"></i></button>
                        <button style="display:none" type="button" id="btndelete" class="btn btn-primary btn-min-width mr-1 mb-1">Delete <i class="fa fa-times"></i></button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="Document" class="modal fade text-left show" tabindex="-1" role="dialog" aria-labelledby="myheader" style="background: rgba(0, 0, 0, 0.5);display:none">
    <div class="modal-dialog modal-lg" role="document" style="top:10%;height:1000px;width:1000px">
        <div class="modal-content">
            <div class="modal-header bg-primary white" style="">
                <h4 class="modal-title" id="myheader" style="text-align:center">Documents</h4>
                <button type="button" class="close" onclick="$('#Document').hide()" data-dismiss="modal" aria-label="Close" autocomplete="off">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">



                        <div class="px-3 card-body card-dashboard overflow-auto" style="height:500px;">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="file" multiple name="CustomerFiles[]" id="CustomerfileUpload" class="btn btn-info mr-1 mb-1 btn-sm white" />
                                </div>                             
                            </div>



                            <table id="tbl_documentlist" class="table table-striped table-bordered zero-configuration dataTable"></table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="display:none;" id="listing">
    <section>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <table width="100%">
                            <tr>
                                <td><h4 class="card-title" style="font-weight:bold;">Customer List</h4></td>
                                <td align="right">
                                    <div class="heading-elements">
                                        <div>
                                            <button type="button" onclick="closelist()" class="btn btn-outline-primary" id="ed"><i class="ft-edit"></i> Add New</button>
                                            <span id="itemListButtonPlace">
                                            </span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>


                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard" style="overflow:auto">
                            <table id="tblcustomer" class="table table-striped table-bordered base-style dataTable"></table>
                            <br />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div id="CusConfirm" class="overlay">
    <div class="modal fade text-left show" id="keyboard" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" style="display: block; padding-right: 17px; top:28%;z-index:100">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <div class="swal-icon swal-icon--warning">
                        <span class="swal-icon--warning__body">
                            <span class="swal-icon--warning__dot"></span>
                        </span>
                    </div>
                    <div id="CusConfirmmessage" class="swal-title"></div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="CusConfirmflag" />
                    <input type="hidden" id="CusConfirmRowId" />
                    <button type="button" onclick="CusConfirmboxResult('false', $('#CusConfirmflag').val(), $('#CusConfirmRowId').val())" id="CusConfirmCancel" class="btn grey btn-outline-secondary btn-sizebig" data-dismiss="modal">Cancel</button>
                    <button type="button" onclick="CusConfirmboxResult('true', $('#CusConfirmflag').val(), $('#CusConfirmRowId').val())" id="CusConfirmOk" class="btn btn-outline-primary btn-sizebig" autofocus>Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade text-left show" id="addacnttype" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" style="padding-right: 17px; background:rgba(0,0,0,0.5); display: block;display:none;">
    <div class="modal-dialog" role="document" style="top:200px">
        <div class="modal-content">

            <div class="modal-body">
                <br /> <br />
                <center><h2 style="color:#ef1111">Please Add Account Type!</h2>    <br />    </center>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

        $(document).ready(function () {
            $("#txtacnt").focus(function () {
                $("#txtacnt1").css("background-color", "#e6ffff");
            });
            $("#txtacnt").focusout(function () {
                $("#txtacnt1").css("background-color", "white");
            });
            $('#txtdob').daterangepicker({
                minDate: new Date(new Date().getFullYear()-100, new Date().getMonth(), new Date().getDate()),
                maxDate: new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate()),
                singleDatePicker: true,
                showDropdowns: true,
                locale: {
                    format: 'DD/MM/YYYY'
                }

            });
            $('#textlicnseissuedate,#txtpassportissued').daterangepicker({
                minDate: new Date(new Date().getFullYear() - 50, new Date().getMonth(), new Date().getDate()),
                maxDate: new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate()),
                singleDatePicker: true,
                showDropdowns: true,
                locale: {
                    format: 'DD/MM/YYYY'
                }

            });
            $('#txtlicenseexpiry,#txtpassportexpire').daterangepicker({
                minDate: minDate,
                maxDate: new Date(new Date().getFullYear() + 50, new Date().getMonth(), new Date().getDate()),
                singleDatePicker: true,
                showDropdowns: true,
                locale: {
                    format: 'DD/MM/YYYY'
                }

            });
        });
       
        function addnew() {
            var no = $('#slno').val();
            $('#' + no).show("fast");
            $('#slno').val(+no + 1)
            if(no==3)
            {
                $('#aaaaa').hide();
            }
        }

        function isNumberInt(evt, selectedvalue) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            $(selectedvalue).val($(selectedvalue).val().replace(/[^0-9\.]/g, ''));
            if (charCode != 8 && charCode != 13 && (charCode < 48 || charCode > 57)) {
                evt.preventDefault();
                warningshow('Digits Only')
                return false;
            }
            return true;

        }
        function isNumber(evt, selectedvalue) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            $(selectedvalue).val($(selectedvalue).val().replace(/[^0-9\.]/g, ''));
            if (charCode != 8 && (charCode != 46 || $(selectedvalue).val().indexOf('.') != -1) && charCode != 13 && (charCode < 48 || charCode > 57)) {
                evt.preventDefault();
                warningshow('Digits Only')
                return false;
            }
            return true;

        }

        $('.form-control').attr('autocomplete', 'off');
</script>


<div style="display:none">
    <input type="text" value="0" id="CustId" />
    <input type="text" value="0" id="MapId" />

    <div class="form-group row">
        <label class="col-md-5 label-control">Supply To </label>
        <div class="col-md-7">
            <select id="select_place" class="form-control"></select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-5 label-control">Price Group</label>
        <div class="col-md-7">
            <select id="select_price" name="priority" class="form-control"></select>
        </div>
    </div>
</div>

