<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Voice Controlled Notes App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

   

</head>
<body>
    <div class="container">

       
        <div class="app">
           
            <div class="input-single">
                <textarea id="dhinesh"></textarea>
            </div>
            <button id="start-record-btn" title="Start">Start</button>
            <button id="pause-record-btn" title="Pause">Pause</button>
         

           

        </div>

    </div>

  

    <script src="~/Scripts/Voice/script.js"></script>


   

   

</body>
</html>