
@*@{
    ViewBag.Title = "ElectronicsShortCuts";
}




<style>
    .list-group-item:hover {
        box-shadow: 13px 15px 88px rgba(0, 0, 0, 0.5);
        -webkit-transition: box-shadow 0.5s;
        transform: scale(1.1);
        transition: transform 0.5s;
        cursor: pointer;
        background: #77deee;
        color: black;
        border: 0px solid white;
    }
</style>

<script type="text/javascript">

    function GotomenuPage(URL) {
        var win = window.open('../' + URL, '_blank');
        win.focus();
    }


</script>

<div class="row">
    <div class="color-group col-sm-3 mb-4">
        <div id="chatapp" class="col-12">
            <div class="card-body">
                <div class="card-block">
                    <ul class="list-group">

                        <li class="list-group-item" style="background:#009DA0;color:white">
                            <h5><b>INVENTORY</b></h5>
                        </li>

                        <li class="list-group-item" onclick="GotomenuPage('Production/ElectronicsProductMaster')">
                            <a class="menu-item" href="Production/ElectronicsProductMaster" target="_blank">
                                <i class="fa fa-paper-plane-o mr-1"></i> Product
                            </a>
                        </li>
                        <li class="list-group-item" onclick="GotomenuPage('Production/ElecCategoryProducts')">
                            <a class="menu-item" href="Production/ElecCategoryProducts" target="_blank">
                                <i class="fa fa-paper-plane-o mr-1"></i> Category-Accessories Mapping
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="color-group col-sm-3 mb-4">
        <div id="chatapp" class="col-12">
            <div class="card-body">
                <div class="card-block">
                    <ul class="list-group">

                        <li class="list-group-item" style="background:#009DA0;color:white">
                            <h5><b>Production</b></h5>
                        </li>

                        <li class="list-group-item" onclick="GotomenuPage('production/Production')">
                            <a class="menu-item" href="production/Production" target="_blank">
                                <i class="fa fa-paper-plane-o mr-1"></i> Production
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="color-group col-sm-3 mb-4">
        <div id="chatapp" class="col-12">
            <div class="card-body">
                <div class="card-block">
                    <ul class="list-group">

                        <li class="list-group-item" style="background:#009DA0;color:white">
                            <h5><b>Reports</b></h5>
                        </li>

                        <li class="list-group-item" onclick="GotomenuPage('ElectronicsReport/ElectronicsItemwiseReport')">
                            <a class="menu-item" href="ElectronicsReport/ElectronicsItemwiseReport" target="_blank">
                                <i class="fa fa-paper-plane-o mr-1"></i> Item Wise Report
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>

<div class="row col-md-12">
    <div id="" class="row col-md-1">
        <span style="width:5%"></span>
        <a id="" class="col-12  gradient-pomegranate text-center shortcut" onclick="GotomenuPage('Production/ElectronicsProductMaster')">

            <i class="ft-map display-block  font-large-1 my-3" style="color:white"></i>
            <span class="display-block font-weight" style="color:white">Product</span>
        </a>
    </div>
    <div id="" class="row col-md-1" style="margin-left:1%">
        <span style="width:5%"></span>
        <a id="" class="col-12  gradient-pomegranate text-center shortcut" onclick="GotomenuPage('Production/ElecCategoryProducts')">

            <i class="ft-map display-block  font-large-1 my-3" style="color:white"></i>
            <span class="display-block font-weight" style="color:white">Mapping</span>
        </a>
    </div>
    <div id="" class="row col-md-1" style="margin-left:1%">
        <span style="width:5%"></span>
        <a id="" class="col-12  gradient-pomegranate text-center shortcut" onclick="GotomenuPage('production/Production')">

            <i class="ft-map display-block  font-large-1 my-3" style="color:white"></i>
            <span class="display-block font-weight" style="color:white">Product</span>
        </a>
    </div>
    <div id="" class="row col-md-1" style="margin-left:1%">
        <span style="width:5%"></span>
        <a id="" class="col-12  gradient-pomegranate text-center shortcut" onclick="GotomenuPage('ElectronicsReport/ElectronicsItemwiseReport')">

            <i class="ft-map display-block  font-large-1 my-3" style="color:white"></i>
            <span class="display-block font-weight" style="color:white">Report-ItemWise</span>
        </a>
    </div>
</div>*@
