@{
    Layout = null;
}

<!DOCTYPE html>
<html lang"en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Medoc HMS</title>

    
        @*<link href="~/app-assets/css/Fonts/FontStyle.css" rel="stylesheet">*@
        <link rel="stylesheet" type="text/css" href="../app-assets/css/app.css">


    <link rel="stylesheet" type="text/css" href="../app-assets/logincss/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../app-assets/logincss/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../app-assets/logincss/reality-icon.css">
    <link rel="stylesheet" type="text/css" href="../app-assets/logincss/bootsnav.css">
    <link rel="stylesheet" type="text/css" href="../app-assets/logincss/jquery.fancybox.css">
    <link rel="stylesheet" type="text/css" href="../app-assets/logincss/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="../app-assets/logincss/owl.transitions.css">
    <link rel="stylesheet" type="text/css" href="../app-assets/logincss/cubeportfolio.min.css">
    <link rel="stylesheet" type="text/css" href="../app-assets/logincss/settings.css">
    <link rel="stylesheet" type="text/css" href="../app-assets/logincss/range-Slider.min.css">
    <link rel="stylesheet" type="text/css" href="../app-assets/logincss/search.css">
    <link rel="stylesheet" type="text/css" href="../app-assets/logincss/style.css">

    <link rel="shortcut icon" type="image/x-icon" href="../app-assets/img/ico/favicon.png">
    <style>
        body {
            overflow: hidden;
            background: #262b2e;
        }

        select.form-control:not([size]):not([multiple]) {
    height: 44px;
}

  .listphn>li{
     width: 20%;
     float: left !important;
  }

   .listphn>li.mobviewic{
     padding-bottom: 10px !important;
  }
    .listphn>li.mobviewichide{
     padding-top: 8px !important;
  }

   .mobviewichide [class^="icon-"], [class*=" icon-"] {
    font-size: xx-large!important;
}
 
        /*#wrapper canvas {
          position: absolute;
          top: 0;
          left: 0;
          width: 2100px;
          height: auto;
        }

        #canvas {
          z-index: 1;
        }
        #canvasbg {
          z-index: -10;
          -webkit-filter: blur(3px);
          -moz-filter: blur(3px);
          -o-filter: blur(3px);
          filter: blur(3px);
          opacity: 0.6;
        }*/
    </style>

</head>
<body data-col="1-column">

    <!--Loader-->
    <div class="loader">
        <div class="span">
            <div class="location_indicator"></div>
        </div>
    </div>
    <!--Loader-->
    @*<div class="pic-wrapper">
            <figure class="pic-1"></figure>
            <figure class="pic-2"></figure>
            <figure class="pic-3"></figure>
            <figure class="pic-4"></figure>
        </div>*@

    <div style="display:none">
        <span id="CurrVersion">All rights reserved. Version V.19.11.15</span>
    </div>
    <div id="versionoverlay" class="overlay" style="display:none;position:fixed;height:100%;width:100%;z-index:100">
        <div class="" style="margin-top:200px;height:500px">
            <div class="modal-dialog" role="document">
                <div class="modal-content  gradient-back-to-earth">

                    <div class="modal-body" style="text-align:center;">
                        <h3 style="color:black;font-weight:300"><B>New Version Updated.<br /> Clear History To Continue !!!</B><br />(Ctrl+Shift+Del)</h3>
                    </div>

                </div>

            </div>

        </div>
    </div>
    <script>


    </script>

  
    <!--Slider-->
    <div class="rev_slider_wrapper">
        <div id="rev_overlaped" class="rev_slider" data-version="5.0">
            <ul>
                <!-- SLIDE -->
                <li data-transition="fade">
                    <img src="~/app-assets/LoginImages/Image_1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" class="rev-slidebg">
                </li>
                <li data-transition="fade">
                    <img src="~/app-assets/LoginImages/Image_2.jpg" alt="" data-bgposition="center center" data-bgfit="cover" class="rev-slidebg">
                </li>
                <li data-transition="fade">
                    <img src="~/app-assets/LoginImages/Image_3.jpg" alt="" data-bgposition="center center" data-bgfit="cover" class="rev-slidebg">
                </li>
                <div class="tp-static-layers">
                    <div class="tp-caption tp-static-layer"
                         id="slide-37-layer-2"
                         data-x="['left','left','left','left']" data-hoffset="['50','50','50','50']"
                         data-y="['bottom','bottom','bottom','bottom']" data-voffset="['230','180','150','100']"
                         data-whitespace="nowrap"
                         data-visibility="['on','on','on','on']"
                         data-fontsize="['48','48','28','28']"
                         data-start="500"
                         data-responsive_offset="on"
                         data-basealign="slide"
                         data-startslide="0"
                         data-endslide="5"
                         style="z-index: 5;">
                        <h1><span class="t_white">Only a life lived in the service to others is worth living.</span></h1>
                    </div>
                    <div class="tp-caption tp-static-layer"
                         id="slide-37-layer-2"
                         data-x="['left','left','left','left']" data-hoffset="['50','50','50','50']"
                         data-y="['bottom','bottom','bottom','bottom']" data-voffset="['150','100','120','120']"
                         data-whitespace="nowrap"
                         data-visibility="['on','on','on','on']"
                         data-start="500"
                         data-basealign="slide"
                         data-startslide="0"
                         data-endslide="5"
                         style="z-index: 5;">
                        <p class="t_white">
                            HOSPITAL MANAGEMENT
                        </p>
                    </div>
                    <div class="tp-caption tp-static-layer"
                         id="slide-37-layer-2"
                         data-x="['left','left','left','left']" data-hoffset="['50','50','50','50']"
                         data-y="['bottom','bottom','bottom','bottom']" data-voffset="['60','60','60','60']"
                         data-whitespace="nowrap"
                         data-visibility="['on','on','on','on']"
                         data-start="500"
                         data-basealign="slide"
                         data-startslide="0"
                         data-endslide="5"
                         style="z-index: 5;">
                        @*<a href="listing1.html" class="btn-white border_radius uppercase">view Properties</a>*@
                    </div>
                </div>
            </ul>
        </div>
    </div>
    <!--Slider ends-->

    <div id="mainMenuBarAnchor"></div>
    <header class="white_header" style="bottom: 0 !important;">
        <nav class="navbar navbar-default bootsnav">
            
               
                        <div  class="navbar-collapse" id="navbar-menu" style="overflow: hidden !important;display:none+">
                            <ul class="nav navbar-nav listphn" data-in="fadeIn" data-out="fadeOut" style="padding-left:10px;padding-right:10px;padding-top:10px;width:100%">
                                <li class="mobviewic"><img src="../app-assets/img/text.png" alt="Logo" height="40px"></li>
                                <li class="mobviewichide">
                                    <table style="margin-top:-10px" width="100%">
                                        <tbody>
                                            <tr><td rowspan="2"><div class="icons"><i style="color:#1091a2" class="icon-telephone114"></i></div></td><td><strong>INDIA</strong></td></tr>
                                            <tr><td>+91-9042228520</td></tr>
                                        </tbody>
                                    </table>
                                </li>

                                <li class="mobviewichide">
                                    <table style="margin-top:-10px" width="100%">
                                        <tbody>
                                            <tr><td rowspan="2"><div class="icons"><i style="color:#1091a2" class="icon-telephone114"></i></div></td><td><strong>INDIA</strong></td></tr>
                                            <tr><td>+91-9042228520</td></tr>
                                        </tbody>
                                    </table>
                                </li>
                                @*<li class="mobviewichide">
            <table style="margin-top:-10px" width="100%">
                <tbody>
                    <tr><td rowspan="2"><div class="icons"><i style="color:#1091a2" class="icon-telephone114"></i></div></td><td><strong>UAE</strong></td></tr>
                    <tr><td>+971-585 33 66 33</td></tr>
                </tbody>
            </table>
        </li>*@

                                <li class="mobviewichide">
                                    <table style="margin-top:-10px" width="100%">
                                        <tbody>
                                            <tr><td rowspan="2"><div class="icons"><i style="color:#1091a2" class="icon-icons142"></i></div></td><td><strong>EMAIL</strong></td></tr>
                                            <tr><td>sales@medochms.com</td></tr>
                                        </tbody>
                                    </table>
                                </li>
                                <li class="mobviewichide">
                                    <table style="margin-top:-10px" width="100%">
                                        <tbody>
                                            <tr><td rowspan="2"><div class="icons"><i style="color:#1091a2" class="icon-icons74"></i></div></td><td><strong>INDIA-UAE</strong></td></tr>
                                            <tr><td>support@medochms.com</td></tr>
                                        </tbody>
                                    </table>
                                </li>
                            </ul>
                        </div>
                    
           
        </nav>
    </header>

    <button type="button" class="form_opener"><i class="fa fa-bars"></i></button>
    <div class="tp_overlay">
        <div class="topbar clearfix">
            <!--<ul class="breadcrumb_top">
                <li><a href="#"><i class="icon-icons43"></i>Favorites</a></li>-->
                <!--<li><a href="submit_property.html"><i class="icon-icons215"></i>Submit Property</a></li>-->
                <!--<li><a href="#"><i class="icon-icons215"></i>Appoinments</a></li>
                <li><a href="#"><i class="icon-icons230"></i>Profile</a></li>
                <li><a href="#" onclick="$('#UserName').focus()"><i class="icon-icons179"></i>Login / Register</a></li>
                <li class="last-icon"><i class="icon-icons215"></i></li>
            </ul>-->
        </div>

        <form style="margin-top:-50px;" class="callus top30 clearfix centered">
            <h2 class="text-uppercase t_white bottom20 text-center">User Login</h2>

            <h3 id="CompanyN" class="text-uppercase t_white bottom20 text-center">MEDOO ERP</h3>
            <div class="row">



                <div class="col-sm-12">
                    <div class="single-query bottom15">
                        <input type="text" class="form-control" name="UserName" id="UserName" placeholder="UserName" required autocomplete="off">
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="single-query bottom15">
                        <input type="password" class="form-control" name="Password" id="Password" placeholder="Password" required autocomplete="off">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="single-query bottom15">
                        <select class="form-control" name="DeptId" id="deptselect"></select>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0 ml-3">
                        <input type="checkbox" class="custom-control-input" checked id="rememberme" value="true" name="Persist" style="width: 15px;height: 15px;">
                        <label class="custom-control-label float-left bl" for="rememberme">Remember Me</label>
                    </div>
                </div>

                <div style="height:20px" class="col-sm-12"></div>


                <div class="col-md-12 text-center">
                    <a style="display:none" class="btn-white border_radius uppercase">Cancel</a>
                    <button type="button" id="btnlogin" class="btn-white border_radius uppercase white" style="cursor:pointer;background:#1F3F81!important">Login</button>
                    <button type="button" class="btn-white border_radius uppercase white" style="cursor:pointer;background:#1F3F81!important">Cancel</button>
                    <button type="button" id="clrsession" style="display:none" onclick="clearSession()" class="btn btn-secondary btn-block btn-raised">Clear Session</button>
                </div>




                <div class="col-sm-12">
                    <div class="card-footer">
                        <div class="float-left"><a style="display:none" id="Activatelink" onclick="activate()" class="white">Activate License</a></div>
                        <div class="float-right"><a onclick="Newuser()" class="white" style="color:white!important;cursor:pointer">New User?</a></div>
                    </div>
                </div>



            </div>


        </form>
    </div>






    @*<div class="wrapper">
            <div class="main-panel">
                <div class="main-content">
                    <div class="content-wrapper">
                        <!--Login Page Starts-->
                        <section id="login">
                            <div class="container-fluid" id="loginpage">
                                <div class="row full-height-vh">
                                    <div class="col-12 d-flex align-items-center justify-content-center">

                                        <div class="text-center width-400" style="border:1px solid WHITE; background-color: rgba(0,0,0,0.5);">



                                            <div class="card-img overlap" style="">
                                                <a href="http://eumierp.com/" target="_blank" class="text-bold-800 primary darken-2">
                                                    <br>
                                                    <br>




                                                    <img alt="element 06" class="mb-1" src="../app-assets/img/portrait/avatars/avatar-08.png" width="190">
                                                </a>
                                                <div style="margin-top:5%">
                                                    <a id="CompanyN" style="color:#DFB640;font-weight:500">.</a>
                                                </div>
                                            </div>


                                            <div class="card-body" style="">
                                                <div class="card-block">
                                                    <h2 class="white">Login</h2>
                                                    <form>
                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                <input type="text" class="form-control" name="UserName" id="UserName" placeholder="UserName" required="" autocomplete="off">

                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                <input type="password" class="form-control" name="Password" id="Password" placeholder="Password" required="" autocomplete="off">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                <select class="form-control" name="DeptId" id="deptselect"><option value="0">Select</option></select>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0 ml-3">
                                                                        <input type="checkbox" class="custom-control-input" checked="" id="rememberme" value="true" name="Persist">
                                                                        <label class="custom-control-label float-left bl" for="rememberme">Remember Me</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                <button type="button" id="btnlogin" class="btn btn-pink btn-block btn-raised">Login</button>
                                                                <button type="button" class="btn btn-secondary btn-block btn-raised">Cancel</button>
                                                                <button type="button" id="clrsession" style="display:none" onclick="clearSession()" class="btn btn-secondary btn-block btn-raised">Clear Session</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="card-footer">
                                                <div class="float-left"><a style="display:none" id="Activatelink" onclick="activate()" class="white">Activate License</a></div>
                                                <div class="float-right"><a onclick="Newuser()" class="white">New User?</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!--Login Page Ends-->
                    </div>
                </div>
            </div>
        </div>*@

    <div class="container">
        <!-- Modal -->
        <div class="modal fade" id="ExpiryDiv" role="dialog" style="">
            <div class="modal-dialog modal-sxl">
                <div class="modal-content">
                    <div class="modal-header">
                        <a href="#">Medoo Software House</a>
                        <button type="button" class="close" onclick="$('#ExpiryDiv').modal('hide');" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="col-md-12">
                            <div class="row" id="panel" style="margin-top:2%;">

                                <label class="col-md-5" style="text-align:left" id="reason">Key</label>
                                <div class="col-md-7">
                                    <label style="text-align:left" id="Comapnycode"></label>
                                </div>
                            </div>
                            <div class="row" id="panel" style="margin-top:2%;">

                                <label class="col-md-5" style="text-align:left" id="reason">Activation Code:</label>
                                <div class="col-md-7">
                                    <input type="text" id="expirycode" maxlength="19" onkeypress="Checklength(event)" onkeyup="changetoupper(this.id)" class="form-control" autocomplete="off">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <div class="col-md-12 row p-0">
                            <div class="col-md-4 p-0">
                                <div class="text-left">
                                    <button type="button" style="width:100px;display:none;" id="btnextend" onclick="Extend()" class="btn btn-outline-danger">Extend</button>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="text-right">
                                    <button type="button" style="width:100px;" id="btnhide" onclick=" $('#ExpiryDiv').modal('hide');" class="btn btn-outline-secondary">Cancel</button>
                                    <button type="button" style="width:100px" id="btnexpiry" onclick="CheckExpiry()" class="btn btn-outline-success">Continue</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>




    @*<div id="Loading" class="modal text-left show" tabindex="-1" role="dialog" aria-labelledby="myheader" style="margin-top:0%;display: none;">
            <div class="modal-dialog modal-dialog-centered" role="document" style="top:0%">

                <div id="dd" class="overlay">
                    <div style="position:fixed;top:45%;left:43%">
                        <img src="~/app-assets/img/Loading_1.gif" />
                    </div>
                </div>

            </div>
        </div>*@



    @*<div id="wrapper">
            <canvas id="canvas" width="2200px" height="1200px"></canvas>
            <canvas id="canvasbg" width="2000px" height="1200px"></canvas>
        </div>*@


    @*
            <script>

           // min and max radius, radius threshold and percentage of filled circles
        var radMin = 5,
          radMax = 125,
          filledCircle = 60, //percentage of filled circles
          concentricCircle = 30, //percentage of concentric circles
          radThreshold = 25; //IFF special, over this radius concentric, otherwise filled

        //min and max speed to move
        var speedMin = 0.3,
          speedMax = 2.5;

        //max reachable opacity for every circle and blur effect
        var maxOpacity = 0.6;

        //default palette choice
        var colors = ['52,168,83', '117,95,147', '199,108,23', '194,62,55', '0,172,212', '120,120,120'],
          bgColors = ['52,168,83', '117,95,147', '199,108,23', '194,62,55', '0,172,212', '120,120,120'],
          circleBorder = 10,
          backgroundLine = bgColors[0];
        var backgroundMlt = 0.85;

        //min distance for links
        var linkDist = Math.min(canvas.width, canvas.height) / 2.4,
          lineBorder = 2.5;

        //most importantly: number of overall circles and arrays containing them
        var maxCircles = 12,
          points = [],
          pointsBack = [];

        //populating the screen
        for (var i = 0; i < maxCircles * 2; i++) points.push(new Circle());
        for (var i = 0; i < maxCircles; i++) pointsBack.push(new Circle(true));

        //experimental vars
        var circleExp = 1,
          circleExpMax = 1.003,
          circleExpMin = 0.997,
          circleExpSp = 0.00004,
          circlePulse = false;

        //circle class
        function Circle(background) {
          //if background, it has different rules
          this.background = (background || false);
          this.x = randRange(-canvas.width / 2, canvas.width / 2);
          this.y = randRange(-canvas.height / 2, canvas.height / 2);
          this.radius = background ? hyperRange(radMin, radMax) * backgroundMlt : hyperRange(radMin, radMax);
          this.filled = this.radius < radThreshold ? (randint(0, 100) > filledCircle ? false : 'full') : (randint(0, 100) > concentricCircle ? false : 'concentric');
          this.color = background ? bgColors[randint(0, bgColors.length - 1)] : colors[randint(0, colors.length - 1)];
          this.borderColor = background ? bgColors[randint(0, bgColors.length - 1)] : colors[randint(0, colors.length - 1)];
          this.opacity = 0.05;
          this.speed = (background ? randRange(speedMin, speedMax) / backgroundMlt : randRange(speedMin, speedMax)); // * (radMin / this.radius);
          this.speedAngle = Math.random() * 2 * Math.PI;
          this.speedx = Math.cos(this.speedAngle) * this.speed;
          this.speedy = Math.sin(this.speedAngle) * this.speed;
          var spacex = Math.abs((this.x - (this.speedx < 0 ? -1 : 1) * (canvas.width / 2 + this.radius)) / this.speedx),
            spacey = Math.abs((this.y - (this.speedy < 0 ? -1 : 1) * (canvas.height / 2 + this.radius)) / this.speedy);
          this.ttl = Math.min(spacex, spacey);
        };

        Circle.prototype.init = function() {
          Circle.call(this, this.background);
        }

        //support functions
        //generate random int a<=x<=b
        function randint(a, b) {
            return Math.floor(Math.random() * (b - a + 1) + a);
          }
          //generate random float
        function randRange(a, b) {
            return Math.random() * (b - a) + a;
          }
          //generate random float more likely to be close to a
        function hyperRange(a, b) {
          return Math.random() * Math.random() * Math.random() * (b - a) + a;
        }

        //rendering function
        function drawCircle(ctx, circle) {
          //circle.radius *= circleExp;
          var radius = circle.background ? circle.radius *= circleExp : circle.radius /= circleExp;
          ctx.beginPath();
          ctx.arc(circle.x, circle.y, radius * circleExp, 0, 2 * Math.PI, false);
          ctx.lineWidth = Math.max(1, circleBorder * (radMin - circle.radius) / (radMin - radMax));
          ctx.strokeStyle = ['rgba(', circle.borderColor, ',', circle.opacity, ')'].join('');
          if (circle.filled == 'full') {
            ctx.fillStyle = ['rgba(', circle.borderColor, ',', circle.background ? circle.opacity * 0.8 : circle.opacity, ')'].join('');
            ctx.fill();
            ctx.lineWidth=0;
            ctx.strokeStyle = ['rgba(', circle.borderColor, ',', 0, ')'].join('');
          }
          ctx.stroke();
          if (circle.filled == 'concentric') {
            ctx.beginPath();
            ctx.arc(circle.x, circle.y, radius / 2, 0, 2 * Math.PI, false);
            ctx.lineWidth = Math.max(1, circleBorder * (radMin - circle.radius) / (radMin - radMax));
            ctx.strokeStyle = ['rgba(', circle.color, ',', circle.opacity, ')'].join('');
            ctx.stroke();
          }
          circle.x += circle.speedx;
          circle.y += circle.speedy;
          if (circle.opacity < (circle.background ? maxOpacity : 1)) circle.opacity += 0.01;
          circle.ttl--;
        }

        //initializing function
        function init() {
          window.requestAnimationFrame(draw);
        }

        //rendering function
        function draw() {

          if (circlePulse) {
            if (circleExp < circleExpMin || circleExp > circleExpMax) circleExpSp *= -1;
            circleExp += circleExpSp;
          }
          var ctxfr = document.getElementById('canvas').getContext('2d');
          var ctxbg = document.getElementById('canvasbg').getContext('2d');

          ctxfr.globalCompositeOperation = 'destination-over';
          ctxfr.clearRect(0, 0, canvas.width, canvas.height); // clear canvas
          ctxbg.globalCompositeOperation = 'destination-over';
          ctxbg.clearRect(0, 0, canvas.width, canvas.height); // clear canvas

          ctxfr.save();
          ctxfr.translate(canvas.width / 2, canvas.height / 2);
          ctxbg.save();
          ctxbg.translate(canvas.width / 2, canvas.height / 2);

          //function to render each single circle, its connections and to manage its out of boundaries replacement
          function renderPoints(ctx, arr) {
            for (var i = 0; i < arr.length; i++) {
              var circle = arr[i];
              //checking if out of boundaries
              if (circle.ttl<0) {}
              var xEscape = canvas.width / 2 + circle.radius,
                yEscape = canvas.height / 2 + circle.radius;
              if (circle.ttl < -20) arr[i].init(arr[i].background);
              //if (Math.abs(circle.y) > yEscape || Math.abs(circle.x) > xEscape) arr[i].init(arr[i].background);
              drawCircle(ctx, circle);
            }
            for (var i = 0; i < arr.length - 1; i++) {
              for (var j = i + 1; j < arr.length; j++) {
                var deltax = arr[i].x - arr[j].x;
                var deltay = arr[i].y - arr[j].y;
                var dist = Math.pow(Math.pow(deltax, 2) + Math.pow(deltay, 2), 0.5);
                //if the circles are overlapping, no laser connecting them
                if (dist <= arr[i].radius + arr[j].radius) continue;
                //otherwise we connect them only if the dist is < linkDist
                if (dist < linkDist) {
                  var xi = (arr[i].x < arr[j].x ? 1 : -1) * Math.abs(arr[i].radius * deltax / dist);
                  var yi = (arr[i].y < arr[j].y ? 1 : -1) * Math.abs(arr[i].radius * deltay / dist);
                  var xj = (arr[i].x < arr[j].x ? -1 : 1) * Math.abs(arr[j].radius * deltax / dist);
                  var yj = (arr[i].y < arr[j].y ? -1 : 1) * Math.abs(arr[j].radius * deltay / dist);
                  ctx.beginPath();
                  ctx.moveTo(arr[i].x + xi, arr[i].y + yi);
                  ctx.lineTo(arr[j].x + xj, arr[j].y + yj);
                  var samecolor = arr[i].color == arr[j].color;
                  ctx.strokeStyle = ["rgba(", arr[i].borderColor, ",", Math.min(arr[i].opacity, arr[j].opacity) * ((linkDist - dist) / linkDist), ")"].join("");
                  ctx.lineWidth = (arr[i].background ? lineBorder * backgroundMlt : lineBorder) * ((linkDist - dist) / linkDist); //*((linkDist-dist)/linkDist);
                  ctx.stroke();
                }
              }
            }
          }

          var startTime = Date.now();
          renderPoints(ctxfr, points);
          renderPoints(ctxbg, pointsBack);
          deltaT = Date.now() - startTime;

          ctxfr.restore();
          ctxbg.restore();

          window.requestAnimationFrame(draw);
        }

        init();

            </script>*@

    @Scripts.Render("~/bundles/jquery")

    <script type="text/javascript" src="~/ProjectScript/UserLogin.js"></script>
    <script src="../app-assets/vendors/js/toastr.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../app-assets/vendors/css/toastr.css">



    <script>


        setInterval(function () {
            if (localStorage.getItem('VersionCookie') == null || localStorage.getItem('VersionCookie') == "" || localStorage.getItem('VersionCookie') == undefined) {
                localStorage.setItem('VersionCookie', $('#CurrVersion').text())
                $('#versionoverlay').hide();

                var flo = (localStorage.getItem('cacaca'));
                if (flo == null) {
                    LoadTime = 0;
                    CompanyDetailsLoadInterval();
                }
            }
        }, 500);


        function CompanyDetailsLoadInterval() {

            setInterval(function () {
                var flo = (localStorage.getItem('cacaca'));
                if (flo == null && LoadTime == 0) {
                    LoadTime = 1;
                    var data = {};
                    data.DeptId = 0;
                    $.ajax({
                        type: "POST",
                        url: "../Login/CompanyDetailGet",
                        data: data,
                        success: function (result) {
                            GetComanyDetails(result.QList);

                        }
                    });
                }
            }, 500);

        }
    </script>


    @if (!string.IsNullOrWhiteSpace(ViewBag.Message))
    {
        <script type="text/javascript">

        toastr.error("@ViewBag.Message");
        </script>
    }


    <script src="../app-assets/loginjs/jquery-2.1.4.js"></script>
    <script src="../app-assets/loginjs/bootstrap.min.js"></script>
    <script src="../app-assets/loginjs/jquery.appear.js"></script>
    <script src="../app-assets/loginjs/jquery-countTo.js"></script>
    <script src="../app-assets/loginjs/bootsnav.js"></script>
    <script src="../app-assets/loginjs/masonry.pkgd.min.js"></script>
    <script src="../app-assets/loginjs/jquery.parallax-1.1.3.js"></script>
    <script src="../app-assets/loginjs/jquery.cubeportfolio.min.js"></script>
    <script src="../app-assets/loginjs/range-Slider.min.js"></script>
    <script src="../app-assets/loginjs/owl.carousel.min.js"></script>
    <script src="../app-assets/loginjs/selectbox-0.2.min.js"></script>
    <script src="../app-assets/loginjs/zelect.js"></script>
    <script src="../app-assets/loginjs/jquery.fancybox.js"></script>
    <script src="../app-assets/loginjs/jquery.themepunch.tools.min.js"></script>
    <script src="../app-assets/loginjs/jquery.themepunch.revolution.min.js"></script>
    <script src="../app-assets/loginjs/revolution.extension.actions.min.js"></script>
    <script src="../app-assets/loginjs/revolution.extension.layeranimation.min.js"></script>
    <script src="../app-assets/loginjs/revolution.extension.navigation.min.js"></script>
    <script src="../app-assets/loginjs/revolution.extension.parallax.min.js"></script>
    <script src="../app-assets/loginjs/revolution.extension.slideanims.min.js"></script>
    <script src="../app-assets/loginjs/revolution.extension.video.min.js"></script>
    <script src="../app-assets/loginjs/custom.js"></script>
    <script src="../app-assets/loginjs/functions.js"></script>


</body>
</html>
