
@{
    ViewBag.Title = "ShortCutKeys";
}


<div id="Entry" style="width:50%;height:100%;margin-left:25%">

    <div class="row">
        <div class="col-md-12" style="">
            <div class="card">
                <div class="card-header" style="border-bottom:1px solid #e6e6e6">
                    <h4 class="card-title mb-0" style="font-weight:bold;text-align:left;">ShortCutKeys</h4>
                </div>
                <div class="card-body ">
                    <div class="px-3">
                        <div class="card-content collapse show">
                            <div class="card-body ">
                                <div style="height:15px;"></div>
                                <form action="#">
                                    <div class="form-body" style="">
                                        <div class="row">
                                            <label class="col-md-2"></label>
                                            <label class="col-md-2"><kbd>ALT + M</kbd></label>
                                            <label class="col-md-2">-----></label>
                                            <label class="col-md-6">ACCOUNT STATEMENT</label>
                                              
                                        </div>
                                        <div class="row">
                                            <label class="col-md-2"></label>
                                            <label class="col-md-2"><kbd>ALT + T</kbd></label>
                                            <label class="col-md-2">-----></label>
                                            <label class="col-md-6">SALES RETURN</label>
 
                                        </div>
                                        <div class="row">
                                            <label class="col-md-2"></label>
                                            <label class="col-md-2"><kbd>ALT + H</kbd></label>
                                            <label class="col-md-2">-----></label>
                                            <label class="col-md-6">VOUCHER ENTRY</label>
  
                                        </div>
                                        <div class="row">
                                            <label class="col-md-2"></label>
                                            <label class="col-md-2"><kbd>ALT + I</kbd></label>
                                            <label class="col-md-2">-----></label>
                                            <label class="col-md-6">SALES INVOICE</label>
   
                                        </div>
                                        <div class="row">
                                            <label class="col-md-2"></label>
                                            <label class="col-md-2"><kbd>ALT + Q</kbd></label>
                                            <label class="col-md-2">-----></label>
                                            <label class="col-md-6">ACCOUNTS QUERY</label>
 
                                        </div>
                                        <div class="row">
                                            <label class="col-md-2"></label>
                                            <label class="col-md-2"><kbd>ALT + W</kbd></label>
                                            <label class="col-md-2">-----></label>
                                            <label class="col-md-6">STOCK QUERY</label>
  
                                        </div>
                                        <div class="row">
                                            <label class="col-md-2"></label>
                                            <label class="col-md-2"><kbd>ALT + Z</kbd></label>
                                            <label class="col-md-2">-----></label>
                                            <label class="col-md-6">DEPARTMENT CHANGE</label>
 
                                        </div>
                                        <div class="row">
                                            <label class="col-md-2"></label>
                                            <label class="col-md-2"><kbd>ALT + R</kbd></label>
                                            <label class="col-md-2">-----></label>
                                            <label class="col-md-6">PURCHASE INVOICE</label>

                                        </div>
                                        <div class="row">
                                            <label class="col-md-2"></label>
                                            <label class="col-md-2"><kbd>ALT + O</kbd></label>
                                            <label class="col-md-2">-----></label>
                                            <label class="col-md-6">PURCHASE ORDER</label>

                                        </div>
                                        <div class="row">
                                            <label class="col-md-2"></label>
                                            <label class="col-md-2"><kbd>ALT + L</kbd></label>
                                            <label class="col-md-2">-----></label>
                                            <label class="col-md-6">PURCHASE ENQUIRY</label>

                                        </div>
                                        <div class="row">
                                            <label class="col-md-2"></label>
                                            <label class="col-md-2"><kbd>ALT + X</kbd></label>
                                            <label class="col-md-2">-----></label>
                                            <label class="col-md-6">TOOGLE SHORTCUT</label>

                                        </div>
                                        <div class="row">
                                            <label class="col-md-2"></label>
                                            <label class="col-md-2"><kbd>ALT + K</kbd></label>
                                            <label class="col-md-2">-----></label>
                                            <label class="col-md-6">PURCHASE PERFORMA</label>

                                        </div>
                                        

                                    </div>                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






