
@{
    ViewBag.Title = "LeaveApplication";
}

<div id="Entry">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" style="border-bottom:1px solid #e6e6e6">
                    <h4 class="card-title mb-0">Leave Application</h4>
                </div>
                <div class="card-body">
                    <div class="px-3">
                        <div class="card-content collapse show">
                            <div class="card-body">
                                <form action="#">
                                    <div class="form-body">
                                        <div style="height:15px;"></div>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control" for="userinput1">Code<span class="danger">*</span></label>
                                                    <div class="col-md-8">
                                                        <input type="text" id="bcode" class="form-control" onkeyup="changetoupper(this.id),CodeName()" autocomplete="off" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control" for="userinput2">Name<span class="danger">*</span></label>
                                                    <div class="col-md-8">
                                                        <input type="text" id="bname" onkeyup="changetoupper(this.id)" class="form-control" autocomplete="off">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control" for="userinput2">Branch</label>
                                                    <div class="col-md-8">
                                                        <input type="text" id="branch" class="form-control" autocomplete="off">
                                                    </div>
                                                </div>
                                            </div>




                                            <div class="col-md-5">
                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control" for="userinput1">ZIP Code</label>
                                                    <div class="col-md-8">
                                                        <input type="text" id="zcode" class="form-control" autocomplete="off">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control" for="userinput2">Phone Number</label>
                                                    <div class="col-md-8">
                                                        <input type="text" class="form-control" id="phn" autocomplete="off">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-5">
                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control" for="userinput2">Email</label>
                                                    <div class="col-md-8">
                                                        <input type="email" class="form-control" id="email" autocomplete="off">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control" for="userinput1">Address 1</label>
                                                    <div class="col-md-8">
                                                        <input type="text" class="form-control" id="add1" autocomplete="off">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control" for="userinput2"> Address 2</label>
                                                    <div class="col-md-8">
                                                        <input type="text" class="form-control" id="add2" autocomplete="off">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control" for="userinput2">Address 3</label>
                                                    <div class="col-md-8">
                                                        <input type="text" class="form-control" id="add3" autocomplete="off">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="form-actions">
                                            <div class="text-right">
                                                <button type="button" style="width:100px" id="btnsubmit" class="btn btn-primary btn-min-width mr-1 mb-1"><u>S</u>ave <i class="fa fa-check-square-o"></i></button>
                                                <button type="button" style="width:100px" id="btnlist" onclick="GetRows(0)" class="btn btn-primary btn-min-width mr-1 mb-1">List <i class="ft-align-justify"></i></button>
                                                <button type="button" style="width:100px" id="btnnew" onclick="formrefresh()" class="btn btn-primary btn-min-width mr-1 mb-1">Clear <i class="ft-refresh-cw position-right"></i></button>
                                                <button style="display:none" type="button" id="btndelete" class="btn btn-primary btn-min-width mr-1 mb-1">Delete <i class="fa fa-times"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
