
@{
    ViewBag.Title = "ElectronicsItemwiseReport";
}

<script type="text/javascript" src="../Projectscript/Common.js"></script>
<script src="~/Scripts/Autocomplete/jquery-ui.js"></script>

<style type="text/css">
   
    .form-control {
        font-weight: bold;
    }
</style>

<script>
    var decimal = Decimal;
    $(function () {

        $("#slno").focus();
        $("#slno").keyup(function (e) {
            var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
            if (key == 13) {
                e.preventDefault();
                $("#suppliername").focus();
            }

        });

        $("#suppliername").keydown(function (e) {
            var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
            $('#supplierId').val(0);
            if ( key == 13) {
                $("#cmbGroup").focus();
                e.preventDefault();
            }
        });
        $("#cmbGroup").keydown(function (e) {
            var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
            if (key == 13) {
                e.preventDefault();
                $("#cmbSubgroup").focus();
            }

        });
        $("#cmbSubgroup").keydown(function (e) {
            var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
            if (key == 13) {
                e.preventDefault();
                $("#cmbCategory").focus();
            }

        });
        $("#cmbCategory").keydown(function (e) {
            var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
            if (key == 13) {
                e.preventDefault();
                $("#cmbSubcategory").focus();
            }

        });
        $("#cmbSubcategory").keydown(function (e) {
            var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
            if (key == 13) {
                e.preventDefault();
                $("#itemname").focus();
            }

        });
        $("#itemname").keydown(function (e) {
            var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
            $('#itemId').val(0);
            if (key == 13) {
                e.preventDefault();
                $("#location").focus();
            }

        });
        $("#location").keydown(function (e) {
            var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
            if (key == 13) {
                e.preventDefault();
                $("#itemname2").focus();
            }

        });

        //$("#itemname2").keydown(function (e) {
        //    var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
        //    $('#itemId2').val(0);
        //    if (key == 13) {
        //        e.preventDefault();
        //        $("#itemname3").focus();
        //    }

        //});
        //$("#itemname3").keydown(function (e) {
        //    var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
        //    $('#itemId3').val(0);
        //    if (key == 13) {
        //        e.preventDefault();
        //        $("#itemname4").focus();
        //    }

        //});
        //$("#itemname4").keydown(function (e) {
        //    var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
        //    $('#itemId4').val(0);
        //    if (key == 13) {
        //        e.preventDefault();
        //        $("#itemname5").focus();
        //    }

        //});
        //$("#itemname5").keydown(function (e) {
        //    var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
        //    $('#itemId5').val(0);
        //    if (key == 13) {
        //        e.preventDefault();
        //        $("#itemname6").focus();
        //    }

        //});
        //$("#itemname6").keydown(function (e) {
        //    var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
        //    $('#itemId6').val(0);
        //    if (key == 13) {
        //        e.preventDefault();
        //        $("#itemname7").focus();
        //        $("#btnsubmit").focus();
        //    }

        //});
        //$("#itemname7").keydown(function (e) {
        //    var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
        //    $('#itemId7').val(0);
        //    if (key == 13) {
        //        e.preventDefault();
        //        $("#itemname8").focus();
        //        $("#btnsubmit").focus();
        //    }
        //});

        //$("#itemname8").keydown(function (e) {
        //    var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
        //    $('#itemId8').val(0);
        //    if (key == 13) {
        //        e.preventDefault();
        //        $("#itemname9").focus();
        //        $("#btnsubmit").focus();
        //    }
        //});

        //$("#itemname9").keydown(function (e) {
        //    var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
        //    $('#itemId9').val(0);
        //    if (key == 13) {
        //        e.preventDefault();
        //        $("#itemname10").focus();
        //        $("#btnsubmit").focus();
        //    }
        //});
        //$("#itemname10").keydown(function (e) {
        //    var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
        //    $('#itemId10').val(0);
        //    if (key == 13) {
        //        e.preventDefault();
        //        $("#btnsubmit").focus();
        //    }

        //});



        CategoryPageLoad(0);
        GroupPageLoad(0);
        GetLocation(0);

        function CategoryPageLoad(id) {
            var data2 = {};
            data2.CategoryId = 0;
            $.ajax({
                type: "POST",
                url: "../Master/CategoryGetandGets",
                data: data2,
                success: function (result) {
                    CategoryLoad(result.oList, id);
                }
            });
        }

        function CategoryLoad(result) {
            $("#cmbCategory").empty();
            $("#cmbCategory").append("<option value='0'>-All-</option>");
            for (var i = 0; i < result.length; i++) {
                $("#cmbCategory").append("<option value='" + result[i].CategoryId + "'>" + result[i].CategoryName + "</option>");
            }
            SubCategoryGets();
        }

        function SubCategoryGets() {
            var data = {};
            data.CategoryId = $("#cmbCategory").val();
            if (data.CategoryId == 0) {
                data.SubCategoryId = 0;
                $.ajax({
                    type: "POST",
                    url: "../Master/SubCategoryGetandGets",
                    data: data,
                    success: function (result) {
                        SubCategoryLoad(result.oList);
                    }
                });
            }
            else {
                data.SubCategoryId = 0;
                $.ajax({
                    type: "POST",
                    url: "../Master/SubCategoryGetforCategory",
                    data: data,
                    success: function (result) {
                        SubCategoryLoad(result.oList);
                    }
                });
            }
        }

        function SubCategoryLoad(result) {
            $("#cmbSubcategory").empty();
            $("#cmbSubcategory").append("<option value='0'>-All-</option>");
            for (var i = 0; i < result.length; i++) {
                $("#cmbSubcategory").append("<option value='" + result[i].SubCategoryId + "'>" + result[i].SubCategoryName + "</option>");
            }
        }

        function GroupPageLoad(id) {
            var data1 = {};
            data1.GrpId = 0;
            $.ajax({
                type: "POST",
                url: "../Master/GroupGetandGets",
                data: data1,
                success: function (result) {
                    GroupLoad(result.oList, id);
                }
            });
        }

        function GroupLoad(result) {
            $("#cmbGroup").empty();
            $("#cmbGroup").append("<option value='0'>-All-</option>");
            for (var i = 0; i < result.length; i++) {

                $("#cmbGroup").append("<option value='" + result[i].GrpId + "'>" + result[i].GrpName + "</option>");
            }
            SubGroupGets();
        }


        function SubGroupGets() {
            var data = {};
            data.GroupId = $("#cmbGroup").val();


            if (data.GroupId == 0) {
                data.SbgrpId = 0;
                $.ajax({
                    type: "POST",
                    url: "../Master/SubGroupGetandGets",
                    data: data,
                    success: function (result) {
                        SubGroupLoad(result.oList);
                    }
                });
            }
            else {
                data.SbgrpId = 0;
                $.ajax({
                    type: "POST",
                    url: "../Master/SubGroupGetForGroup",
                    data: data,
                    success: function (result) {
                        SubGroupLoad(result.oList);
                    }
                });
            }
        }

        function SubGroupLoad(result) {
            $("#cmbSubgroup").empty();
            $("#cmbSubgroup").append("<option value='0'>-All-</option>");
            for (var i = 0; i < result.length; i++) {
                $("#cmbSubgroup").append("<option value='" + result[i].SbgrpId + "'>" + result[i].SbgrpName + "</option>");
            }
        }


        function GetLocation(id) {
            var data = {};
            data.LocationId = 0;
            $.ajax({
                type: "POST",
                url: "../Master/LocationGetandGets",
                data: data,
                success: function (result) {
                    LocationLoad(result.oList, id);


                }
            });

        }

        function LocationLoad(result) {
            $("#location").empty();
            LocationSelect = "<option value='0'>-All-</option>";
            for (var i = 0; i < result.length; i++) {
                LocationSelect += "<option value='" + result[i].LocationId + "'locname='" + result[i].LocationName + "'>" + result[i].LocationName + "</option>";

            }
            $("#location").append(LocationSelect);
        }

    });
    function popuprefresh() {
        $('#popupdiv').hide();
    }


</script>

<div class="myData" data-x="M157" />

<div id="Entry">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" style="border-bottom:1px solid #e6e6e6">
                    <div>
                        <table width="100%">
                            <tr>
                                <td><h4 id="header"></h4></td>
                                <td width="55%"></td>
                                <td align="right"><button type="button" style="width:100px" onclick="$('#popupdiv').show(), $('#slno').focus()" id="btnback" class="btn btn-outline-primary">Back</button></td>
                                <td align="right">
                                    <div class="btn-group" id="buttonPlace">
                                        <div align="right">
                                            <div class="heading-elements">
                                                <div class="btn-group" id="buttonPlace">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div align="right">
                            <div class="heading-elements">
                                <br /><hr style="margin-top:-1px;" />
                                <div id="divreport" style="overflow:auto;display:none">
                                    <table id="Tblreport" class="table table-striped table-bordered base-style dataTable"></table><br />
                                </div>
                                <br /><br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="popupdiv" class="modal fade text-left show" tabindex="-1" role="dialog" aria-labelledby="myheader" style="padding-right: 17px; background:rgba(0,0,0,0.5); display: block; display:none1;height:200%">
    <div class="modal-dialog modal-lg" role="document" style="top:2%;margin-left:30%">
        <div class="modal-content" style="width:100%">
            <div class="modal-header bg-primary white">
                <h4 class="modal-title" id="myheader">Electronics-Itemwise Report</h4>
                <button type="button" class="close" onclick="popuprefresh()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form id="monthpopup" style="display:none1;margin-left:0px;margin-right:0px">
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="slno" style="font-weight:bold">Serial#</label>
                                <input type="text" class="form-control" id="slno" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="suppliername" style="font-weight:bold">Supplier</label>
                                <input type="text" class="form-control" id="suppliername" />
                                <input type="hidden" class="form-control" id="supplierId" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="cmbGroup" style="font-weight:bold">Group</label>
                                <select id="cmbGroup" class="form-control" name="priority" onchange="SubGroupGets()">
                                    <option value='0'>-All-</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="dateTo">
                                <label for="cmbSubgroup" style="font-weight:bold">SubGroup</label>
                                <select id="cmbSubgroup" class="form-control" name="priority">
                                    <option value='0'>-All-</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">


                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="cmbCategory" style="font-weight:bold">Catogory</label>
                                <select id="cmbCategory" class="form-control" name="priority" onchange="SubCategoryGets()">
                                    <option value='0'>-All-</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="dateTo">
                                <label for="cmbSubcategory" style="font-weight:bold">SubCatogory</label>
                                <select id="cmbSubcategory" class="form-control" name="priority">
                                    <option value='0'>-All-</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="dateTo">
                                <label for="location" style="font-weight:bold">Location</label>
                                <select id="location" class="form-control" name="priority">
                                    <option value='0'>-All-</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="dateTo">
                                <label for="itemname2" style="font-weight:bold">Item Name</label>
                                <input type="text" class="form-control" onkeypress="Showautocomplete('itemname2')" id="itemname2" />
                                <input type="hidden" class="form-control" id="itemId2" />
                            </div>
                        </div>
                    </div>



                    <hr/>
                    @*<h6><b>Accessories Search</b></h6>*@
                    <div class="row" style="margin-top:10px">
                        <div class="col-md-3">
                            <div class="dateTo">
                                <label for="itemname3" style="font-weight:bold">Processor</label>
                                <input type="text" class="form-control" autocomplete="off" onkeypress="Showautocomplete('itemname3')" id="itemname3" />
                                <input type="hidden" class="form-control" id="itemId3" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="dateTo">
                                <label for="itemname4" style="font-weight:bold">Storage</label>
                                <input type="text" class="form-control" onkeypress="Showautocomplete('itemname4')" id="itemname4" />
                                <input type="hidden" class="form-control" id="itemId4" />
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="dateTo">
                                <label for="itemname5" style="font-weight:bold">Memory</label>
                                <input type="text" class="form-control" onkeypress="Showautocomplete('itemname5')" id="itemname5" />
                                <input type="hidden" class="form-control" id="itemId5" />
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="dateTo">
                                <label for="itemname6" style="font-weight:bold">Battery</label>
                                <input type="text" class="form-control" onkeypress="Showautocomplete('itemname6')" id="itemname6" />
                                <input type="hidden" class="form-control" id="itemId6" />
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px">
                        <div id="hidden1" style="display:none">
                            <div class="col-md-3">
                                <div class="dateTo">
                                    <label for="itemname7" style="font-weight:bold">OS</label>
                                    <input type="text" style="width:170px" class="form-control" onkeypress="Showautocomplete('itemname7')" id="itemname7" />
                                    <input type="hidden" class="form-control" id="itemId7" />
                                </div>
                            </div>
                        </div>

                        <div id="hidden2" style="display:none">
                            <div class="col-md-3">
                                <div class="dateTo">
                                    <label for="itemname8" style="font-weight:bold">Screen</label>
                                    <input type="text" style="width:170px" class="form-control" onkeypress="Showautocomplete('itemname8')" id="itemname8" />
                                    <input type="hidden" class="form-control" id="itemId8" />
                                </div>
                            </div>
                        </div>
                        <div id="hidden3" style="display:none">
                            <div class="col-md-3">
                                <div class="dateTo">
                                    <label for="itemname9" style="font-weight:bold">Speed</label>
                                    <input type="text" style="width:170px" class="form-control" onkeypress="Showautocomplete('itemname9')" id="itemname9" />
                                    <input type="hidden" class="form-control" id="itemId9" />
                                </div>
                            </div>
                        </div>
                        <div id="hidden4" style="display:none">
                            <div class="col-md-3">
                                <div class="dateTo">
                                    <label for="itemname10" style="font-weight:bold">Others</label>
                                    <input type="text" style="width:165px" class="form-control" onkeypress="Showautocomplete('itemname10')" id="itemname10" />
                                    <input type="hidden" class="form-control" id="itemId10" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <fieldset class="form-group floating-label-form-group"></fieldset>
                    <button type="button" id="btnaddacess" style="margin-right:2%" class="btn btn-primary" onclick="addaccessories()">
                        <i class="icon-plus4"></i>ADD
                    </button>

                    <button type="button" id="btnsubmit" style="margin-right:40%" class="btn btn-primary" data-dismiss="modal">Apply</button>
                </div>

            </form>
        </div>
    </div>
</div>

<script>

    $("#slno").autocomplete({
        delay: 0,
        minLength: 0,
        source: function (request, response) {
            var data = {};
            data.SlNo = $("#slno").val();
            $.ajax({
                url: '../ElectronicsReport/ModelNoSearch',
                type: "POST",
                data: data,
                dataType: "json",
                success: function (data) {
                    response($.map(data, function (item) {
                        return ({
                            ColCount: '1',
                            label: item.SlNo,
                            SlNo: item.SlNo,
                            headers: ["Serial No"]
                        })
                    }));
                }
            })
        },

        autoFocus: true,
        select: function (event, ui) {
            $('#slno').val(ui.item.SlNo);
        },
    });


    function Showautocomplete(Id) {
        $("#" + Id).autocomplete({
            source: function (request, response) {
                var data = {};
                data.ItemCode = $("#" + Id).val();
                data.LocId = UserLocationId;
                data.DeptId = ERPDeptId;
                $.ajax({
                    url: '../SalesInvoice/ProductSearchSales',
                    type: "POST",
                    data: data,
                    dataType: "json",
                    success: function (data) {
                        console.log(data);
                        response($.map(data, function (item) {
                            return ({
                                ColCount: '+2',
                                label: item.ItemCode,
                                label1: item.Description,
                                Description: item.Description,
                                ProductId: item.ItemId,
                                Product: item.ItemCode,
                                headers: ["Material Code", "Material Description"]
                            })
                        }));
                    }

                })

            },
            autoFocus: true,
            select: function (event, ui) {
             if(Id == 'itemname2')
                {
                 $('#itemId2').val(ui.item.ProductId)
                 $('#itemname2').val(ui.item.Product)
                 $("#itemname3").focus();
                }
                else if(Id == 'itemname3')
                {
                    $('#itemId3').val(ui.item.ProductId)
                    $('#itemname3').val(ui.item.Product)
                    $("#itemname4").focus();
                }
                else if(Id == 'itemname4')
                {
                    $('#itemId4').val(ui.item.ProductId)
                    $('#itemname4').val(ui.item.Product)
                    $("#itemname5").focus();
                }
                else if(Id == 'itemname5')
                {
                    $('#itemId5').val(ui.item.ProductId)
                    $('#itemname5').val(ui.item.Product)
                    $("#itemname6").focus();
                }
                else if(Id == 'itemname6')
                {
                    $('#itemId6').val(ui.item.ProductId)
                    $('#itemname6').val(ui.item.Product)
                    $("#itemname7").focus();
                }
                else if(Id == 'itemname7')
                {
                    $('#itemId7').val(ui.item.ProductId)
                    $('#itemname7').val(ui.item.Product)
                    $("#itemname8").focus();
                }
                else if (Id == 'itemname8') {
                    $('#itemId8').val(ui.item.ProductId)
                    $('#itemname8').val(ui.item.Product)
                    $("#itemname9").focus();
                }
                else if (Id == 'itemname9') {
                    $('#itemId9').val(ui.item.ProductId)
                    $('#itemname9').val(ui.item.Product)
                    $("#itemname10").focus();
                }
                else if (Id == 'itemname10') {
                    $('#itemId10').val(ui.item.ProductId)
                    $('#itemname10').val(ui.item.Product)
                    $("#btnsubmit").focus();
                }
            },

        });
    }



    $("#suppliername").autocomplete({
        delay: 0,
        minLength: 0,
        source: function (request, response) {
            var data = {};
            data.CustName = $("#suppliername").val();
            data.CustType = 'S';

            $.ajax({
                url: '../Master/CustomerOrSupplierSearch',
                type: "POST",
                data: data,
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    response($.map(data, function (item) {
                        return ({
                            ColCount: '+2',
                            label: item.CustName,
                            label1: item.CustAccount,
                            CustId: item.CustId,
                            headers: ["Supplier Name", "Account Code"]
                        })
                    }));
                }

            })

        },
        autoFocus: true,
        select: function (event, ui) {
            $('#supplierId').val(ui.item.CustId);
        },
    });

    $("#btnsubmit").click(function (e) {

        var Condition = '', Item = '', Slno = '', Supplier = '', GroupID = '', SubgroupID = '', SubCategoryID = '', CategoryID = '', location = ''
        var Condition1 = '', Acc1 = '', Acc2 = '', Acc3 = '', Acc4 = '', Acc5 = '', Acc6 = '', Acc7 = '', Acc8 = ''
        var AccCount = 0;

        var Item = $('#itemId2').val();
        var Slno = $('#slno').val();
        var Supplier = $('#supplierId').val();
        var GroupID = $('#cmbGroup').val();
        var SubgroupID = $('#cmbSubgroup').val();
        var CategoryID = $('#cmbCategory').val();
        var SubCategoryID = $('#cmbSubcategory').val();
        var location = $('#location').val();

        var Acc1 = $('#itemId3').val();
        var Acc2 = $('#itemId4').val();
        var Acc3 = $('#itemId5').val();
        var Acc4 = $('#itemId6').val();
        var Acc5 = $('#itemId7').val();
        var Acc6 = $('#itemId8').val();
        var Acc7 = $('#itemId9').val();
        var Acc8 = $('#itemId10').val();

        $('#Loading').show();

        if ($('#suppliername').val() == '') {
            $('#supplierId').val(0);
        }

        if ($('#itemname2').val() == '') {
            $('#itemId2').val(0);
        }
        if ($('#itemname3').val() == '') {
            $('#itemId3').val(0);
        }
        if ($('#itemname4').val() == '') {
            $('#itemId4').val(0);
        }
        if ($('#itemname5').val() == '') {
            $('#itemId5').val(0);
        }
        if ($('#itemname6').val() == '') {
            $('#itemId6').val(0);
        }
        if ($('#itemname7').val() == '') {
            $('#itemId7').val(0);
        }
        if ($('#itemname8').val() == '') {
            $('#itemId8').val(0);
        }
        if ($('#itemname9').val() == '') {
            $('#itemId9').val(0);
        }
        if ($('#itemname10').val() == '') {
            $('#itemId10').val(0);
        }

            Condition = '1=1'

        if (Slno != '') { Condition += ' and Mst_Item.Model1 = ' + "'" + Slno + "'"; }

        if (Item != 0) { Condition += ' and Mst_Item.ItemId = ' + Item; }

        if (Supplier != 0) { Condition += ' and Mst_ItemSupplier.SupplierId=' + Supplier; }

        if (GroupID != 0) { Condition += ' and Mst_Item.GroupId=' + GroupID; }

        if (SubgroupID != 0) { Condition += ' and Mst_Item.SubGroupId=' + SubgroupID; }

        if (CategoryID != 0) { Condition += ' and Mst_Item.CategoryId=' + CategoryID; }

        if (SubCategoryID != 0) { Condition += ' and Mst_Item.SubCategoryId=' + SubCategoryID; }

        if (location != 0) { Condition += ' and Inv_Stock.Stock_Location=' + location; }


        Condition1 = ' '

        if (Acc1 != 0) {  Condition1 += ' AccessoriesId = ' + Acc1;AccCount++;}

        if (Acc2 != 0) {  if (AccCount > 0) { Condition1 += ' or AccessoriesId = ' + Acc2; AccCount++; } else if (AccCount == 0) { Condition1 += 'AccessoriesId = ' + Acc2; AccCount++; } }

        if (Acc3 != 0) {  if (AccCount > 0) { Condition1 += ' or AccessoriesId = ' + Acc3; AccCount++; } else if (AccCount == 0) { Condition1 += 'AccessoriesId = ' + Acc3; AccCount++; } }

        if (Acc4 != 0) {  if (AccCount > 0) { Condition1 += ' or AccessoriesId = ' + Acc4; AccCount++; } else if (AccCount == 0) { Condition1 += 'AccessoriesId = ' + Acc4; AccCount++; } }

        if (Acc5 != 0) {  if (AccCount > 0) { Condition1 += ' or AccessoriesId = ' + Acc5; AccCount++; } else if (AccCount == 0) { Condition1 += 'AccessoriesId = ' + Acc5; AccCount++; } }

        if (Acc6 != 0) {  if (AccCount > 0) { Condition1 += ' or AccessoriesId = ' + Acc6; AccCount++; } else if (AccCount == 0) { Condition1 += 'AccessoriesId = ' + Acc6; AccCount++; } }

        if (Acc7 != 0) {  if (AccCount > 0) { Condition1 += ' or AccessoriesId = ' + Acc7; AccCount++; } else if (AccCount == 0) { Condition1 += 'AccessoriesId = ' + Acc7; AccCount++; } }

        if (Acc8 != 0) {  if (AccCount > 0) { Condition1 += ' or AccessoriesId = ' + Acc8; AccCount++; } else if (AccCount == 0) { Condition1 += 'AccessoriesId = ' + Acc8; AccCount++; } }


                var data = {};
                data.Condition = Condition;
                data.Condition1 = Condition1;
                data.Count = AccCount;
                $.ajax({
                    type: "POST",
                    url: '../ElectronicsReport/ElectronicsItemwiseReport',
                    data: data,
                    success: function (result) {
                        $('#divreport').show();
                        $('#popupdiv').hide();
                        $('#Loading').hide();
                        $('#suppliername').val('');
                        $('#supplierId').val(0);
                        $('#slno').val('');
                        $('#itemname2').val('');
                        $('#itemId2').val(0);
                        $('#itemname3').val('');
                        $('#itemId3').val(0);
                        $('#itemname4').val('');
                        $('#itemId4').val(0);
                        $('#itemname5').val('');
                        $('#itemId5').val(0);
                        $('#itemname6').val('');
                        $('#itemId6').val(0);
                        $('#itemname7').val('');
                        $('#itemId7').val(0);
                        $('#itemname8').val('');
                        $('#itemId8').val(0);
                        $('#itemname9').val('');
                        $('#itemId9').val(0);
                        $('#itemname10').val('');
                        $('#itemId10').val(0);
                        $('#cmbGroup').val('0');
                        $('#cmbSubgroup').val('0');
                        $('#cmbCategory').val('0');
                        $('#cmbSubcategory').val('0');
                        $('#location').val('0');
                        $('#hidden1').hide();
                        $('#hidden2').hide();
                        $('#hidden3').hide();
                        $('#hidden4').hide();
                        $('#btnaddacess').show();
                        ShowreportAcc(result);
                    }
                });

    });



    function addaccessories() {
        var isVisible = $('#hidden1').is(':visible');
        if (isVisible == false) {
            $('#hidden1').show();
        }
       else if ($('#hidden2').is(':visible')==false) {
            $('#hidden2').show();
        }
       else if ($('#hidden3').is(':visible') == false) {
            $('#hidden3').show();
       }
       else if ($('#hidden4').is(':visible') == false) {
           $('#hidden4').show();
           $('#btnaddacess').hide();
       }
    }

    function ShowreportAcc(result) {
        disable_datatable('Tblreport', 'buttonPlace');
        var responseText = "<thead><tr><th>Sl#</th><th>Item Code</th><th>Item Name</th><th>Unit</th><th>Qty.</th><th>Group</th><th>Sub Group</th><th>Category</th><th>Sub Category</th><th>Avg.Cost</th><th>Selling Price</th></thead><tbody>";
        for (var i = 0; i < result.length; i++) {
            var slno = parseInt(i + 1);
                responseText += '<tr><td>' + slno + '</td><td>' + result[i].ItemCode + '</td><td>' + result[i].ItemName + '</td><td>' + result[i].Unit + '</td><td>' + result[i].Quantity + '</td><td>' + result[i].Group + '</td><td>' + result[i].SubGroup + '</td><td>' + result[i].Category + '</td><td>' + result[i].SubCategory + '</td><td style=text-align:right>' + parseFloat(result[i].AvgCost || 0).toFixed(decimal) + '</td><td style=text-align:right>' + parseFloat(result[i].SellingPrice || 0).toFixed(decimal) + '</td></tr>';
        }
        $('#Tblreport').html(responseText + '</tbody><tfoot><tr><th>Sl#</th><th>Item Code</th><th>Item Name</th><th>Unit</th><th> </th><th>Group</th><th>Sub Group</th><th>Category</th><th>Sub Category</th><th> </th><th> </th></tr></tfoot>');

        var title = "Electronics-Itemwise Report";
        datatableWithsearch('Tblreport', true, title, 'buttonPlace');
        $('#header').text(title);
    }

    function datatableWithsearch(tablename, download, title, tableButtonContainerId) {

        var a = '#' + tablename + ' tfoot th'
        $(a).each(function () {
            var title = $(this).text();
            if (title != 'Edit' && title != 'Select' && title != 'Sl#' && title != 'O Balance' && title != ' ') {
                $(this).html('<input type="text" placeholder=" ' + title + '" style="width=100%" />');
            }
            if (title == 'Qty.') {
                $(this).html('<input type="text" placeholder="' + title + '" style="width:100%" />');
            }
            if (title == 'Unit') {
                $(this).html('<input type="text" placeholder="' + title + '" style="width:100%" />');
            }
            if (title == 'Group') {
                $(this).html('<input type="text" placeholder="' + title + '" style="width:100%" />');
            }
            if (title == 'Sub Group') {
                $(this).html('<input type="text" placeholder="' + title + '" style="width:150px" />');
            }
            if (title == 'Category') {
                $(this).html('<input type="text" placeholder="' + title + '" style="width:150px" />');
            }
            if (title == 'Sub Category') {
                $(this).html('<input type="text" placeholder="' + title + '" style="width:150px" />');
            }
            if (title == 'Item Code') {
                $(this).html('<input type="text" placeholder="' + title + '" style="width:200px" />');
            }

            if (title == 'Item Name') {
                $(this).html('<input type="text" placeholder="' + title + '" style="width:400px" />');
            }
           

        });
        var table = null;
        if (download) {
            if (!title || !tableButtonContainerId) { console.log("download table need title and button container"); }


            table = $('#' + tablename).DataTable({
                dom: "<'row'<'col-sm-1'l><'col-sm-11'f>>" +
               "<'row'<'col-sm-12'tr>>" +
               "<'row'<'col-sm-1'i><'col-sm-11'p>>",
                buttons: [],


            });
            new $.fn.dataTable.Buttons(table, {
                buttons: [
                {
                    extend: 'collection',
                    text: 'Export',
                    className: 'excelexport',
                    buttons: [
                        {
                            extend: 'excelHtml5',
                            title: title,
                            messageTop: 'MEDOC HMS',
                            exportOptions: { columns: ":visible" }
                        },
                        {
                            extend: 'pdfHtml5',
                            title: title,
                            messageTop: 'MEDOC HMS',
                            exportOptions: { columns: ":visible" }
                        },
                        {
                            extend: 'print',
                            title: title,
                            messageTop: 'MEDOC HMS',
                            exportOptions: { columns: ":visible" }
                        }
                    ]
                },
                'colvis'
                ]
            });
            table.buttons(0, null).container().appendTo($("#" + tableButtonContainerId));
            $("#" + tableButtonContainerId).find(".buttons-collection").addClass("btn-outline-primary mx-1").css("border-radius", "4px");

        } else {
            table = $('#' + tablename).DataTable();
        }
        table.columns().every(function () {
            var that = this;
            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();

                }
            });
        });
        if (ExcelExport == 0) {
            $('.excelexport').hide();
        }
    }

</script>





