
@{
    ViewBag.Title = "CashCollection";
}

<style>
    .container:hover #img1{
   cursor: pointer;
                 opacity: 0.6;

           -moz-box-shadow: 0 0 20px #ccc;
		-webkit-box-shadow: 0 0 20px #ccc;
		box-shadow: 0 0 20px #ccc; 
 
    }
    .rsbtnimg21:hover{
        cursor:pointer;
       
        background-color:#000033;
        
    }
    .rsbtnimg22:hover{
        cursor:pointer;
       
        background-color:#000033;
        
    }
     .rscontainer2:hover #img2{
   cursor: pointer;
                 opacity: 0.6;

           -moz-box-shadow: 0 0 20px #ccc;
		-webkit-box-shadow: 0 0 20px #ccc;
		box-shadow: 0 0 20px #ccc; 
 
    }
     .rscontainer3:hover #img3{
   cursor: pointer;
                 opacity: 0.6;

           -moz-box-shadow: 0 0 20px #ccc;
		-webkit-box-shadow: 0 0 20px #ccc;
		box-shadow: 0 0 20px #ccc; 
 
    }
     .rscontainer4:hover #img4{
   cursor: pointer;
                 opacity: 0.6;

           -moz-box-shadow: 0 0 20px #ccc;
		-webkit-box-shadow: 0 0 20px #ccc;
		box-shadow: 0 0 20px #ccc; 
 
    }
      .rscontainer5:hover #img5{
   cursor: pointer;
                 opacity: 0.6;

           -moz-box-shadow: 0 0 20px #ccc;
		-webkit-box-shadow: 0 0 20px #ccc;
		box-shadow: 0 0 20px #ccc; 
 
    }
      .rscontainer6:hover #img6{
   cursor: pointer;
                 opacity: 0.6;

           -moz-box-shadow: 0 0 20px #ccc;
		-webkit-box-shadow: 0 0 20px #ccc;
		box-shadow: 0 0 20px #ccc; 
 
    }
      .dircontainer1:hover #dirimg1{
   cursor: pointer;
                 opacity: 0.6;

           -moz-box-shadow: 0 0 20px #ccc;
		-webkit-box-shadow: 0 0 20px #ccc;
		box-shadow: 0 0 20px #ccc; 
 
    }
      .dircontainer2:hover #dirimg2{
   cursor: pointer;
                 opacity: 0.6;

           -moz-box-shadow: 0 0 20px #ccc;
		-webkit-box-shadow: 0 0 20px #ccc;
		box-shadow: 0 0 20px #ccc; 
 
    }
      .dircontainer3:hover #dirimg3{
   cursor: pointer;
                 opacity: 0.6;

           -moz-box-shadow: 0 0 20px #ccc;
		-webkit-box-shadow: 0 0 20px #ccc;
		box-shadow: 0 0 20px #ccc; 
 
    }
       .dircontainer4:hover #dirimg4{
   cursor: pointer;
                 opacity: 0.6;

           -moz-box-shadow: 0 0 20px #ccc;
		-webkit-box-shadow: 0 0 20px #ccc;
		box-shadow: 0 0 20px #ccc; 
 
    }
        .dircontainer5:hover #dirimg5{
   cursor: pointer;
                 opacity: 0.6;

           -moz-box-shadow: 0 0 20px #ccc;
		-webkit-box-shadow: 0 0 20px #ccc;
		box-shadow: 0 0 20px #ccc; 
 
    }
          .dircontainer6:hover #dirimg6{
   cursor: pointer;
                 opacity: 0.6;

           -moz-box-shadow: 0 0 20px #ccc;
		-webkit-box-shadow: 0 0 20px #ccc;
		box-shadow: 0 0 20px #ccc; 
 
    }
      
    .container:hover .middle {
  opacity: 1;
}
     .rscontainer2:hover .rsmiddle5 {
  opacity: 1;
} 
      .rscontainer3:hover .rsmiddle5 {
  opacity: 1;
} 
      .rscontainer4:hover .rsmiddle5 {
  opacity: 1;
} 
      .rscontainer5:hover .rsmiddle5 {
  opacity: 1;
} 
        .rscontainer6:hover .rsmiddle5 {
  opacity: 1;
}  .dircontainer1:hover .rsmiddle5 {
  opacity: 1;
}
   .dircontainer2:hover .rsmiddle5 {
  opacity: 1;
}
   .dircontainer3:hover .rsmiddle5 {
  opacity: 1;
}
   .dircontainer4:hover .rsmiddle5 {
  opacity: 1;
}
   .dircontainer5:hover .rsmiddle5 {
  opacity: 1;
}
   .dircontainer6:hover .rsmiddle5 {
  opacity: 1;
}
    .middle {
  transition: .5s ease;
  opacity: 0;
  margin-left:50%;margin-top:-20%;  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
        .rsmiddle5 {
  transition: .5s ease;
  opacity: 0;
  margin-left:50%;margin-top:-18%;  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}       

    .rscontainer2:hover #img2{
   cursor: pointer;
                 opacity: 0.6;
           -moz-box-shadow: 0 0 20px #ccc;
		-webkit-box-shadow: 0 0 20px #ccc;
		box-shadow: 0 0 20px #ccc; 
 
    }   
    .rsbtnimg21 {

  -ms-transform: translate(-50%, -50%);
  background-color: #555;
 
  color: white;
  font-size: 16px;
  padding: 8px 14px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
     .rsbtnimg22 {

  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  
  color: white;
  font-size: 16px;
  padding: 8px 14px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

    
     
</style>

<link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/tables/jsgrid/jsgrid-theme.min.css">
<link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/tables/jsgrid/jsgrid.min.css">

<script src="~/Scripts/Autocomplete/jquery-ui.js"></script>

<div class="myData" data-x="M172" />

<div id="Entry" style="margin-top:-16px;">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">Cash Collection</h4>
                </div>
                <div class="card-body">                   
                        <div class="card-content collapse show">
                            <div class="card-body">
                                @*<div style="height:15px;margin-top:-15px;"></div>*@
                                <form action="#">
                                    <div class="px-3">
                                        <div class="form-body" style="margin-left:-22px;margin-right:-30px;">
                                            <hr style="margin-top:.2px;width:101.6%;margin-left:-2%" />
                                            <div class="row" style="height:175px;border:thick">
                                                <div class="col-md-12" style="margin-top:-21px;">
                                                    <br />
                                                    <div class="form-group" style="margin-left:11px;">
                                                        <div class="row">
                                                            <div style="background-color:#E0F3F4; margin-left:1.5px;width:90%;height:190px;margin-top:-22.4px;margin-bottom:10px;width:48.3%;height:172px">
                                                                <div style="margin-left:2%">

                                                                    <div style="margin-left:-2%">
                                                                        <div class="row" style="margin-left:2px;margin-top:2%;">
                                                                            <div class="col-md-12">


                                                                                <div class="row">

                                                                                    <div class="col-md-2">

                                                                                        <label>Payment Type<span class="danger">*</span></label>
                                                                                    </div>
                                                                                    <div class="col-md-4">
                                                                                        <select id="txtpaymenttype" name="priority" class="form-control" style="width:105%;height:38px;width:96%">
                                                                                            <option value="ReceivedType">Received Type</option>
                                                                                            <option value="PaymentType">Payment Type</option>
                                                                                        </select>
                                                                                    </div>
                                                                                    @*<label style="margin-left:-3%;">No<span class="danger">*</span></label>*@
                                                                                    <div class="col-md-2" style="display:none;">
                                                                                        <input type="text" class="form-control" id="txtslno" disabled style="background-color:white;width:85%;height:37px;" />
                                                                                    </div>

                                                                                    <div class="col-md-2">
                                                                                        <div class="form-group">
                                                                                            <label>Invoice No<span class="danger">*</span></label>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-2">
                                                                                        <select id="txtBillseriesId" name="priority" class="form-control" style="width:105%;margin-left:-1%;height:38px;"></select>
                                                                                    </div>
                                                                                    <div class="col-md-2">
                                                                                        <input type="text" class="form-control" id="txtBillSlNocopy" style="margin-left:-7%;width:97%;height:37px;" onkeyup="checkslno(event)" onkeypress="isNumberInt(event,this)">
                                                                                    </div>
                                                                                </div>



                                                                            </div>
                                                                        </div>
                                                                        <div class="row" style="margin-left:2px;margin-top:-1%;">
                                                                            <div class="col-md-12">


                                                                                <div class="row">

                                                                                    <div class="col-md-2">

                                                                                        <label>Customer<span class="danger">*</span></label>
                                                                                    </div>
                                                                                    <div class="col-md-4">
                                                                                        <input type="text" class="form-control" id="txtcustomer" disabled style="width:96%;height:37px;" />
                                                                                        <input type="hidden" id="hiddencustId" />
                                                                                    </div>
                                                                                    <div class="col-md-2">
                                                                                        <div class="form-group">
                                                                                            <label>Remarks<span class="danger">*</span></label>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-4">
                                                                                        <textarea class="form-control" id="txtremark"  style="background-color:white;width:86%;height:87px;position:absolute"></textarea>
                                                                                    </div>
                                                                                </div>



                                                                            </div>
                                                                        </div>

                                                                        <div class="row" style="margin-left:2px;margin-top:-1%;">
                                                                            <div class="col-md-12">


                                                                                <div class="row">

                                                                                    <div class="col-md-2">

                                                                                        <label>Amount<span class="danger">*</span></label>
                                                                                    </div>
                                                                                    <div class="col-md-4">
                                                                                        <input type="text" class="form-control" id="txtamount" disabled style="width:96%;height:37px;" />
                                                                                    </div>

                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div style="background-color:#E0F3F4; margin-left:5.5px;width:90%;height:190px;margin-top:-22px;margin-bottom:10px;width:50%;height:172px">
                                                                <div class="row" style="margin-top:2.6%">
                                                                    <div class="col-md-2" style="text-align:right;margin-left:8%">

                                                                        <label>Amount<span class="danger">*</span></label>
                                                                    </div>
                                                                    <div class="col-md-2" style="text-align:right;margin-left:14%">

                                                                        <label>Received<span class="danger">*</span></label>
                                                                    </div>
                                                                    <div class="col-md-2" style="text-align:right;margin-left:14%">

                                                                        <label>Balance<span class="danger">*</span></label>
                                                                    </div>
                                                                </div>
                                                                <div style="margin-left:0%;margin-top:4%;">

                                                                    <div class="row" style="margin-top:7px;"></div>

                                                                    <div class="row">


                                                                        <div class="col-md-3" style="margin-top:-3%;margin-left:1.5%">
                                                                            <input type="text" class="form-control" id="txtscancode" disabled style="background-color:white;width:121%;height:155%;position:absolute;font-size:xx-large;text-align:center;font-weight:bold;color:#00B5B8" value="0.00" />
                                                                        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                                                        <div class="col-md-3" style="margin-top:-3%">
                                                                            <input type="text" class="form-control" id="txtrecieved" disabled onkeypress="return isNumber(event)" style="width:121%;height:155%;position:absolute;font-size:xx-large;text-align:center;background-color:white;font-weight:bold;color:#00B5B8" value="0.00" />
                                                                        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                                                        <div class="col-md-3" style="margin-top:-3%">
                                                                            <input type="text" class="form-control" id="txtbalance" disabled onkeypress="return isNumber(event)" style="width:121%;height:155%;position:absolute;font-size:xx-large;text-align:center;background-color:white;font-weight:bold;color:red" value="0.00" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>












                                                            @*<div style="background-color:#f0f6f6; margin-left:5.5px;width:90%;height:190px;margin-top:-22px;margin-bottom:10px;width:50%;height:172px">

                                    <div style="margin-left:2%;margin-top:7.5%;">
                                        <div class="row" style="margin-top:3px;"></div>
                                        <div class="col-md-1">

                                            <label>Amount<span class="danger">*</span></label>
                                        </div>
                                            <div class="row">

                                                <div class="col-md-1">

                                                    <label>Amount<span class="danger">*</span></label>
                                                </div>
                                                <div class="col-md-2" style="margin-top:-3%">
                                                    <input type="hidden" id="hiddenitemId" onkeyup="checkitem(event)" />
                                                    <input type="text" class="form-control" id="txtscancode" disabled onkeyup="checkitem(event)" style="background-color:white;width:120%;height:80%;position:absolute;font-weight:normal;font-size:medium;text-align:center;font-weight:bold;color:#00B5B8" value="0.00" />
                                                </div>
                                                <div class="col-lg-2 text-right">
                                                    <div class="form-group">
                                                        <label>Received<span class="danger">*</span></label>
                                                    </div>
                                                </div>
                                                <div class="col-md-2" style="margin-top:-3%">
                                                    <input type="text" class="form-control" id="txtrecieved" onkeyup="checkqty(event)" disabled onkeypress="return isNumber(event)" style="width:120%;height:80%;position:absolute;font-weight:normal;font-size:medium;text-align:center;background-color:white;font-weight:bold;color:#00B5B8" value="0.00" />
                                                </div>
                                                <div class="col-lg-2 text-right">
                                                    <div class="form-group">
                                                        <label>Balance<span class="danger">*</span></label>
                                                    </div>
                                                </div>
                                                <div class="col-md-2" style="margin-top:-3%">
                                                    <input type="text" class="form-control" id="txtbalance" disabled onkeyup="checkqty(event)" onkeypress="return isNumber(event)" style="width:120%;height:80%;position:absolute;font-weight:normal;font-size:medium;text-align:center;background-color:white;font-weight:bold;color:#00B5B8" value="0.00" />
                                                </div>
                                            </div>
                                        </div>
                                </div>*@
                                                            <br /><br />
                                                            <br />
                                                        </div>
                                                    </div>
                                                    <hr style="margin-top:-30.5px;width:102.3%;margin-left:-2.8%" /><br />
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                           
                                    <div class="row">
                                        <div class="col-md-12"  >
                                            <div class="card" style="margin-top:-13px;">
                                                <table id="tbl1">
                                                    <tr>
                                                        <td id="CELL1" valign="top" style="height:400px;">
                                                            
                                                                        

                                                                                        <div class="row" style="margin-left:.1%">
                                                                                            <div class="col-md-12">
                                                                                                <br />
                                                                                                <div class="row" style="height:28px;">
                                                                                                    <div class="col-md-3">
                                                                                                        <div class="form-group">
                                                                                                            <label>Currency</label>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="col-md-2">
                                                                                                        <div class="form-group">
                                                                                                            <label>Rate</label>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="col-md-3">
                                                                                                        <div class="form-group">
                                                                                                            <label>Amount<span class="danger">*</span></label>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="col-md-3" style="margin-left:-3%">
                                                                                                        <div class="form-group">
                                                                                                            <label>Total</label>
                                                                                                        </div>
                                                                                                    </div>

                                                                                                    <div class="col-md-1" style="margin-left:-3%">
                                                                                                        <div class="form-group">
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="row">
                                                                                            <div class="col-md-12">
                                                                                                <div class="row" style="margin-top:1px;margin-left:.1%">

                                                                                                    <div class="col-md-3">
                                                                                                        <div class="input-group">

                                                                                                            <select id="FC" class="form-control" onchange="CurrencyChange(this.id),calcgrandtotal()" style="height:55px;font-size:larger"></select>

                                                                                                            <div class="input-group-append" id="addProduct">
                                                                                                                <button class="btn btn-outline-primary" onclick="window.open('../master/../master/currency')" id="btnaddprd" type="button">+</button>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <input type="hidden" id="Description" />

                                                                                                    <div class="col-md-2">
                                                                                                        <div class="form-group">
                                                                                                            <input type="text" id="txtrate" class="form-control" onkeyup="calcgrandtotal()" style="height:55px;font-size:x-large">
                                                                                                        </div>
                                                                                                    </div>

                                                                                                    <div class="col-md-3">
                                                                                                        <div class="form-group">
                                                                                                            <input type="text" id="txtcuramount" class="form-control" onkeyup="calcgrandtotal()" onkeypress="return isNumbercheck(event, this)" style="width:200px;height:55px;font-size:x-large">
                                                                                                        </div>
                                                                                                    </div>

                                                                                                    <div class="col-md-3" style="margin-left:-3%">
                                                                                                        <div class="form-group">
                                                                                                            <input type="text" id="txttotal" class="form-control" onkeyup="tot()" onkeypress="return isNumbercheck(event, this)" style="width:200px;height:55px;font-size:x-large" disabled>
                                                                                                        </div>
                                                                                                    </div>

                                                                                                    <div class="col-md-1" style="margin-left:-3%">
                                                                                                        <div class="form-group">

                                                                                                            <button type="button" id="btnadd" style="height:55px;width:95px;" onclick="productadd()" class="btn btn-outline-primary ">+ Add </button>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="row" style="height:5px">
                                                                                            <div style="margin-left:2.7%;margin-top:.7%;">
                                                                                                <div class="px-0">
                                                                                                    <div id="customView" class="jsgrid" style="position: relative; height: auto; width: 97%;height:290px; border:solid 1px;border-color:#e9e9e9;margin-top:-28px;overflow-x: auto;overflow-y: hidden;margin-bottom:-10px;position:absolute">
                                                                                                        <div class="jsgrid-grid-header jsgrid-header-scrollbar" style="width: 1066px;">
                                                                                                            <table class="jsgrid-table">
                                                                                                                <tr class="jsgrid-header-row">
                                                                                                                    <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width:70px">Sl No</th>
                                                                                                                    <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width:230px">Currency</th>
                                                                                                                    <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width:100px">Rate</th>
                                                                                                                    <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width:170px">Amount</th>
                                                                                                                    <th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" style="width:165px">Total</th>
                                                                                                                    <th class="jsgrid-header-cell jsgrid-control-field jsgrid-align-center" style="width:70px"></th>
                                                                                                                </tr>
                                                                                                            </table>
                                                                                                        </div>
                                                                                                        <div id="proddiv" class="" style="position: relative; overflow-x: auto;overflow-y: scroll; height:290px; width: 1066px;border-bottom:1px solid;border-bottom-color:#e9e9e9">
                                                                                                            <table class="jsgrid-table" id="tblcurrency"></table>
                                                                                                        </div>


                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                          
                                                             <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                                                            <div class="form-body ">

                                                                <div class="text-right" style="margin-top:.9%;">
                                                                    <button type="button" style="width:110px;height:42px;" id="btnsubmit" class="btn btn-primary btn-min-width mr-1 mb-1"><u>S</u>ave <i class="fa fa-check-square-o"></i></button>
                                                                    <button type="button" style="width:100px;display:none;" id="btnlist" onclick="enablenobox()" class="btn btn-primary btn-min-width mr-1 mb-1">Copy <i class="ft-align-justify"></i></button>
                                                                    <button type="button" style="width:110px;height:42px" id="btnnew" onclick="createnew()" class="btn btn-primary btn-min-width mr-1 mb-1">New <i class="ft-refresh-cw position-right"></i></button>
                                                                    <button style="display:none" type="button" id="btndelete" class="btn btn-primary btn-min-width mr-1 mb-1">Delete <i class="fa fa-times"></i></button>
                                                                </div>

                                                            </div>

                                                            </td>
                                                      
                                                        
                                                           

                                                                   

                                                        <td id="CELL2" valign="top" style="height:480px;">
                                                            <table width="95%" id="table1" >
                                                                <tr >
                                                                    <td style="height:100px;">
                                                                        <div class="card" id="inrdiv" style="display:none"> 
                                                                           
                                                                            <div class="card-body">
                                                                              <div id="inrrow">
                                                                               <div class="col-md-12 ">
                                                                                    <div class="row" style="margin-top:1%;">
                                                                                        <div class="col-md-6 container">
                                                                                            <img id="img1" style="width:108%;height:80%;margin-left:-1%" src="../rs/inr-5-indian-rupees-1.jpg" alt="Brek" width="150" class="rounded-0 gradient-mint" onerror="this.onerror=null; this.src='../app-assets/img/portrait/small/avatar-s-12.png';" value="5">
                                                                                            <div class="middle" >
                                                                                                <button class="rsbtnimg21" id="rs5minus" >-</button>
                                                                                                <button class="rsbtnimg22" id="rs5add">+</button>
                                                                                            </div>
                                                                                         </div>
                                                                                        <div class="col-md-6 rscontainer2">
                                                                                            <img id="img2" style="width:108%;height:80%;margin-left:2%" src="../rs/10-indian-rupees-banknote-reverse-1.jpg" alt="Brek" width="150" class="rounded-0 gradient-mint" onerror="this.onerror=null; this.src='../app-assets/img/portrait/small/avatar-s-12.png';" value="10" >
                                                                                            <div class="rsmiddle5">
                                                                                                <button class="rsbtnimg21" id="rs10minus">-</button>
                                                                                                <button class="rsbtnimg22" id="rs10add">+</button>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>

                                                                                </div>
                                                                           
<div class="col-md-12 ">
            <div class="row" style="margin-top:-3.2%;">
                <div class="col-md-6 rscontainer3">
                    <img id="img3" style="width:108%;height:80%;margin-left:-1%" src="../rs/50-Rupee-Note-b.png" alt="Brek" width="150" class="rounded-0 gradient-mint" onerror="this.onerror=null; this.src='../app-assets/img/portrait/small/avatar-s-12.png';" value="50">
                <div class="rsmiddle5">
                    <button class="rsbtnimg21" id="rs50minus">-</button>
                    <button class="rsbtnimg22" id="rs50add">+</button>
                                                                                                </div>
                                                                                        </div>
                <div class="col-md-6 rscontainer4">
                    <img id="img4" style="width:108%;height:80%;margin-left:2%" src="../rs/200-indian-rupees-banknote-gandhi-sanchi-stupa-reverse-1.jpg" alt="Brek" width="150" class="rounded-0 gradient-mint" onerror="this.onerror=null; this.src='../app-assets/img/portrait/small/avatar-s-12.png';" value="100">
                    <div class="rsmiddle5">
                        <button class="rsbtnimg21" id="rs200minus">-</button>
                        <button class="rsbtnimg22" id="rs200add">+</button>
                    </div>
                </div>
                
                 </div>
            </div>
       
                                                                                                                                                                            <div class="col-md-12 ">
            <div class="row" style="margin-top:-3.5%;">
                <div class="col-md-6 rscontainer5">
                    <img id="img5" style="width:108%;height:78%;margin-left:-1%" src="../rs/inr-500-indian-rupees-1.jpg" alt="Brek" width="150" class="rounded-0 gradient-mint" onerror="this.onerror=null; this.src='../app-assets/img/portrait/small/avatar-s-12.png';" value="200">
                 <div class="rsmiddle5">
                     <button class="rsbtnimg21" id="rs500minus">-</button>
                     <button class="rsbtnimg22" id="rs500add">+</button>
                        </div>
                </div>
                <div class="col-md-6 rscontainer6">
                    <img id="img6" style="width:108%;height:78%;margin-left:2%" src="../rs/2000-indian-rupees-banknote-gandhi-mangalyaan-reverse-1.jpg"  alt="Brek" width="150" class="rounded-0 gradient-mint" onerror="this.onerror=null; this.src='../app-assets/img/portrait/small/avatar-s-12.png';" value="500">
                 <div class="rsmiddle5">
                     <button class="rsbtnimg21" id="rs2000minus">-</button>
                     <button class="rsbtnimg22" id="rs2000add">+</button>
                        </div>
                                                                                                   </div>
            </div>
        </div>
                                                                       </div>
                                                                        </div>
                                                                       
                                                                       </div>
                                                                        <div class="card" id="dirdiv" style="display:none">

                                                                            <div class="card-body">
                                                                                <div id="inrrow">
                                                                                    <div class="col-md-12 ">
                                                                                        <div class="row" style="margin-top:1%;">
                                                                                            <div class="col-md-6 dircontainer1">
                                                                                                <img id="dirimg1" style="width:108%;height:90%;margin-left:-1%" src="../rs/20-uaedirham.jpg" alt="Brek" width="150" class="rounded-0 gradient-mint" onerror="this.onerror=null; this.src='../app-assets/img/portrait/small/avatar-s-12.png';" value="5">
                                                                                                <div class="rsmiddle5">
                                                                                                    <button class="rsbtnimg21" id="dir20minus">-</button>
                                                                                                    <button class="rsbtnimg22" id="dir20add">+</button>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-md-6 dircontainer2">
                                                                                                <img id="dirimg2" style="width:108%;height:90%;margin-left:2%" src="../rs/50-Dirhams-Currency-Dubai-UAE-Front.jpg" alt="Brek" width="150" class="rounded-0 gradient-mint" onerror="this.onerror=null; this.src='../app-assets/img/portrait/small/avatar-s-12.png';" value="10">
                                                                                                <div class="rsmiddle5">
                                                                                                    <button class="rsbtnimg21" id="dir50minus">-</button>
                                                                                                    <button class="rsbtnimg22" id="dir50add">+</button>
                                                                                                </div>
                                                                                             </div>
                                                                                        </div>

                                                                                    </div>


                                                                                    <div class="col-md-12 ">
                                                                                        <div class="row" style="margin-top:.5%;">
                                                                                            <div class="col-md-6 dircontainer3">
                                                                                                <img id="dirimg3" style="width:108%;height:90%;margin-left:-1%" src="../rs/100-dirham.jpg" alt="Brek" width="150" class="rounded-0 gradient-mint" onerror="this.onerror=null; this.src='../app-assets/img/portrait/small/avatar-s-12.png';" value="50">
                                                                                                <div class="rsmiddle5">
                                                                                                    <button class="rsbtnimg21" id="dir100minus">-</button>
                                                                                                    <button class="rsbtnimg22" id="dir100add">+</button>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-md-6 dircontainer4">
                                                                                                <img id="dirimg4" style="width:108%;height:90%;margin-left:2%" src="../rs/200-Dirhams-Currency-Dubai-UAE-Front.jpg" alt="Brek" width="150" class="rounded-0 gradient-mint" onerror="this.onerror=null; this.src='../app-assets/img/portrait/small/avatar-s-12.png';" value="100">
                                                                                                <div class="rsmiddle5">
                                                                                                    <button class="rsbtnimg21" id="dir200minus">-</button>
                                                                                                    <button class="rsbtnimg22" id="dir200add">+</button>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-12 ">
                                                                                        <div class="row" style="margin-top:.5%;">
                                                                                            <div class="col-md-6 dircontainer5">
                                                                                                <img id="dirimg5" style="width:108%;height:90%;margin-left:-1%" src="../rs/AED-500-note.jpg" alt="Brek" width="150" class="rounded-0 gradient-mint" onerror="this.onerror=null; this.src='../app-assets/img/portrait/small/avatar-s-12.png';" value="200">
                                                                                                <div class="rsmiddle5">
                                                                                                    <button class="rsbtnimg21" id="dir500minus">-</button>
                                                                                                    <button class="rsbtnimg22" id="dir500add">+</button>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-md-6 dircontainer6">
                                                                                                <img id="dirimg6" style="width:108%;height:90%;margin-left:2%" src="../rs/1000dirham.jpg" alt="Brek" width="150" class="rounded-0 gradient-mint" onerror="this.onerror=null; this.src='../app-assets/img/portrait/small/avatar-s-12.png';" value="500">
                                                                                                <div class="rsmiddle5">
                                                                                                    <button class="rsbtnimg21" id="dir1000minus">-</button>
                                                                                                    <button class="rsbtnimg22" id="dir1000add">+</button>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                       
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                           
                                                        </td>


                                                        @*<td id="CELL2" valign="top" style="height:490px;">
                                                            <table width="95%" id="table2" style="display:none">
                                                                <tr>
                                                                    <td style="height:100px;">
                                                                        <div class="card" id="dirdiv">

                                                                            <div class="card-body">
                                                                                <div id="inrrow">
                                                                                    <div class="col-md-12 ">
                                                                                        <div class="row" style="margin-top:1%;">
                                                                                            <div class="col-md-6">
                                                                                                <img id="dirimg1" style="width:108%;height:90%;margin-left:-1%" src="../rs/20-uaedirham.jpg" alt="Brek" width="150" class="rounded-0 gradient-mint" onerror="this.onerror=null; this.src='../app-assets/img/portrait/small/avatar-s-12.png';" value="5">

                                                                                            </div>
                                                                                            <div class="col-md-6">
                                                                                                <img id="dirimg2" style="width:108%;height:90%;margin-left:2%" src="../rs/50-Dirhams-Currency-Dubai-UAE-Front.jpg" alt="Brek" width="150" class="rounded-0 gradient-mint" onerror="this.onerror=null; this.src='../app-assets/img/portrait/small/avatar-s-12.png';" value="10">
                                                                                            </div>
                                                                                        </div>

                                                                                    </div>


                                                                                    <div class="col-md-12 ">
                                                                                        <div class="row" style="margin-top:.5%;">
                                                                                            <div class="col-md-6">
                                                                                                <img id="dirimg3" style="width:108%;height:90%;margin-left:-1%" src="../rs/100-dirham.jpg" alt="Brek" width="150" class="rounded-0 gradient-mint" onerror="this.onerror=null; this.src='../app-assets/img/portrait/small/avatar-s-12.png';" value="50">
                                                                                            </div>
                                                                                            <div class="col-md-6">
                                                                                                <img id="dirimg4" style="width:108%;height:90%;margin-left:2%" src="../rs/200-Dirhams-Currency-Dubai-UAE-Front.jpg" alt="Brek" width="150" class="rounded-0 gradient-mint" onerror="this.onerror=null; this.src='../app-assets/img/portrait/small/avatar-s-12.png';" value="100">
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-12 ">
                                                                                        <div class="row" style="margin-top:.5%;">
                                                                                            <div class="col-md-6">
                                                                                                <img id="dirimg5" style="width:108%;height:90%;margin-left:-1%" src="../rs/AED-500-note.jpg" alt="Brek" width="150" class="rounded-0 gradient-mint" onerror="this.onerror=null; this.src='../app-assets/img/portrait/small/avatar-s-12.png';" value="200">
                                                                                            </div>
                                                                                            <div class="col-md-6">
                                                                                                <img id="dirimg6" style="width:108%;height:90%;margin-left:2%" src="../rs/1000dirham.jpg" alt="Brek" width="150" class="rounded-0 gradient-mint" onerror="this.onerror=null; this.src='../app-assets/img/portrait/small/avatar-s-12.png';" value="500">
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                        </div>

                                                                    </td>
                                                                </tr>
                                                            </table>

                                                        </td>*@
                                                        
                                                    </tr>
                                                   
                                                </table>
                                                <div class="form-body" style="margin-top:-20px">
                                                    <div class="form-actions">
                                                      
                                                    </div>
                                                </div>
                                                @*<div class="card-body" style="border-top:1px solid #e3e8e8">
                                                    <br />
                                                    <div class="text-right" style="margin-left:3%">
                                                        <button type="button" style="width:100px" id="btnsubmit" class="btn btn-primary btn-min-width mr-1 mb-1"><u>S</u>ave <i class="fa fa-check-square-o"></i></button>
                                                        <button type="button" style="width:100px;display:none;" id="btnlist" onclick="enablenobox()" class="btn btn-primary btn-min-width mr-1 mb-1">Copy <i class="ft-align-justify"></i></button>
                                                        <button type="button" style="width:100px" id="btnnew" onclick="createnew()" class="btn btn-primary btn-min-width mr-1 mb-1">New <i class="ft-refresh-cw position-right"></i></button>
                                                        <button style="display:none" type="button" id="btndelete" class="btn btn-primary btn-min-width mr-1 mb-1">Delete <i class="fa fa-times"></i></button>
                                                    </div>
                                                   
                                                </div>*@
                                            </div>
                                        </div>
                                    </div>



                            @*<div class="form-actions" style="margin-left:3%">
                                <div class="text-right">
                                    <button type="button" style="width:100px" id="btnsubmit" class="btn btn-primary btn-min-width mr-1 mb-1"><u>S</u>ave <i class="fa fa-check-square-o"></i></button>
                                    <button type="button" style="width:100px;display:none;" id="btnlist" onclick="enablenobox()" class="btn btn-primary btn-min-width mr-1 mb-1">Copy <i class="ft-align-justify"></i></button>
                                    <button type="button" style="width:100px" id="btnnew" onclick="createnew()" class="btn btn-primary btn-min-width mr-1 mb-1">New <i class="ft-refresh-cw position-right"></i></button>
                                    <button style="display:none" type="button" id="btndelete" class="btn btn-primary btn-min-width mr-1 mb-1">Delete <i class="fa fa-times"></i></button>
                                </div>
                            </div>*@


                            </form>
                        </div>
                        </div>                   
                </div>
            </div>
        </div>
    </div>
</div>

<div id="alertpopup" class="modal fade text-left show" tabindex="-1" role="dialog" aria-labelledby="myheader" style="padding-right: 17px; background:rgba(0,0,0,0.5); display: block; display:none;">
    <div class="modal-dialog" role="document" style="top:20%;height:250%">
        <div class="modal-content">
            <form id="alertdiv" style="display:none">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="swal-icon swal-icon--warning">
                                <span class="swal-icon--warning__body">
                                    <span class="swal-icon--warning__dot"></span>
                                </span>
                            </div>
                            @*<table class="table table-responsive-md-md text-center" id="tblAlert"></table>*@
                        </div>
                    </div>
                    <br />
                    <div class="col-lg-12 text-lg-center "><label id="lbl1" style="font-size:xx-large;color:#00b3b3;text-align:center;"></label></div>
                    <br />
                    <div class="modal-footer">
                        <div class="text-right">
                            <input type="button" class="btn btn-outline-primary" style="" value="Ok" id="btntermssave" onclick="alertpopuprefresh(1)">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<style>
    #CELL1 {
        border-right: 1px solid #ffffff;
        border-left: 1px solid #ffffff;
        width: 62%;
        position:absolute
            
    }
    #CELL2 {
        /*padding-left:50px;*/
        border-right: 1px solid #cccccc;
        border-left: 1px solid #cccccc;
        width: 38%;
    }
    
     #cc {
        /*padding-left:50px;*/
        border-right: 1px solid #cccccc;
        border-left: 1px solid #cccccc;
        width: 4%;
        height:20px;
    }
    #tbl1{
        width:100%
    }
</style>

<script>
    $("#txtBillSlNocopy").autocomplete({
        delay: 0,
        minLength: 0,
        source: function (request, response) {
            var data = {};
            data.BillSlNo = $("#txtBillSlNocopy").val();
            data.BillSeriesId = $("#txtBillseriesId").val();
            data.LocId = UserLocationId;;
            data.DeptId = ERPDeptId;

                $.ajax({
                    url: '../SalesInvoice/SalesGetandGetsCashCollection',
                    type: "POST",
                    data: data,
                    dataType: "json",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return ({
                                ColCount: '3',
                                label: item.BillSlNo,
                                label1: item.CustName,
                                label2: item.InvDate,
                                billsl: item.BillSlNo,
                                billseries: item.BillSeriesId,
                                headers: ["Bill No", "Customer Name", "Inv Date"]
                            })
                        }));
                    }
                })

        },
        autoFocus: true,
        select: function (event, ui) {
            var data = {};
            data.BillSeriesId = ui.item.billseries;
            data.BillSlNo = ui.item.billsl;
            data.DeptId = ERPDeptId;
            $.ajax({
                type: "POST",
                url: "../SalesInvoice/SalesGetandGets",
                data: data,
                success: function (result) {
                    GetList(result.oList);
                }
            })
        },

    });



    function GetList(result) {
        if (result.length != 0) {            
            $('#hiddencustId').val(result[0].CustId);
            $('#txtcustomer').val(result[0].CustName);
            $('#txtaddress').val(result[0].CustAddress);
            $('#txtamount').val((parseFloat(result[0].GrandTotal).toFixed(Decimal)));
            $('#txtscancode').val((parseFloat(result[0].GrandTotal).toFixed(Decimal)));
            $('#FC').focus();
        }
    }

    function crncyload() {
        var data2 = {};
        data2.Id = 0;
        $.ajax({
            type: "POST",
            url: "../Master/CurrencyGetandGets",
            data2: data2,
            success: function (result) {
                CurrencyLoad(result.oList);
            }
        });
        function CurrencyLoad(result) {
            $("#FC").empty();
            for (var i = 0; i < result.length; i++) {
                if (result[i].BaseCurrencyId != 0) {
                    var BaseCurrency = result[i].BaseCurrencyId;
                }
            }
            CurrencySelect = "<option value=0>-----Select-------</option>";
            for (var i = 0; i < result.length; i++) {
                CurrencySelect += "<option  name='" + result[i].CurrencyRate + "' value='" + result[i].Id + "'>" + result[i].CurrencyName + "</option>";
                if (result[i].CurrencyName == 'INR')
                { inr = result[i].Id;}
                if (result[i].CurrencyName == 'DIRHAM')
                {  dir = result[i].Id; }
            }            
            $("#FC").append(CurrencySelect);
            $('#FC').val(BaseCurrency);
            $('#txtrate').val($('#FC').find("option:selected").attr("name"));
            if(inr==BaseCurrency)
            {
                $('#inrdiv').show();
                $('#dirdiv').hide();
            }
            else if (dir == BaseCurrency) {
                $('#inrdiv').hide();
                $('#dirdiv').show();
            }
            
        }
    }
    function CurrencyChange(Id) {
        $('#txtrate').val($('#' + Id).find("option:selected").attr("name"));
        if(dir == $('#' + Id).val())
        {
            $('#inrdiv').hide();
            $('#dirdiv').show();
        }
        else if (inr == $('#' + Id).val()) {
            $('#inrdiv').show();
            $('#dirdiv').hide();
        }
    }
    $(document).ready(function () {
        crncyload();
        var Decimal = 3;
         ProductFlag = 0;  i=0;
         editflag = 0;
         $('#txtBillSlNocopy').focus();
         $('#FC').keydown(function (e) {
             var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
             if (key == 13) {
                 e.preventDefault();
                 $('#txtcuramount').focus();
             }
         });
         $('#txtcuramount').keydown(function (e) {
             var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
             if (key == 13) {
                 e.preventDefault();
                 $('#btnadd').focus();
             }
         });

         var data = {};
         data.id = 0;
         data.DeptId = ERPDeptId;
         $.ajax({
             type: "POST",
             url: "../SalesInvoice/BillSeriesGetandGets",
             data: data,
             success: function (result) {
                 Billseriesload(result.oList);
             }
         });
         $("#btnsubmit").click(function (e) {
             if (editflag != 0) {
                 warningshow('You are in Edit Mode');
             }
             else if ($.trim($('#txtBillSlNocopy').val()) == "") {
                 warningshow('Please Select A Bill No', 'txtBillSlNocopy');
                 return false;
             }
             else if ($.trim($('#txtrecieved').val()) == 0) {
                 warningshow('Please Select A Currency', 'txtcuramount');
                 return false;
             }
             else
             {
                 showdeliver();
             }
            
         });

         $('#txtBillSlNocopy').keyup(function (e) {
             e.preventDefault();
             $('#tour1').fadeOut();
             var entrkey = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
             if (entrkey == 8) {
                 checkSTOtextempty();
             }
         });


    });
    //bill no load
    function Billseriesload(result) {
        $("#txtBillseriesId").empty();
        for (var i = 0; i < result.length; i++) {
            $("#txtBillseriesId").append("<option value='" + result[i].id + "' name='" + result[i].CurrentNo + "'>" + result[i].BillDescription + "</option>");
        }
        $('#txtBillSlNo').val(result[0].CurrentNo)
        $('#txtBlSlNo').val(result[0].CurrentNo);
    }


    var editflag;
    var ProductFlag; var i; var dir; var inr;
    i = 1; dir = 0; inr = 0;
    function calcgrandtotal()
    {
       
        var rate = parseFloat($('#txtrate').val()).toFixed(Decimal);
        rate = isNaN(rate) ? 0 : rate;
        var amount = parseFloat($('#txtcuramount').val()).toFixed(Decimal);
        amount = isNaN(amount) ? 0 : amount; 
        var tot = parseFloat(rate * amount).toFixed(Decimal);
        $('#txttotal').val(tot)
    }
   
    function productadd() {
        var rowcount = $('#tblcurrency tr').length;
        var ProductFlag = 0;
        for (p = 1; p <= i; p++) {
            if ($('#txt_currency' + p).val() == $("#FC").val()) {
                ProductFlag = 1;
            }
        }
        var slno = parseInt($('#slnotxt').val())
        if ($.trim($('#txtcuramount').val()) == "") {
            warningshow('Please Enter Amount', 'txtcuramount');
            return false;
        }
        if ($.trim($('#txtBillSlNocopy').val()) == "") {
            warningshow('Please Select A Bill No', 'txtBillSlNocopy');
            return false;
        }
        
        else {
            if (rowcount == 0) {
                i = 1;
            }
            if (ProductFlag == 1) {
                var Res = confirm('Product Already Added! Do You Want to Continue');
                if (Res == false) {
                    ClearProductRow();
                    return false;
                }
                if (Res == true) {
                    addcurrency();
                }
            }
            else
                {
            var slno = parseInt(i)
            var Count = $('#tblcurrency tr').length;
            var serialNo = rowcount + 1;
            var ProdRowEdit = "<tr id=" + 'row' + slno + " class= jsgrid-row ><td  id=" + 'td' + slno + " class= jsgrid-cell  style= width:93px;text-align:center >"
               + serialNo + "<input type='hidden' id='SlNo" + slno + "' value=" + Count + "></td><td class= 'jsgrid-cell jsgrid-align-center'  style='width:300px;text-align:center' > <select id=" + 'txt_currency' + slno + " class='form-control text-center' disabled=disabled style='background-color:white;height:30px;' >"
       + CurrencySelect + "</select> </td><td class= 'jsgrid-cell jsgrid-align-left'  style='width:130px;text-align:center' > <input type='text' class='form-control text-right'  disabled  style='background-color:white;height:30px;' id='txt_rate" + slno + "' value='"
               + parseFloat($('#txtrate').val() || 0).toFixed(Decimal) + "'> <td class= 'jsgrid-cell jsgrid-align-left'  style= 'width:220px;display:none' ><input type='text' class='form-control text-right'  disabled=disabled  style='background-color:white;height:30px;'  onkeyup='tot_row(" + slno + ")' onkeypress='return isNumber1(event)' id='txt_hiddenamnt" + slno + "' value='"
               + parseInt($('#txtcuramount').val() || 0).toFixed(Decimal) + "'> <td class= 'jsgrid-cell jsgrid-align-left'  style= 'width:220px;' ><input type='text' class='form-control text-right'  disabled=disabled  style='background-color:white;height:30px;'  onkeyup='tot_row(" + slno + ")' onkeypress='return isNumber1(event)' id='txt_amnt" + slno + "' value='"
               + parseInt($('#txtcuramount').val() || 0).toFixed(Decimal) + "'><td class= 'jsgrid-cell jsgrid-align-left'  style= 'width:215px;' ><input typ='text' class='form-control text-right' disabled=disabled style='background-color:white;height:30px;' onkeyup='tot_row(" + slno + ")'  onkeypress='isNumbercheck(event,this)'  id='txt_total" + slno + "' value="
               + parseFloat($('#txttotal').val() || 0).toFixed(Decimal) + "></td><td id='Edit" + slno + "' class= 'jsgrid-cell jsgrid-control-field jsgrid-align-center'  style= width: 120px; ><input class= 'jsgrid-button jsgrid-edit-button' onclick='Editrow(" + slno + ")' id='Edit' type=button title=Edit ><input class= 'jsgrid-button jsgrid-delete-button'  type= button id='delete' title= Delete onclick='rowdelete(" + slno + ")' ></td><td id='Update"
               + slno + "'  class= 'jsgrid-cell jsgrid-control-field jsgrid-align-center'  style='width:70px;display:none;'><input class='jsgrid-button jsgrid-update-button' onclick='Updaterow(" + slno + ")' type=button id='update' title='Update'><input class='jsgrid-button jsgrid-cancel-edit-button' onclick='CancelEditrow(" + slno + ")' type='button' id='CancelEdit' title='Cancel edit'></tr>";

            $('#tblcurrency').append(ProdRowEdit);
            $('#txt_currency' + slno).val($('#FC').val());            
            i++;
        }
        grandtotal(slno);
            $('#proddiv').animate({ scrollTop: 5000 }, 900);
           currencyroerefresh();
            $("#FC").focus();
        }
    }
    function addcurrency()
    {
        for (p = 1; p <= i; p++) {
            if ($('#txt_currency' + p).val() == $("#FC").val()) {
                var g = parseFloat($('#txt_total' + p).val());
                var a = parseFloat($('#txt_amnt' + p).val());
                var h = parseFloat($('#txttotal').val());
                var b = parseFloat($('#txtcuramount').val());
                var t = parseFloat(g) + parseFloat(h);
                var c = parseFloat(a) + parseFloat(b);
                $('#txt_total' + p).val(t.toFixed(Decimal));
                $('#txt_amnt' + p).val(c.toFixed(Decimal));
            }
        }
    }
    function currencyroerefresh()
    {
        $('#txtcuramount').val('');
        $('#txttotal').val('');

    }
    function grandtotal(slno) {
        var grandtot = 0;
        var grand = parseFloat($('#txtrecieved').val());     
            grandtot = grandtot + parseFloat($('#txt_total' + slno).val() || 0);     
        var a = parseFloat(grand) + parseFloat(grandtot);
        var tot = parseFloat($('#txtscancode').val() || 0);
        var diff = parseFloat((a - tot).toFixed(Decimal));
        $('#txtrecieved').val(a.toFixed(Decimal));
        $('#txtbalance').val(diff.toFixed(Decimal));

    }
    function updatetotal(RowId)
    {
        var grandtot = 0;
        var old = parseFloat($('#txt_hiddenamnt' + RowId).val());
        var n = parseFloat($('#txt_total' + RowId).val());
        var y = parseFloat(n - old);
        var z = parseFloat($('#txtrecieved').val());
         var q = parseFloat(z + y);    
        $('#txtrecieved').val(parseFloat(q).toFixed(Decimal));
    }
    function granddelete(RowId,amtt)
    {
        var q = parseFloat($('#txtrecieved').val());
        var w = parseFloat(amtt);
        var d = parseFloat(q-w);
        $('#txtrecieved').val(parseFloat(d).toFixed(Decimal));
    }


    function Editrow(RowId) {
        var amnt = 0;
      editflag = editflag + 1;
        $('#row' + RowId).children('td,th').css('background-color', 'rgb(232,226,226)');

        $('#Edit' + RowId).hide();

        $('#Update' + RowId).show();
        amnt = $('#txt_amnt' + RowId).val();
        $('#txt_hiddenamnt' + RowId).val($('#txt_total' + RowId).val());
        $('#txt_amnt' + RowId).prop('disabled', false);       
    }

    function Updaterow(RowId) {
        var c = parseFloat($('#txt_amnt' + RowId).val());
        $('#txt_amnt' + RowId).val(isNaN(c) ? 0 : c);

        if ($('#txt_amnt' + RowId).val() == '0') {
            warningshow('Amount cannot be Zero', 'txt_amnt' + RowId);
            return false;
        }
        
        else {
            editflag = editflag - 1;
            $('#row' + RowId).children('td,th').css('background-color', 'white');
            $('#Update' + RowId).hide();
            $('#Edit' + RowId).show();
            $('#txt_amnt' + RowId).prop('disabled', true);
            //$('#txt_amnt' + RowId).val(amnt).toFixed(Decimal);
            var ratenum = parseFloat($("#txt_amnt" + RowId).val() || 0);
            $("#txt_amnt" + RowId).val(ratenum.toFixed(Decimal));
            updatetotal(RowId);
        }
    }

    function CancelEditrow(RowId) {
        editflag = editflag - 1;
        $('#row' + RowId).children('td,th').css('background-color', 'white');
        $('#Update' + RowId).hide();
        $('#Edit' + RowId).show();
        $('#txt_amnt' + RowId).val(amnt).toFixed(Decimal);
    }
    function rowdelete(RowId) {
        $('#confirm').show();
        $('#confirmOk').focus();
        $('#Confirmflag').val('delete'); $('#ConfirmRowId').val(RowId);
    }

    function tot_row(RowId) {
        if (parseFloat($('#txt_amnt' + RowId).val() =='0')) {
            warningshow(' Amount Cannot Be Zero' );
        }
        var rate = parseFloat($('#txt_rate' + RowId).val() || 0);
        var amnt = parseFloat($('#txt_amnt' + RowId).val() || 0);
        rate = isNaN(rate) ? 0 : rate;
        var total = parseFloat(amnt * rate).toFixed(Decimal);
        $('#txt_total' + RowId).val(total).toFixed(Decimal);       
    }
    function ConfirmboxResult(Result, status, rowid) {
        if (Result == 'true' && status == 'delete') {
            deleterow(rowid)
        }
        else if (Result == 'true' && status == 'createnew') {
            formrefresh();
        }
        else if (Result == 'true' && status == 'copy') {
            copyflag = 1;
            for (c = 1; c <= i; c++) {
                $('#row' + c).remove();
                enablecopy();
            }
        }
        $('#confirm').fadeOut();
    }
    function deleterow(RowId) {
        var r = RowId;
        var sllno = 1;
        var rowslno = parseInt(sllno);
        var amntt = $('#txt_total' + RowId).val();
        $('#row' + RowId).remove();
        for (var j = 1; j <= i - 1; j++) {
            if ($('#txt_rate' + j).val() != undefined) {
                $('#td' + j).text(sllno);
                sllno++;
            }
        }
        granddelete(r,amntt);
        $('#FC').focus();
    }
    function SaveAndUpdate(Flag) {
        $('#btnsubmit').prop("disabled", true);
            var oArray = new Array();
            for (var k = 1; k <= i; k++) {
                var SlNo = $('#txtslno').val();
                var BillSeriesId = $('#txtBillseriesId').val();
                var BillSlNo = $('#txtBillSlNocopy').val();
                var CustId = $('#hiddencustId').val();
                var Customer = $('#txtcustomer').val();
                var Remarks = $('#txtremarks').val();
                var TotalAmount = $('#txtamount').val();

                var TotalReceived = $('#txtrecieved').val();
                var BalanceAmount = $('#txtbalance').val();
                var Rate = $('#txt_rate' + k).val();
                var Currency = $('#txt_currency' + k).val();
                var Total = $('#txt_total' + k).val();
                var ReceivedAmount = $('#txt_total' + k).val();
                var UId = ERPUserId;
                var DeptId = ERPDeptId;
                var Location = UserLocationId;
                var PaymentType = $('#txtpaymenttype').val();
                DelFlag = 1;
                if ((Currency != null)) {
                    oArray.push({
                        'SlNo': SlNo,
                        'BillSeriesId': BillSeriesId,
                        'BillSlNo': BillSlNo,
                        'CustId': CustId,
                        'Customer': Customer,
                        'Remarks': Remarks,
                        'TotalAmount': TotalAmount,
                        'TotalReceived': TotalReceived,
                        'BalanceAmount': BalanceAmount,
                        'Rate': Rate,
                        'Currency': Currency,
                        'Total': Total,
                        'ReceivedAmount': ReceivedAmount,
                        'UId': UId,
                        'DeptId': DeptId,
                        'Location': Location,
                        'DelFlag': DelFlag,
                        'PaymentType': PaymentType
                    })
                }
            }
            if (oArray != "") {
                var data = { 'CashCollectionModel': oArray };
                $.ajax({
                    type: "POST",
                    url: "../../inventory/CashCollectionInsert",
                    data: data,
                    success: function (result) {
                        for (var i = 0; i <= result.oList.length; i++) {
                            var status = result.oList[i].Status;
                            var Billno = result.oList[i].SlNo;
                            $('#btnsubmit').prop("disabled", false);

                            Showalerts(status, Billno);
                            //formrefresh();


                        }
                    }
                })
            }
        }
   
    
    function Showalerts(Status, Billno) {
        if (Status == 1) {
            formrefresh();
            swal('Data Saved Successfully', "", "success");
            $('.swal-button swal-button--confirm').focus();
        }
    }
    function serialnoload() {
        var srlno = {};
        srlno.DeptId = ERPDeptId;
        $.ajax({
            type: "POST",
            url: "../../Common/SlNoGetandGets",
            data: srlno,
            success: function (result) {
                getslno(result.oList);
            }
        });
    }

    function getslno(result) {
        for (var k = 0; k < result.length; k++) {
            $('#txtslno').val(result[k].CashCollectionSlno);
        }
    }
    function formrefresh() {
        if (editflag != 0) {
            warningshow('You are in Edit Mode');
        }
        else {
           
            $('#txtslno').prop('disabled', true);
           
            $('#txtcustomer').val('');
            $('#txtamount').val('');
            $('#txtaddress').val('');
            $('#txtscancode').val("0.00");
            $('#txtrecieved').val('0.00');
            $('#txtbalance').val('0.00');
            //$('#FC').val('');
            $("#tblcurrency tr").remove();
            serialnoload();
            $('#txtBillSlNocopy').val('');
            $('#txtBillSlNocopy').focus();
           // $('#tour1').fadeOut();
        }
    }
    function createnew() {
        if (editflag != 0) {
            warningshow('You Are In Edit Mode');
        }
        else {
            var rowcount = document.getElementById('tblcurrency').rows.length;
            if (rowcount > 0 ) {
                $('#Confirmflag').val('createnew'), $('#ConfirmRowId').val(1)
                $('#confirmmessage').text('Data Will be Lost.Do you want to Continue?')
                $('#confirm').show();
                $('#confirmOk').focus();
            }
            else {
                formrefresh();
            }
        }

    }
    function isNumbercheck(evt, selectedvalue) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        $(selectedvalue).val($(selectedvalue).val().replace(/[^0-9\.]/g, ''));
        if (charCode != 8 && (charCode != 46 || $(selectedvalue).val().indexOf('.') != -1) && charCode != 13 && (charCode < 48 || charCode > 57)) {
            evt.preventDefault();
            warningshow('Digits Only')
            return false;
        }
        return true;
    }

    $('#rs5add').click(function (e) {
        if ($('#txtBillSlNocopy').val() == '')
        {
            warningshow('Please select any Bill No', 'txtBillSlNocopy');
        }
        else
        {
            var c = "5.00";
            clicktotal(c);
        }
      
    });
    $('#rs10add').click(function (e) {
        var c = "10.00";
        clicktotal(c);
    });
    $('#dir20add').click(function (e) {
        var c = "20.00";
        clicktotal(c);
    });
    $('#rs50add,#dir50add').click(function (e) {
        var c = "50.00";
        clicktotal(c);
    });
    $('#dir100add').click(function (e) {
        var c = "100.00";
        clicktotal(c);
    });
    $('#rs200add,#dir200add').click(function (e) {
        var c = "200.00";
        clicktotal(c);
    });
    $('#rs500add,#dir500add').click(function (e) {
        var c = "500.00";
        clicktotal(c);
    });
    $('#rs2000add').click(function (e) {
        var c = "2000.00";
        clicktotal(c);
    });
    $('#dir1000add').click(function (e) {
        var c = "1000.00";
        clicktotal(c);
    });
    function clicktotal(value)
    {
        var grandtot = 0;
        grandtot = parseFloat($('#txtrecieved').val() || 0);
        rt = parseFloat($('#txtrate').val() || 0);
        var v = parseFloat(value)*parseFloat(rt);
        var a = grandtot + v;
        var tot = parseFloat($('#txtscancode').val() || 0);
        var diff = parseFloat((a - tot).toFixed(Decimal));
        $('#txtrecieved').val(a.toFixed(Decimal));
        $('#txtbalance').val(diff.toFixed(Decimal));
        addtogrid(value)
    }
    function addtogrid(value)
    {        
        var rate = parseFloat($('#txtrate').val());
        var v = parseFloat(value);
        var tt = parseFloat((v*rate).toFixed(Decimal));
        var rowcount = $('#tblcurrency tr').length;
        var ProductFlag = 0;
         if (rowcount == 0) {
                i = 1;
            }
        for (p = 1; p <= rowcount; p++) {
            if ($('#txt_currency' + p).val() == $("#FC").val()) {
                ProductFlag = 1;
            }
        }
        if (ProductFlag == 1) {                       
                for (p = 1; p <= i; p++) {
                    if ($('#txt_currency' + p).val() == $("#FC").val()) {
                        var g = parseFloat($('#txt_total' + p).val());
                        var a = parseFloat($('#txt_amnt' + p).val());
                        var h = parseFloat(tt);
                        var b = parseFloat(v);
                        var t = parseFloat(g) + parseFloat(h);
                        var c = parseFloat(a) + parseFloat(b);
                        $('#txt_total' + p).val(t.toFixed(Decimal));
                        $('#txt_amnt' + p).val(c.toFixed(Decimal));
                    }
                }            
        }
        else {
            var slno = parseInt(i)
            var Count = $('#tblcurrency tr').length;
            var serialNo = rowcount + 1;
            var ProdRowEdit = "<tr id=" + 'row' + slno + " class= jsgrid-row ><td  id=" + 'td' + slno + " class= jsgrid-cell  style= width:93px;text-align:center >"
               + serialNo + "<input type='hidden' id='SlNo" + slno + "' value=" + Count + "></td><td class= 'jsgrid-cell jsgrid-align-center'  style='width:300px;text-align:center' > <select id=" + 'txt_currency' + slno + " class='form-control text-center' disabled=disabled style='background-color:white;height:30px;' >"
       + CurrencySelect + "</select> </td><td class= 'jsgrid-cell jsgrid-align-left'  style='width:130px;text-align:center' > <input type='text' class='form-control text-right'  disabled  style='background-color:white;height:30px;' id='txt_rate" + slno + "' value='"
               + parseFloat($('#txtrate').val() || 0).toFixed(Decimal) + "'> <td class= 'jsgrid-cell jsgrid-align-left'  style= 'width:220px;display:none' ><input type='text' class='form-control text-right'  disabled=disabled  style='background-color:white;height:30px;'  onkeyup='tot_row(" + slno + ")' onkeypress='return isNumber1(event)' id='txt_hiddenamnt" + slno + "' value='"
               + parseFloat(v.toFixed(Decimal)) + "'> <td class= 'jsgrid-cell jsgrid-align-left'  style= 'width:220px;' ><input type='text' class='form-control text-right'  disabled=disabled  style='background-color:white;height:30px;'  onkeyup='tot_row(" + slno + ")' onkeypress='return isNumber1(event)' id='txt_amnt" + slno + "' value='"
               + parseFloat(v.toFixed(Decimal)) + "'><td class= 'jsgrid-cell jsgrid-align-left'  style= 'width:215px;' ><input typ='text' class='form-control text-right' disabled=disabled style='background-color:white;height:30px;' onkeyup='tot_row(" + slno + ")'  onkeypress='isNumbercheck(event,this)'  id='txt_total" + slno + "' value="
               + parseFloat(tt.toFixed(Decimal)) + "></td><td id='Edit" + slno + "' class= 'jsgrid-cell jsgrid-control-field jsgrid-align-center'  style= width: 120px; ><input class= 'jsgrid-button jsgrid-edit-button' onclick='Editrow(" + slno + ")' id='Edit' type=button title=Edit ><input class= 'jsgrid-button jsgrid-delete-button'  type= button id='delete' title= Delete onclick='rowdelete(" + slno + ")' ></td><td id='Update"
               + slno + "'  class= 'jsgrid-cell jsgrid-control-field jsgrid-align-center'  style='width:70px;display:none;'><input class='jsgrid-button jsgrid-update-button' onclick='Updaterow(" + slno + ")' type=button id='update' title='Update'><input class='jsgrid-button jsgrid-cancel-edit-button' onclick='CancelEditrow(" + slno + ")' type='button' id='CancelEdit' title='Cancel edit'></tr>";
            $('#tblcurrency').append(ProdRowEdit);
            $('#txt_currency' + slno).val($('#FC').val());
            i++;
        }
    }
    $('#rs5minus').click(function (e) {
        if ($('#txtBillSlNocopy').val() == '') {
            warningshow('Please select any Bill No', 'txtBillSlNocopy');
        }
        else {
            var c = "5.00";
            clicktotal(c);
        }

    });
    $('#rs10minus').click(function (e) {
        var c = "-10.00";
        clicktotal(c);
    });
    $('#dir20minus').click(function (e) {
        var c = "-20.00";
        clicktotal(c);
    });
    $('#rs50minus,#dir50minus').click(function (e) {
        var c = "-50.00";
        clicktotal(c);
    });
    $('#dir100minus').click(function (e) {
        var c = "-100.00";
        clicktotal(c);
    });
    $('#rs200minus,#dir200minus').click(function (e) {
        var c = "-200.00";
        clicktotal(c);
    });
    $('#rs500minus,#dir500minus').click(function (e) {
        var c = "-500.00";
        clicktotal(c);
    });
    $('#rs2000minus').click(function (e) {
        var c = "-2000.00";
        clicktotal(c);
    });
    $('#dir1000minus').click(function (e) {
        var c = "-1000.00";
        clicktotal(c);
    });
  
    function showdeliver() {
        $('#alertpopup').show();
        $('#alertdiv').show();
        $('#lbl1').text('Balance Amount is ' + $('#txtbalance').val());
        $('#btntermssave').focus();
    }
    function alertpopuprefresh(e) {
        $('#alertpopup').hide();
        $('#alertdiv').hide();
        SaveAndUpdate(1);
    }

    function checkSTOtextempty() {
        $('#txtscancode').val('0.00');
        $('#txtcustomer').val('');
        $('#txtamount').val('');
        $('#txtrecieved').val('');
        $('#txtbalance').val('');
        $('#tblcurrency tr').remove();
    }
    function warningshow(message, Id) {
        $('#popupmessage').text(message);
        $('#Warningpopup').show();
        $('#' + Id).focus();
        window.setTimeout(function () {
            $('#Warningpopup').fadeOut();
        }, 3000);
    }
</script>