
@{
    ViewBag.Title = "PhysicalVariationTransfer";
}
<link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/tables/jsgrid/jsgrid-theme.min.css">
<link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/tables/jsgrid/jsgrid.min.css">


<script type="text/javascript" src="../Projectscript/PhysicalVariationTransfer.js"></script>
<script src="~/Scripts/Autocomplete/jquery-ui.js"></script>




<div class="myData" data-x="M106" />
<div id="Entry"  style="margin-top:-12px;width:75%;margin-left:12.5%">
   
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" style="margin-top:3px;">
                    <h4 class="card-title mb-0" style="font-weight:bold;">Physical Variation Transfer</h4>
                </div>
                <div class="card-body" style="margin-top:12px">
                    <div class="px-3">
                        <div class="card-content collapse show">
                            <div class="card-body">
                                @*<div style="height:15px;margin-top:-17px;"></div>*@
                                <form action="#">
                                    <hr style="margin-top:-1px;margin-left:-17px;margin-right:-15px;" />
                                    <div class="form-body" style="margin-left:-18px;margin-right:-25px;margin-top:-18px;">
                                        <div class="row" style="background-color:#E0F3F4;margin-left:-7px;width:100%;height:200px;margin-top:-48px;margin-bottom:-30px;">
                                            <div class="col-md-12">
                                                <div class="form-group" style="margin-left:9px;">
                                                    <br />
                                                </div>
                                                <div class="form-body">

                                                    <div class="row" style="margin-left:2px;">
                                                        <div class="col-md-12">
                                                            <br />
                                                           
                                                            <div class="row" style="height:28px;">
                                                                <div class="col-md-1">
                                                                    <div class="form-group">
                                                                        <label style="font-weight:bold;">No#</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <div class="form-group">
                                                                        <label style="font-weight:bold;">Location</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-2" style="margin-left:-16px;">
                                                                    <div class="form-group">
                                                                        <label style="font-weight:bold;">Adj.Date</label>
                                                                    </div>
                                                                </div>
                                                                
                                                                <div class="col-md-2" >
                                                                    <div class="form-group">
                                                                        <label style="margin-left:-25%;font-weight:bold;">Debit A/c</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <div class="form-group">
                                                                        <label style="margin-left:72px;font-weight:bold;">Credit A/c</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <div class="form-group">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="row" style="margin-top:1px;">
                                                                <div class="col-md-1">
                                                                    <div class="form-group">
                                                                        <input type="text" id="txtno" class="form-control" disabled style="background-color:white">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <div class="form-group">
                                                                        <select id="Location" class="form-control" style="width:92%"></select>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <div class="form-group">
                                                                        <input type="text" id="txtdate" class="form-control" style="width:70%;margin-left:-20px;">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <div class="form-group" style="margin-left:-22%;">
                                                                        <table width="120%">
                                                                            <tr>
                                                                                <td width="20%">
                                                                                    <input type="text" id="Debitaccount" class="form-control" onkeyup="checkDebitAccounttextempty(event)" style="width:146%;margin-left:-46%;border-right:none;border-top-right-radius:0px;border-bottom-right-radius:0px;" />
                                                                                    <input type="hidden" id="hiddendebit" />
                                                                                </td>
                                                                                <td width="100%">
                                                                                    <input type="text" id="txtdacnt" maxlength="" class="form-control" name="acnt1" style="border-top-left-radius:0px;border-bottom-left-radius:0px;border-left:none;background-color:white;" disabled />
                                                                                </td> 
                                                                            </tr>

                                                                        </table>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-2" style="margin-left:50px;">
                                                                    <div class="form-group">
                                                                        <table width="150%">
                                                                            <tr>
                                                                                <td width="28%">
                                                                                    <input type="text" id="Creditaccount" class="form-control" onkeyup="checkCreditAccounttextempty(event)" style="width:100%;border-right:none;border-top-right-radius:0px;border-bottom-right-radius:0px" />
                                                                                    <input type="hidden" id="hiddencredit" />
                                                                                </td>
                                                                                <td width="120%">
                                                                                    <input type="text" id="txtcacnt" maxlength="" class="form-control" name="acnt1" style="border-top-left-radius:0px;border-bottom-left-radius:0px;border-left:none;background-color:white;" disabled />
                                                                                </td>
                                                                            </tr>

                                                                        </table>
                                                                    </div>
                                                                </div>
                                                                
                                                                <div class="col-md-2" style="">
                                                                    <div class="form-group">
                                                                        <button type="button" style="width:70px;margin-left:130px;" id="moreprod"  class="btn btn-primary btn-min-width mr-1 mb-1 ">Go</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr style="margin-top:5px;margin-left:-17px;margin-right:-16px;" />

                                    <div style="margin-left:-9px;margin-right:0px;margin-top:14px;">
                                        <div id="customView" class="jsgrid" style="position: relative; width: 100%;border:solid 1px;border-color:#cccccc;border-bottom:1px solid #cccccc;overflow-x: auto;overflow-y: hidden;">
                                            <div class="jsgrid-grid-header jsgrid-header-scrollbar" style="width:100%;">
                                                <table class="jsgrid-table">
                                                    <tr class="jsgrid-header-row">
                                                        <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width:4%">SL#</th>
                                                        <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width:6%">Code#</th>
                                                        <th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" style="width:20%">Description</th>
                                                        <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width:6%">Unit</th>
                                                        <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width:6%">Qty.</th>
                                                        <th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" style="width:6%">Cost</th>
                                                        <th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" style="width:6%">Total</th>
                                                        <th class="jsgrid-header-cell jsgrid-control-field jsgrid-align-center" style="width:4%"><i class="icon-trash"></i></th>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div id="proddiv" class="jsgrid dataTables_scrollBody" style="position: relative;overflow-x: auto;overflow-y: scroll; height: 350px; width: 100%;">
                                                <table class="jsgrid-table" id="tblPhysicalVariationTransfer"></table>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" id="hiddenrow" />
                                    <div class="form-actions">
                                        <div class="text-right">
                                            <button type="button" style="width:100px" id="btnsubmit" class="btn btn-primary btn-min-width mr-1 mb-1"><u>S</u>ave <i class="fa fa-check-square-o"></i></button>
                                            <button type="button" style="width:100px" id="btnlist" onclick="enablenobox()" class="btn btn-primary btn-min-width mr-1 mb-1">Copy <i class="ft-align-justify"></i></button>
                                            <button type="button" style="width:100px" id="btnnew" onclick="createnew()" class="btn btn-primary btn-min-width mr-1 mb-1">New <i class="ft-refresh-cw position-right"></i></button>
                                            <button style="display:none" type="button" id="btndelete" class="btn btn-primary btn-min-width mr-1 mb-1">Delete <i class="fa fa-times"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //Debit Account

    $("#Debitaccount").autocomplete({
        source: function (request, response) {
            var data = {};
            data.AccountDescription = $('#Debitaccount').val();
            $.ajax({
                url: '../Inventory/AccountNumberSearch',
                type: "POST",
                data: data,
                dataType: "json",
                success: function (data) {
                    response($.map(data, function (item) {
                        return ({
                            ColCount: '-3',
                            label: item.DebitAccount,
                            label1:item.AccountDescription,
                            DebitAccount:item.DebitAccount,
                            AccountDescription:item.AccountDescription,
                            AccountId:item.AccountId,
                            headers: ["Account Code", "Account Name"]
                        })
                    }));
                }
            })
        },
        autoFocus: true,
        select: function (event, ui) {
            $('#hiddendebit').val(ui.item.AccountId)
            $('#Debitaccount').val(ui.item.DebitAccount);
            $('#txtdacnt').val(ui.item.AccountDescription);

        },
    });
    //Credit Account

    $("#Creditaccount").autocomplete({
        source: function (request, response) {
            var data = {};
            data.AccountDescription = $("#Creditaccount").val();
            $.ajax({
                url: '../Inventory/AccountNumberSearch',
                type: "POST",
                data: data,
                dataType: "json",
                success: function (data) {
                    response($.map(data, function (item) {
                        return ({
                            ColCount: '-3',
                            label: item.DebitAccount,
                            label1: item.AccountDescription,
                            DebitAccount: item.DebitAccount,
                            AccountDescription: item.AccountDescription,
                            AccountId: item.AccountId,
                            headers: ["Account Code", "Account Name"]
                        })
                    }));
                }
            })
        },
        autoFocus: true,
        select: function (event, ui) {
            $('#hiddencredit').val(ui.item.AccountId)
            $('#Creditaccount').val(ui.item.DebitAccount);
            $('#txtcacnt').val(ui.item.AccountDescription);

        },
    });

    //Physical Variation Transfer number autocomplete and Copy
    $("#txtno").autocomplete({
        source: function (request, response) {
            var data = {};
            data.PVTNo = $("#txtno").val();
            data.DeptId = ERPDeptId;
            $.ajax({
                url: '../../Inventory/PhysicalVariationTransferNumberSearch',
                type: "POST",
                data: data,
                dataType: "json",
                success: function (data) {
                    response($.map(data, function (item) {
                        return ({
                            ColCount: '3',
                            label1: item.LocationName,
                            label: item.PVTNo,
                            label2: item.Date,
                            PVTNo: item.PVTNo,
                            Date: item.Date,
                            FromLocation: item.FromLocation,
                            Location: item.Location,
                            DAccount: item.DAccount,
                            CAccount: item.CAccount,
                            DAccountName: item.DAccountName,
                            CAccountName: item.CAccountName,
                            headers: ["Number", "Location", "Date"]
                        })
                    }));
                }
            })
        },
        autoFocus: true,
        select: function (event, ui) {
            $("#tblStockAdjustment tr").remove();
            $('#txtno').val(ui.item.StockAdjNo);
            $('#Location').val(ui.item.Location);
            $('#txtdate').val(ui.item.Date);
            $('#Debitaccount').val(ui.item.DAccount);
            $('#Creditaccount').val(ui.item.CAccount);
            $('#txtdacnt').val(ui.item.DAccountName);
            $('#txtcacnt').val(ui.item.CAccountName);
            var PVTNo = ui.item.PVTNo;
            var data = {};
            data.PVTNo = PVTNo;
            data.DeptId = ERPDeptId;
            $.ajax({
                type: "POST",
                url: "../../inventory/PhysicalVariationTransferGetlist",
                data: data,
                success: function (result) {
                    ShowPVTGet(result);
                }
            });
        },
    });

</script>