
@{
    ViewBag.Title = "StockAdjustment";
}


<link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/tables/jsgrid/jsgrid-theme.min.css">
<link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/tables/jsgrid/jsgrid.min.css">
<link rel="stylesheet" type="text/css" href="../app-assets/vendors/css/hopscotch.css">



<script type="text/javascript" src="../Projectscript/StockAdjustment.js"></script>
<script src="~/Scripts/Autocomplete/jquery-ui.js"></script>

<style>
    /*.form-control:disabled, .form-control[readonly] {
        background-color: white;
    }*/
    .s:focus {
    background-color:#dee2e6;
}
    
</style>

<div class="myData" data-x="M105" />
<div id="Entry" style="margin-top:-12px;width:75%;margin-left:12.5%">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" style="margin-top:3px;">
                    <h4 class="card-title mb-0" style="font-weight:bold;">Stock Adjustment</h4>
                </div>
                <div class="card-body" style="margin-top:12px">
                    <div class="px-3">
                        <div class="card-content collapse show">
                            <div class="card-body" >                              
                                <form action="#">
                                    <hr style="margin-top:-1px;margin-left:-17px;margin-right:-15px;" />
                                    <div class="form-body" style="margin-left:-19px;margin-right:-26px;margin-top:-18px;">
                                        <div class="row" style="background-color:#E0F3F4;margin-left:-7px;width:100%;height:200px;margin-top:-50px;margin-bottom:-30px;">
                                            <div class="col-md-12">
                                                <div class="form-group" style="margin-left:9px;">
                                                    <br />                                                                                
                                        </div>
                                        <div class="form-body">
                                            <div class="row"  style="margin-left:2px;">
                                                <div class="col-md-12">
                                                    <br />
                                                    <div class="hopscotch-bubble animated tour-demo-tour" id="tour1" style="top: 75px; left:160px;display:none;margin-left:-60px;">
                                                        <div class="hopscotch-bubble-container" style="width: 280px; padding: 10px;">
                                                            <div class="hopscotch-bubble-content">
                                                                <h3 class="hopscotch-title">Search Stock Adjustment Number Here.</h3>
                                                                <div class="hopscotch-content"></div>
                                                            </div>
                                                        </div>
                                                        <div class="hopscotch-bubble-arrow-container hopscotch-arrow up">
                                                            <div class="hopscotch-bubble-arrow-border"></div>
                                                            <div class="hopscotch-bubble-arrow"></div>
                                                        </div>
                                                    </div>
                                                    <div class="row" style="height:28px;">
                                                        <div class="col-md-1">
                                                            <div class="form-group">
                                                                <label style="font-weight:bold;">No#<span class="danger">*</span></label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label style="font-weight:bold;">Location<span class="danger">*</span></label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label style="font-weight:bold;">Date<span class="danger">*</span></label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label style="font-weight:bold;">Product/Material<span class="danger">*</span></label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <div class="form-group">
                                                                <label style="font-weight:bold;">CurrentStock</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <div class="form-group" style="margin-left:40%;">
                                                                <label style="font-weight:bold;">Adj.Stock<span class="danger">*</span></label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label></label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <div class="form-group">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="row" style="margin-top:1px;">
                                                        <div class="col-md-1">
                                                            <div class="form-group">
                                                                <input type="text" id="txtno" class="form-control" disabled  style="background-color:white"onkeyup="" onkeydown="$('#tour1').hide();">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <select id="Location" class="form-control" onchange="checklocationempty()"></select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <input type="text" id="txtdate" class="form-control" >
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">                                                              
                                                                <input type="text" id="txtproduct" class="form-control" onkeyup="checkpdcttextempty()">
                                                                <input type="hidden" id="ProductId0" />
                                                            </div>
                                                        </div>
                                                        <input type="hidden" id="Description" />
                                                        <div class="col-md-1">
                                                            <div class="form-group" style="width:140%;">
                                                                <input type="text" id="txtstock" class="form-control" onkeyup=""  disabled style="background-color:white">
                                                            </div>
                                                        </div>
                                                  <div class="col-md-1">
                                                            <div class="form-group" style="margin-left:40%;width:110%;">
                                                                <input type="text" id="txtadjstock" class="form-control" onkeyup="calcdiff()" onkeypress='return isNumber1(event,this.id)' >
                                                                <input type="hidden" id="txthiddendiffrence" class="form-control" style="background-color:white;">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <div class="form-group" style="margin-left:80%;">
                                                                <button type="button" style="width:70px;" id="btnadd" onclick="productadd()" class="btn btn-primary btn-min-width mr-1 mb-1 ">+ Add </button>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2" >
                                                            <div class="form-group" style="margin-left:20%;">
                                                                <button type="button" id="moreprod"  onclick="GetList()" class="btn btn-primary btn-min-width mr-1 mb-1 ">Add More+ </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                      </div>
                                        </div>
                                    <hr style="margin-top:5px;margin-left:-19px;margin-right:-19px;" />
                                    <div style="margin-left:-9px;margin-right:0px;margin-top:14px;">
                                        <div id="customView" class="jsgrid" style="position: relative; height: auto; width: 100%;border:solid 1px;border-color:#cccccc;border-bottom:1px solid #cccccc;overflow-x:auto;overflow-y:hidden;">
                                            <div class="jsgrid-grid-header jsgrid-header-scrollbar" style="width:100%;">
                                                <table class="jsgrid-table">
                                                    <tr class="jsgrid-header-row">
                                                        <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width:4%">SL#</th>
                                                        <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width:6%">Location</th>
                                                        <th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" style="width:6%">Date</th>
                                                        <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width:6%">Code#</th>
                                                        <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width:20%" >Description</th>
                                                        <th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" style="width:6%">Current Stock</th>
                                                        <th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" style="width:6%">Adj.Stock</th>
                                                        <th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" style="width:6%">Diffrence</th>
                                                        <th class="jsgrid-header-cell jsgrid-control-field jsgrid-align-center" style="width:4%"><i class="icon-pencil"></i>&nbsp;<i class="icon-trash"></i></th>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div id="proddiv" class="jsgrid dataTables_scrollBody" style="position: relative;  overflow-x: auto;overflow-y: scroll; height: 390px;width:100%;">
                                                <table class="jsgrid-table" id="tblStockAdjustment"></table>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" id="hiddenrow" />
                                    <div class="form-actions">                                      
                                        <div class="text-right">
                                            <button type="button" style="width:100px" id="btnsubmit" class="btn btn-primary btn-min-width mr-1 mb-1"><u>S</u>ave <i class="fa fa-check-square-o"></i></button>
                                            <button type="button" style="width:100px" id="btnlist" onclick="enablenobox()" class="btn btn-primary btn-min-width mr-1 mb-1">Copy <i class="ft-align-justify"></i></button>
                                            <button type="button" style="width:100px" id="btnnew" onclick="createnew()" class="btn btn-primary btn-min-width mr-1 mb-1">New <i class="ft-refresh-cw position-right"></i></button>
                                            <button style="display:none" type="button" id="btndelete" class="btn btn-primary btn-min-width mr-1 mb-1">Delete <i class="fa fa-times"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade text-left show" id="iconForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel17" style="padding-right: 17px; display: none;background:rgba(0,0,0,0.5);">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="width:180%; margin-left:-270px;">
            <div class="modal-header bg-primary white">
                <h4 class="modal-title" id="myModalLabel17">Stock Details</h4>
                <button type="button" class="close" data-dismiss="modal" onclick="closepopup()" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="row" style="background-color:#f0f6f6;">

                        <div class="col-md-2" style="margin-top:17px;">

                            <input type="text" id="searchGroup" class="form-control" placeholder="Search Group" onkeyup="checkgrptextempty()" style="height:35px;font-weight:200;">
                            <input type="hidden" id="hiddengrpno" />

                        </div>
                        <div class="col-md-2" style="margin-top:17px;">
                            <div class="form-group">
                                <input type="text" id="searchSubGroup" class="form-control" placeholder="Search SubGroup" onkeyup="checkSubgrptextempty()"  style="height:35px;font-weight:200;">
                                <input type="hidden" id="hiddensubgrpno" />
                            </div>
                        </div>
                        <div class="col-md-2" style="margin-top:17px;">
                            <div class="form-group">
                                <input type="text" id="searchCat" class="form-control" placeholder="Search Catogory" onkeyup="checkCategorytextempty()" style="height:35px;font-weight:200;">
                                <input type="hidden" id="hiddencatno" />
                            </div>
                        </div>
                        <div class="col-md-2" style="margin-top:17px;">
                            <div class="form-group">
                                <input type="text" id="searchSubcat" class="form-control" placeholder="Search SubCatogory"  onkeyup="checkSubCategorytextempty()" style="height:35px;font-weight:200;">
                                <input type="hidden" id="hiddensubcatno" />
                            </div>
                        </div>
                        <div class="col-md-2" style="margin-top:17px;">
                            <div class="form-group">
                                <input type="text" id="searchItemCode" class="form-control" placeholder="Search Item Code" onkeyup="checkItemtextempty()"   style="height:35px;font-weight:200;">
                                <input type="hidden" id="hiddenitemcode" />
                            </div>
                        </div>
                        <div class="col-md-1" style="margin-top:16px;margin-left:-5px;">
                            <div class="form-group">
                                <button type="button" id="btnsearch" onclick="" class="btn btn-primary btn-min-width mr-1 mb-1 " style="position:absolute;width:100px;font-weight:400;">Search <i class="fa fa-search position-right"></i>  </button>
                            </div>

                        </div>
                        <div class="col-md-1" style="margin-top:16px;">
                            <div class="form-group">
                                <button type="button" id="btnclear" class="btn btn-primary btn-min-width mr-1 mb-1" style="width:100px;font-weight:400;">Clear <i class="ft-refresh-cw position-right"> </i></button>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="div1" style="height:500px;overflow-x:hidden;">
                    <table id="Stocklist" class="table table-striped table-bordered zero-configuration dataTable"></table>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="RowGet" />
                    <input type="button" id="btnaddgrid" class="btn btn-outline-primary btn-lg" value="Add" style="height:45px;width:75px;">
                    <input type="button" class="btn btn-outline-secondary btn-lg" style="height:45px;width:75px" onclick="closepopup()" value="close">
                </div>
            </div>

        </div>
            </div>

        </div>
@*pop up for checking product*@
<div class="modal fade text-left show" id="Popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel17" style="padding-right: 17px;background:rgba(0,0,0,0.5);display:none">
    <div class="modal-dialog" role="document" style="top:10%;width:450px;">
        <div class="modal-content" style="width:200%; margin-left:-200px">
            <div class="modal-header bg-primary white">
                <h4 class="modal-title" id="MyHeader"></h4>
                <button type="button" class="close" data-dismiss="modal" onclick="($('#Popup').hide())" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div style="height:200px;overflow-x:hidden;">
                    <table id="Productchecklist" class="table table-striped table-bordered zero-configuration dataTable"></table>
                </div>
                <div class="modal-footer">
                    <div class="col-md-5">
                        <h5>Do You Want To Add More???</h5> 
                    </div>
                    <input type="hidden" id="RowIDGet" />
                    <input type="button" id="btnY" class="btn btn-primary btn-min-width mr-1 mb-1" value="✔" style="height:40px;width:50px;" onclick="addpopup()">
                    <input type="button" class="btn btn-primary btn-min-width mr-1 mb-1" style="height:40px;width:50px" onclick="closepopupcheck()" value="X">
                </div>
            </div>
            </div>
    </div>
</div>




<script>
    //product autocomplete

    $("#txtproduct").autocomplete({
        delay: 0,
        minLength: 0,
        source: function (request, response) {
            if ($('#Location').val() == 0) {
                warningshow('Please Select Location', 'Location');
                $("#txtproduct").val('');
                return false;
            }           
            else {
                var data = {};
                data.ItemCode = $("#txtproduct").val();
                data.LocId = $("#Location").val();
                data.DeptId = ERPDeptId;
                data.UserId = ERPUserId;
                data.CustId = 0;
                data.PriceGroupId = 0;
                $.ajax({
                    url: '../SalesInvoice/ProductSearchSales',
                    type: "POST",
                    data: data,
                    dataType: "json",                   
                    success: function (data) {
                        response($.map(data, function (item) {
                            return ({
                                ColCount: '5',
                                label: item.ItemCode,
                                label1: item.Description,
                                label2: item.UnitName,
                                label3: item.stocktotloseqty,
                                label4: item.SellingPrice.toFixed(Decimal),                                                          
                                Unit: item.UnitId,
                                Description: item.Description,
                                Rates: item.SellingPrice,
                                UnitName: item.UnitName,
                                ProductId: item.ItemId,
                                Product: item.ItemCode,
                                Qty: item.stocktotloseqty,
                                headers: ["Product Code", "Product Description", "UnitName", "Quantity"]                     
                            })
                        }));
                    }               
                })
            }
        },                
        autoFocus: true,
        select: function (event, ui) {         
            $('#ProductId0').val(ui.item.ProductId);
            $('#Description').val(ui.item.Description);
            $('#txtstock').val(ui.item.Qty);           

            var data = {};
            data.ProductId = $("#ProductId0").val();
            data.LocationId = $("#Location").val();
            data.DeptId = ERPDeptId;           
            $.ajax({
                url: '../../inventory/StockAdjustmentProductCheck',                          //checking already enterd in adjustment table
                type: "POST",
                data: data,
                success: function (result) {
                    CheckProduct(result);
                }
            })
        },
    });
    function CheckProduct(result) {
        if (result.length > 0) {  
            GetProduct(result);
            $('#Popup').show();                          //display Product in popup for checking already entered item
            $('#btnY').focus();
        }        
    }

   
    //Catogory AutoComplete
    $("#searchCat").autocomplete({
        delay: 0,
        minLength: 0,
        source: function (request, response) {            
        var data = {};
                data.CategoryName = $("#searchCat").val();
                data.DeptId = ERPDeptId;
                data.UserId = ERPUserId;
                $.ajax({
                    url: '../inventory/CatogorySearchStockAdjustment',
                    type: "POST",
                    data: data,
                    dataType: "json",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return ({
                                ColCount: '1',
                                label: item.CategoryName,                              
                                CategoryName: item.CategoryName,                              
                                CategoryId: item.CategoryId,
                                headers: ["Catogory Name"], 
                            })
                        }));
                    }
                })           
        },
        autoFocus: true,
        select: function (event, ui) {
            $('#hiddencatno').val(ui.item.CategoryId);            
        }
    });

    //subcatogory Search
    $("#searchSubcat").autocomplete({
        delay: 0,
        minLength: 0,
        source: function (request, response) {
            var data = {};
            data.SubCategoryName = $("#searchSubcat").val();
            data.CategoryId = $("#hiddencatno").val();
            $.ajax({
                url: '../inventory/SubCatogorySearchStockAdjustment',
                type: "POST",
                data: data,
                dataType: "json",
                success: function (data) {
                    response($.map(data, function (item) {
                        return ({
                            ColCount: '1',
                            label: item.SubCategoryName,
                            SubCategoryName: item.SubCategoryName,
                            SubCategoryId: item.SubCategoryId,
                            headers: ["SubCatogory Name"],
                        })
                    }));
                }
            })
        },
        autoFocus: true,
        select: function (event, ui) {
            $('#hiddensubcatno').val(ui.item.SubCategoryId);
        }
    });
    //Group Search
    
    $("#searchGroup").autocomplete({
        delay: 0,
        minLength: 0,
        source: function (request, response) {
            var data = {};
            data.GrpName = $("#searchGroup").val();
            $.ajax({
                url: '../inventory/GroupSearchStockAdjustment',
                type: "POST",
                data: data,
                dataType: "json",
                success: function (data) {
                    response($.map(data, function (item) {
                        return ({
                            ColCount: '1',
                            label: item.GrpName,
                            GrpName: item.GrpName,
                            GrpId: item.GrpId,
                            headers: ["Group Name"],
                        })
                    }));
                }
            })
        },
        autoFocus: true,
        select: function (event, ui) {            
            $('#hiddengrpno').val(ui.item.GrpId);
        }
    });

    //SubGroup Search
    $("#searchSubGroup").autocomplete({
        delay: 0,
        minLength: 0,
        source: function (request, response) {
            var data = {};
            data.SbgrpName = $("#searchSubGroup").val();
            data.GrpId = $("#hiddengrpno").val();
            $.ajax({
                url: '../inventory/SubGroupSearchStockAdjustment',
                type: "POST",
                data: data,
                dataType: "json",
                success: function (data) {
                    response($.map(data, function (item) {
                        return ({
                            ColCount: '1',
                            label: item.SbgrpName,
                            SbgrpName: item.SbgrpName,
                            SbgrpId: item.SbgrpId,
                            headers: ["Sub Group Name"],
                        })
                    }));
                }
            })
        },
        autoFocus: true,
        select: function (event, ui) {
            $('#hiddensubgrpno').val(ui.item.SbgrpId);         
        }    
    });

    //Itemcode Search
    $("#searchItemCode").autocomplete({
        delay: 0,
        minLength: 0,
        source: function (request, response) {
            var grp = '', subgrp = '', cat = '', subcat = '',Condition = ''
            var GrpId = $('#hiddengrpno').val();
            var SubGrpId = $('#hiddensubgrpno').val();
            var CatId = $('#hiddencatno').val();
            var SubCatID = $('#hiddensubcatno').val();
            var item= $("#searchItemCode").val();
            
            
                if (GrpId != '') { Condition += 'GroupId=' + GrpId }
                if (SubGrpId != '') { if (Condition.length == 0) Condition += 'SubGroupId=' + SubGrpId; else Condition += ' and SubGroupId=' + SubGrpId; }
                if (CatId != '') { if (Condition.length == 0) Condition += 'CategoryId=' + CatId; else Condition += ' and CategoryId=' + CatId; }
                if (SubCatID != '') { if (Condition.length == 0) Condition += 'SubCategoryId=' + SubCatID; else Condition += ' and SubCategoryId=' + SubCatID; }

                if (item != '') { if (Condition.length == 0) Condition += '(Description like  ' + "'" + item + "%'or ItemCode like  " + "'" + item + "%')"; else Condition += 'and (Description like  ' + "'" + item + "%'" + ' or ItemCode like  ' + "'" + item + "%')" }

                var data = {};
              
                data.Condition = Condition;
            
            $.ajax({
                url: '../inventory/ItemcodeSearchStockAdjustment',
                type: "POST",
                data: data,
                dataType: "json",
                success: function (data) {
                    response($.map(data, function (item) {
                        return ({
                            ColCount: 'Twoserch',
                            label: item.ItemCode,
                            label1: item.Description,
                            ItemCode: item.ItemCode,
                            Description: item.Description,
                            ItemId: item.ItemId,
                            headers: ["Item Code","Item Name"],
                        })
                    }));
                }
            })
        },
        autoFocus: true,
        select: function (event, ui) {            
            $('#hiddenitemcode').val(ui.item.ItemId);
        }
    });
    //Stock Adjustment number autocomplete and Copy
    $("#txtno").autocomplete({
        source: function (request, response) {
            var data = {};
            data.StockAdjNo = $("#txtno").val();
            data.DeptId = ERPDeptId;
            $.ajax({
                url: '../../Inventory/StockAdjustmentnumberSearch',
                type: "POST",
                data: data,
                dataType: "json",
                success: function (data) {
                    response($.map(data, function (item) {
                        return ({
                            ColCount: 'THREE',
                            label: item.StockAdjNo,
                            label1: item.currentdate,
                            StockAdjNo: item.StockAdjNo,
                            currentdate: item.currentdate,
                            headers: ["Stock adjuststment No", "Date"]
                        })
                    }));
                }
            })
        },
        autoFocus: true,
        select: function (event, ui) {
            $("#tblStockAdjustment tr").remove();
            $('#txtno').val(ui.item.StockAdjNo);
            $('#Location').val(ui.item.Location);
            $('#txtdate').val(ui.item.currentdate);
            var StockAdjNo = ui.item.StockAdjNo;
            var data = {};
            data.StockAdjNo = StockAdjNo;
            data.DeptId = ERPDeptId;
            $.ajax({
                type: "POST",
                url: "../../inventory/StockAdjustmentGetlist",
                data: data,
                success: function (result) {
                    ShowStockAdjustmentGet(result);                    
                }
            });                     
        },
    });
</script>