
@{
    ViewBag.Title = "MaterialOutManagement";
}
<style>
    #dd2 tr td {
        border:1px solid black;
    }



</style>

<script type="text/javascript" src="../Projectscript/Common.js"></script>

<div id="Entry">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" style="border-bottom:1px solid #e6e6e6">
                    <h4 class="card-title mb-0">Material Out Management</h4>
                </div>
                <div class="card-body">
                    <div class="px-3">
                        <div class="card-content collapse show">
                            <div class="card-body">
                                <div style="height:15px;"></div>
                                <form action="#">
                                   
                                    <table id="dd" width="100%">
                                        <tr>
                                            <td width="60%">
                                                <table width="100%">
                                                    <tr>
                                                        <td height="190px">

                                                            <table width="100%">
                                                                <tr><td style="width:15%">Sl.No</td><td style="width:35%"><input type="text" class="form-control" /></td><td width="15%">Department</td><td><select class="form-control"></select></td></tr>
                                                                <tr><td style="width:15%">Customer</td><td style="width:35%"><input type="text" class="form-control" /></td><td width="15%">Location</td><td><select class="form-control"></select></td></tr>
                                                                <tr><td>Address</td><td><textarea class="form-control"></textarea></td><td width="15%">Sales Man</td><td><select class="form-control"></select></td></tr>
                                                                <tr><td>Driver</td><td><select class="form-control"></select></td><td width="15%">Vechile</td><td><select class="form-control"></select></td></tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="width:15%;text-align:center">Stock Out Transaction</td></tr>
                                                    <tr>
                                                        
                                                        <td height="500px">
                                                            @*<table id="tblcategory" class="table table-striped table-bordered base-style dataTable" role="grid" aria-describedby="tblcategory_info"><thead><tr role="row"><th width="15px" class="sorting_asc" tabindex="0" aria-controls="tblcategory" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Slno: activate to sort column descending" style="width: 33px;">Slno</th><th class="sorting" tabindex="0" aria-controls="tblcategory" rowspan="1" colspan="1" aria-label="Code: activate to sort column ascending" style="width: 487px;">Code</th><th class="sorting" tabindex="0" aria-controls="tblcategory" rowspan="1" colspan="1" aria-label="Description: activate to sort column ascending" style="width: 488px;">Description</th><th class="sorting" tabindex="0" aria-controls="tblcategory" rowspan="1" colspan="1" aria-label="Unit: activate to sort column ascending" style="width: 487px;">Unit</th><th class="sorting" tabindex="0" aria-controls="tblcategory" rowspan="1" colspan="1" aria-label="Quantity: activate to sort column ascending" style="width: 487px;">Quantity</th><th width="15px" class="sorting" tabindex="0" aria-controls="tblcategory" rowspan="1" colspan="1" aria-label="Select: activate to sort column ascending" style="width: 30px;">Select</th></tr></thead><tbody><tr role="row" class="odd"><td class="sorting_1">1</td><td>CATEGORY-A</td><td>CATEGORY-A</td><td></td><td><a onclick="GetRows(1)"><i class="ft-edit"></i></a></td></tr><tr role="row" class="even"><td class="sorting_1">2</td><td>CATEGORY-B</td><td>CATEGORY-B</td><td></td><td><a onclick="GetRows(2)"><i class="ft-edit"></i></a></td></tr><tr role="row" class="odd"><td class="sorting_1">3</td><td>FG</td><td>FG</td><td></td><td><a onclick="GetRows(3)"><i class="ft-edit"></i></a></td></tr><tr role="row" class="even"><td class="sorting_1">4</td><td>CATEGORY7</td><td>CATEGORY7</td><td></td><td><a onclick="GetRows(4)"><i class="ft-edit"></i></a></td></tr><tr role="row" class="odd"><td class="sorting_1">5</td><td>FDFDFDFDF</td><td>FDFDFDFDF</td><td></td><td><a onclick="GetRows(6)"><i class="ft-edit"></i></a></td></tr><tr role="row" class="even"><td class="sorting_1">6</td><td>SDSDSDSD</td><td>SDSDSDSD</td><td></td><td><a onclick="GetRows(7)"><i class="ft-edit"></i></a></td></tr><tr role="row" class="odd"><td class="sorting_1">7</td><td>YGGHH</td><td>YGGHh</td><td></td><td><a onclick="GetRows(8)"><i class="ft-edit"></i></a></td></tr><tr role="row" class="even"><td class="sorting_1">8</td><td>GFGFGF</td><td>GFGFGF</td><td>GFGFG</td><td><a onclick="GetRows(9)"><i class="ft-edit"></i></a></td></tr><tr role="row" class="odd"><td class="sorting_1">9</td><td>CVCVCVCVC</td><td>CVCVCVCVC</td><td></td><td><a onclick="GetRows(10)"><i class="ft-edit"></i></a></td></tr><tr role="row" class="even"><td class="sorting_1">10</td><td>HGHGHGH</td><td>HGHGHGH</td><td></td><td><a onclick="GetRows(14)"><i class="ft-edit"></i></a></td></tr></tbody></table>*@
                                                            <table id="TblreportStockOut"></table><br />
                                                         </td>
                                                    </tr>
                                                </table>

                                            </td>

                                            <td width="40%">
                                                <table width="100%">
                                                    <tr>
                                                        <td height="190px">
                                                            <table width="100%">
                                                                <tr><td style="width:15%;text-align:center">Invoice No</td><td style="width:15%"><select id="cmbBillseriesId" class="form-control"></select></td><td style="width:15%"><input id="txtBillSlNo" type="text" class="form-control" /></td></tr>
                                                                <tr><td style="width:15%;text-align:center">Date of TRN</td><td style="width:15%" colspan="2"><input type="text" class="form-control" /></td></tr>
                                                                <tr><td><input type="button"/></td></tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="width:15%;text-align:center">Invoice Transaction</td></tr>
                                                    <tr>
                                                        <td height="500px">
                                                            @*<table id="tblcategory" class="table table-striped table-bordered base-style dataTable" role="grid" aria-describedby="tblcategory_info"><thead><tr role="row"><th width="15px" class="sorting_asc" tabindex="0" aria-controls="tblcategory" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Slno: activate to sort column descending" style="width: 33px;">Slno</th><th class="sorting" tabindex="0" aria-controls="tblcategory" rowspan="1" colspan="1" aria-label="Code: activate to sort column ascending" style="width: 487px;">Code</th><th class="sorting" tabindex="0" aria-controls="tblcategory" rowspan="1" colspan="1" aria-label="Description: activate to sort column ascending" style="width: 488px;">Description</th><th class="sorting" tabindex="0" aria-controls="tblcategory" rowspan="1" colspan="1" aria-label="INV_Qty: activate to sort column ascending" style="width: 487px;">INV_Qty</th><th class="sorting" tabindex="0" aria-controls="tblcategory" rowspan="1" colspan="1" aria-label="ISD_Qty: activate to sort column ascending" style="width: 487px;">ISD_Qty</th><th width="15px" class="sorting" tabindex="0" aria-controls="tblcategory" rowspan="1" colspan="1" aria-label="Select: activate to sort column ascending" style="width: 30px;">Select</th></tr></thead><tbody><tr role="row" class="odd"><td class="sorting_1">1</td><td>CATEGORY-A</td><td>CATEGORY-A</td><td></td><td><a onclick="GetRows(1)"><i class="ft-edit"></i></a></td></tr><tr role="row" class="even"><td class="sorting_1">2</td><td>CATEGORY-B</td><td>CATEGORY-B</td><td></td><td><a onclick="GetRows(2)"><i class="ft-edit"></i></a></td></tr><tr role="row" class="odd"><td class="sorting_1">3</td><td>FG</td><td>FG</td><td></td><td><a onclick="GetRows(3)"><i class="ft-edit"></i></a></td></tr><tr role="row" class="even"><td class="sorting_1">4</td><td>CATEGORY7</td><td>CATEGORY7</td><td></td><td><a onclick="GetRows(4)"><i class="ft-edit"></i></a></td></tr><tr role="row" class="odd"><td class="sorting_1">5</td><td>FDFDFDFDF</td><td>FDFDFDFDF</td><td></td><td><a onclick="GetRows(6)"><i class="ft-edit"></i></a></td></tr><tr role="row" class="even"><td class="sorting_1">6</td><td>SDSDSDSD</td><td>SDSDSDSD</td><td></td><td><a onclick="GetRows(7)"><i class="ft-edit"></i></a></td></tr><tr role="row" class="odd"><td class="sorting_1">7</td><td>YGGHH</td><td>YGGHh</td><td></td><td><a onclick="GetRows(8)"><i class="ft-edit"></i></a></td></tr><tr role="row" class="even"><td class="sorting_1">8</td><td>GFGFGF</td><td>GFGFGF</td><td>GFGFG</td><td><a onclick="GetRows(9)"><i class="ft-edit"></i></a></td></tr><tr role="row" class="odd"><td class="sorting_1">9</td><td>CVCVCVCVC</td><td>CVCVCVCVC</td><td></td><td><a onclick="GetRows(10)"><i class="ft-edit"></i></a></td></tr><tr role="row" class="even"><td class="sorting_1">10</td><td>HGHGHGH</td><td>HGHGHGH</td><td></td><td><a onclick="GetRows(14)"><i class="ft-edit"></i></a></td></tr></tbody></table>*@
                                                            <table id="TblreportInvoice"></table><br />
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>

                                        </tr>
                                    </table>
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function DepartmentLoad(result) {
        $("#cmbDepartment").empty();
        $("#cmbDepartment").append("<option value='0'>------------------Select Department------------------</option>");
        for (var i = 0; i < result.length; i++) {
            $("#cmbDepartment").append("<option value='" + result[i].DepartmentId + "'>" + result[i].DepartmentName + "</option>");
        }
    }

    function Department()
    {
        var data = {};
        data.id = 0;
        $.ajax({
            type: "POST",
            url: "../Master/DepartmentGetandGets",
            data: data,
            success: function (result) {
                DepartmentLoad(result.oList);
            }
        });
    }

    function Billseriesload(result) {
        alert('');
        $("#cmbBillseriesId").empty();
        for (var i = 0; i < result.length; i++) {
            $("#cmbBillseriesId").append("<option value='" + result[i].id + "' name='" + result[i].CurrentNo + "'>" + result[i].BillDescription + "</option>");
        }
        $('#txtBillSlNo').val(result[0].CurrentNo)
    }

    function BillLoad() {

        var data = {};
        data.id = 0;
        $.ajax({
            type: "POST",
            url: "../SalesInvoice/BillSeriesGetandGets",
            data: data,
            success: function (result) {
                Billseriesload(result.oList);
            }
        });
    }

    //Page Load
    $(document).ready(function () {       
        BillLoad();
    });

    $(function ()
    {
        Department();
        BillLoad();

        $('#dprDateofTRN').daterangepicker({
            minDate: minDate,
            maxDate: new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate()),
            singleDatePicker: true,
            showDropdowns: true,
            locale:
            {
                format: 'DD/MM/YYYY'
            }
        });


        $("#btnsubmit").click(function (e) {
            $('#Loading').show();

            var data = {};
            data.Department = $('#cmbDepartment').val();
            data.BillSeriesID = $('#cmbBillseriesId').val();
            data.BillSlNo = $('#txtBillSlNo').val();
            data.DateofTrn = $('#dprDateofTRN').val();
            $('#divreport').show();
            $('#popupdiv').hide();
           
            $.ajax({
                type: "POST",
                url: "../Sales/SalesGet",
                data: data,
                success: function (result) {
                    ShowReport(result);
                    $('#Loading').hide();
                    $('#divreport').show();
                }
            });
        });

    });

    function ShowReport(result) {


        disable_datatable('TblreportStockOut');
        var ResponseEntity = "<thead><tr><th>Slno</th><th>Code</th><th>Description</th><th>Unit</th><th>Qunatity</th></tr></thead><tbody>";
        for (var i = 0; i < result.length; i++) {
            var slno = parseInt(i + 1);
            ResponseEntity += '<tr><td>' + slno + '</td><td>' + result[i].ProductCode + '</td><td>' + result[i].ProductDescription + '</td><td>' + result[i].Unit + '</td><td>' + result[i].Quantity + '</td></tr>';
        }
        $('#TblreportStockOut').html(ResponseEntity + '</tbody><tfoot><tr><th>Slno</th><th>Code</th><th>Description</th><th>Unit</th><th>Qunatity</th></tr> </tfoot>');
        datatableWithsearch('TblreportStockOut');

        disable_datatable('TblreportInvoice');
        var ResponseEntity = "<thead><tr><th>Code</th><th>Description</th><th>INV_Quantity</th><th>ISD_Quantity</th></tr></thead><tbody>";
        for (var i = 0; i < result.length; i++) {
            ResponseEntity += '<tr><td>' + result[i].Code + '</td><td>' + result[i].Description + '</td><td>' + result[i].INV_Quantity + '</td><td>' + result[i].ISD_Quantity + '</td></tr>';
        }
        $('#TblreportInvoice').html(ResponseEntity + '</tbody><tfoot><tr><th>Code</th><th>Description</th><th>INV_Quantity</th><th>ISD_Quantity</th></tr> </tfoot>');
        datatableWithsearch('TblreportInvoice');

        var title = "Material Out Management";
    }


</script>
