
@{
    ViewBag.Title = "AssetRegister";
}

<style>
    #CELL1 {
        border-right: 1px solid #cccccc;
        border-left: 1px solid #ffffff;
        width: 40%;
    }

    #CELL2 {
        /*padding-left:50px;*/
        /*border-right: 1px solid #cccccc;*/
        width: 40%;
    }
    .adjwidth{
        width: 105%;
       margin-left: -5%;
    }
  
</style>
<link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/tables/jsgrid/jsgrid-theme.min.css">
<link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/tables/jsgrid/jsgrid.min.css">
@*<script type="text/javascript" src="../Projectscript/Common.js"></script>*@
<script type="text/javascript" src="../Projectscript/AssetRegister.js"></script>
<script type="text/javascript" src="~/app-assets/FromStack/dist/JsBarcode.all.js"></script>
<script type="text/javascript" src="~/app-assets/FromStack/dist/jquery-2.0.3.js"></script>
<script src="~/Scripts/Autocomplete/jquery-ui.js"></script>


<div class="myData" data-x="M300" />
<div id="Entry" style="width:70%;margin-left:15%">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" style="border-bottom:1px solid #e6e6e6">
                    <table style="margin-top:0px;" width="100%">
                        <tr>
                            <td><h4 class="card-title mb-0">Asset Register</h4></td>
                            <td align="right">
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="card-body">
                    <div class="px-3">
                        <div class="card-content collapse show">
                            <div class="card-body">
                                <div style="height:15px;"></div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card" style="margin-top:-10px">
                                            <table id="">
                                                <tr>
                                                    <td id="CELL1" valign="top">
                                                        <table width="95%">
                                                            <tr>
                                                                <td>
                                                                    <div class="card-content collapse show">
                                                                        <div class="card-body">
                                                                            <form class="form">
                                                                                <div class="form-body">
                                                                                    <div class="row">
                                                                                        <div class="col-md-12">

                                                                                            <div class="form-group row" style="margin-top:15px">
                                                                                                <label class="col-md-4 label-control" for="userinput1">Code<span class="danger">*</span></label>
                                                                                                <div class="col-md-8">
                                                                                                    <div class="input-group">
                                                                                                        <input class="form-control" type="text" id="code" onkeypress="isSinglqts(event)" onkeyup="changetoupper(this.id), generatebarcode()" autocomplete="off">
                                                                                                        <input class="form-control" placeholder="Search Asset" style="display:none" type="text" id="searchcode" autocomplete="off">


                                                                                                        <div class="input-group-append" id="">
                                                                                                            <button class="btn btn-outline-primary" type="button" onclick="SearchItem()" id="searchbutton"><i class="fa fa-search"></i></button>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group row" style="margin-top:-20px">
                                                                                                <label class="col-md-4 label-control" for="userinput2">Description<span class="danger">*</span></label>
                                                                                                <div class="col-md-8">
                                                                                                    <input type="text" id="Description" class="form-control"  autocomplete="off">
                                                                                                </div>
                                                                                            </div>

                                                                                            <div class="form-group row" style="margin-top:-8px">
                                                                                                <label class="col-md-4 label-control" for="userinput2">Serial#<span class="danger">*</span></label>
                                                                                                <div class="col-md-8">
                                                                                                    <input type="text" id="Serialno" class="form-control" name="Name" autocomplete="off">
                                                                                                </div>
                                                                                            </div>

                                                                                            <div class="form-group row" style="margin-top:-8px">
                                                                                                <label class="col-md-4 label-control" for="userinput2">Group<span class="danger">*</span></label>
                                                                                                <div class="col-md-8 input-group">
                                                                                                        <select id="group" class="form-control" aria-describedby="addgroup">
                                                                                                            <option value="0">-Select Group-</option>
                                                                                                        </select>
                                                                                                        <div class="input-group-append" id="addgroup">
                                                                                                            <button class="btn btn-outline-primary" onclick="Addpopupwindow(1)" type="button" id="addgroup">+</button>
                                                                                                        </div>
                                                                                                </div>

                                                                                            </div>
                                                                                            <div class="form-group row" style="margin-top:-20px">
                                                                                                <label class="col-md-4 label-control">Category<span class="danger">*</span> </label>
                                                                                                <div class="col-md-8 input-group">
                                                                                                        <select id="category" class="form-control" aria-describedby="addcat">
                                                                                                            <option value='0'>-Select Category-</option>
                                                                                                        </select>
                                                                                                        <div class="input-group-append" id="addcat">
                                                                                                            <button class="btn btn-outline-primary" onclick="Addpopupwindow(3)" type="button" id="addcat">+</button>
                                                                                                        </div>
                                                                                                   
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group row" style="border-bottom:1px solid #e6e6e6;margin-top:-10px">
                                                                                            </div>
                                                                                            <div class="form-group row" >
                                                                                                <label class="col-md-4 label-control" for="userinput2">Purchase Value<span class="danger">*</span></label>
                                                                                                <div class="col-md-3">
                                                                                                    <input type="text" id="Purvalue" class="form-control" name="Address1" onkeypress="isNumber(event,this)" onkeyup="checkauto()" autocomplete="off">
                                                                                                </div>
                                                                                                <label class="col-md-2 label-control text-right" for="userinput2">Pur. Date</label>
                                                                                                <div class="col-md-3">
                                                                                                    <input type="text" id="date" class="form-control adjwidth"  autocomplete="off">
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group row" style="margin-top:-8px">
                                                                                                <label class="col-md-4 label-control" for="userinput2">Location<span class="danger">*</span></label>
                                                                                                <div class="col-md-3">
                                                                                                    <select id="locn" class="form-control " ></select>
                                                                                                </div>
                                                                                                <label class="col-md-2 label-control text-right" for="userinput2">Year</label>
                                                                                                <div class="col-md-3">
                                                                                                    <input type="text" id="year" class="form-control adjwidth" name="Address1" onkeyup="" autocomplete="off">
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group row" style="margin-top:-8px">
                                                                                                <label class="col-md-4 label-control" for="userinput1">Manufacturer<span class="danger">*</span></label>
                                                                                                <div class="col-md-8">
                                                                                                    <input type="text" id="manufacturer" class="form-control" name="Address3" onkeyup="" autocomplete="off">
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group row" style="margin-top:-8px">
                                                                                                <label class="col-md-4 label-control" for="userinput2">Make</label>
                                                                                                <div class="col-md-8">
                                                                                                    <input class="form-control" type="text" id="Make" onkeyup="" onkeypress="return isNumberInt(event, this)" autocomplete="off">
                                                                                                </div>
                                                                                            </div>
                                                                                                                                                                                  </div>
                                                                                    </div>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                    </div>

                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>

                                                    <td id="CELL2" valign="top" style="height:600px;">
                                                        <table width="95%">
                                                            <tr>
                                                                <td>

                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="card-content collapse show">
                                                                                <div class="card-body">
                                                                                        <div role="tabpanel" class="tab-pane active" id="div2" aria-expanded="true" aria-labelledby="tab2">
                                                                                            <div class="repeater-default">
                                                                                                <div data-repeater-list="car">
                                                                                                    <div data-repeater-item="">
                                                                                                        <form class="form" style="margin-left:20px">
                                                                                                            <div class="form-body">
                                                                                                                <div class="form-group row" style="margin-top:15px">
                                                                                                                    <label class="col-md-4 label-control" for="userinput1">Depreciated value</label>
                                                                                                                    <div class="col-md-8">

                                                                                                                        <input type="text" class="form-control" id="Depreciatedvalue" onkeypress="isNumber(event,this)" autocomplete="off">

                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                <div class="form-group row" style="margin-top:-8px">
                                                                                                                    <label class="col-md-4 label-control" for="userinput1">Depreciation %</label>
                                                                                                                    <div class="col-md-8">
                                                                                                                        <input type="tel" placeholder="" class="form-control" id="Depreciatedperc" onkeypress="return isNumber(event, this)" autocomplete="off">
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                <div class="form-group row" style="margin-top:-8px">
                                                                                                                    <label class="col-md-4 label-control" for="userinput1">Account Debit<span class="danger">*</span></label>
                                                                                                                    <div class="col-md-8">
                                                                                                                        <input type="text" id="AccountDebit" class="form-control" autocomplete="off">
                                                                                                                        <input type="text" placeholder="" class="form-control" id="AccountDebitId" style="display:none" autocomplete="off">


                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                <div class="form-group row" style="margin-top:-8px">
                                                                                                                    <label class="col-md-4 label-control" for="userinput1">Account Credit<span class="danger">*</span></label>
                                                                                                                    <div class="col-md-8">
                                                                                                                        <input type="text" placeholder="" class="form-control" id="AccountCredit" autocomplete="off">
                                                                                                                        <input type="text" placeholder="" class="form-control" id="AccountCreditId" style="display:none" autocomplete="off">

                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                <div class="form-group row" style="margin-top:-8px">
                                                                                                                    <label class="col-md-4 label-control" for="userinput1">Specifications / Comments</label>
                                                                                                                    <div class="col-md-8">
                                                                                                                        <textarea type="tel" class="form-control" id="Comments"  autocomplete="off" style="height:70px"></textarea>
                                                                                                                    </div>
                                                                                                                </div>


                                                                                                                <br />
                                                                                                               
                                                                                                                <div class="form-group row" style="margin-top:-8px">
                                                                                                                    <div class="col-md-12">
                                                                                                                        <label for="minqty" style="font-weight:bold;margin-left:250px">Barcode</label>
                                                                                                                    </div>

                                                                                                                </div>

                                                                                                                <div class="form-group row" style="margin-top:-10px">
                                                                                                                  <div class="col-md-4"></div>
                                                                                                                    <div class="col-md-8 input-group">
                                                                                                                        <div class="input-group-append center" style="height:80px; width:200px; overflow:hidden; border:1px solid black;overflow:auto" id="printbarcode">
                                                                                                                            <img  id="barcode1" />
                                                                                                                        </div>
                                                                                                                        <input class="form-control" type="text" id="barcode" disabled style="display:none;background-color:white">


                                                                                                                    </div>

                                                                                                                </div>

                                                                                                                @*<div class="form-group row" style="margin-top:0px">
                                                                                                                    <label class="col-md-4 label-control" for="userinput1">Notes</label>
                                                                                                                    <div class="col-md-8">
                                                                                                                        <textarea id="txtnotes" rows="10" class="form-control" autocomplete="off" name="notes" style="height:100px;"></textarea>
                                                                                                                    </div>

                                                                                                                </div>*@





                                                                                                            </div>
                                                                                                        </form>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>


                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    
                                                                </td>
                                                            </tr>
                                                        </table>

                                                    </td>
                                                </tr>
                                            </table>
                                            <div class="card-body" style="border-top:1px solid #e3e8e8;">
                                                <br />

                                                <div class="form-body" style="margin-top:-1%">
                                                    <div class="form-actions">
                                                        <div class="text-right">
                                                            <button type="button" style="width:100px" id="btnsubmit" class="btn btn-primary btn-min-width mr-1 mb-1"><u>S</u>ave <i class="fa fa-check-square-o"></i></button>
                                                            <button type="button" style="width:100px" id="btnlist" onclick="GetRows(0)" class="btn btn-primary btn-min-width mr-1 mb-1">List <i class="ft-align-justify"></i></button>
                                                            <button type="button" style="width:100px" id="btnnew" onclick="thisformrefresh()" class="btn btn-primary btn-min-width mr-1 mb-1">New<i class="ft-refresh-cw position-right"></i></button>
                                                            <button type="button" id="btnprintbarcode" onclick="QuantityBarcode()" class="btn btn-primary btn-min-width mr-1 mb-1">Print Barcode<i class="ft-printer"></i></button>
                                                            <button style="display:none" type="button" id="btndelete" class="btn btn-primary btn-min-width mr-1 mb-1" onclick="DeleteAssetRegister()">Delete <i class="fa fa-times"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="display:none;width:90%;margin-left:5%" id="listing">
    <section>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <table width="100%">
                            <tr>
                                <td><h4 class="card-title">Asset Register List</h4></td>
                                <td align="right">
                                    <div class="heading-elements">
                                        <div class="btn-group">
                                            <button type="button" onclick="closetable()" class="btn btn-outline-primary"><i class="ft-edit"></i> Add New</button>
                                            <button type="button" class="btn btn-outline-primary"><i class="ft-edit"></i> Export</button>
                                            <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false">
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">Excel</a>
                                                <a class="dropdown-item" href="#">PDF</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Print</a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>


                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard" style="overflow:auto">
                            <table id="tblasset" class="table table-striped table-bordered base-style dataTable"></table>
                            <br />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div id="popupdiv" class="modal fade text-left show" tabindex="-1" role="dialog" aria-labelledby="myheader" style="padding-right: 17px; background:rgba(0,0,0,0.5); display: block; display:none">
    <div class="modal-dialog" role="document" style="top:10%">
        <div class="modal-content" style="width:95%">
            <div class="modal-header bg-primary white" style="height:50px">
                <h4 class="modal-title" id="myheader" style="margin-top:-2%"> Group Master</h4>
                <button type="button" class="close" onclick="formrefresh()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <form id="groupdiv" style="display:none">
                <div class="modal-body">
                    <div class="row">
                        <label style="font-weight:bold;margin-left:13%">Group Code<span class="danger">*</span></label>
                        <div class="col-md-5" style="margin-left:11.5%">
                            <input type="text" class="form-control" id="groupcode" onkeyup="changetoupper(this.id)">
                        </div>
                    </div>
                    <div class="row" style="margin-top:3%">
                        <label style="font-weight:bold;margin-left:13%">Group Name<span class="danger">*</span></label>
                        <div class="col-md-5" style="margin-left:10.5%">
                            <input type="text" class="form-control" id="groupname" onkeyup="changetoupper(this.id)">
                        </div>
                    </div>
                    <div class="row" style="margin-top:3%">
                        <label style="font-weight:bold;margin-left:13%">Group Description</label>
                        <div class="col-md-5" style="margin-left:2%">
                            <input type="text" class="form-control" id="groupdesc">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-outline-secondary" style="margin-right:2%" onclick="formrefresh()" data-dismiss="modal" value="close">
                    <input type="button" class="btn btn-outline-primary" style="margin-right:35%" value="Save" id="btngroupsave" onclick="SaveGroup(1)">
                </div>
            </form>
            <form id="categorydiv" style="display:none">
                <div class="modal-body">
                    <div class="row">
                        <label style="font-weight:bold;margin-left:13%">Category Code<span class="danger">*</span></label>
                        <div class="col-md-5" style="margin-left:13%">
                            <input type="text" class="form-control" id="catcode" onkeyup="changetoupper(this.id)">
                        </div>
                    </div>
                    <div class="row" style="margin-top:3%">
                        <label style="font-weight:bold;margin-left:13%">Category Name<span class="danger">*</span></label>
                        <div class="col-md-5" style="margin-left:12%">
                            <input type="text" class="form-control" id="catname" onkeyup="changetoupper(this.id)">
                        </div>
                    </div>
                    <div class="row" style="margin-top:3%">
                        <label style="font-weight:bold;margin-left:13%">Category Description</label>
                        <div class="col-md-5" style="margin-left:3%">
                            <input type="text" class="form-control" id="catdesc">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-outline-secondary" style="margin-right:2%" onclick="formrefresh()" data-dismiss="modal" value="close">
                    <input type="button" class="btn btn-outline-primary" style="margin-right:35%" value="Save" id="btncategorysave" onclick="SaveCategory(1)">
                </div>
            </form>
        </div>
    </div>
</div>
<div style="display:none">
    <table id="tblBarcode" class="dataTableA"></table>


</div>

<div id="QuantityPrintDiv" class="modal fade text-left show" tabindex="-1" role="dialog" aria-labelledby="myheader" style="background:rgba(0,0,0,0.5); display: block;display:none">
    <div class="modal-dialog" role="document" style="margin-top:5%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="$('#QuantityPrintDiv').hide()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="col-md-12">
                    <div class="row" id="" style="margin-top:2%;">

                        <label class="col-md-5" style="text-align:left" id="">Number of Copies:</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control" id="PrintQty" value="0" onclick="$('#PrintQty').select()" onkeypress="isNumberInt(event,this)" />

                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" style="width:100px" id="" onclick="PrintBarcodesItemMaster($('#PrintQty').val())" class="btn btn-outline-warning">Print</button>
            </div>


        </div>
    </div>
</div>

<script type="text/javascript">
    generatebarcode();

        $(document).ready(function () {
            $("#txtacnt").focus(function () {
                $("#txtacnt1").css("background-color", "#e6ffff");
            });
            $("#txtacnt").focusout(function () {
                $("#txtacnt1").css("background-color", "white");
            });


        });
        $("#AccountDebit").autocomplete({

            source: function (request, response) {
                $('#AccountDebitId').val('');
                var data = {};
                data.AccountDescription = $("#AccountDebit").val();
                $.ajax({
                    url: '../Inventory/AccountNumberSearch',
                    type: "POST",
                    data: data,
                    dataType: "json",
                    success: function (data) {
                        console.log(data);
                        response($.map(data, function (item) {
                            return ({
                                ColCount: '2',
                                label: item.DebitAccount,
                                label1: item.AccountDescription,
                                AccountId: item.AccountId,                               
                                headers: ["Code", "Description"]
                            })
                        }));
                    }

                })

            },
            autoFocus: true,
            select: function (event, ui) {
                $('#AccountDebitId').val(ui.item.AccountId);
                $('#AccountCredit').focus();

            },

        });
        $("#AccountCredit").autocomplete({

            source: function (request, response) {
                $('#AccountCreditId').val('');
                var data = {};
                data.AccountDescription = $("#AccountCredit").val();
                $.ajax({
                    url: '../Inventory/AccountNumberSearch',
                    type: "POST",
                    data: data,
                    dataType: "json",
                    success: function (data) {
                        console.log(data);
                        response($.map(data, function (item) {
                            return ({
                                ColCount: '2',
                                label: item.DebitAccount,
                                label1: item.AccountDescription,
                                AccountId: item.AccountId,
                                headers: ["Code", "Description"]
                            })
                        }));
                    }

                })

            },
            autoFocus: true,
            select: function (event, ui) {
                $('#AccountCreditId').val(ui.item.AccountId);
                $('#Comments').focus();

            },

        });



        $("#searchcode").autocomplete({
            source: function (request, response) {
                var data = {};
                data.Code = $("#searchcode").val();
                $.ajax({
                    url: '../Master/AssetRegisterSearch',
                    type: "POST",
                    data: data,
                    dataType: "json",
                    success: function (data) {

                        response($.map(data, function (item) {
                            return ({
                                ColCount: 'TWOEnq',
                                label: item.Code,
                                label1: item.Description,
                                AssetId: item.AssetId,
                                headers: ["Code", "Description"]
                            })
                        }));
                    }

                })

            },
            autoFocus: true,
            select: function (event, ui) {
                $('#Loading').show();
                //GroupPageLoad();
                //CategoryPageLoad();
                //loadlocation();
                $('#date').daterangepicker({
                    minDate: minDate,
                    maxDate: new Date(new Date().getFullYear(), new Date().getMonth() + 1, new Date().getDate()),
                    singleDatePicker: true,
                    showDropdowns: true,
                    locale: {
                        format: 'DD/MM/YYYY'
                    }
                });
                $('#AssetId').val(0);
                $('#category').val(0);
                $('#locn').val(0);
                $('#btnsubmit').focus();
                GetRows(ui.item.AssetId);
                $('#code').show();
                $('#searchcode').hide();
                $('#btnsubmit').prop("disabled", false);
                $('#btnsubmit').show();
                $('#searchbutton').removeClass();
                $('#searchbutton').addClass('btn btn-outline-primary');
            },
        });




       



</script>


<div style="display:none">
    <input type="text" value="0" id="AssetId" />
</div>
