
@{
    ViewBag.Title = "ItemwiseReport";
}

<style type="text/css">
    .main-panel {
        height: auto;
        width: auto;
        max-height: none;
        min-height: 100%;
        margin: 0;
        padding-top: 85px;
        float: none;
    }

    .eumi-search-box {
        box-sizing: border-box;
        width: 100%;
    }

    body.eumi-loader::before {
        content: '';
        display: block;
        position: fixed;
        z-index: 31000;
        height: 4px;
        background-color: rgba(0, 157, 160, 0.2);
        top: 0;
        left: 0;
        right: 0;
    }

    body.eumi-loader::after {
        content: '';
        display: block;
        position: fixed;
        z-index: 31001;
        height: 4px;
        background-color: rgba(0, 157, 160, 1);
        top: 0;
        width: 50px;
        animation: eumiloader 4s infinite linear;
    }

    .eumi-search-table, .eumi-shadow {
        border-spacing: 0 0px;
        box-shadow: 0px 0px 0px 2px #fff, 0 0 2px 2px #999;
    }
    /* .eumi-search-table tbody td { border:none; } */
    @@keyframes eumiloader {
        from {
            right: 100%;
        }

        to {
            right: 0;
        }
    }
</style>
<div class="card">
    <div class="row m-1">
        <div class="col-md-6">
            <h2>Purchase Report-Itemwise</h2>
        </div>
        <div class="col-md-6 eumi-button-area" id="divReportOptions" data-download-url="@Url.Action("ItemwiseReportDownload", "PurchaseReport")">


            <div class="btn-group" role="group">
                <button id="btnColVisibility" type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Columns
                </button>
                <div class="dropdown-menu eumi-col-show" aria-labelledby="btnColVisibility">
                </div>
            </div>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#paramModal">Change Parameters</button>

            <div class="btn-group" role="group">
                <button id="btnGroupDropDownload" type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Export
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDropDownload">
                    <a class="dropdown-item buttons-excel" data-eumi-download="excel" href="#">Excel</a>
                    <a class="dropdown-item buttons-pdf" data-eumi-download="pdf" href="#">PDF</a>
                    <a class="dropdown-item buttons-csv" data-eumi-download="csv" href="#">CSV</a>
                    <a class="dropdown-item buttons-print" data-eumi-download="print" href="#">Print</a>
                </div>
            </div>
            <button class="btn btn-outline-primary" data-eumi-clear="1" type="button">Clear Search</button>
        </div>
    </div>

    <div class="row m-1">
        <div id="paramOfReport" class="row m-1"></div>
    </div>

    <div style="overflow:auto;">
        <table id="itemreport" class="table table-condensed table-light table-striped table-bordered eumi-search-table" style="width:3000px; margin: 0 auto 0 0;">
            <tfoot>
                <tr class="eumi-search-row">
                    <th></th>
                    <th>Serial No.</th>
                    <th>Invoice No.</th>
                    <th>Invoice Date</th>
                    <th>Supplier</th>
                    <th>Product Code</th>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Job Code</th>
                    <th>Terms</th>
                    <th>Area</th>
                    <th>Location</th>
                    <th>Purchase Type</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Currency</th>
                    <th></th>
                    <th></th>
                    <th>Due Date</th>
                    <th>ShipDate</th>
                    <th>Group</th>
                    <th>Sub Group</th>
                    <th>Category</th>
                    <th>Sub Category</th>
                    <th>Department</th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Grand Total</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th id="eumiQuantity" class="text-right">Quantity</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th id="eumiTaxableAmount" class="text-right">TaxableAmount</th>
                    <th id="eumiTaxAmount" class="text-right">TaxAmount</th>
                    <th id="eumiAmount" class="text-right">Amount</th>
                    <th></th>
                    <th></th>
                    <th id="eumiFCAmount" class="text-right">FCAmount</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
    </div>

    <div style="height:100px;clear: both">
        &nbsp;
    </div>


    <script type="text/javascript">
        $(document).ready(function () {
            var decimal = (window.Decimal || 1);
            window.EumiLastSelectedInItemRpt = null;
            var table = $('#itemreport').EumiDataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "../PurchaseReport/ItemwiseReportJson",
                    "type": "POST",
                    "data": function (data, settings) {
                        var addData = (window.EumiLastSelectedInItemRpt || {});
                        addData.dateFrom = moment(addData.dateFrom || new Date()).format("YYYY-MM-DD");
                        addData.dateTo = moment(addData.dateTo || new Date()).format("YYYY-MM-DD");
                        addData.Area = (addData.Area || 0);
                        addData.LocnId = (addData.LocnId || 0);
                        addData.SupplierId = (addData.SupplierId || 0);
                        addData.PurchaseType = (addData.PurchaseType || 0);
                        addData.JobNo = (addData.JobNo || 0);
                        if (!addData.title) {
                            addData.title = "Parameters - " + "From: " + moment(new Date()).format("DD-MM-YYYY") + " To: " + moment(new Date()).format("DD-MM-YYYY")
                            $("#paramOfReport").text(addData.title);
                        }
                        data.addData = addData;
                    }
                },
                "columnDefs": [{
                    "targets": 7,
                    "className": "text-right",
                    "render": function (data) {
                        return (data || 0).toFixed(decimal);
                    }
                },
                    {
                    "targets": 13,
                    "className": "text-right",
                    "render": function (data) {
                        return (data || 0).toFixed(decimal);
                    }
                },
                {
                    "targets": 14,
                    "className": "text-right",
                    "render": function (data) {
                        return (data || 0).toFixed(decimal);
                    }
                },
                {
                    "targets": 15,
                    "className": "text-right",
                    "render": function (data) {
                        return (data || 0).toFixed(decimal);
                    }
                },
                {
                    "targets": 18,
                    "className": "text-right",
                    "render": function (data) {
                        return (data || 0).toFixed(decimal);
                    }
                }],
                "columns": [
                    { data: "slno", title: "Slno", searchable: false, sortable: false },
                    { data: "SerialNo", title: "Purchase SlNo", sortable: false },
                    { data: "InvoNo", title: "Invo No", sortable: false },
                    { data: "InvoDate", title: "Invo Date", sortable: false },
                    { data: "Supplier", title: "Supplier", sortable: false },
                    { data: "ItemCode", title: "Product Code", sortable: false },
                    { data: "ItemDescription", title: "Product Name", sortable: false },
                    { data: "Quantity", title: "Quantity", sortable: false },
                    { data: "JobCode", title: "Job Code", sortable: false },
                    { data: "TermDescription", title: "Terms", sortable: false },
                    { data: "Area", title: "Area", sortable: false },
                    { data: "LocationName", title: "Location Name", sortable: false },
                    { data: "PurchaseType", title: "Purchase Type", sortable: false },
                    { data: "TaxableAmount", title: "Taxable Amount", sortable: false },
                    { data: "TaxAmount", title: "Tax Amount", sortable: false },
                    { data: "Amount", title: "Amount", sortable: false },
                    { data: "CurrencyName", title: "Currency", sortable: false },
                    { data: "CurrencyRate", title: "Currency Rate", sortable: false },
                    { data: "FCAmount", title: "FC Amount", sortable: false },
                    { data: "DueDate", title: "Due Date", sortable: false },
                    { data: "ShipDate", title: "Ship Date", sortable: false },
                      { data: "GrpName", title: "Group", sortable: false },
                      { data: "SbgrpName", title: "Sub Group", sortable: false },
                      { data: "CategoryName", title: "Category", sortable: false },
                      { data: "SubCategoryName", title: "SubCategory", sortable: false },
                    { data: "DepartmentName", title: "Department", sortable: false },
                ],
                "createdRow": function (row, data, index) {
                    if (index == 0) {
                        $("#eumiQuantity").text(data._quantity.toFixed(decimal));
                        $("#eumiTaxableAmount").text(data._taxableamount.toFixed(decimal));
                        $("#eumiTaxableAmount").text(data._taxableamount.toFixed(decimal));
                        $("#eumiTaxAmount").text(data._taxamount.toFixed(decimal));
                        $("#eumiAmount").text(data._amount.toFixed(decimal));
                        $("#eumiFCAmount").text(data._fcamount.toFixed(decimal));
                        console.log(index);
                    }
                },
            });

            $('#itemreport tbody').on('click', 'tr', function () {

            });
        });
    </script>


    @section popups {
        <div class="modal" id="paramModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Report Parameters</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="dateFrom">From Date:</label>
                                    <input type="text" class="form-control" id="dateFrom">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="dateTo">
                                    <label for="email">To Date:</label>
                                    <input type="text" class="form-control" id="dateTo">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Area">Area:</label>
                                    <select id="Area" class="form-control">
                                        <option value="0">- All -</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Location">Location:</label>
                                    <select id="Location" class="form-control">
                                        <option value="0">- All -</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Supplier">Supplier:</label>
                                    <input type="text" class="form-control" id="Supplier">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Purchasetype">PurchaseType:</label>
                                    <select id="Purchasetype" class="form-control">
                                        <option value="0">- All -</option>
                                        <option value="Local">Local</option>
                                        <option value="Import">Import</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="vDept">Department:</label>
                                    <select id="vDept" class="form-control">
                                        <option value="0">- All -</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="jobCode">Job Code:</label>
                                    <input type="text" class="form-control" id="jobCode">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="redrawTable();">Apply</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
    }

    @section bottomscripts {
        <script type="text/javascript" src="~/Scripts/EumiDataTable/eumi-datatable.js"></script>
        <script src="~/Scripts/Autocomplete/jquery-ui.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {

                $("#jobCode").autocomplete({
                    source: function (request, response) {
                        var data = {};
                        data.JobCode = request.term;
                        $.ajax({
                            url: '../Master/JobCodeSearch',
                            type: "POST",
                            data: data,
                            dataType: "json",
                            success: function (resultData) {
                                var resultData = $.map(resultData, function (item) {
                                    return {
                                        value: item.JobCode,
                                        label: item.Description,
                                        value2: item.ProjectJobId,
                                    }
                                });
                                response(resultData);
                            }
                        });
                    },
                    autoFocus: true,
                    select: function (event, ui) {
                        $("#jobCode").data("eumi-val", ui.item.value2);
                    },
                }).autocomplete("instance")._renderItem = function (ul, item) {
                    var jqLi = $("<li>")
                    var jqRow = getTableRow(item, ["value", "label"], ["50%", "50%"], ["Code", "Desc"]);
                    return jqLi.append($('<table class="tblautocomplete">').css("width", "300px").append(jqRow)).appendTo(ul);
                };

                $("#Supplier").autocomplete({
                    source: function (request, response) {
                        var data = {};
                        data.CustName = $("#Supplier").val();
                        data.CustType = 'S';

                        $.ajax({
                            url: '../Master/CustomerOrSupplierSearch',
                            type: "POST",
                            data: data,
                            dataType: "json",
                            success: function (data) {

                                response($.map(data, function (item) {
                                    return ({
                                        ColCount: 'TWOEnq',
                                        label: item.CustAccount,
                                        label1: item.CustName,
                                        value2: item.CustId,

                                    })
                                }));
                            }

                        })

                    },
                    autoFocus: true,
                    select: function (event, ui) {
                        $("#Supplier").data("eumi-val", ui.item.value2);

                    },

                }).autocomplete("instance")._renderItem = function (ul, item) {
                    var jqLi = $("<li>")
                    var jqRow = getTableRow(item, ["label", "label1"], ["50%", "50%"], ["Code", "Name"]);
                    return jqLi.append($('<table class="tblautocomplete">').css("width", "300px").append(jqRow)).appendTo(ul);
                };

                $('#dateFrom, #dateTo').daterangepicker({
                    minDate: minDate,
                    maxDate: new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate()),
                    singleDatePicker: true,
                    showDropdowns: true,
                    locale: {
                        format: 'DD/MM/YYYY'
                    }
                });


                GetDept(0);
                GetArea(0);
                GetLocation(0);
            });


            function getTableRow(item, keyArray, widthArray, headersArray) {
                var jqRow = $("<tr>")
                for (var x = 0; x < keyArray.length; x++) {
                    $("<td>").css({ "border": "1px solid #d6d9db", "width": widthArray[x] })
                        .html(item[keyArray[x]])
                        .attr("data-em-header", (headersArray[x] || ""))
                        .appendTo(jqRow)
                }
                return jqRow;
            }


            function GetDept(id) {
                var data = {};
                data.DeptId = 0;
                $.ajax({
                    type: "POST",
                    url: "../Master/DepartmentGetandGets",
                    data: data,
                    success: function (result) {
                        console.log(result)
                        $.each(result.oList, function (index, ele) {
                            $("#vDept").append($("<option>").attr("value", ele.DepartmentId).text(ele.DepartmentName));
                        });
                    }
                });
            }

            function GetArea(id) {
                var data = {};
                data.Id = 0;
                $.ajax({
                    type: "POST",
                    url: "../Master/AreaGetandGets",
                    data: data,
                    success: function (result) {
                        $.each(result.oList, function (index, ele) {
                            $("#Area").append($("<option>").attr("value", ele.AreaId).text(ele.AreaCode));
                        });
                    }
                });
            }



            function GetLocation(id) {
                var data = {};
                data.LocationId = 0;
                $.ajax({
                    type: "POST",
                    url: "../Master/LocationGetandGets",
                    data: data,
                    success: function (result) {
                        $.each(result.oList, function (index, ele) {
                            $("#Location").append($("<option>").attr("value", ele.LocationId).text(ele.LocationName));
                        });


                    }
                });

            }
            function redrawTable() {
                var data = {};
                data.dateFrom = moment($('#dateFrom').val(), "DD-MM-YYYY").toDate();
                data.dateTo = moment($('#dateTo').val(), "DD-MM-YYYY").toDate();
                data.Area = parseInt($('#Area').val() || 0);
                data.LocnId = parseInt($('#Location').val() || 0);
                data.SupplierId = ($('#Supplier').val().match(/^\s*$/) ? 0 : parseInt($('#Supplier').data("eumi-val") || 0));
                data.JobNo = ($('#jobCode').val().match(/^\s*$/) ? 0 : parseInt($('#jobCode').data("eumi-val") || 0));
                data.PurchaseType = parseInt($('#Purchasetype').val() || 0);
                data.DepartmentId = parseInt($('#vDept').val() || 0);
                data.title = "Parameters - "
                    + "From: " + $('#dateFrom').val()
                    + " To: " + $('#dateTo').val()
                    + " Area: " + $('#Area').find("option:selected").text()
                    + " Location: " + $('#Location').find("option:selected").text()
                    + " Supplier: " + ($('#Supplier').val() || "(All)")
                   + " Job: " + ($('#jobCode').val() || "(All)")
                    + " Purchase Type: " + $('#Purchasetype').find("option:selected").text()
                    + " Department: " + $('#vDept').find("option:selected").text();
                if ($.fn.DataTable.isDataTable('#itemreport')) {
                    window.EumiLastSelectedInItemRpt = data;
                    $("#itemreport").DataTable().ajax.reload();
                    $("#paramOfReport").text(data.title);
                }
            }
        </script>
    }

