
@{
    ViewBag.Title = "MonthwiseReportDemo";
}
<style type="text/css">
    .main-panel {
        height: auto;
        width: auto;
        max-height: none;
        min-height: 100%;
        margin: 0;
        padding-top: 85px;
        float: none;
    }

    .eumi-search-box {
        box-sizing: border-box;
        width: 100%;
    }

    body.eumi-loader::before {
        content: '';
        display: block;
        position: fixed;
        z-index: 31000;
        height: 4px;
        background-color: rgba(0, 157, 160, 0.2);
        top: 0;
        left: 0;
        right: 0;
    }

    body.eumi-loader::after {
        content: '';
        display: block;
        position: fixed;
        z-index: 31001;
        height: 4px;
        background-color: rgba(0, 157, 160, 1);
        top: 0;
        width: 50px;
        animation: eumiloader 4s infinite linear;
    }

    .eumi-search-table, .eumi-shadow {
        border-spacing: 0 0px;
        box-shadow: 0px 0px 0px 2px #fff, 0 0 2px 2px #999;
    }
    /* .eumi-search-table tbody td { border:none; } */
    @@keyframes eumiloader {
        from {
            right: 100%;
        }

        to {
            right: 0;
        }
    }
</style>
<div class="card">
    <div class="row m-1">
        <div class="col-md-6">
            <h2>Monthwise Report</h2>
        </div>
        <div class="col-md-6 eumi-button-area" id="divReportOptions" data-download-url="@Url.Action("MonthwiseReportDemoDownload", "PurchaseReport")">


            <div class="btn-group" role="group">
                <button id="btnColVisibility" type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Columns
                </button>
                <div class="dropdown-menu eumi-col-show" aria-labelledby="btnColVisibility">
                </div>
            </div>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#paramModal">Change Parameters</button>

            <div class="btn-group" role="group">
                <button id="btnGroupDropDownload" type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Export
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDropDownload">
                    <a class="dropdown-item buttons-excel" data-eumi-download="excel" href="#">Excel</a>
                    <a class="dropdown-item buttons-pdf" data-eumi-download="pdf" href="#">PDF</a>
                    <a class="dropdown-item buttons-csv" data-eumi-download="csv" href="#">CSV</a>
                    <a class="dropdown-item buttons-print" data-eumi-download="print" href="#">Print</a>
                </div>
            </div>
            <button class="btn btn-outline-primary" data-eumi-clear="1" type="button">Clear Search</button>
        </div>
    </div>
    <div class="row m-1">
        <div id="paramOfReport" class="row m-1"></div>
    </div>
    <table id="monthwisetbl" class="table table-condensed table-light table-striped table-bordered eumi-search-table" style="width:100%; margin: 0 auto 0 0;">
        <tfoot>
            <tr class="eumi-search-row">
                <th></th>
                <th>Purchase SlNo</th>
                <th>Invo No</th>
                <th>Invo Date</th>
                <th>Supplier</th>
                <th>Taxable Amount</th>
                <th>Tax Amount</th>
                <th>Amount</th>
                <th>FC Amount</th>

            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>Grand Total</th>
                <th id="eumiTaxableAmount" class="text-right">TaxableAmount</th>
                <th id="eumiTaxAmount" class="text-right">TaxAmount</th>
                <th id="eumiAmount" class="text-right">Amount</th>
                <th id="eumiFCAmount" class="text-right">FCAmount</th>
            </tr>
        </tfoot>
    </table>
</div>
<div style="height:100px;clear: both">
    &nbsp;
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var decimal = (window.Decimal || 1);
        window.EumiLastSelectedInPurchaseRpt = null;
        var table = $('#monthwisetbl').EumiDataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "../PurchaseReport/MonthwiseReportDemoJson",
                "type": "POST",
                "data": function (data, settings) {
                    var addData = (window.EumiLastSelectedInPurchaseRpt || {});
                    addData.dateFrom = moment(addData.dateFrom || new Date()).format("YYYY-MM-DD");
                    addData.dateTo = moment(addData.dateTo || new Date()).format("YYYY-MM-DD");

                    if (!addData.title) {
                        addData.title = "Parameters - " + "From: " + moment(new Date()).format("DD-MM-YYYY") + " To: " + moment(new Date()).format("DD-MM-YYYY")
                        $("#paramOfReport").text(addData.title);
                    }
                    data.addData = addData;
                }
            },
            "columnDefs": [{
                "targets": 5,
                "className" : "text-right",
                "render": function (data) {
                    return (data || 0).toFixed(decimal);
                }
            },
            {
                "targets": 6,
                "className": "text-right",
                "render": function (data) {
                    return (data || 0).toFixed(decimal);
                }
            },
            {
                "targets": 7,
                "className": "text-right",
                "render": function (data) {
                    return (data || 0).toFixed(decimal);
                }
            },
            {
                "targets": 8,
                "className": "text-right",
                "render": function (data) {
                    return (data || 0).toFixed(decimal);
                }
            }, ],
            "columns": [
                { data: "slno", title: "Slno", searchable: false, sortable: false },
                { data: "SerialNo", title: "Purchase SlNo", sortable: false },
                { data: "InvoNo", title: "Invo No", sortable: false },
                { data: "InvoDate", title: "Invo Date", sortable: false },
                { data: "CustName", title: "Supplier", sortable: false },
                { data: "TotalTaxable", title: "Taxable Amount", sortable: false },
                { data: "TotalTax", title: "Tax Amount", sortable: false },
                { data: "BaseTotal", title: "Amount", sortable: false },
                { data: "FCTotal", title: "FC Amount", sortable: false },

            ],
            "createdRow": function (row, data, index) {
                if (index == 0) {
                    $("#eumiTaxableAmount").text(data._totaltaxable.toFixed(decimal));
                    $("#eumiTaxAmount").text(data._totaltax.toFixed(decimal));
                    $("#eumiAmount").text(data._basetotal.toFixed(decimal));
                    $("#eumiFCAmount").text(data._fctotal.toFixed(decimal));
                    console.log(index);
                }
            },
        });

        $('#monthwisetbl tbody').on('click', 'tr', function () {
        });
    });
</script>

@section popups {
    <div class="modal" id="paramModal">
        <div class="modal-dialog ">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Report Parameters</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dateFrom">From Date:</label>
                                <input type="text" class="form-control" id="dateFrom">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="dateTo">
                                <label for="dateTo">To Date:</label>
                                <input type="text" class="form-control" id="dateTo">
                            </div>
                        </div>
                    </div>
               
                </div>


                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="redrawTable();">Apply</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>
   }

@section bottomscripts {
    <script type="text/javascript" src="~/Scripts/EumiDataTable/eumi-datatable.js"></script>
    <script src="~/Scripts/Autocomplete/jquery-ui.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('#dateFrom, #dateTo').daterangepicker({
                minDate: minDate,
                maxDate: new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate()),
                singleDatePicker: true,
                showDropdowns: true,
                locale: {
                    format: 'DD/MM/YYYY'
                }
            });


        });


        function getTableRow(item, keyArray, widthArray, headersArray) {
            var jqRow = $("<tr>")
            for (var x = 0; x < keyArray.length; x++) {
                $("<td>").css({ "border": "1px solid #d6d9db", "width": widthArray[x] })
                    .html(item[keyArray[x]])
                    .attr("data-em-header", (headersArray[x] || ""))
                    .appendTo(jqRow)
            }
            return jqRow;
        }



        function redrawTable() {
            var data = {};
            data.dateFrom = moment($('#dateFrom').val(), "DD-MM-YYYY").toDate();
            data.dateTo = moment($('#dateTo').val(), "DD-MM-YYYY").toDate();
            
            data.title = "Parameters - " + "From: " + $('#dateFrom').val()
                + " To: " + $('#dateTo').val() ;
            if ($.fn.DataTable.isDataTable('#monthwisetbl')) {
                window.EumiLastSelectedInPurchaseRpt = data;
                $("#monthwisetbl").DataTable().ajax.reload();
                $("#paramOfReport").text(data.title);
            }
        }
    </script>
}

