USE [EUMI_ERP]
GO
/****** Object:  StoredProcedure [dbo].[HMS_PurchaseInsert]    Script Date: 01/30/2020 15:28:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



--drop procedure HMS_PurchaseInsert
CREATE  PROCEDURE [dbo].[HMS_PurchaseInsert]
(
@HMS_PurchaseInsert HMS_PharmaPurchase READONLY
)
AS
BEGIN

DECLARE @SlNo NUMERIC(18,0)=0,@DeptId INT=0,@SupplierId NUMERIC(18,0),@InvoNo VARCHAR(100),@MAXCOUNT NUMERIC(18,0)=0,@AccountId NUMERIC(18,0)

SELECT TOP 1 @DeptId=DeptId,@SupplierId=SupplierId ,@InvoNo=InvoNo FROM @HMS_PurchaseInsert

SELECT TOP 1 @AccountId=Acc_Id FROM Acc_Account_Head WHERE CustsuppId=@SupplierId

SELECT @MAXCOUNT=MAX(PurMainId) FROM @HMS_PurchaseInsert

--GET SLNO
SELECT @SlNo=PurSlno FROM  Settings_Inv_and_Acc_Slno WHERE DeptId=@DeptId 
--DUPLICATE DATA
IF NOT EXISTS(SELECT * FROM Inv_InventoryTransaction WHERE TransType='PI' and BillNo=@SlNo and DeptId=@DeptId  )
BEGIN
--SUPPLIER INVOICE NUMBER
IF NOT EXISTS (SELECT * FROM Inv_PurchaseMain WHERE SupplierId=@SupplierId and InvoNo=@InvoNo and DelFlag=1) 
BEGIN

IF((SELECT PURCHASESLNOTYPE FROM Settings_Company)='1')
UPDATE Settings_Inv_and_Acc_Slno set PurSlno=PurSlno+1							
ELSE
UPDATE Settings_Inv_and_Acc_Slno set PurSlno=PurSlno+1 where DeptId=@DeptId 

INSERT INTO [Inv_PurchaseMain]
           (SlNo,InvoNo,SupplierId,PayType,PurchaseType,InvoDate
           ,LocnId,CurrencyId,CurrencyRate,FBillDiscount,FDiscount
           ,FTaxable,FTax,FCTotal,InvoiceTotal,FCGST_0,FCGST_5
           ,FCGST_12,FCGST_18,FCGST_28,FCess,BillDiscount
           ,TotalDiscount,TotalTaxable,TotalTax,BaseTotal,BaseInvoiceTotal
           ,BCGST_0,BCGST_5,BCGST_12,BCGST_18,BCGST_28,BCess
           ,FCRoundOff,RoundOff,BDFlag,CessFlag,Remarks,Terms
           ,DueDate,LPO_No,MainProjectJob,PlaceOfSupply,ShipDate
           ,DelFlag,DepartmentId,UserId,InsDateTime,UpdateDateTime)

SELECT TOP 1 
			@SlNo,@InvoNo,@SupplierId,PayType,PurchaseType,InvoDate
			,LocationId,CurrencyId,CurrencyRate,FBillDiscount,FDiscount
			,FTaxable,FTax,FCTotal,InvoiceTotal,FCGST_0,FCGST_5
			,FCGST_12,FCGST_18,FCGST_28,FCess,BilDiscount
			,TotalDiscount,TotalTaxable,TotalTax,BaseTotal,BaseInvoiceTotal
			,BCGST_0,BCGST_5,BCGST_12,BCGST_18,BCGST_28,BCess
			,FCRoundOff,RoundOff,BDFlag,CessFlag,Remarks,Terms
			,DueDate,LPO_No,JobNo,Area,ShipDate
			,DelFlag,DeptId,UserId,GETDATE(),GETDATE() 
			FROM @HMS_PurchaseInsert

--SUB INSERT
DECLARE @COUNT INT=1,@ITEMID NUMERIC(18,0)=0,@ITEMCODE VARCHAR(300)
,@ITEMDESC VARCHAR(300),@UID NUMERIC(18,0)=0,@BatchSlno NUMERIC(18,0)
,@SubId NUMERIC(18,0),@LOCID NUMERIC(18,0)

WHILE(@COUNT<=@MAXCOUNT)
BEGIN

SELECT @BatchSlno=BatchSlNo FROM Settings_Inv_and_Acc_Slno WHERE DeptId=@DeptId

UPDATE Settings_Inv_and_Acc_Slno SET BatchSlNo=BatchSlNo+1 WHERE DeptId=@DeptId

SELECT @ITEMID=ItemId,@LOCID=LocationId FROM @HMS_PurchaseInsert 
WHERE PurMainId=@COUNT

SELECT @ITEMCODE=ItemCode,@ITEMDESC=[Description],@UID=UnitId 
FROM Mst_Item WHERE ItemId=@ITEMID

INSERT INTO [Inv_PurchaseSub]
           ([InvMainSlno],[ItemId],[ItemCode],[ItemDescription],[LocationId]
           ,[UnitId],[CurrencyRate],[BatchSlno],[Batch],[Expiry],[Pack]
           ,[Quantity],[Free],[Loose],[P_SR],[P_MRP],[TQty],[TLQty],[TaxId]
           ,[TaxRate],[FCRate],[FCDiscount],[FCTaxable],[FCTax],[FCAmount]
           ,[FC_Cess],[Rate],[Discount],[TaxableAmount],[TaxAmount]
           ,[Amount],[B_Cess],[Margin],[P_OtherCost],[DelFlag],[DeptId]
           ,[JobNo],[IMEINumber],[PO_No],[PO_SubTbl_Id],[MRV_No]
           ,[MRV_SubTbl_Id],[Performa_NO],[Performa_SubTbl_Id])

	SELECT @SlNo,@ITEMID,@ITEMCODE,@ITEMDESC,LocationId
	,@UID,CurrencyRate,@BatchSlno,Batch,Expiry,Pack
	,Quantity,Free,Loose,SellingRate,MRP,TQty,TLQty,TaxId
	,TaxRate,FCRate,FCDiscount,FCTaxable,FCTax,FCAmount
	,FC_Cess,Rate,Discount,TaxableAmount,TaxAmount
	,Amount,B_Cess,Margin,P_OtherCost,DelFlag,@DeptId
	,JobNo,IMEINumber,PO_No,PO_SubTbl_Id,MRV_No
	,MRV_SubTbl_Id,Performa_NO,Performa_SubTbl_Id 
	FROM @HMS_PurchaseInsert WHERE PurMainId=@COUNT
	
	SELECT @SubId= MAX(SubId)FROM Inv_PurchaseSub
	
	INSERT INTO [Inv_InventoryTransaction]
           ([InvoiceNo],[BillSeries],[BillNo],[InvDate],[ItemId],[ItemCode]
           ,[ItemDescription],[TransType],[Quantity],[LooseQty],[AccountId]
           ,[CustomerId],[Unit],[BatchSlNo],[Batch],[LPO_No],[DO_No],[TaxId]
           ,[TaxPercentage],[Cost],[Price],[Discount],[TaxableAmt],[TaxAmt]
           ,[LineTotal],[OtherCost],[CurrencyId],[CurrencyRate],[FCCost]
           ,[FCPrice],[FCDiscount],[FCTaxableAmt],[FCTaxAmt],[FCLineTotal]
           ,[DueDate],[ItemExpiry],[Fraction],[JobId],[ShipDate],[PurchaseType]
           ,[Trans_SlNo],[CostCode],[DeptId],[UserId],[EntryDate],[InsDateTime]
           ,[DelFlag],[SubTbl_Id],[LocationId],[IMEI_Number])
	
	SELECT @InvoNo,0,@SlNo,InvoDate,ItemId,@ITEMCODE
	,@ITEMDESC,'PI',TQty,TLQty,@AccountId
	,@SupplierId,@UID,@BatchSlno,Batch,LPO_No,0,TaxId
	,TaxRate,Rate,SellingRate*CurrencyRate,Discount,TaxableAmount,TaxAmount
	,Amount,P_OtherCost,CurrencyId,CurrencyRate,FCRate
	,SellingRate,FCDiscount,FCTaxable,FCTax,FCAmount,
	DueDate,Expiry,1,JobNo,ShipDate,PurchaseType
	,0,0,DeptId,UserId,GETDATE(),GETDATE(),
	DelFlag,@SubId,LocationId,IMEINumber
	
	FROM @HMS_PurchaseInsert WHERE PurMainId=@COUNT
	
	
	IF EXISTS(SELECT * FROM Inv_Stock WHERE Stock_Item_Id=@ITEMID AND Stock_deptId=@DeptId AND Stock_Location=@LOCID)
	UPDATE Inv_Stock SET Stock_InQty=TQty,Stock_InLooseQty=TLQty FROM @HMS_PurchaseInsert WHERE PurMainId=@COUNT AND Stock_Item_Id=@ITEMID AND Stock_deptId=@DeptId AND Stock_Location=@LOCID
	ELSE
	INSERT INTO [Inv_Stock]
           ([Stock_Item_Id],[Stock_OpeningQty],[Stock_OpLoseQty],[Stock_InQty]
           ,[Stock_InLooseQty],[Stock_OutQty],[Stock_OutLooseQty],[Stock_deptId]
		   ,[Stock_Location])
		   
	SELECT @ITEMID,0,0,TQty,TLQty,0,0,@DeptId,@LOCID
	FROM @HMS_PurchaseInsert WHERE PurMainId=@COUNT

SELECT @COUNT=@COUNT+1;
END


SELECT 1 'Status',@SlNo 'SlNo'
END
ELSE
SELECT 0 'Status',@SlNo 'SlNo'
END
ELSE
SELECT 5 'Status',@SlNo 'SlNo'


END



