
@{
    ViewBag.Title = "PendingQuotation";
}
<script type="text/javascript" src="../Projectscript/Common.js"></script>
<script src="~/Scripts/Autocomplete/jquery-ui.js"></script>


<style type="text/css">
  
    .form-control {
        font-weight: bold;
    }
</style>
<script>
    var decimal = Decimal;
    $(function () {
        $("#txtproduct").focus();
        //$("#txtproduct").keydown(function (e) {
        //    var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
        //    $('#txtproductId').val(0);
        //    if (key == 13) {
        //        e.preventDefault();
        //        $("#suppliername").focus();
        //    }
        //});

        //$("#suppliername").keydown(function (e) {
        //    var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
        //    $('#supplierId').val(0);
        //    if (key == 13) {
        //        e.preventDefault();
        //        $("#cmbGroup").focus();
        //    }
        //});

        $("#cmbGroup").keydown(function (e) {
            var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
            if (key == 13) {
                e.preventDefault();
                $("#cmbSubgroup").focus();
            }
        });
        $("#cmbSubgroup").keydown(function (e) {
            var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
            if (key == 13) {
                e.preventDefault();
                $("#cmbCategory").focus();
            }

        });
        $("#cmbCategory").keydown(function (e) {
            var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
            if (key == 13) {
                e.preventDefault();
                $("#cmbSubcategory").focus();
            }

        });
        $("#cmbSubcategory").keydown(function (e) {
            var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
            if (key == 13) {
                e.preventDefault();
                $("#enquiryno").focus();
            }

        });
        $("#enquiryno").keydown(function (e) {
            var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
            if (key == 13) {
                e.preventDefault();
                $("#vDept").focus();
            }

        });
        $("#vDept").keydown(function (e) {
            var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
            if (key == 13) {
                e.preventDefault();
                $("#btnsubmit").focus();
            }

        });

        CategoryPageLoad(0);
        GroupPageLoad(0);
        GetDepartment(0);

        $('#DateFrom').daterangepicker({
            minDate: minDate,
            maxDate: new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate()),
            singleDatePicker: true,
            showDropdowns: true,
            locale: {
                format: 'DD/MM/YYYY'
            }
        });

        $('#DateTo').daterangepicker({
            minDate: minDate,
            maxDate: new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate()),
            singleDatePicker: true,
            showDropdowns: true,
            locale: {
                format: 'DD/MM/YYYY'
            }
        });
    });
    function popuprefresh() {
        $('#popupdiv').hide();
    }
    function GetDepartment(id) {
        var data = {};
        data.UserId = ERPUserId;
        $.ajax({
            type: "POST",
            url: "../Master/UserDepartmentGetandGets",
            data: data,
            success: function (result) {
                DepartmentLoad(result.oList, id);


            }
        });
    }

    function DepartmentLoad(result, a) {
        $("#vDept").empty();
        $("#vDept").append("<option value='0'>-All-</option>");
        for (var i = 0; i < result.length; i++) {
            $("#vDept").append("<option value='" + result[i].DepartmentId + "'>" + result[i].DepartmentName + "</option>");
        }
    }

    function CategoryPageLoad(id) {
        var data2 = {};
        data2.CategoryId = 0;
        $.ajax({
            type: "POST",
            url: "../Master/CategoryGetandGets",
            data: data2,
            success: function (result) {
                CategoryLoad(result.oList, id);
            }
        });
    }

    function CategoryLoad(result) {
        $("#cmbCategory").empty();
        $("#cmbCategory").append("<option value='0'>-All-</option>");
        for (var i = 0; i < result.length; i++) {
            $("#cmbCategory").append("<option value='" + result[i].CategoryId + "'>" + result[i].CategoryName + "</option>");
        }
        SubCategoryGets();
    }

    function SubCategoryGets() {
        var data = {};
        data.CategoryId = $("#cmbCategory").val();
        if (data.CategoryId == 0) {
            data.SubCategoryId = 0;
            $.ajax({
                type: "POST",
                url: "../Master/SubCategoryGetandGets",
                data: data,
                success: function (result) {
                    SubCategoryLoad(result.oList);
                }
            });
        }
        else {
            data.SubCategoryId = 0;
            $.ajax({
                type: "POST",
                url: "../Master/SubCategoryGetforCategory",
                data: data,
                success: function (result) {
                    SubCategoryLoad(result.oList);
                }
            });
        }
    }

    function SubCategoryLoad(result) {
        $("#cmbSubcategory").empty();
        $("#cmbSubcategory").append("<option value='0'>-All-</option>");
        for (var i = 0; i < result.length; i++) {
            $("#cmbSubcategory").append("<option value='" + result[i].SubCategoryId + "'>" + result[i].SubCategoryName + "</option>");
        }
    }

    function GroupPageLoad(id) {
        var data1 = {};
        data1.GrpId = 0;
        $.ajax({
            type: "POST",
            url: "../Master/GroupGetandGets",
            data: data1,
            success: function (result) {
                GroupLoad(result.oList, id);
            }
        });
    }

    function GroupLoad(result) {
        $("#cmbGroup").empty();
        $("#cmbGroup").append("<option value='0'>-All-</option>");
        for (var i = 0; i < result.length; i++) {

            $("#cmbGroup").append("<option value='" + result[i].GrpId + "'>" + result[i].GrpName + "</option>");
        }
        SubGroupGets();
    }


    function SubGroupGets() {
        var data = {};
        data.GroupId = $("#cmbGroup").val();


        if (data.GroupId == 0) {
            data.SbgrpId = 0;
            $.ajax({
                type: "POST",
                url: "../Master/SubGroupGetandGets",
                data: data,
                success: function (result) {
                    SubGroupLoad(result.oList);
                }
            });
        }
        else {
            data.SbgrpId = 0;
            $.ajax({
                type: "POST",
                url: "../Master/SubGroupGetForGroup",
                data: data,
                success: function (result) {
                    SubGroupLoad(result.oList);
                }
            });
        }
    }

    function SubGroupLoad(result) {
        $("#cmbSubgroup").empty();
        $("#cmbSubgroup").append("<option value='0'>-All-</option>");
        for (var i = 0; i < result.length; i++) {
            $("#cmbSubgroup").append("<option value='" + result[i].SbgrpId + "'>" + result[i].SbgrpName + "</option>");
        }
    }

</script>
<div class="myData" data-x="M73" />
<div id="Entry">
   
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" style="border-bottom:1px solid #e6e6e6">
                    <div>
                        <table width="100%">
                            <tr>
                                <td><h4 id="header"></h4></td>
                                <td width="38%"></td>
                                <td align="right"><button type="button" style="width:100px" onclick="$('#popupdiv').show(),$('#txtproduct').focus()" id="btnback" class="btn btn-outline-primary">Back</button></td>
                                <td align="right">
                                    <div class="btn-group" id="buttonPlace">
                                        <div align="right">
                                            <div class="heading-elements">
                                                <div class="btn-group" id="buttonPlace">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div align="right">
                            <div class="heading-elements">
                                <hr style="margin-top:-1px;" />
                                <div id="divreport" style="overflow:auto;display:none">
                                    <table id="Tblreport" class="table table-striped table-bordered base-style dataTable"></table><br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="popupdiv" class="modal fade text-left show" tabindex="-1" role="dialog" aria-labelledby="myheader" style="padding-right: 17px; background:rgba(0,0,0,0.5); display: block; display:none1;height:200%">
    <div class="modal-dialog modal-lg" role="document" style="top:5%;width:580px;">
        <div class="modal-content">
            <div class="modal-header bg-primary white">
                <h4 class="modal-title" id="myheader">Quotation Pending Report</h4>
                <button type="button" class="close" onclick="popuprefresh()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form id="monthpopup" style="display:none1">
      
                <div class="modal-body">
                    <div class="row">
                        <label style="font-weight:bold;margin-left:11%">From</label>
                        <div class="col-md-4">
                            <input type="text" id="DateFrom" class="form-control" autocomplete="off" style="font-weight:bold">
                        </div>

                        <label style="font-weight:bold;margin-left:10%">To</label>
                        <div class="col-md-4">
                            <input type="text" id="DateTo" class="form-control" autocomplete="off" style="font-weight:bold">
                        </div>
                    </div>

                    <div class="row" style="border-bottom:1px solid #cfd8dc;margin-top:3%;"></div>

                    <div class="row">
                        <label style="margin-top:2%;font-weight:bold;margin-left:7%">Material</label>
                        <div class="col-md-4" style="margin-top:2%;">
                            <input type="text" class="form-control" id="txtproduct" onkeyup="ProductClear()"/>
                            <input type="hidden" class="form-control" id="txtproductId" />
                        </div>
                        <label style="margin-top:2%;font-weight:bold;margin-left:1%">Account</label>
                        <div class="col-md-4" style="margin-top:2%;">
                            <input type="text" class="form-control" id="suppliername" onkeyup="Clear()" />
                            <input type="hidden" class="form-control" id="supplierId" />
                        </div>
                    </div>
                    <div class="row">
                        <label style="margin-top:2%;font-weight:bold;margin-left:10%">Group</label>
                        <div class="col-md-4" style="margin-top:2%;">
                            <select id="cmbGroup" class="form-control" name="priority" onchange="SubGroupGets()">
                                <option value='0'>-All-</option>
                            </select>
                        </div>

                        <label style="margin-top:2%;font-weight:bold;margin-left:-1%">SubGroup</label>
                        <div class="col-md-4" style="margin-top:2%;">
                            <select id="cmbSubgroup" class="form-control" name="priority">
                                <option value='0'>-All-</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <label style="margin-top:2%;font-weight:bold;margin-left:5.5%">Category</label>
                        <div class="col-md-4" style="margin-top:2%;">
                            <select id="cmbCategory" class="form-control" name="priority" onchange="SubCategoryGets()">
                                <option value='0'>-All-</option>
                            </select>
                        </div>

                        <label style="margin-top:2%;font-weight:bold;margin-left:2%">SubCat.</label>
                        <div class="col-md-4" style="margin-top:2%;">
                            <select id="cmbSubcategory" class="form-control" name="priority">
                                <option value='0'>-All-</option>
                            </select>
                        </div>
                    </div>


                    <div class="row">
                        <label style="margin-top:2%;font-weight:bold;margin-left:2.5%">Quotation#</label>
                        <div class="col-md-4" style="margin-top:2%;">
                            <input type="text" class="form-control" id="enquiryno" />
                        </div>

                        <label style="margin-top:2%;font-weight:bold;margin-left:5.5%">Dept.</label>
                        <div class="col-md-4" style="margin-top:2%;">
                            <select id="vDept" class="form-control">
                                <option value="0">- All -</option>
                            </select>
                        </div>
                    </div>
                </div>
               
                <div class="modal-footer">
                    <button type="button" id="btnsubmit" style="margin-right:40%" class="btn btn-primary" data-dismiss="modal">Apply</button>
                </div>

            </form>
        </div>
    </div>
</div>

<script>
    function Clear() {
        if ($('#suppliername').val() == '') {
            $('#supplierId').val(0);
        }
    }
    function ProductClear() {
        if ($('#txtproduct').val() == '') {
            $('#txtproductId').val(0);
        }

    }
    $("#enquiryno").autocomplete({        
        delay: 0,
        minLength: 0,
        source: function (request, response) {
            var data = {};
            data.QuotationNo = $("#enquiryno").val();
            data.DeptId = ERPDeptId;
                $.ajax({
                    url: '../SalesInvoice/QuotationNoSearch',
                    type: "POST",
                    data: data,
                    dataType: "json",
                    success: function (data) {
                        console.log(data);
                        response($.map(data, function (item) {
                            return ({
                                ColCount: '3',
                                label: item.QuotationNo,
                                label1: item.CustName,
                                label2: item.InvDate,
                                QuotationNo: item.QuotationNo,
                                QuotationEntryMainId: item.QuotationEntryMainId,
                                headers: ["Quotation No", "Customer Name", "Inv Date"]
                            })
                        }));
                    }
                })
        },
        autoFocus: true,
        select: function (event, ui) {
            $('#enquiryno').val(ui.item.QuotationNo);
                }
    });

    $("#txtproduct").autocomplete({
        delay: 0,
        minLength: 0,
        source: function (request, response) {
            var data = {};
            data.ItemCode = $("#txtproduct").val();
            data.LocId = UserLocationId;
            data.DeptId = ERPDeptId;
            $.ajax({
                url: '../SalesInvoice/ProductSearchSales',
                type: "POST",
                data: data,
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    response($.map(data, function (item) {
                        return ({
                            ColCount: '+2',
                            label: item.ItemCode,
                            label1: item.Description,
                            Description: item.Description,
                            ProductId: item.ItemId,
                            Product: item.ItemCode,
                            headers: ["Material Code", "Material Description"]
                        })
                    }));
                }
            })
        },

        autoFocus: true,
        select: function (event, ui) {
            $('#txtproduct').val(ui.item.Product);
            $('#txtproductId').val(ui.item.ProductId);
            $("#suppliername").focus();
        },
    });

    $("#suppliername").autocomplete({
        delay: 0,
        minLength: 0,
        source: function (request, response) {
            var data = {};
            data.CustName = $("#suppliername").val();
            data.CustType = 'C';

            $.ajax({
                url: '../Master/CustomerOrSupplierSearch',
                type: "POST",
                data: data,
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    response($.map(data, function (item) {
                        return ({
                            ColCount: '+2',
                            label: item.CustName,
                            label1: item.CustAccount,
                            CustId: item.CustId,
                            CustName: item.CustName,
                            headers: ["Supplier Name", "Account Code"]
                        })
                    }));
                }

            })

        },
        autoFocus: true,
        select: function (event, ui) {
            $('#supplierId').val(ui.item.CustId);
            $('#suppliername').val(ui.item.CustName);
            $("#cmbGroup").focus();
        },
    });


    $("#btnsubmit").click(function (e) {
        var GroupID = '', SubgroupID = '', SubCategoryID = '', CategoryID = '', Condition = '', Customer = '', Material = '', vDept = '', EnquiryNO=''
        var data = {};
        var FromDate = $('#DateFrom').val();
        var ToDate = $('#DateTo').val();
        var Customer = $('#supplierId').val();
        var Material = $('#txtproductId').val();
        var GroupID = $('#cmbGroup').val();
        var SubgroupID = $('#cmbSubgroup').val();
        var CategoryID = $('#cmbCategory').val();
        var SubCategoryID = $('#cmbSubcategory').val();
        var Dept = $('#vDept').val();
        var EnquiryNO = $('#enquiryno').val();


        Condition += 'CONVERT(datetime,InvDate,103) >= CONVERT(datetime,' + "'" + FromDate + "'" + ',103) and CONVERT(datetime,InvDate,103) <= CONVERT(datetime,' + "'" + ToDate + "'" + ',103)'

        if (GroupID != 0) { Condition += ' and GroupId=' + GroupID; }

        if (SubgroupID != 0) { Condition += ' and SubGroupId=' + SubgroupID; }

        if (CategoryID != 0) { Condition += ' and CategoryId=' + CategoryID; }

        if (SubCategoryID != 0) { Condition += ' and SubCategoryID=' + SubCategoryID; }

        if (Material != 0) { Condition += ' and qs.ProductId=' + Material; }

        if (Customer != 0) { Condition += ' and qm.CustId = ' + Customer; }

        if (Dept != 0) { Condition += ' and qm.DeptId = ' + Dept; }

        if (EnquiryNO != '') { Condition += ' and qm.QuotationNo=' + EnquiryNO; }



        var data = {};
        data.Condition = Condition;
        data.UserId = ERPUserId;

        $.ajax({
            type: "POST",
            url: "../PendingReport/PendingQuotationGet",
            data: data,
            success: function (result) {
                $('#divreport').show();
                $('#popupdiv').hide();
                Showreport(result);
            }
        });
    });

    function Showreport(result) {
        disable_datatable('Tblreport', 'buttonPlace');
        var responseText = "<thead><tr><th align=center>Sl#</th><th>Quotation#</th><th>Date</th><th>Customer</th><th>Item Code</th><th>Item Name</th><th>Salesman</th><th align=center>Quotation Qty.</th><th align=center>Order Qty.</th><th align=center>Pending Qty.</th><th>Order Rate</th></thead><tbody>";
        for (var i = 0; i < result.length; i++) {
            var slno = parseInt(i + 1);
            if (result[i].QtnNo == '') {
                responseText += '<tr style=background-color:#cfd8dc><td hidden>' + slno + '</td><td></td><td>' + result[i].QtnNo + '</td><td>' + result[i].InvDate + '</td><td><b>Grand Total</b></td><td>' + result[i].ItemCode + '</td><td>' + result[i].ItemName + '</td><td>' + result[i].Salesman + '</td><td align=center><b>' + result[i].QtnQty + '</b></td><td align=center><b>' + result[i].OrderQty + '</b></td><td align=center><b>' + result[i].BalanceQty + '</b></td><td style=text-align:right><b>' + (result[i].OrderRate).toFixed(decimal) + '</b></td></tr>';
            }
            else {
                responseText += '<tr><td align=center>' + slno + '</td><td>' + result[i].QtnNo + '</td><td>' + result[i].InvDate + '</td><td>' + result[i].Customer + '</td><td>' + result[i].ItemCode + '</td><td>' + result[i].ItemName + '</td><td>' + result[i].Salesman + '</td><td align=center>' + result[i].QtnQty + '</td><td align=center>' + result[i].OrderQty + '</td><td align=center>' + result[i].BalanceQty + '</td><td style=text-align:right>' + (result[i].OrderRate).toFixed(decimal) + '</td></tr>';
            }
        }
        $('#Tblreport').html(responseText + '</tbody><tfoot><tr><th>Sl#</th><th>Quotation#</th><th>Date</th><th>Customer</th><th>Item Code</th><th>Item Name</th><th>Salesman</th><th> </th><th> </th><th> </th><th> </th></tr></tfoot>');

        var title = "Quotation Pending Report - from " + $("#DateFrom").val() + " to " + $("#DateTo").val() + "";
        datatableWithsearch('Tblreport', true, title, 'buttonPlace');
        $('#header').text(title);
    }

    function datatableWithsearch(tablename, download, title, tableButtonContainerId) {

        var a = '#' + tablename + ' tfoot th'
        $(a).each(function () {
            var title = $(this).text();
            if (title != 'Edit' && title != 'Select' && title != 'Sl#' && title != 'O Balance' && title != ' ') {
                $(this).html('<input type="text" placeholder=" ' + title + '" style="width=100%" />');
            }
            if (title == 'Date') {
                $(this).html('<input type="text" placeholder="' + title + '" style="width:100%" />');
            }
            if (title == 'Quotation#') {
                $(this).html('<input type="text" placeholder="' + title + '" style="width:100%" />');
            }

            if (title == 'Dept.Code') {
                $(this).html('<input type="text" placeholder="' + title + '" style="width:100%" />');
            }
            if (title == 'Customer') {
                $(this).html('<input type="text" placeholder="' + title + '" style="width:150px" />');
            }
            if (title == 'Salesman') {
                $(this).html('<input type="text" placeholder="' + title + '" style="width:150px" />');
            }
            if (title == 'Item Code') {
                $(this).html('<input type="text" placeholder="' + title + '" style="width:200px" />');
            }
            if (title == 'Item Name') {
                $(this).html('<input type="text" placeholder="' + title + '" style="width:450px" />');
            }
        });
        var table = null;
        if (download) {
            if (!title || !tableButtonContainerId) { console.log("download table need title and button container"); }


            table = $('#' + tablename).DataTable({
                //dom: 'Blfrtip',
                dom: "<'row'<'col-sm-1'l><'col-sm-11'f>>" +
               "<'row'<'col-sm-12'tr>>" +
               "<'row'<'col-sm-1'i><'col-sm-11'p>>",
                buttons: [],


            });
            new $.fn.dataTable.Buttons(table, {
                buttons: [
                {
                    extend: 'collection',
                    text: 'Export',
                    className: 'excelexport',
                    buttons: [
                        {
                            extend: 'excelHtml5',
                            title: title,
                            messageTop: 'MEDOC HMS',
                            exportOptions: { columns: ":visible" }
                        },
                        {
                            extend: 'pdfHtml5',
                            title: title,
                            messageTop: 'MEDOC HMS',
                            exportOptions: { columns: ":visible" }
                        },
                        {
                            extend: 'print',
                            title: title,
                            messageTop: 'MEDOC HMS',
                            exportOptions: { columns: ":visible" }
                        }
                    ]
                },
                'colvis'
                ]
            });
            table.buttons(0, null).container().appendTo($("#" + tableButtonContainerId));
            $("#" + tableButtonContainerId).find(".buttons-collection").addClass("btn-outline-primary mx-1").css("border-radius", "4px");

        } else {
            table = $('#' + tablename).DataTable();
        }
        table.columns().every(function () {
            var that = this;
            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();

                }
            });
        });
        if (ExcelExport == 0) {
            $('.excelexport').hide();
        }
    }
</script>