
@{
    ViewBag.Title = "BOQResource";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<script type="text/javascript" src="../Projectscript/Common.js"></script>
<script src="~/Scripts/Autocomplete/jquery-ui.js"></script>

<div class="myData" data-x="M285" />
<div id="Entry">
    <div class="row">
        <div class="col-md-5" style="margin-left:30%;margin-top:5%">
            <div class="card">
                <div class="card-header" style="border-bottom:1px solid #e6e6e6">
                    <h4 class="card-title mb-0" style="text-align:center;font-weight:bold">BOQ Resource</h4>
                </div>
                <div class="card-body">
                    <div class="px-3">
                        <div class="card-content collapse show">
                            <div class="card-body">
                                <div style="height:15px;"></div>
                                <form action="#">
                                    <div class="form-body">

                                        <div class="row">
                                            <div class="col-md-1">
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label style="font-weight:bold">Code<span class="danger">*</span></label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="text" onkeyup="changetoupper(this.id)" id="Code" class="form-control" name="Code">
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-1">
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label style="font-weight:bold">Account<span class="danger">*</span></label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="text" id="Account" class="form-control" name="Name">
                                                    <input type="hidden" id="AccountId" class="form-control" name="Name">
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-1">
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label style="font-weight:bold">Account Description</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="text" id="Description" class="form-control" name="Description" disabled style="background:white">
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-1">
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label style="font-weight:bold">Notes</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <textarea type="text" id="Notes" class="form-control" name="Name" style="height:70px"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-actions center">
                                        <div class="text-center">
                                            <button type="button" style="width:100px" id="btnsubmit" class="btn btn-primary btn-min-width mr-1 mb-1"><u>S</u>ave <i class="fa fa-check-square-o"></i></button>
                                            <button type="button" style="width:100px" id="btnlist" onclick="GetRows(0)" class="btn btn-primary btn-min-width mr-1 mb-1">List <i class="ft-align-justify"></i></button>
                                            <button type="button" style="width:100px" id="btnnew" onclick="formrefresh()" class="btn btn-primary btn-min-width mr-1 mb-1">Clear <i class="ft-refresh-cw position-right"></i></button>
                                            <button style="display:none" type="button" id="btndelete" class="btn btn-primary btn-min-width mr-1 mb-1">Delete <i class="fa fa-times"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<div style="margin-left:20%;display:none;width:60%;" id="listing">
    <section>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <table width="100%">
                            <tr>
                                <td><h4 class="card-title" style="font-weight:bold;">RESOURCE LIST</h4></td>
                                <td align="right">
                                    <div class="heading-elements">
                                        <div>
                                            <button type="button" onclick="closelist()" class="btn btn-outline-primary" id="ed"><i class="ft-edit"></i> Add New</button>
                                            <span id="itemListButtonPlace">
                                            </span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>


                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard" style="overflow:auto;">
                            <table id="tblresource" class="table table-striped table-bordered base-style dataTable"></table>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div style="display:none"><input type="text" value="0" id="ResourceId" /></div>


<script>

    $("#Account").autocomplete({
        source: function (request, response) {
            var data = {};
            data.AccountDescription = $("#Account").val();
            $.ajax({
                url: '../Inventory/AccountNumberSearch',
                type: "POST",
                data: data,
                dataType: "json",
                success: function (data) {
                    response($.map(data, function (item) {
                        return ({
                            ColCount: 'TWOEnq',
                            label: item.DebitAccount,
                            label1: item.AccountDescription,
                            DebitAccount: item.DebitAccount,
                            AccountDescription: item.AccountDescription,
                            AccountId: item.AccountId,
                            headers: ["Code", "Decription"]
                        })
                    }));
                }

            })

        },
        autoFocus: true,
        select: function (event, ui) {
            $("#AccountId").val(ui.item.AccountId);
            $("#Account").val(ui.item.DebitAccount);
            $("#Description").val(ui.item.AccountDescription);
            $('#Notes').focus();
        },
    });


    $(document).ready(function () {
        Defaultfocus();

        $("#btnsubmit").click(function (e) {
            SaveAndUpdate(1)
        });

    });//Document Close

    function Defaultfocus() {
        $('#Code').focus();
    }

    function SaveAndUpdate(Flag) {
        if ($('#Code').val() == "") {
            warningshow('Please Enter Code', 'Code');
        }
        else if ($('#Account').val() == "") {
            warningshow('Please Select Account', 'Account');
        }
        else {
            var data = {};   //array
            data.ResourceId = $('#ResourceId').val();;
            data.Code = $('#Code').val();
            data.Account = $('#Account').val();
            data.Description = $('#Description').val();
            data.Notes = $('#Notes').val();
            data.DelFlag = Flag;
            $.ajax({
                type: "POST",
                url: "../Master/ResourceInsertandUpdate",
                data: data,
                success: function (result) {
                    for (var i = 0; i <= result.oList.length; i++) {
                        var status = result.oList[i].Status;
                        Showalerts(status);
                    }
                }
            });

        }
    }




    function formrefresh() {
        $('#Code').val('');
        $('#Account').val('');
        $('#Description').val('');
        $('#Notes').val('');
        $('#Code').focus();
        $('#ResourceId').val(0);
        $('#btndelete').hide();
    }

    function closetable(value) {
        $('#Entry').show();
        $('#listing').hide();
        if (value == 1)
            formrefresh();
    }

    function ShowResourcelist(result) {
        disable_datatable('tblresource');
        $('#Entry').hide();
        $('#listing').show();
        var responseText = "<thead><tr><th width=1% ;align=center>Sl#</th><th  width=5%>Code</th><th width=35%>Account</th><th width=45%>Description</th><th width=45%>Notes</th><th width=3% align=center>Edit</th></tr></thead><tbody>";
        for (var i = 0; i < result.length; i++) {
            var slno = parseInt(i + 1);
            responseText += '<tr><td align=center>' + slno + '</td><td>' + result[i].Code + '</td><td>' + result[i].Account + '</td><td>' + result[i].Description + '</td><td>' + result[i].Notes + '</td><td align=center><a onclick="GetRows(' + result[i].ResourceId + ')">' + Editbutton + '</a></td></tr>';
        }
        $('#tblresource').html(responseText + '</tbody><tfoot><tr><th> </th><th>Code</th><th>Account</th><th>Description</th><th>Notes</th><th width=3% align=center>Edit</th></tr></tfoot>');
        datatableWithsearch1('tblresource');
    }
   

    function closelist() {
        $('#Entry').show();
        $('#listing').hide();
        formrefresh();
    }

    function ShowResourceGet(result) {
        for (var i = 0; i < result.length; i++) {
            $('#Code').val(result[i].Code);
            $('#Account').val(result[i].Account);
            $('#Description').val(result[i].Description);
            $('#Notes').val(result[i].Notes);
            $('#Code').focus();
        }
        $('#Entry').show();
        $('#listing').hide();
        $('#btndelete').show();
    }



    function GetRows(ResourceId) {
        $('#ResourceId').val(ResourceId)
        var data = {};
        data.ResourceId = ResourceId;
        $.ajax({
            type: "POST",
            url: "../Master/ResourceGetandGets",
            data: data,
            success: function (result) {
                if (ResourceId == 0)
                    ShowResourcelist(result.oList);
                else
                    ShowResourceGet(result.oList);

            }
        });

    }


    function datatableWithsearch1(tablename, download, title, tableButtonContainerId) {

        var a = '#' + tablename + ' tfoot th'
        $(a).each(function () {
            var title = $(this).text();
            if (title != 'Edit' && title != 'Select' && title != 'Sl#' && title != 'Credit Limit' && title != 'Due Days' && title != 'O Balance' && title != 'Serial#' && title != ' ' && title != ' ') {
                $(this).html('<input type="text" placeholder="Search ' + title + '" style="width=100%" />');
            }
            if (title == 'Code') {
                $(this).html('<input type="text" placeholder="' + title + '" style="width:100%" />');
            }

            if (title == 'Name') {
                $(this).html('<input type="text" placeholder="' + title + '" style="width:100%" />');
            }

            if (title == 'Description') {
                $(this).html('<input type="text" placeholder="' + title + '" style="width:100%" />');
            }



        });
        var table = null;
        table = $('#' + tablename).DataTable({
            dom: 'Blfrtip',
            dom: "<'row'<'col-sm-1'l><'col-sm-11'f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-1'i><'col-sm-11'p>>",
            buttons: [],
            //"columnDefs": [

            //     { "width": "17%", "targets": 2 },
            //     { "width": "18%", "targets": 3 },
            //      { "width": "15%", "targets": 4 },
            //        { "width": "15%", "targets": 5 },
            //          { "width": "10%", "targets": 6 },
            //           { "width": "10%", "targets": 7 },

            //]

        });

        new $.fn.dataTable.Buttons(table, {
            buttons: [
            {
                extend: 'collection',
                text: 'Export',
                buttons: [
                    {
                        extend: 'excelHtml5',
                        title: title,
                        messageTop: 'MEDOC HMS',
                        exportOptions: { columns: [0, 1, 2, 3] }
                    },
                    {
                        extend: 'pdfHtml5',
                        title: title,
                        messageTop: 'MEDOC HMS',
                        exportOptions: { columns: [0, 1, 2, 3] }
                    },
                    {
                        extend: 'print',
                        title: title,
                        messageTop: 'MEDOC HMS',
                        exportOptions: { columns: [0, 1, 2, 3] }
                    }
                ]
            },
           // 'colvis'
            ]
        });
        table.buttons(0, null).container().appendTo($("#itemListButtonPlace"));
        $("#itemListButtonPlace").find(".buttons-collection").addClass("btn-outline-primary mx-1").css("border-radius", "4px");


        table.columns().every(function () {
            var that = this;
            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();

                }
            });
        });
    }

    function disable_datatable(tablename, tableButtonContainerId) {
        $('#Warningpopup').fadeOut();
        if ($.fn.DataTable.isDataTable('#' + tablename)) {
            var table = $('#' + tablename).DataTable();
            table.destroy();
            if (tableButtonContainerId) { $("#" + tableButtonContainerId).empty(); }
            return;
        }
    }


</script>