
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="../Projectscript/CommonHMS.js"></script>
<script>

    
    function saleretfileupload() {
        debugger;
        var formData = new FormData();
        var totalFiles = document.getElementById("filephs").files.length;
        var browsedFile = document.getElementById("filephs").files[0];
        var ImageId = "0";
        if ((totalFiles != 0)) {
            $('#Loading').show()

            formData.append("FileName", browsedFile);
            formData.append("ContentLength", totalFiles);

            $.ajax({
                type: "POST",
                url: '/ADataImportSRPharmaBills/PHSRBilldataInserted',
                data: formData,
                dataType: "html",
                contentType: false,
                processData: false,
                success: function (result) {
                    $('#Loading').hide();
                    swal(result);

                }
            });

        }
        else {
            return;
        }
    }



    function salefileupload() {
        debugger;
        var formData = new FormData();
        var totalFiles = document.getElementById("fileph").files.length;
        var browsedFile = document.getElementById("fileph").files[0];
        var ImageId = "0";
        if ((totalFiles != 0)) {
            $('#Loading').show()

            formData.append("FileName", browsedFile);
            formData.append("ContentLength", totalFiles);

            $.ajax({
                type: "POST",
                url: '/ADataImportPharmaBills/PHBilldataInserted',
                data: formData,
                dataType: "html",
                contentType: false,
                processData: false,
                success: function (result) {
                  
                    $('#Loading').hide();
                    swal(result);
                }
            });

        }
        else {
            return;
        }
    }



    function fileupload() {

        var formData = new FormData();
        var totalFiles = document.getElementById("file").files.length;
        var browsedFile = document.getElementById("file").files[0];
        var ImageId = "0";
        if ((totalFiles != 0)) {
            $('#Loading').show()

            formData.append("FileName", browsedFile);
            formData.append("ContentLength", totalFiles);

            $.ajax({
                type: "POST",
                url: '/ADataImportOtherBills/BilldataInserted',
                data: formData,
                dataType: "html",
                contentType: false,
                processData: false,
                success: function (result) {
                    $('#Loading').hide();
                    swal(result);

                }
            });

        }
        else {
            return;
        }
    }
</script>
<div class="myData" data-x="M128" />
    <section id="extended">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Bill Upload</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body table-responsive">
                            <table class="table text-center m-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th></th>
                                        <th>Bill Type</th>
                                        <th>Select</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td><div class="checkbox"><input type="checkbox" id="item1"><label for="item1"></label></div></td>
                                        <td style="font-weight:bold">Lab/IP/Procedure Bill</td>
                                        <td><input type="file" id="file" name="filename" required="required" class="btn gradient-back-to-earth mr-1 mb-1 btn-sm white" /></td>
                                        <td class="text-truncate">
                                            <button class="btn btn-success btn-large" onclick="fileupload()"><i class="fa fa-upload"></i>&#160;Upload</button>
                                        </td>
                                    </tr>

                                    @*<tr>
            <td>1</td>
            <td><div class="checkbox"><input type="checkbox" id="item1"><label for="item1"></label></div></td>
            <td style="font-weight:bold">Ip Bill</td>
            <td><input type="file" id="file" name="filename" required="required" class="btn gradient-back-to-earth mr-1 mb-1 btn-sm white" /></td>
            <td class="text-truncate">
                <button class="btn btn-success btn-large" onclick="fileupload()"><i class="fa fa-upload"></i>&#160;Upload</button>
            </td>
        </tr>

        <tr>
            <td>1</td>
            <td><div class="checkbox"><input type="checkbox" id="item1"><label for="item1"></label></div></td>
            <td style="font-weight:bold">Procedure Bill</td>
            <td><input type="file" id="file" name="filename" required="required" class="btn gradient-back-to-earth mr-1 mb-1 btn-sm white" /></td>
            <td class="text-truncate">
                <button class="btn btn-success btn-large" onclick="fileupload()"><i class="fa fa-upload"></i>&#160;Upload</button>
            </td>
        </tr>*@



                                    <tr>
                                        <td>1</td>
                                        <td><div class="checkbox"><input type="checkbox" id="item1"><label for="item1"></label></div></td>
                                        <td style="font-weight:bold">Pharma(sales) Bill</td>
                                        <td><input type="file" id="fileph" name="filenameph" required="required" class="btn gradient-back-to-earth mr-1 mb-1 btn-sm white" /></td>
                                        <td class="text-truncate">
                                            <button class="btn btn-success btn-large" onclick="salefileupload()"><i class="fa fa-upload"></i>&#160;Upload</button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>2</td>
                                        <td><div class="checkbox"><input type="checkbox" id="item1"><label for="item1"></label></div></td>
                                        <td style="font-weight:bold">Pharma(Sales Return) Bill</td>
                                        <td><input type="file" id="filephs" name="filenamephs" required="required" class="btn gradient-back-to-earth mr-1 mb-1 btn-sm white" /></td>
                                        <td class="text-truncate">
                                            <button class="btn btn-success btn-large" onclick="saleretfileupload()"><i class="fa fa-upload"></i>&#160;Upload</button>
                                        </td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                        </div>
                    </div>
</section>






