
@{
    ViewBag.Title = "JobAllotment";
}


<script src="~/Scripts/Autocomplete/jquery-ui.js"></script>

<link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/tables/jsgrid/jsgrid-theme.min.css">
<link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/tables/jsgrid/jsgrid.min.css">
<link rel="stylesheet" type="text/css" href="../app-assets/vendors/css/hopscotch.css">



<div class="myData" data-x="M178" />
<div id="Entry" style="margin-top:-12px;">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">JOB ALLOTMENT</h4>
                </div>
                <div class="card-body" style="margin-top:-6px">
                    <div class="px-3">
                        <div class="card-content collapse show">
                            <div class="card-body">
                                <div style="height:15px;margin-top:-14px;"></div>
                                <form action="#">
                                    <div class="form-body" style="margin-right:18px;">
                                        <hr style="margin-top:-0.3px;" />
                                        <div class="row" style="background-color:#f0f6f6; margin-left:1px;width:100%;height:119px;margin-top:-1.1%;margin-bottom:-2%;">
                                            <div class="col-md-12" style="margin-top:-.5%;">
                                                <br />
                                                <div class="form-group">
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="row">
                                                            <label class="col-lg-1" style="width:75px">Job Search<span class="danger">*</span></label>
                                                            <div class="col-md-3">
                                                                <input type="text" id="txtJobSearch" class="form-control editds ui-autocomplete-input" style="position:absolute;width:300px;" autocomplete="off" />
                                                            </div>
                                                            <button type="button" style="width:150px;margin-left:-3%" id="btnSalarySettings1" onclick="showpopup();" class="btn btn-primary btn-min-width mr-1 mb-1">SalarySettings <i class="ft-refresh-cw position-right"></i></button>
                                                            <label class="col-lg-1 text-lg-right "><span class="danger"></span></label>
                                                            <div class="col-md-2">
                                                            </div>
                                                            <label class="col-lg-1 text-lg-center" style="margin-left:3px;">Date<span class="danger">*</span></label>
                                                            <div class="col-md-2">
                                                                <input type="text" id="Alloteddate" class="form-control editds" style="margin-left:-4%;">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br />
                                                </div>
                                            </div>
                                        </div>
                                        <hr style="margin-top:2.3%;" />
                                        <div style="margin-left:0px;margin-right:0px;margin-top:-.5%">
                                            <div class="modal-body" id="d">
                                                <div class="row" id="div1" style="margin-top:-1%;margin-left:-1.0%;height:413px;width: 102%">
                                                    <div class="table-responsive">
                                                        <div style="width:100%;overflow-x: auto;overflow-y:hidden;">
                                                            <table id="" class="table table-striped table-bordered zero-configuration dataTable ">
                                                                <tr style=background-color:#ebebe0>
                                                                    <th style="width:2.2%;text-align:center">SlNo:</th>
                                                                    <th style="width:1.9%;text-align:center">EmpCode</th>
                                                                    <th style="width:5.2%;text-align:center">EmployeeName</th>
                                                                    <th style="width:5.1%;text-align:center">Designation</th>
                                                                    <th style="width:5.1%;text-align:center">Salary</th>
                                                                    <th style="width:4.1%;text-align:center">JobAssignedBy</th>
                                                                    <th style="width:4.7%;text-align:center">Status</th>
                                                                    <th style="width:4.5%;text-align:center"><input  type="checkbox" id="chckHead"  /></th>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="table-responsive" style="margin-top:-1.6%;">
                                                        <div id="proddiv1" style="width:100%;overflow-x: auto;overflow-y:scroll;height:350px;">
                                                            <table id="tblEmployesInfo" class="table table-striped table-bordered zero-configuration dataTable"></table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <input type="hidden" id="RowGet" />
                                            </div>
                                        </div>
                                        <div style="margin-right:-1px;margin-bottom:25px;">
                                            <div class="row" style="margin-top:13px;">
                                                <div class="col-lg-11">
                                                    <div class="row">
                                                        <div class="col-md-8">
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-actions">
                                        <div class="text-right">
                                            <button type="button" style="width:100px" id="btnsubmit" class="btn btn-primary btn-min-width mr-1 mb-1"><u>S</u>ave <i class="fa fa-check-square-o"></i></button>
                                            <button type="button" style="width:100px" id="btncopy" class="btn btn-primary btn-min-width mr-1 mb-1">Copy <i class="ft-refresh-cw position-right"></i></button>
                                            <button type="button" style="width:100px" id="btnnew" class="btn btn-primary btn-min-width mr-1 mb-1"><u>N</u>ew <i class="ft-refresh-cw position-right"></i></button>
                                            <button type="button" style="width:100px;display:none" id="btnprint" onclick="print()" class="btn btn-primary btn-min-width mr-1 mb-1">Print <i class="ft-refresh-cw position-right"></i></button>
                                        </div>
                                    </div>
                                </form>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="JobId" />
<input type="hidden" id="TableRowCount" />
<input type="hidden" id="CopyRowCount" />
<input type="hidden" id="CopyJobName" />
<input type="hidden" id="CopyJobDate" />


<div id="popupdiv" class="modal fade text-left show" tabindex="-1" role="dialog" aria-labelledby="myheader" style="padding-right: 17px; background:rgba(0,0,0,0.5); height:200%">
    <div class="modal-dialog" role="document" style="top:5%">
        <div class="modal-content">
            <div class="modal-header bg-primary white">
                <h5 class="modal-title" id="myheader">Job Allotment Copy</h5>
                <button type="button" id="close" class="close" onclick="popuprefresh()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form id="monthpopup" style="display:none1">
                <div class="modal-body">

                    <fieldset class="form-group floating-label-form-group">
                        <label for="DateFrom">Date Selection</label>
                        <input type="text" id="DateFrom" class="form-control">
                    </fieldset>
                    <fieldset class="form-group floating-label-form-group">
                        <label for="dept">Job Search</label>
                        <input type="text" autofocus id="txtJobSearchcopy" class="form-control editds ui-autocomplete-input" style="position:absolute;width:475px;" autocomplete="off" />
                        @*//<select id="dept" name="priority" class="form-control"></select>*@
                    </fieldset>

                </div>
                <input type="hidden" id="JobIdCopy" />
                <input type="hidden" id="Copy" />

                <div class="modal-footer">
                    <button type="button" style="width:100px" id="btnsubmitCopy" class="btn btn-outline-primary">Go</button>
                </div>
            </form>

        </div>
    </div>
</div>



<div id="popupdiv1" class="modal fade text-left show" tabindex="-1" role="dialog" aria-labelledby="myheader" style="padding-right: 17px; background:rgba(0,0,0,0.5); height:200%">

    <div id="SalarySettings" style="margin-top:2%; margin-left:30%">
        <div class="row">
            <div class="col-md-8">
                <div class="card" style="width:650px">
                    <div class="card-header" style="border-bottom:1px solid #e6e6e6">
                        <h4 class="card-title mb-0"> SALARY SETTINGS </h4>
                    </div>
                    <div class="card-body">
                        <div class="px-5" style="width:720px">
                            <div class="card-content collapse show" style="width:535px">
                                <div class="card-body">
                                    <div style="height:15px;"></div>
                                    <form action="#">
                                        <div class="form-body">

                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="userinput2">JOB<span class="danger"></span></label>
                                                <div class="col-md-8">
                                                    <input type="text" id="JobName" class="form-control editds ui-autocomplete-input" style="height:90%" autocomplete="off" autofocus>

                                                </div>
                                            </div>
                                            <hr style="margin-top:5px">
                                            <div class="form-body">
                                                <div>
                                                    <div class="row">
                                                        <div class="col-md-12">

                                                            <div class="row" style="height:28px;">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label>Designation</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <label>Salary/Hour</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-1">
                                                                    <div class="form-group">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="input-group">
                                                                        <input type="text" id="txtDesignation0" class="form-control" style="" onkeyup="changetoupper(this.id),checkpdcttextempty(event)">
                                                                        <div class="input-group-append" id="addProduct">
                                                                            <button class="btn btn-outline-primary" onclick="window.open('../master/Designation')" id="btnaddprd" type="button">+</button>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                                <input type="hidden" id="Description" />
                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <input type="text" id="txtSalary0" class="form-control editds" onkeypress="isNumber(event, this)">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-1">
                                                                    <div class="form-group">
                                                                        <button type="button" id="btnadd" style="height:40px;width:95px" onclick="Designationadd()" class="btn btn-outline-primary ">+ Add </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="margin-left:0px;margin-right:0px;">
                                                <div id="customView" class="jsgrid" style="position: relative; height: auto; width: 99%;border:solid 1px;border-color:#cccccc;border-bottom:1px solid #cccccc;overflow-x: auto;overflow-y: hidden;">
                                                    <div class="jsgrid-grid-header jsgrid-header-scrollbar" style="width:525px;">
                                                        <table class="jsgrid-table">
                                                            <tr class="jsgrid-header-row">
                                                                <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width:60px">Sl No</th>
                                                                <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width:220px">Designation</th>
                                                                <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width:140px">Salary</th>
                                                                <th class="jsgrid-header-cell jsgrid-control-field jsgrid-align-center" style="width:105px"></th>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <div id="proddiv" class="jsgrid dataTables_scrollBody" style="position: relative;overflow-x: auto;overflow-y: auto; height: 290px; width: 525px;">
                                                        <table class="jsgrid-table" id="tblDesignationAdd"></table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <div class="text-right">
                                                <button id="btnsubmit1" type="button" class="btn btn-outline-warning" autofocus="">Save</button>
                                                <button id="btnnew1" type="button" class="btn btn-outline-primary" autofocus="">New</button>
                                                <button id="btnclose" type="button" onclick="close()" class="btn btn-outline-primary" autofocus="">Close</button>

                                                <input type="hidden" id="rowcount" value="1" />
                                                <input type="hidden" id="JobId1" />
                                                <input type="hidden" id="DesignationId0" />
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>







<script>

    var Alloted = 0;
    var UId = ERPUserId;
    var DeptId = ERPDeptId;
    var Delflag = 0;
    var CopyRowLen = 0;

    function showpopup() {
        $('#popupdiv1').show();
        $('#JobName').focus();
    }
    // Copy print area.........
    function print()
    {
        var rowlen = $('#CopyRowCount').val();
        var JobName = $('#CopyJobName').val();
        var alloteddate = $('#DateFrom').val();
        var Slno = 1;
        if (rowlen != 0) {

            var mywindow = window.open('', 'Medicine Advice', 'height=1500,width=1500');
            mywindow.document.write('<html><body height="200px">');
            mywindow.document.write('<style type="text/css">   #printbdy{ border-collapse: collapse;} #printbdy td {border:1px solid black;}.tbl1{ }#header, #nav, .noprint{display: none;}.print{ page-break-after: always;} </style>');
            mywindow.document.write('<div id="printpart">');
            mywindow.document.write('<table width="100%"><tr><td><table style="font-weight:bold"><tr><td>Eumi It Solutions Private Limited</td></tr><tr><td>743/20 & 21, Kandathil Building, H.S. Junction ,</td></tr><tr><td> Parakode, Adoor, Pathanamthitta,</td></tr><tr><td> Kerala 691554</td></tr></table></td></tr></table></hr>');
            mywindow.document.write('<table width="100%"><tr><td  valign="top" align="center">Job Allotment List</td></tr></table>');
            mywindow.document.write('<table width="25%"><tr><td  valign="top" align="left">Job Name : </td><td  valign="top" align="left">' + JobName + '</td></tr></table>');
            mywindow.document.write('<table width="25%"><tr><td  valign="top" align="left"> Date : </td><td  valign="top" align="left">' + alloteddate + '</td></tr></table>');
            mywindow.document.write('<table width="25%"><tr></tr></table>');
            mywindow.document.write(' <table width="100%" id="printbdy">');
            mywindow.document.write('<tr><td align="center"  width="10%">Slno:</td><td colspan="1"  width="12%">EmpCode</td><td align="center"  width="30%">EmployeeName</td><td align="center"  width="30%">Designation</td><td align="center"  width="15%">Salary</td></tr>');
            for (var i = 1; i <= rowlen;i++)

            {
                mywindow.document.write('<tr><td align="center"  width="10%">'
               + Slno + '</td><td colspan="1"  width="10%">'
               + document.getElementById('EmpCode' + i).innerText + '</td><td align="center"  width="30%">'
              + document.getElementById('Empname' + i).innerText + '</td><td align="center"  width="30%">'
               + document.getElementById('Des' + i).innerText + '</td><td align="center"  width="15%">'
            + document.getElementById('Sal' + i).innerText + '</td></tr>');
                Slno += 1;
            }
            mywindow.document.write('</table>');
            mywindow.document.write('<table width="25%"><tr></tr></table>');
            mywindow.document.write('<table width=100%><tr><td height=30px></td></tr><tr><td width=60%> Signature</td></tr></table>');
            mywindow.document.write('</div>');
            mywindow.document.write('</body></html>');
            mywindow.print();
            mywindow.close();

        }
        $('#CopyRowCount').val('');
        $('#CopyJobName').val('');
        $('#CopyJobDate').val('');
        $('#txtJobSearch').val('');
        $('#tblEmployesInfo tr').remove();
        $("#btnprint").hide();
        $('#btnsubmit').show();
        
        Refresh();
    }


    //.............
    $(document).ready(function () {

        $("#JobName").focus();
        $("#btnprint").hide();
        $("#chckHead").click(function () {
            var rows = $("#tblEmployesInfo tr").length;
            var flag = $("#chckHead").is(":checked")
            if (flag == true) {
                for (var i = 1; i <= rows; i++) {
                    if ($("#Alloted" + i).val() == 1 && ($("#dstJobAssignedId" + i).val() != $('#JobId').val())) {
                        document.getElementById("chktbl" + i).checked = true;
                        document.getElementById("chktbl" + i).disabled = true;
                        document.getElementById("Active" + i).style.display = "block";
                        document.getElementById("free" + i).style.display = "none";
                    }
                    else if ($("#Alloted" + i).val() == 1) {
                        document.getElementById("chktbl" + i).checked = true;
                        document.getElementById("chktbl" + i).disabled = false;
                        document.getElementById("Active" + i).style.display = "block";
                        document.getElementById("free" + i).style.display = "none";
                    }
                    else {
                        document.getElementById("chktbl" + i).checked = true;
                        document.getElementById("Active" + i).style.display = "block";
                        document.getElementById("free" + i).style.display = "none";
                    }
                }
            }
            else {

                for (var i = 1; i <= rows; i++) {
                    if ($("#Alloted" + i).val() == 1 && ($("#dstJobAssignedId" + i).val() != $('#JobId').val())) {
                        document.getElementById("chktbl" + i).checked = true;
                        document.getElementById("chktbl" + i).disabled = true;
                        document.getElementById("Active" + i).style.display = "block";
                        document.getElementById("free" + i).style.display = "none";
                    }
                    else if ($("#Alloted" + i).val() == 1) {
                        document.getElementById("chktbl" + i).checked = false;
                        document.getElementById("chktbl" + i).disabled = false;
                        document.getElementById("Active" + i).style.display = "none";
                        document.getElementById("free" + i).style.display = "block";
                    }
                    else {
                        document.getElementById("chktbl" + i).checked = false;
                        document.getElementById("Active" + i).style.display = "none";
                        document.getElementById("free" + i).style.display = "block";
                    }
                }
            }
        });
    });


    $('#close').click(function () {
        $('#popupdiv').hide();
        Refresh();
        Defaultfocus();
    });

    function Defaultfocus() {
        $('#txtJobSearch').focus();
    }

    $('#btnnew').click(function () {
        $('#CopyRowCount').val('');
        $('#CopyJobName').val('');
        $('#CopyJobDate').val('');
        $('#btnsubmit').show();
        $("#btnprint").hide();
        $('#tblEmployesInfo tr').remove();
        Refresh();
    });

    $('#btnSalarySettings').click(function () {

    });
    $('#btnsubmit').click(function () {

                var oArray = new Array();
                var Alloted = 1;
                var  DelFlag = 1;
                var relieved = 0;
                    for (var k = 1; k <= $("#TableRowCount").val() ; k++) {
                        if (document.getElementById("chktbl" + k).checked == true) {
                            var JobAssignedBy = $('#dstJobAssignedId' + k).val();
                            var Job = $('#JobId').val();
                            if (JobAssignedBy == 0 || JobAssignedBy == Job) {
                                var EmpID = $('#dstEmpId' + k).val();
                                var JobId = $('#dstJobId' + k).val();
                                var DesignationId = $('#dstDesignationId' + k).val();
                                oArray.push({
                                    'JobId': JobId,
                                    'EmpId': EmpID,
                                    'DesignationId': DesignationId,
                                    'Alloted': Alloted,
                                    'JobAllotedDate': $('#Alloteddate').val(),
                                    'UId': UId,
                                    'DeptId': DeptId,
                                    'DelFlag': DelFlag
                                })
                            }
                        }
                        else {
                            relieved += 1;
                            var JobAssignedBy = $('#dstJobAssignedId' + k).val();
                            var Job = $('#JobId').val();
                            var EmpId = $('#dstEmpId').val();
                            if (JobAssignedBy == Job) {
                                var data = {};
                                data.ProjectJobId = $("#JobId").val();
                                data.EmpId = $('#dstEmpId' + k).val();
                                $.ajax({
                                    type: "POST",
                                    url: "../JobAllotment/Relieving",
                                    data: data,
                                    success: function (result) {
                                        if (result.length != 0) {
                                            ShowInfoDetails(result.oList);
                                        }
                                    }
                                });
                            }
                        }
                    }
                if (oArray != "") {
                    var data = { 'JobAllotment': oArray };
                    $.ajax({
                        type: "POST",
                        url: "../../JobAllotment/JobAllotmentInsertandUpdate",
                        data: data,
                        success: function (result) {
                     
                            for (var i = 0; i < result.oList.length; i++) {
                                var status = result.oList[i].Status;
                                $('#btnsubmit').prop("disabled", false);
                                Showalerts(status);
                            }
                        }
                    });
                }
                if (relieved != 0)
                {
                    swal('JobRelievedSuccessfully',"", "success");
                    $('.swal-button swal-button--confirm').focus();
                }
                Refresh();
                $('#tblEmployesInfo tr').remove();
    });



    function Showalerts(Status) {
        if (Status == 1) {
            swal('JobAllotedSuccessfully', "", "success");
            $('.swal-button swal-button--confirm').focus();
            Refresh();
        }
        else {
            Refresh();
            swal("Sorry Already Alloted");
            $('.swal-button swal-button--info').focus();
        }
    }


    function Refresh() {
        var Alloted = 0;
        var UId = ERPUserId;
        var DeptId = ERPDeptId;
        var Delflag = 0;
        var CopyRowLen = 0;
        $('#txtJobSearch').val('');
        $('#JobId').val('');
        $('#TableRowCount').val('');
        document.getElementById("chckHead").checked = false;
        $("#btnsubmit").html('SAVE');
        $('#DesignationId0').val('');
        $('#JobName').focus();
    }



    $(document).ready(function () {

        $('#DateFrom').daterangepicker({
            minDate: minDate,
          
            singleDatePicker: true,
            showDropdowns: true,
            locale:
            {
                format: 'DD/MM/YYYY'
            }
        })

        $('#Alloteddate').daterangepicker({
            minDate: minDate,
    
            singleDatePicker: true,
            showDropdowns: true,
            locale:
            {
                format: 'DD/MM/YYYY'
            }
        })
    });



    $(document).ready(function () {

        $('#txtJobSearch').focus();
        $('#btncopy').click(function () {
            Refresh();
            $('#txtJobSearchcopy').val("");
            $('#popupdiv').show();
            $('#txtJobSearchcopy').focus();

        });


        //         Copy area..............

        $("#txtJobSearchcopy").autocomplete({
            delay: 0,
            minLength: 0,
            source: function (request, response) {
                var data = {};
                data.Description = $("#txtJobSearchcopy").val();
                $.ajax({
                    url: '../JobAllotment/AllotedJobNameSearch',
                    type: "POST",
                    data: data,
                    dataType: "json",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return ({
                                ColCount: 'THREE',
                                label: item.Description,
                                label1: item.ProjectJobId,
                                headers: ["Job Name", "Code"]
                            })
                        }));
                    }
                })
            },
            autoFocus: true,
            select: function (event, ui) {
                $('#btnsubmitCopy').focus();
                $('#btnsubmitCopy').select();
                $('#JobIdCopy').val(ui.item.label1);
                $('#Copy').val("1");
            },
        });

        $('#btnsubmitCopy').click(function () {
            $('#CopyRowCount').val('');
            $('#CopyJobName').val('');
            $('#CopyJobDate').val('');
            $("#btnprint").show();
            $("#btnprint").focus();
            $("#btnsubmit").hide();
        $('#CopyJobName').val($('#txtJobSearchcopy').val());
        $('#CopyJobDate').val($('#DateFrom').val());
            var data = {};
            data.JobAllotedDate = $('#DateFrom').val();
            data.JobCode = $("#JobIdCopy").val();
            data.Copy = $("#Copy").val();
            $.ajax({
                type: "POST",
                url: "../JobAllotment/GetNonAssignedEmployees",
                data: data,
                success: function (result) {
                    if (result.length != 0) {
                        ShowInfoDetails(result.oList);
                        $('#popupdiv').hide();
                        $('#CopyRowCount').val('');
                        var rows = $('#tblEmployesInfo tr').length;
                        $('#CopyRowCount').val(rows);
                        Refresh();
                        $('#txtJobSearch').val($('#txtJobSearchcopy').val());
                    }
                }
            });



        })


// copy end

        $("#txtJobSearch").autocomplete({
            delay: 0,
            minLength: 0,
            source: function (request, response) {
                var data = {};
                data.Description = $("#txtJobSearch").val();
                $.ajax({
                    url: '../JobAllotment/AllotedJobNameSearch',
                    type: "POST",
                    data: data,
                    dataType: "json",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return ({
                                ColCount: 'THREE',
                                label: item.Description,
                                label1: item.ProjectJobId,
                                headers: ["Job Name", "Code"]
                            })
                        }));
                    }
                })
            },
            autoFocus: true,
            select: function (event, ui) {
                $('#JobId').val(ui.item.label1);
                $('#CopyRowCount').val('');
                $('#CopyJobName').val('');
                $('#CopyJobDate').val('');
                $("#btnsubmit").show();
                $("#btnprint").hide();
                var data = {};
                data.JobCode = $("#JobId").val();
                $.ajax({
                    type: "POST",
                    url: "../JobAllotment/GetNonAssignedEmployees",
                    data: data,
                    success: function (result) {
                        if (result.length != 0) {
                            ShowInfoDetails(result.oList);
                        }
                    }
                });
            },

        });
    });

    function ShowInfoDetails(result) {
        var serialNo = 1;
        var slno = 1;
          document.getElementById("chckHead").checked = false;
        $('#tblEmployesInfo tr').remove();
        for (var i = 0; i < result.length; i++) {

            var ProdRowEdit = "<tr id=" + 'row' + slno + " class= jsgrid-row ><td  id=" + 'td' + slno + "  style= width:7.5%;text-align:center >"
               + serialNo + "</td><td id=" + 'EmpCode' + slno + "  style= width:9.5%;text-align:center >"
               + result[i].EmpCode + "</td><td  style='display:none;'> <input type='hidden' id='dstJobId" + slno + "' value='"
               + result[i].JobId + "'></td><td  style='display:none;'> <input type='hidden' id='dstJobAssignedId" + slno + "' value='"
               + result[i].JobAssignedby + "'></td><td  style='display:none;'> <input type='hidden' id='dstEmpId" + slno + "' value='"
               + result[i].EmpId + "'></td><td  style='display:none;'> <input type='hidden' id='Alloted" + slno + "' value='"
               + result[i].Alloted + "'></td><td  style='display:none;'> <input type='hidden' id='dstDesignationId" + slno + "' value='"
               + result[i].DesignationId + "'></td><td  id=" + 'Empname' + slno + "  style= width:17.4%;text-align:center >"
               + result[i].EmpName + "</td><td id=" + 'Des' + slno + " style= width:15.2%;text-align:center >"
               + result[i].DesignationDescription + "</td><td  id=" + 'Sal' + slno + "  style= width:13.3%;text-align:center >"
               + result[i].Salary + "</td> <td  id=" + 'Sal' + slno + "  style= width:15.3%;text-align:center >"
               + result[i].JobAssignedByDes + "</td> <td id='Status" + slno + "'   style='width:12.2%;text-align:left'><button type='button'  title= 'Available'  class='badge badge-default round  btn-success' id='free" + slno + "' style='font-weight:normal;color:white;border:none;display:none;margin:auto'  >Available</button><button type='button'  title= '"
               + result[i].JobAssignedByDes + "'   class='badge badge-default round  btn-warning'id='Active" + slno + "' style='font-weight:normal;color:white;border:none;margin:auto'  >Alloted</button></td><td   style=' width:67px;text-align:center; '>&nbsp&nbsp&nbsp&nbsp<input onclick='handleClick(this);' type='checkbox' style='text_align=center' class = 'checkboxall' id='chktbl" + slno + "'  /></tr>";

            $('#tblEmployesInfo').append(ProdRowEdit);
            if (result[i].Alloted == 1 && (result[i].JobAssignedby != $('#JobId').val())) {
                document.getElementById("chktbl" + slno).checked = true;
                document.getElementById("chktbl" + slno).disabled = true;
                document.getElementById("Active" + slno).style.display = "block";
                document.getElementById("free" + slno).style.display = "none";
            }
            else if (result[i].Alloted == 1) {
                document.getElementById("chktbl" + slno).checked = true;
                document.getElementById("chktbl" + slno).disabled = false;
                document.getElementById("Active" + slno).style.display = "block";
                document.getElementById("free" + slno).style.display = "none";
            }
            else
            {
                document.getElementById("chktbl" + slno).checked = false;
                document.getElementById("Active" + slno).style.display = "none";
                document.getElementById("free" + slno).style.display = "block";

            }
            serialNo += 1;
            slno += 1;

        }
        var rowCount = $('#tblEmployesInfo tr').length;
        $("#TableRowCount").val(rowCount);
    }
    function handleClick(cb)
    {
        
        if (cb.checked) {
           
            var currentId = $(cb).attr('Id');
            
            var res = currentId.substring(6, currentId.length);
       
            document.getElementById("Active" + res).style.display = "block";
            document.getElementById("free" + res).style.display = "none";
        }
        else {

            var currentId = $(cb).attr('Id');
            var res = currentId.substring(6, currentId.length)
            document.getElementById("Active" + res).style.display = "none";
            document.getElementById("free" + res).style.display = "block";
        }
    }

</script>



<script>


        var Sal = 0;
        var editflag = 0;

        var UId = ERPUserId;
        var DeptId = ERPDeptId;


        $('#btnclose').click(function () {
            $('#popupdiv1').hide();
            
            var Sal = 0;
            var editflag = 0;
            var UId = ERPUserId;
            var DeptId = ERPDeptId;

            $('#JobName').val('');

            $('#txtSalary0').val('');
            $('#txtDesignation0').val('');
            $('#JobId1').val('');
            $('#rowcount').val(1);
            $('#tblDesignationAdd tr').remove();
            $("#btnsubmit1").html('SAVE');
            $('#DesignationId0').val('');

            //Refresh1();
           Defaultfocus();
        });


        $("#JobName").autocomplete({
            delay: 0,
            minLength: 0,
            source: function (request, response) {
                var data = {};
                data.JobCode = $("#JobName").val();
                $.ajax({
                    url: '../SalarySettings/JobNameSearch',
                    type: "POST",
                    data: data,
                    dataType: "json",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return ({
                                ColCount: 'THREE',
                                label: item.Description,
                                label1: item.JobCode,
                                label2: item.ProjectJobId,
                                headers: ["Job Name", "Code"]
                            })
                        }));
                    }
                })
            },
            autoFocus: true,
            select: function (event, ui) {
                $('#JobName').val(ui.item.Description);
                $('#JobId1').val(ui.item.label2);
                var data = {};
                data.JobCode = $("#JobId1").val();
                $.ajax({
                    type: "POST",
                    url: "../SalarySettings/GetCopy",
                    data: data,
                    success: function (result) {
                        if (result.length != 0) {
                            ShowCopyDetails(result.oList);
                        }
                    }
                });
                $('#txtDesignation0').focus();
                $('#txtDesignation0').select();
            },
        });


        function ShowCopyDetails(result) {
            if (result.length > 0) {
                $('#rowcount').val(parseInt(result.length) + 1);
            }


            var serialNo = 1;
            var slno = 1;
            $('#tblDesignationAdd tr').remove();

            for (var i = 0; i < result.length; i++) {

                var UId = result[i].UId;
                var DeptId = result[i].DeptId;
                var ProdRowEdit = "<tr id=" + 'row' + slno + " class= jsgrid-row ><td  id=" + 'td' + slno + " class= jsgrid-cell  style= width:61px;text-align:center >"
                   + serialNo + "</td><td class= 'jsgrid-cell jsgrid-align-left'  style='width:220px;text-align:center' > <input typ='text' class='form-control' disabled=disabled  style='background-color:white;height:30px;' id='txtprd" + slno + "' value='"
                   + result[i].DesignationDescription + "'></td><td  style='display:none;'> <input type='hidden' id='dstTextId" + slno + "' value='"
                   + result[i].DesignationId + "'></td> <td class= 'jsgrid-cell jsgrid-align-left'  style='width:140px;text-align:center' display='none;'> <input type='text' class='form-control'  disabled  style='background-color:white;height:30px;'  onkeypress='isNumbercheck(event,this)' id='txtdesc" + slno + "' value='"
                   + result[i].Salary + "'> </td> <td id='Edit" + slno + "' class= 'jsgrid-cell jsgrid-control-field jsgrid-align-center'  style= width: 95px; ><input class= 'jsgrid-button jsgrid-edit-button' onclick='Editrow(" + slno + ")' id='Edit' type=button title=Edit ><input class= 'jsgrid-button jsgrid-delete-button'  type= button id='delete' title= Delete onclick='rowdelete(" + slno + ")' ></td><td id='Update"
                   + slno + "'  class= 'jsgrid-cell jsgrid-control-field jsgrid-align-center'  style='width:120px;display:none;'><input class='jsgrid-button jsgrid-update-button' onclick='Updaterow(" + slno + ")' type=button id='update' title='Update'><input class='jsgrid-button jsgrid-cancel-edit-button' onclick='CancelEditrow(" + slno + ")' type='button' id='CancelEdit' title='Cancel edit'></tr>";
                $('#tblDesignationAdd').append(ProdRowEdit);
                serialNo += 1;
                slno += 1;
                $("#txtDesignation0").focus();
               // $("#btnsubmit1").html('UPDATE');;
            }

        }


        $("#txtDesignation0").autocomplete({
            delay: 0,
            minLength: 0,
            source: function (request, response) {
                var data = {};
                data.DesignationDescription = $("#txtDesignation0").val();
                $.ajax({
                    url: '../SalarySettings/DesignationNameSearch',
                    type: "POST",
                    data: data,
                    dataType: "json",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return ({
                                ColCount: 'THREE',
                                label: item.DesignationDescription,
                                label1: item.DesignationCode,
                                label2: item.DesignationId,
                                headers: ["Designation Name", " Code"]
                            })
                        }));
                    }

                })
            },
            autoFocus: true,
            select: function (event, ui) {
                $('#txtDesignation0').val(ui.item.DesignationDescription);
                $('#DesignationId0').val(ui.item.label2);
                $('#txtSalary0').focus();
                $('#txtSalary0').select();
            },

        });



        $(document).ready(function () {



            $('#JobName').focus();
            $('#JobName').select();


            $("#btnnew1").click(function (e) {
                Refresh1();
            });

            $("#btnsubmit1").click(function (e) {

                rowcount = CountRows();
                if ($('#JobName').val() == "") {
                    warningshow('Please Select Job', 'JobName');
                    return false;
                }
                else if (rowcount == 0) {
                    warningshow('No Products Added', 'txtproduct0');
                    return false;
                }
                else {
                    $('#btnsubmit1').prop("disabled", true);
                    var JobCode = $('#JobId1').val();

                    var oArray = new Array();
                    DelFlag = 1;


                    for (var k = 1; k <= $('#rowcount').val() ; k++) {
                        var DesignationId = $('#dstTextId' + k).val();
                        var Salary = $('#txtdesc' + k).val();
                        var Designation = $('#txtprd' + k).val();
                        if (Designation != undefined) {
                            oArray.push({
                                'JobCode': JobCode,
                                'DesignationId': DesignationId,
                                'Salary': Salary,
                                'UId': UId,
                                'DeptId': DeptId,
                                'DelFlag': DelFlag
                            })
                        }
                    }
                    if (oArray != "") {
                        var data = { 'DesignationModel': oArray };
                        $.ajax({
                            type: "POST",
                            url: "../../SalarySettings/SalarySettingInsertandUpdate",
                            data: data,
                            success: function (result) {
                                for (var i = 0; i <= result.oList.length; i++) {
                                    var status = result.oList[i].Status;
                                    $('#btnsubmit1').prop("disabled", false);
                                    if (status != 0) {
                                        Showalerts1(status);
                                        Refresh1();
                                        $('#popupdiv1').hide();


                                    }
                                    else {
                                        Showalerts1('Error', Billno);
                                        Refresh1();
                                        $('#popupdiv1').hide();



                                    }
                                }
                            }
                        });
                    }
                }
            });

            $('#txtSalary0').keydown(function (e) {
                var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
                if (key == 13) {
                    e.preventDefault();
                    $('#btnadd').focus();
                    $('#btnadd').select();
                    Designationadd();

                }
            });
        });

        function warningshow(message, Id) {
            $('#popupmessage').text(message);
            $('#Warningpopup').show();
            $('#' + Id).focus();
            window.setTimeout(function () {
                $('#Warningpopup').fadeOut();
            }, 3000);
        }

        function CountRows() {
            var totalRowCount = 0;
            var rowCount = 0;
            var table = document.getElementById("tblDesignationAdd");
            var rows = table.getElementsByTagName("tr")
            for (var i = 0; i < rows.length; i++) {
                totalRowCount++;
                if (rows[i].getElementsByTagName("td").length > 0) {
                    rowCount++; $('.form-control').pro
                } $('.form-control').pro
            }
            var message = "Total Row Count: " + totalRowCount;
            message += "\nRow Count: " + rowCount;
            return rowCount;
        }

        function Showalerts1(Status) {
            if (Status == 1) {

                swal('SavedSuccessfully', "", "success");
                $('.swal-button swal-button--confirm').focus();
                Refresh1();

                $('#JobName').focus();
            }
            else {
                Refresh1();
                swal("OOPS");
                $('.swal-button swal-button--info').focus();
            }
        }

        function Defaultfocus() {
            $('#tblEmployesInfo tr').remove();
            Refresh();
            $('#txtJobSearch').focus();
        }
        function rowdelete(RowId) {
            var sllno = 1;
            var table = document.getElementById("tblDesignationAdd");
            var rows = table.getElementsByTagName("tr")
            var i = rows.length;

            var rowslno = parseInt(sllno);
            $('#row' + RowId).remove();
            for (var j = 1; j <= i ; j++) {
                if ($('#txtprd' + j).val() != undefined) {
                    $('#td' + j).text(sllno);
                    sllno++;
                }
            }
            ClearProductRow();
        }

        function ClearProductRow() {

            $('#txtDesignation0').val('');
            $('#txtSalary0').val('');
            $('#txtDesignation0').focus();
        }

        function Editrow(RowId) {
            editflag = editflag + 1;
            $('#row' + RowId).children('td,th').css('background-color', 'rgb(232,226,226)');
            $('#Edit' + RowId).hide();
            $('#Update' + RowId).show();
            Sal = $('#txtdesc' + RowId).val();
            $('#txtdesc' + RowId).prop('disabled', false);

        }
        function Designationadd() {





                if (($.trim($('#DesignationId0').val()) == ""))
                {
                    warningshow('Please Select Proper Designation');
                    $('#txtDesignation0').val('');
                    $('#txtSalary0').val('');
                    $('#txtDesignation0').focus();
                    $('#txtDesignation0').select();
                    return false;

                }
                if (($.trim($('#JobId1').val()) == ""))
                {
                    warningshow('Please Select Proper Job ');
                    $('#JobId1').val('');
                    $('#JobName').val('');
                    $('#JobName').focus();
                    $('#JobName').select();
                    return false;
                }

            var table = document.getElementById("tblDesignationAdd");
            var rows = table.getElementsByTagName("tr")
            var i = rows.length;

            var ProductFlag = 0;

            if (i != 0) {

                for (p = 1; p <= i; p++) {
                    if ($('#txtprd' + p).val() == $("#txtDesignation0").val()) {
                        ProductFlag = 1;
                    }
                }

            }

            // var slno = parseInt($('#slnotxt').val())
            if ($.trim($('#txtDesignation0').val()) == "") {
                warningshow('Please Select Designation', 'txtDesignation0');
                return false;
            }
            else if ($('#txtSalary0').val() == "") {
                warningshow('Please Enter Salary', 'txtSalary0');
                return false;
            }
            else {

                if (ProductFlag == 1) {
                    warningshow('Designation Already Added! ');

                        ClearProductRow();
                        return false;
       
                }

                var slno = parseInt($('#rowcount').val());



                var serialNo = i + 1;




                var ProdRowEdit = "<tr id=" + 'row' + slno + " class= jsgrid-row ><td  id=" + 'td' + slno + " class= jsgrid-cell  style= width:61px;text-align:center >"
                   + serialNo + "</td><td class= 'jsgrid-cell jsgrid-align-left'  style='width:220px;text-align:center' > <input typ='text' class='form-control' disabled=disabled  style='background-color:white;height:30px;' id='txtprd" + slno + "' value='"
                   + $("#txtDesignation0").val() + "'></td><td  style='display:none;'> <input type='hidden' id='dstTextId" + slno + "' value='"
                   + $("#DesignationId0").val() + "'></td> <td class= 'jsgrid-cell jsgrid-align-left'  style='width:140px;text-align:center' display='none;'> <input type='text' class='form-control'  disabled  style='background-color:white;height:30px;'  onkeypress='isNumbercheck(event,this)' id='txtdesc" + slno + "' value='"
                   + $("#txtSalary0").val() + "'> </td> <td id='Edit" + slno + "' class= 'jsgrid-cell jsgrid-control-field jsgrid-align-center'  style= width: 95px; ><input class= 'jsgrid-button jsgrid-edit-button' onclick='Editrow(" + slno + ")' id='Edit' type=button title=Edit ><input class= 'jsgrid-button jsgrid-delete-button'  type= button id='delete' title= Delete onclick='rowdelete(" + slno + ")' ></td><td id='Update"
                   + slno + "'  class= 'jsgrid-cell jsgrid-control-field jsgrid-align-center'  style='width:120px;display:none;'><input class='jsgrid-button jsgrid-update-button' onclick='Updaterow(" + slno + ")' type=button id='update' title='Update'><input class='jsgrid-button jsgrid-cancel-edit-button' onclick='CancelEditrow(" + slno + ")' type='button' id='CancelEdit' title='Cancel edit'></tr>";
                $('#tblDesignationAdd').append(ProdRowEdit);
                ClearProductRow();
                $('#rowcount').val(parseInt(slno + 1));
                $('#proddiv').animate({ scrollTop: 5000 }, 900);
                $("#txtDesignation0").focus();
                $('#DesignationId0').val('');

            }


        }
        function Updaterow(RowId) {
            if ($('#txtdesc' + RowId).val() == '0') {
                warningshow('Salary cannot be Zero', 'txtprd' + RowId);
                $('#txtdesc' + RowId).focus();
                return false;
            }

            else {
                editflag = editflag - 1;
                $('#row' + RowId).children('td,th').css('background-color', 'white');
                $('#Update' + RowId).hide();
                $('#Edit' + RowId).show();
                $('#txtdesc' + RowId).prop('disabled', true);
            }
        }
        function CancelEditrow(RowId) {
            editflag = editflag - 1;
            $('#row' + RowId).children('td,th').css('background-color', 'white');
            $('#Update' + RowId).hide();
            $('#Edit' + RowId).show();
            $('#txtdesc' + RowId).val(Sal);
        }
        function Refresh1() {
            var Sal = 0;
            var editflag = 0;
            var UId = ERPUserId;
            var DeptId = ERPDeptId;

            $('#JobName').val('');

            $('#txtSalary0').val('');
            $('#txtDesignation0').val('');
            $('#JobId1').val('');
            $('#rowcount').val(1);
            $('#tblDesignationAdd tr').remove();
            $("#btnsubmit1").html('SAVE');
            $('#DesignationId0').val('');


            $('#JobName').focus();



        }
        //Allow Integers ONLY
        function isNumberInt(evt, selectedvalue) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            $(selectedvalue).val($(selectedvalue).val().replace(/[^0-9\.]/g, ''));
            if (charCode != 8 && charCode != 13 && (charCode < 48 || charCode > 57)) {
                evt.preventDefault();
                warningshow('Digits Only')
                return false;
            }
            return true;
        }
        function isNumber(evt, selectedvalue) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            $(selectedvalue).val($(selectedvalue).val().replace(/[^0-9\.]/g, ''));
            if (charCode != 8 && (charCode != 46 || $(selectedvalue).val().indexOf('.') != -1) && charCode != 13 && (charCode < 48 || charCode > 57)) {
                evt.preventDefault();
                warningshow('Digits Only')
                return false;
            }
            return true;
        }


</script>