
@{
    ViewBag.Title = "ElecCategoryProducts";
}

<script src="~/Scripts/Autocomplete/jquery-ui.js"></script>
<script type="text/javascript" src="../Projectscript/Common.js"></script>
<script src="~/Electonics/Cat_AccessoriesMapping.js"></script>

<div class="myData" data-x="M158" />

<div id="Entry">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" style="border-bottom:1px solid #e6e6e6">
                    <h4 class="card-title mb-0">Category-Accessories Mapping</h4>
                </div>
                <div class="card-body">
                    <div class="px-3">
                        <div class="card-content collapse show">
                            <div class="card-body">
                                <div style="height:15px;"></div>
                                <form action="#">
                                    <div class="form-body">




                                        <label>Category</label>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <select id="category" class="form-control" onchange="Checkaccessories()">
                                                        <option value='0'>---Select Category---</option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">

                                            <label class="col-md-2">Accessories</label>
                                            <div class="col-md-1" style="text-align:right">
                                                <button type="button" id="btnaddacess" class="btn btn-outline-primary" onclick="addaccessories()">
                                                    <i class="icon-plus4"></i>ADD
                                                </button>
                                            </div>
                                        </div>
                                        <div style="height:192px;overflow-y: scroll;overflow-x:hidden;">
                                            <div class="form-group row">
                                                <div class="col-md-3">
                                                    <input type="text" class="form-control" id="Accsessories_1" onkeypress="AccessoriesLoad('Accsessories_1')" onkeyup="CheckID('Accsessories_1')" />
                                                    <input type='hidden' class='form-control' id='Accsessories_1_Id' value="0" />
                                                </div>

                                            </div>
                                            <div id="Accessdiv">

                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-actions">
                                        <div class="text-right">
                                            <button type="button" style="width:100px" id="btnsubmit" class="btn btn-primary btn-min-width mr-1 mb-1"><u>S</u>ave <i class="fa fa-check-square-o"></i></button>
                                            <button type="button" style="width:100px;" id="btnlist" onclick="GetRows(0)" class="btn btn-primary btn-min-width mr-1 mb-1">List <i class="ft-align-justify"></i></button>
                                            <button type="button" style="width:100px" id="btnnew" onclick="formrefresh()" class="btn btn-primary btn-min-width mr-1 mb-1">Clear <i class="ft-refresh-cw position-right"></i></button>
                                            <button style="display:none" type="button" id="btndelete" class="btn btn-primary btn-min-width mr-1 mb-1">Delete <i class="fa fa-times"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="display:none;" id="listing">
    <section>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <table width="100%">
                            <tr>
                                <td><h4 class="card-title">Mapping List</h4></td>
                                <td align="right">
                                    <div class="heading-elements">
                                        <div class="btn-group">
                                            <button type="button" onclick="formrefresh()" class="btn btn-outline-primary"><i class="ft-edit"></i> Add New</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>


                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <table id="tblCatproduct" class="table table-striped table-bordered base-style dataTable"></table>
                            <br />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>