
@{
    ViewBag.Title = "Production";
}


<link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/tables/jsgrid/jsgrid-theme.min.css">
<link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/tables/jsgrid/jsgrid.min.css">
<script src="~/Scripts/Autocomplete/jquery-ui.js"></script>
<script src="~/ProjectScript/Electonics_Production.js"></script>
<style>
     #productpopupdiv{
             max-width:100%;max-height:35%;margin-left:10%;margin-right:3%;margin-top:0px;

         }
     #prodiv{
         margin-top:1%;
         margin-left:7%;
          max-width:100%;
     }  
     
     
     .placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 1; /* Firefox */
}
       
</style>
<div class="myData" data-x="M151" />
<div id="Entry" style="margin-top:-16px;">
  
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">Production-Electronics </h4>
                </div>
                <div class="card-body">
                    <div class="px-3">
                        <div class="card-content collapse show">
                            <div class="card-body">
                                <div style="height:15px;margin-top:-15px;"></div>
                                <form action="#">
                                    <div class="form-body" style="margin-left:-22px;margin-right:-30px;border-bottom:1px solid  #cccccc;border-top:1px solid  #cccccc;">
                                        <div class="row" style="background-color:#E0F3F4; margin-left:-3px;width:100%;height:216px;margin-top:4px;margin-bottom:4px;">
                                            <div class="col-md-12" style="margin-top:-.7%;">
                                                <br />
                                                <div class="form-group" style="margin-left:11px;">   
                                                    <div class="row">
                                                        <label class="col-lg-1">Pro No#<span class="danger">*</span></label>
                                                        <div class="col-lg-11">
                                                            <div class="row">
                                                                <div class="col-md-1">
                                                                    <input type="text" id="ProNo"   class="form-control"  >
                                                                </div>
                                                                <div class="col-md-1" style="">
                                                                    <input type="text" id="date" class="form-control" style="width:134%;margin-left:-17%;">
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <input type="hidden" id="hiddenitemId"/>
                                                                    <input type="text" id="barcode" class="form-control"  onkeyup="checkbarcodeempty(event)"  style="width:99.6%;" placeholder="Bar Code">
                                                                </div>
                                                                <label class="col-lg-2 text-lg-right">Serial No#<span class="danger">*</span></label>
                                                                <div class="col-md-2">
                                                                    <input type="text" id="txtslno" class="form-control" style="width:95%">                                                              
                                                                  </div>
                                                                <label class="col-lg-2 text-left" style="color:#00B5B8;"><b>Profit % </b></label>
                                                                <div class="col-md-2">
                                                                    <input type="text" disabled style="border:none;color:#00B5B8;background-color:#E0F3F4;font-size:20px;" id="Profit" value="0.00" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>                                                  
                                                    <div class="row" style="margin-top:6.5px;">
                                                        <label class="col-lg-1">Debit A/c<span class="danger">*</span></label>
                                                        <div class="col-lg-11">
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <table width="100%">
                                                                        <tr>
                                                                            <td width="28%">
                                                                                <input type="hidden" id="hiddendebit" />
                                                                                <input type="text" id="DebitAccount" class="form-control" onkeyup="checkDebitAccounttextempty(event)" style="border-right:none;border-top-right-radius:0px;border-bottom-right-radius:0px">
                                                                            </td>
                                                                            <td width="72%">
                                                                                <input type="text" id="txtDacnt" maxlength="4" class="form-control" name="acnt2" style="border-top-left-radius:0px;border-bottom-left-radius:0px;border-left:none;" />
                                                                            </td>
                                                                        </tr>
                                                                    </table>                                                                  
                                                                </div>                                                                
                                                                <label class="col-lg-2 text-lg-right">Unit<span class="danger">*</span></label>
                                                                <div class="col-md-2">
                                                                    <select id="select_unit" class="form-control" style="width:95%"></select>                                                                </div>
                                                                <label class="col-lg-2 text-left" style="color:#00B5B8;"><b>Cost</b>&nbsp; <b> Price</b></label>
                                                                <div class="col-md-2">
                                                                    <input type="text" disabled style="border:none;color:#00B5B8;background-color:#E0F3F4;font-size:20px;" id="totalcost" value="0.00" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>                                                                                                                                                            
                                                    <div class="row" style="margin-top:6.5px;">
                                                        <label class="col-lg-1">Credit A/c<span class="danger">*</span></label>
                                                        <div class="col-lg-11">
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <table width="100%">
                                                                        <tr>
                                                                            <td width="28%">
                                                                                <input type="hidden" id="hiddencredit" />
                                                                                <input type="text" id="CreditAccount" class="form-control" onkeyup="checkCredittAccounttextempty(event)" style="border-right:none;border-top-right-radius:0px;border-bottom-right-radius:0px">
                                                                            </td>
                                                                            <td width="72%">
                                                                                <input type="text" id="txtCacnt" maxlength="4" class="form-control" name="acnt2" style="border-top-left-radius:0px;border-bottom-left-radius:0px;border-left:none;background-color:white;" disabled />
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                                <label class="col-lg-2 text-lg-right">Sell Price<span class="danger">*</span></label>
                                                                <div class="col-md-2">
                                                                    <input type="text" id="txtprice" class="form-control" style="width:95%" onkeypress="isNumbercheck(event, this)" autocomplete="off"  onkeyup="$('#sellingprice').val($('#txtprice').val()), Getgrandtotal(len);">
                                                                </div>
                                                                <label class="col-lg-2 text-left" style="color:#00B5B8;"><b>Selling</b>&nbsp;<b> Price</b></label>
                                                                <div class="col-md-2">
                                                                    <input type="text" disabled style="border:none;color:#00B5B8;background-color:#E0F3F4;font-size:20px;" id="sellingprice"  value="" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>                                                                                                                                                             
                                                    <div class="row" style="margin-top:6.5px;">
                                                        <label class="col-lg-1">Item Name<span class="danger">*</span></label>
                                                        <div class="col-lg-11">
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <div class="input-group">
                                                                        <input type="text" class="form-control" style="font-size:larger;font-weight:bold"  onkeyup="checkitemcodeempty(event)"   id="itemname" />
                                                                        <div class="input-group-append" id="addItem">
                                                                            <button class="btn btn-outline-primary" id="btnadditem" onclick="window.open('../master/ItemMaster')" type="button">+</button>
                                                                        </div>
                                                                        </div>
                                                                    </div>
                                                                <label class="col-lg-2 text-lg-right">Quantity<span class="danger">*</span></label>
                                                                <div class="col-md-2">
                                                                    <input type="text" id="txtQty" class="form-control"  style="width:95%;" onkeypress="isNumbercheck(event, this)" value="1" autocomplete="off">
                                                                </div>                                                               
                                                            </div>
                                                        </div>
                                                    </div>                                                                                                        
                                                </div>
                                            </div>
                                            <br /><br />
                                        </div>
                                    </div>
                                    <div class="form-body">
                                        <div class="row" style="margin-bottom:-5px;margin-top:-4px;margin-right:-1%;">
                                            <div class="col-md-12" style="margin-top:0px;">
                                                <br />
                                                <div class="row" style="height:28px;">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>Product/Material</label>
                                                        </div>
                                                    </div>                                                  
                                                    <div class="col-md-2">
                                                        <div class="form-group">
                                                            <label>Serial No#</label>
                                                        </div>
                                                    </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label>Quantity<span class="danger">*</span></label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label>Rate</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                <label>Total Amount</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <div class="form-group">
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="row" style="margin-top:1px;">
                                                    <div class="col-md-3">
                                                        <div class="input-group">
                                                            <input type="text" id="txtproduct0" class="form-control" onkeyup="checkpdcttextempty(event)">
                                                            <input type="hidden" id="ProductId0" value="0" />
                                                            <div class="input-group-append" id="addVisa">
                                                                <button class="btn btn-outline-primary" onclick="window.open('../master/ItemMaster')" id="itemadd" type="button">+</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <input type="hidden" id="Description" />
                                                    <div class="col-md-2">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" id="select_slno"/>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="form-group">
                                                            <input type="text" id="txtquantity" class="form-control" onkeyup="checkquantity(),tot()" onkeypress="return isNumber1(event)">
                                                            <input type="hidden" id="hiddenquantitycheck" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="form-group">
                                                            <input type="text" id="txtrate" class="form-control" onkeyup="tot()" onkeypress="return isNumbercheck(event, this)" style="">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="form-group">
                                                            <input type="text" id="txttotal" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <div class="form-group">
                                                            <button type="button" id="btnadd" onclick="productadd()" style="height:40px;width:100px" class="btn btn-outline-primary ">+ Add</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="margin-left:0px;margin-right:0px;margin-top:-16px;">
                                        <div id="customView" class="jsgrid" style="position: relative; height: auto; width: 100%;border:1px solid #CCD6E6;overflow-x: auto;overflow-y: hidden;">
                                            <div class="jsgrid-grid-header jsgrid-header-scrollbar" style="width:1730px;">
                                                <table class="jsgrid-table">
                                                    <tr class="jsgrid-header-row">
                                                        <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width:102px;">Sl No</th>
                                                        <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width:230px;">Bar Code</th>
                                                        <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width:331px;">Item</th>
                                                        <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width:199px;">Cost Price</th>
                                                        <th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" style="width:169px;">Quantity</th>
                                                        <th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" style="width:169px;">Used Qty.</th>
                                                        <th class="jsgrid-header-cell jsgrid-align-center" style="width:189px;">Amount</th>                                                        
                                                        <th class="jsgrid-header-cell jsgrid-align-center" style="width:189px;">Serial No#</th>
                                                        <th class="jsgrid-header-cell jsgrid-control-field jsgrid-align-center" style="width:120px;"></th>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div id="proddiv" class="jsgrid dataTables_scrollBody" style="position: relative; overflow-x: auto;overflow-y: scroll;height: 320px; width: 1730px;">
                                                <table class="jsgrid-table" id="tblProduction"></table>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="row" style="margin-top:18px;">
                                        <table id="tbl1" style="width:100%">
                                            <tr>
                                                <td id="td1" style="width:75%"><div class="col-md-12">
                                          <div class="row">
                                        <div class="col-md-9">
                                         <div class="input-group">
                                                  </div>
                                               </div>      
                                       <label class="col-md-2 text-lg-right " >&emsp;Material Total<b>:</b></label>
                                        <div class="col-md-1" style="margin-right:0px;">
                                       <input type="text" disabled style="border:none;font-weight:bold;background-color:White;width:100px" id="grandtotal" value="0.00" />
                                                  </div>
                                                     </div>
                                                   </div> </td>
                                                <td id="td2" style="width:35%"><div class="text-right">
                                    <button type="button" style="width:100px" id="btnsubmit" class="btn btn-primary btn-min-width mr-1 mb-1"><u>S</u>ave <i class="fa fa-check-square-o"></i></button>
                                    <button type="button" style="width:100px" id="btnlist" onclick="enablenobox()" class="btn btn-primary btn-min-width mr-1 mb-1">Copy <i class="ft-align-justify"></i></button>
                                   <button type="button" style="width:100px" id="btnnew" onclick="createnew()" class="btn btn-primary btn-min-width mr-1 mb-1">New <i class="ft-refresh-cw position-right"></i></button>
                                   <button style="display:none" type="button" id="btnprint" onclick="Printfunction()" class="btn btn-primary btn-min-width mr-1 mb-1">Print <i class="ft-printer"></i></button>
                                       </div>
                                            </td>
                                            </tr>
                                        </table>                                       
                                    </div>                                                                          
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="productpopupdiv" class="modal fade text-left show" tabindex="-1" role="dialog" aria-labelledby="prodheader" style="display:none;margin-left:-1%;margin-top:50px;height:300px;">
    <div id="prodiv" class="modal-dialog modal-xl" role="document">
        <div class="modal-content" style="width:100%;">
            <div class="modal-header" style="background-color:#F0F6F6;height:70px">
                <h5 class="modal-title" id="prodheader" style="height:1px;"></h5>
                <button type="button" class="close" onclick="productpopuprefresh()" style="height:2px">
                    <span>×</span>
                </button>
            </div>
            <section id="productdiv" style="display:none;height:50px;margin-top:-5px">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card card-body" style="margin-top:-10px;height:180px">
                            <div class="card-block" style="overflow:scroll;height:110px;width:100%;overflow:auto;top:-10px">
                                <table class="table table-responsive-md-md text-center" id="tblproductdetails" style="top:-10px"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


<div id="alertpopup" class="modal fade text-left show" tabindex="-1" role="dialog" aria-labelledby="myheader" style="padding-right: 17px; background:rgba(0,0,0,0.5); display: block; display:none">
    <div class="modal-dialog" role="document" style="top:20%">
        <div class="modal-content">
            <form id="alertdiv" style="display:none">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12" style="overflow:scroll;height:auto;width:100%;overflow:auto;">
                            <table class="table table-responsive-md-md text-center" id="tblAlert"></table>
                        </div>
                    </div>
                    <div class="text-right">
                        <input type="button" class="btn btn-outline-primary" value="Ok" id="btntermssave" onclick="alertpopuprefresh()">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="confirmff" class="overlay" style="display:none;">
    <div class="modal fade text-left show" id="keyboardff" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" style="display:none;padding-right: 17px; top:28%">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-body" style="text-align:center">
                    <h3 style="color:red">ADD Production Number</h3>
                </div>

            </div>

        </div>

    </div>
</div>
<script>
    //Debit Account

    $("#DebitAccount").autocomplete({
        source: function (request, response) {
            var data = {};
            data.AccountDescription = $("#DebitAccount").val();
            $.ajax({
                url: '../Inventory/AccountNumberSearch',
                type: "POST",
                data: data,
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    response($.map(data, function (item) {
                        return ({
                            ColCount: '-3',
                            label: item.DebitAccount,
                            label1: item.AccountDescription,
                            DebitAccount: item.DebitAccount,
                            AccountDescription: item.AccountDescription,
                            AccountId: item.AccountId,
                            headers: ["Account Code", "Account Name"]
                        })
                    }));
                }
            })
        },
        autoFocus: true,
        select: function (event, ui) {
            $('#DebitAccount').val(ui.item.DebitAccount);
            $('#hiddendebit').val(ui.item.AccountId);
            $('#txtDacnt').val(ui.item.AccountDescription);
        },
    });

    //Credit Account

    $("#CreditAccount").autocomplete({
        source: function (request, response) {
            var data = {};
            data.AccountDescription = $("#CreditAccount").val();
            $.ajax({
                url: '../Inventory/AccountNumberSearch',
                type: "POST",
                data: data,
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    response($.map(data, function (item) {
                        return ({
                            ColCount: '-3',
                            label: item.DebitAccount,
                            label1: item.AccountDescription,
                            DebitAccount: item.DebitAccount,
                            AccountDescription: item.AccountDescription,
                            AccountId: item.AccountId,
                            headers: ["Account Code", "Account Name"]
                        })
                    }));
                }
            })
        },
        autoFocus: true,
        select: function (event, ui) {
            $('#CreditAccount').val(ui.item.DebitAccount);
            $('#hiddencredit').val(ui.item.AccountId);
            $('#txtCacnt').val(ui.item.AccountDescription);
        },
    });

    //product autocomplete
    $("#txtproduct0").autocomplete({
        delay: 0,
        minLength: 0,
        source: function (request, response) {           
                var data = {};
                data.ItemCode = $("#txtproduct0").val();
                data.LocId = UserLocationId;
                data.DeptId = ERPDeptId;
                data.UserId = ERPUserId;
                data.CustId = 0;
                data.PriceGroupId = 0;
                $.ajax({
                    url: '../SalesInvoice/ProductSearchSales',
                    type: "POST",
                    data: data,
                    dataType: "json",
                    success: function (data) {
                        console.log(data);
                        response($.map(data, function (item) {
                            return ({
                                ColCount: '-9',
                                label: item.ItemCode,
                                label1: item.Description,
                                label2: item.UnitName,
                                label3: item.stocktotloseqty,
                                label4: item.AvgCost.toFixed(Decimal),
                                label5: item.GrpName.substring(0, 15),
                                label6: item.SbgrpName.substring(0, 15),
                                label7: item.CategoryName.substring(0, 15),
                                label8: item.SubCategoryName.substring(0, 15),
                                SerialNo: item.SerialNo,
                                Description: item.Description,
                                Rates: item.AvgCost,
                                UnitName: item.UnitName,
                                ProductId: item.ItemId,
                                Product: item.ItemCode,
                                Qty: item.stocktotloseqty,
                                headers: ["Product Code", "Product Description", "UnitName", "Quantity", "Price", "Group", "Sub Group", "Category", "Sub Ctegory"]
                            })
                        }));
                    }
                })            
        },
        autoFocus: true,
        select: function (event, ui) {
            if (ui.item.Qty == 0) {

                var data = {};
                data.ProductId = ui.item.ProductId;
                data.CustId = 0;
                data.DeptId = ERPDeptId;
                $.ajax({
                    type: "POST",
                    url: '../SalesInvoice/CustomerProductDetailsSearch',
                    data: data,
                    success: function (result) {
                        CustPrdctLoad(result.oList);
                    }
                });
                $('#txtproduct0').val(ui.item.Product);
                warningshow('Not stock!', 'txtproduct0');
                $('#PrdtId0').val(ui.item.ProductId);
                $('#txtproduct0').select();
                qtyflag = 1;
                return false;
            }                 
            else if (($('#hiddenitemId').val()) == ui.item.ProductId) {
                warningshow('Production Item and Purchase Item Cannot be same', 'txtproduct0');
                $("#txtproduct0").val('');
                return false;
            }
            else {
                $('#ProductId0').val(ui.item.ProductId);
                $('#select_slno').val(ui.item.SerialNo);
                $('#Description').val(ui.item.Description);
                $('#hiddenquantitycheck').val(ui.item.Qty);
                $('#txtrate').val(ui.item.Rates);
                $('#txtquantity').focus();
                qtyflag = 0;
                var data = {};
                data.ProductId = ui.item.ProductId;
                data.CustId = 0;
                data.DeptId = ERPDeptId;
                $.ajax({
                    type: "POST",
                    url: '../SalesInvoice/CustomerProductDetailsSearch',
                    data: data,
                    success: function (result) {
                        CustPrdctLoad(result.oList);
                    }
                });
            }
        },
    });



    // Prod Number#-copy

    $("#ProNo").autocomplete({
        source: function (request, response) {
            var data = {};
            data.DeptId = ERPDeptId;
            data.ProductionNo = $("#ProNo").val();
            data.Location = UserLocationId;
            $.ajax({
                url: '../Production/ElectronicsProductionnumberSearch',
                type: "POST",
                data: data,
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    response($.map(data, function (item) {
                        return ({
                            ColCount: '3',
                            label: item.ProductionNo,
                            label1: item.Date,
                            label2: item.ItemCode,
                            ProductionNo: item.ProductionNo,
                            Date: item.Date,
                            DAccount: item.DAccount,
                            ProductionQuantity: item.ProductionQuantity,
                            ItemName: item.ItemName,
                            Profit: item.Profit,
                            CostPrice: item.CostPrice,
                            SellPrice: item.SellPrice,
                            SellingPrice: item.SellingPrice,
                            CAccount: item.CAccount,
                            SerialNo: item.SerialNo,
                            ItemCode: item.ItemCode,
                            UnitId: item.Unit,
                            DAccountName: item.DAccountName,
                            CAccountName:item.CAccountName,
                            headers: ["Production No", "Date", "Item Code"]
                        })
                    }));
                }
            })
        },
        autoFocus: true,
        select: function (event, ui) {
            $("#tblProduction tr").remove();
            $('#ProNo').val(ui.item.ProductionNo);
            $('#date').val(ui.item.Date);
            $('#DebitAccount').val(ui.item.DAccount);
            $('#txtQty').val(ui.item.ProductionQuantity);
            $('#itemname').val(ui.item.ItemName);
            $('#Profit').val((ui.item.Profit).toFixed(Decimal));
            $('#totalcost').val((ui.item.CostPrice).toFixed(Decimal));
            $('#grandtotal').val((ui.item.CostPrice).toFixed(Decimal));
            $('#txtprice').val((ui.item.SellPrice).toFixed(Decimal));
            $('#sellingprice').val(ui.item.SellingPrice);
            $('#CreditAccount').val(ui.item.CAccount);
            $('#txtslno').val(ui.item.SerialNo);
            $('#txtDacnt').val(ui.item.DAccountName);
            $('#txtCacnt').val(ui.item.CAccountName);
            $('#select_unit').val(ui.item.UnitId);
            $('#barcode').val(ui.item.ItemCode);
            var ProductionNo = ui.item.ProductionNo;
            var data = {};
            data.ProductionNo = ProductionNo;
            data.DeptId = ERPDeptId;
            $.ajax({
                type: "POST",
                url: "../../Production/ElectronicsProductionGetandGets",
                data: data,
                success: function (result) {
                    if (ProductionNo != 0)
                        ProductionEntryGet(result.oList);
                }
            });           
        },
    });
    //Barcode autocomplete

    $("#barcode").autocomplete({
        source: function (request, response) {
            var data = {};
            data.ItemCode = $("#barcode").val();
            $.ajax({
                url: '../Purchase/ProductSearch',
                type: "POST",
                data: data,
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    response($.map(data, function (item) {
                        return ({
                            ColCount: '4',
                            label: item.ItemCode,
                            label1: item.Description,
                            label2: item.UnitName,
                            label3: item.SellingPrice.toFixed(Decimal),
                            label4: '0',
                            label5: '0',
                            ItemId: item.ItemId,
                            Description: item.Description,
                            Unit: item.UnitId,
                            UnitName: item.UnitName,
                            Tax: item.VatId,
                            Taxper: item.VatPer,
                            Rate: (item.SellingPrice).toFixed(Decimal),
                            AvgCost: (item.AvgCost).toFixed(Decimal),
                            Model1:item.Model1,
                            headers: ["Item Code", "Description", "Unit Name", "Average Cost"]
                        })
                    }));
                }
            })
        },
        autoFocus: true,
        select: function (event, ui) {
            $('#hiddenitemId').val(ui.item.ItemId);
            $('#txtslno').val(ui.item.Model1);
            $('#txtprice').val(ui.item.AvgCost);
            $('#select_unit').val(ui.item.Unit);
            $('#itemname').val(ui.item.Description);
            $('#totalcost').val(ui.item.Rate);
            $('#sellingprice').val(ui.item.AvgCost);
            var ItemId = $('#hiddenitemId').val();
                                var data = {};
                                data.ItemId = ItemId;
                                data.DeptId = ERPDeptId;
                                data.Location = UserLocationId;
                                $.ajax({
                                    type: "POST",
                                    url: "../../Production/ElectronicsProductionProductSearch",
                                    data: data,
                                    success: function (result) {
                                            ShowItemlist(result.oList);
                                    }
                                });            
        },
    });
    $("#itemname").autocomplete({
        source: function (request, response) {
            var data = {};
            data.ItemCode = $("#itemname").val();
            $.ajax({
                url: '../Purchase/ProductSearch',
                type: "POST",
                data: data,
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    response($.map(data, function (item) {
                        return ({
                            ColCount: '4',
                            label: item.Description,
                            label1: item.ItemCode,
                            label2: item.UnitName,
                            label3: item.SellingPrice.toFixed(Decimal),
                            label4: '0',
                            label5: '0',
                            ItemId: item.ItemId,
                            ItemCode: item.ItemCode,
                            Unit: item.UnitId,
                            UnitName: item.UnitName,
                            Tax: item.VatId,
                            Taxper: item.VatPer,
                            Rate: (item.SellingPrice).toFixed(Decimal),
                            AvgCost: (item.AvgCost).toFixed(Decimal),
                            Model1: item.Model1,
                            headers: ["Item Name", "Code", "Unit Name", "Average Cost"]
                        })
                    }));
                }
            })
        },
        autoFocus: true,
        select: function (event, ui) {
            $('#hiddenitemId').val(ui.item.ItemId);
            $('#barcode').val(ui.item.ItemCode);
            $('#txtslno').val(ui.item.Model1);
            $('#txtprice').val(ui.item.AvgCost);
            $('#select_unit').val(ui.item.Unit);
            $('#totalcost').val(ui.item.Rate);            
            $('#sellingprice').val(ui.item.AvgCost);
            var data = {};
            var ItemId = $('#hiddenitemId').val();
            data.ItemId = ItemId;
            data.DeptId = ERPDeptId;
            data.Location = UserLocationId;
            $.ajax({
                type: "POST",
                url: "../../Production/ElectronicsProductionProductSearch",
                data: data,
                success: function (result) {
                    ShowItemlist(result.oList);
                }
            });
        },
    });
</script>
  