
@{
    ViewBag.Title = "PRegistration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/ProjectScript/Appointment.js"></script>
<script type="text/javascript" src="../Projectscript/CommonHMS.js"></script>
<script src="~/Scripts/Autocomplete/jquery-ui.js"></script>
<style>
    .label-control {
        font-weight: bold;
    }

    select.form-control:not([size]):not([multiple]) {
        height: calc(2.25rem + 4px) !important;
    }

    form .form-group {
        margin-bottom: .5rem;
    }

    .card .card-header {
        padding: 1.5rem;
        padding-bottom: .5rem;
    }

    form .form-actions {
        margin-top: 5px;
    }

    form .form-actions {
        padding: 10px 0;
    }
</style>

<style>
    /*Style for Local AutoComplete:*/
    .autocomplete1 {
        position: relative;
        display: inline-block;
    }

    .autocomplete1-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        z-index: 99;
        top: 100%;
        left: 50%;
        right: 3%;
    }

        .autocomplete1-items div {
            padding: 10px;
            cursor: pointer;
            background-color: #fff;
            border-bottom: 1px solid #d4d4d4;
        }

            .autocomplete1-items div:hover {
                background-color: #009DA0;
            }

    .autocomplete1-active {
        background-color: #009DA0 !important;
        color: white;
    }
    /*Style for Local AutoComplete:*/
</style>
<div class="myData" data-x="M344" />

<div id="Entry" style="">

    <div class="row">
        <div class="col-md-12">
            <div class="card" style="margin-top: 5px;">
                <div class="card-header" style="border-bottom:1px solid #e6e6e6;">
                    <div class="row">
                        <div class="col-md-6 text-left">
                            <h4 class="card-title mb-0" style="font-weight:bold;">Appointment</h4>
                        </div>

                    </div>

                </div>
                <div class="card-body">
                    <div class="px-3">
                        <div class="card-content collapse show">
                            <div class="card-body">
                                <form action="#">
                                    <div class="form-body">
                                        <div style="height:15px;"></div>
                                        <div class="row">
                                            <div class="col-md-12" style="border-right:1px solid lightgrey">

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group row" style="margin-bottom:10px">
                                                            <label class="col-md-4 label-control" for="userinput2"> First Name<span class="danger">*</span></label>
                                                            <div class="col-md-8">
                                                                <input type="text" id="AppFirst" class="form-control frsdwn" autocomplete="off">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group row">
                                                            <label class="col-md-4 label-control" for="userinput2"> Last Name</label>
                                                            <div class="col-md-8">
                                                                <input type="text" id="AppLast" class="form-control frsdwn" autocomplete="off">
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group row style=" margin-bottom:10px"">
                                                            <label class="col-md-4 label-control" for="userinput2">Gender<span class="danger">*</span></label>

                                                            <div class="col-md-8">
                                                                <select id="PGender" class="form-control frsdwn" autocomplete="off">
                                                                    <option value="0">
                                                                        Select
                                                                    </option>
                                                                    <option value="1">
                                                                        Male
                                                                    </option>
                                                                    <option value="2">
                                                                        Female
                                                                    </option>
                                                                    <option value="3">
                                                                        Others
                                                                    </option>
                                                                </select>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group row">
                                                            <label class="col-md-4 label-control" for="userinput2" style="width:110%">Contact Number<span class="danger">*</span></label>
                                                            <div class="col-md-8">
                                                                <input type="text" class="form-control frsdwn" id="MobileNo" autocomplete="off" onkeypress=" return PisNumberInt(event, this)">
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>


                                                <div class="row">
                                                    <div class="col-md-6 ">
                                                        <div class="form-group row style=" margin-bottom:10px"">
                                                            <label class="col-md-4 label-control" for="userinput2">DOB</label>
                                                            <div class="col-md-8">
                                                                <input type="text" class="form-control frsdwn" id="PDOB" autocomplete="off" onchange="GetPatientAge()">
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="col-md-6">
                                                        <div class="form-group row">
                                                            <label class="col-md-4 label-control" for="userinput2" style="width:110%">Nationality<span class="danger">*</span></label>
                                                            <div class="col-md-8">
                                                                <select type="text" class="form-control frsdwn" id="Country" autocomplete="off"></select>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="row" style="  border-bottom: 1px solid grey;">
                                                    <div class="col-md-6">
                                                        <div class="form-group row">
                                                            <label class="col-md-4 label-control" for="userinput2">Age</label>
                                                            <div class="col-md-3">
                                                             
                                                                <input type="text" class="form-control frsdwn" id="Age" autocomplete="off" placeholder="YEAR" onkeypress="return isNumberInt(event, this)" onkeyup="CalcYear()">
                                                            </div>

                                                            <div class="col-md-3">
                                                                <input type="text" class="form-control frsdwn" readonly style="margin-left:-10%" id="Age1" placeholder="MONTH" autocomplete="off">
                                                            </div>
                                                            <div class="col-md-2">
                                                                <input type="text" class="form-control frsdwn" readonly id="Age2" style="width:135%;margin-left:-35%" placeholder="DAY" autocomplete="off">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group row">
                                                            <label class="col-md-4 label-control" for="userinput2" style="width:110%;margin-bottom:10px">Email</label>
                                                            <div class="col-md-8">
                                                                <input type="text" style="margin-bottom:20px" class="form-control frsdwn" id="EmailId" autocomplete="off" onfocusout="Validateemail()">
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row" style="margin-top:2%">

                                                    <div class="col-md-6">
                                                        <div class="form-group row">
                                                            <label class="col-md-4 label-control" for="userinput2">Department</label>
                                                            <div class="col-md-8">
                                                                <select id="txt_docdeptname" name="priority" class="form-control frsdwn" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-original-title="" title=""></select>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group row">
                                                            <label class="col-md-4 label-control" for="" style="margin-bottom:10px">Patient Type</label>
                                                            <div class="col-md-8">

                                                                <div class="row col-md-12" style="margin-bottom:20px">
                                                                    <input type="radio" id="self" name="gender" value="male"> Self Paying Patient<br>
                                                                    <input type="radio" id="insurance" class="ml-3" name="gender" value="female"> Insurance Patient<br>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">

                                                    <div class="col-md-6" style="margin-top:20px">
                                                        <div class="form-group row">
                                                            <label class="col-md-4 label-control" for="userinput2" style="width:110%">Branch<span class="danger">*</span></label>
                                                            <div class="col-md-8">
                                                                <input type="text" class="form-control frsdwn" id="Branch" autocomplete="off" disabled>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6" style="margin-bottom:20px">
                                                        <div class="form-group row">
                                                            <label class="col-md-4 label-control" for="" style="margin-bottom:10px">Do you want to stay ahead from the rest?</label>
                                                            <div class="col-md-8" style="margin-bottom:20px">

                                                                <div class="row col-md-12">
                                                                    <input type="radio" name="gender2" id="yes" value="male">Yes<br>
                                                                    <input type="radio" class="ml-3" name="gender2" id="no" value="female"> No<br>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">

                                                    <div class="col-md-6">
                                                        <div class="form-group row">
                                                            <label class="col-md-4 label-control" for="userinput2">Doctor<span class="danger">*</span></label>
                                                            <div class="col-md-8">
                                                                <select class="form-control frsdwn" id="Doctor" onchange="TokenLoad(),ChangeFee()"></select>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group row">
                                                            <label class="col-md-4 label-control" for="">Choose *Fast Track Clinic For:</label>
                                                            <div class="col-md-8">

                                                                <div class="col-md-12" style="margin-bottom:20px">
                                                                    <input type="radio" name="gender" value="male" disabled style="color:lightgreen"> No Waiting For<br>
                                                                </div>
                                                                <div class="col-md-12" style="margin-bottom:20px">
                                                                    <input type="radio" name="gender" value="female" disabled style="color:lightgreen"> One -an-one-assistance<br>
                                                                </div>
                                                                <div class="col-md-12 ">
                                                                    <input type="radio" name="gender" value="male" disabled style="color:lightgreen"> Free Refreshment<br>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">

                                                    <div class="col-md-6">
                                                        <div class="form-group row">
                                                            <label class="col-md-4 label-control" for="userinput2" style="margin-top:-60px">Appointment Date</label>
                                                            <div class="col-md-8">
                                                                <input type="text" class="form-control frsdwn" id="PDATE" autocomplete="off" onchange="GetPatientAge()" style="margin-top:-60px">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">

                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group row">
                                                            <label class="col-md-4 label-control" for="userinput2">Appointment Time<span class="danger"></span></label>
                                                            <div class="col-md-8">
                                                                <input type="Time" id="PTime" class="form-control frsdwn" name="time">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>

                                        </div>


                                        <div class="form-actions">
                                            <div class="text-right">
                                                <button type="button" style="width:100px" id="btnsubmitapp" class="btn btn-primary btn-min-width mr-1 mb-1"><u>S</u>ave <i class="fa fa-check-square-o"></i></button>
                                                <button type="button" style="width:100px" id="btnlist" onclick="GetRows(0)" class="btn btn-primary btn-min-width mr-1 mb-1">List <i class="ft-align-justify"></i></button>
                                                <button type="button" style="width:100px;display:none" id="btneditapp" class="btn btn-primary btn-min-width mr-1 mb-1">Edit <i class="icon-pencil"></i></button>
                                                <button type="button" style="width:100px" id="btnnew" onclick="formrefresher()" class="btn btn-primary btn-min-width mr-1 mb-1">Clear <i class="ft-refresh-cw position-right"></i></button>
                                                <button style="display:none" type="button" id="btndeleted" class="btn btn-primary btn-min-width mr-1 mb-1">Delete <i class="fa fa-times"></i></button>

                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="margin-top:0;margin-left:0;display:none;width:100%;" id="listing">
    <section>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <table width="100%">
                            <tr>
                                <td><h4 class="card-title" style="font-weight:bold;">Appointment List</h4></td>
                                <td>
                                    <div class="heading-elements">
                                        <div class="text-right">
                                            
                                            <button type="button" onclick="Filter()" class="btn btn-outline-primary" id="Filter"><i class="fa fa-search"></i> Search</button>
                                            
                                            <button type="button" onclick="closelist()" class="btn btn-outline-primary" id="ed"><i class="ft-edit"></i> Add New</button>
                                            <span id="itemListButtonPlace">
                                            </span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>


                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard" style="overflow:auto;">
                            <table id="tblAppointment" class="table table-striped table-bordered base-style dataTable"></table>
                            <br />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<div style="display:none">
    <input type="text" id="AppointmentId" class="form-control" />
    <input type="text" id="RegId" class="form-control" />

</div>

<div id="popupdiv" class="modal fade text-left show" tabindex="-1" role="dialog" aria-labelledby="myheader" style="padding-right: 17px; background:rgba(0,0,0,0.5); display: block; display:none;height:200%;width:115%">
    <div class="modal-dialog modal-lg" role="document" style="top:8%">
        <div class="modal-content" style="width:66%">
            <div class="modal-header bg-primary white">
                <h3 class="modal-title" id="myheader">Search Options</h3>

                <button type="button" class="close" onclick="$('#popupdiv').hide()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form id="monthpopup" style="display:none1">

                <div class="modal-body">
                    <div class="row">

                        <label class="col-md-2" style="font-weight:bold;text-align:right;">From</label>
                        <div class="col-md-4">
                            <input type="text" id="FromDate" class="form-control" autocomplete="off">
                        </div>


                        <label class="col-md-2" style="font-weight:bold;text-align:right;">To</label>
                        <div class="col-md-4">
                            <input type="text" id="ToDate" class="form-control" autocomplete="off">
                        </div>

                    </div>

                    <div class="row p-1" style="border-bottom:1px solid #cfd8dc;"></div>
                    <div class="row pt-2">
                        <label class="col-md-2" style="font-weight:bold;">Doctor </label>
                        <div class="col-md-10" style="">
                            <select id="DoctorSearchId" class="form-control dezero" autocomplete="off"></select>
                        </div>
                    </div>



                </div>
                <div class="modal-footer">
                    <button type="button" onclick="GetRows(0)" style="width:100px;margin-right:40%" id="btnsearch" class="btn btn-primary">Go <i class="fa fa-search"></i></button>
                </div>

            </form>
        </div>
    </div>
</div>





<script>
  
</script>


<script>


    function GetRows(RegId) {
        $('#listing').show();
  
        $('#RegId').val(RegId)
        var data = {};
        data.RegId = RegId;
        data.FromDate = $("#FromDate").val();
        data.ToDate = $("#ToDate").val();
        data.Doctor = $("#DoctorSearchId").val();

        $('#popupdiv').hide();
        $.ajax({
            type: "POST",
            url: "../Master/Appointment123GetandGets",
            data: data,
            success: function (result) {
                if (RegId == 0)
                    ShowTermlist(result.oList);
                else
                    ShowTermGet(result.oList);

            }
        });

    }

    function ShowTermlist(result) {
        $('#Entry').hide();
        $('#listing').show();
        disable_datatable('tblAppointment');
        var responseText = "<thead><tr><th width=1%;align=center>Sl#</th><th width=4% >RegId</th><th  width=20%>Name</th><th width=20% class='text-left' >Doctor</th><th width=10%>Date</th><th width=10%>Time</th><th width=10% class='text-left' >Mobile No:</th><th width=3%>Edit</th></tr></thead><tbody>";
        for (var i = 0; i < result.length; i++) {
            var slno = parseInt(i + 1);
            responseText += '<tr><td align=center>' + slno + '</td><td>' + result[i].RegId + '</td><td>' + result[i].AppFirst + '&#160' + result[i].AppLast + '</td><td align=left>' + result[i].Doctor + '</td><td align=left>' + result[i].PDATE + '</td><td align=left>' + result[i].Time + '</td><td align=left>' + result[i].MobileNo + '</td><td onclick="GetRows(' + result[i].RegId + ')" align=center width=10px bgcolor="#00ffff "><a>' + Editbutton + '</a></td></tr>';
        }
        $('#tblAppointment').html(responseText + '</tbody> <tfoot> <tr><th> </th><th>Code</th><th>Name</th><th> </th><th> </th></tr></tfoot>');
        datatableWithsearch1('tblAppointment');
    }


    function ShowTermGet(result) {

        for (var i = 0; i < result.length; i++) {
            $('#AppFirst').val(result[i].AppFirst);
            $('#PGender').val(result[i].PGender);
            $('#PDOB').val(result[i].PDOB);
            $('#Age').val(result[0].Age);
            $('#txt_docdeptname').val(result[i].Deptname);
            $('#Branch').val(result[i].Branch);
            $('#Doctor').val(result[i].Doctor);
            $('#PDATE').val(result[i].PDATE);
            $('#PTime').val(result[i].Time);
            $('#AppLast').val(result[i].AppLast);
            $('#MobileNo').val(result[i].MobileNo);

            $('#Country').val(result[i].Country);
            $('#EmailId').val(result[i].EmailId);


        }
        $('#Entry').show();
        $('#listing').hide();
        $('#btndelete').show();
        $('#txtname').focus();

    }



    function Filter() {

        $("#FromDate,#ToDate").val(CurDate);
        $("#DoctorSearch,#SearchRegNo").val('');
        $("#DoctorSearchId").val(0);
        $("#popupdiv").show();
    }

    $(function () {
        $('#FromDate,#ToDate').daterangepicker({
            minDate: minDate,
            maxDate: new Date(new Date().getFullYear() + 1, new Date().getMonth(), new Date().getDate()),
            singleDatePicker: true,
            showDropdowns: true,
            locale: {
                format: 'DD/MM/YYYY'
            }
        });
    });
    function CalcYear() {
        var Age = $("#Age").val();
        var d = new Date();
        var CurrentYear = d.getFullYear();
        var NewYear = CurrentYear - Age;
        var Day = d.getDate(); if (Day < 10) { Day = '0' + Day; }
        var Month = d.getMonth() + 1; if (Month < 10) { Month = '0' + Month; }

        $("#PDOB").val(Day + '/' + Month + '/' + NewYear);
    }

</script>