
@{
    ViewBag.Title = "PRegistration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/ProjectScript/Appointment.js"></script>
<script type="text/javascript" src="../Projectscript/CommonHMS.js"></script> 
<script src="~/Scripts/Autocomplete/jquery-ui.js"></script>
<style>
    .label-control {
        font-weight: bold;
    }

    select.form-control:not([size]):not([multiple]) {
        height: calc(2.25rem + 4px) !important;
    }

    form .form-group {
        margin-bottom: .5rem;
    }

    .card .card-header {
        padding: 1.5rem;
        padding-bottom: .5rem;
    }

    form .form-actions {
        margin-top: 5px;
    }

    form .form-actions {
        padding: 10px 0;
    }
</style>

<style>
    /*Style for Local AutoComplete:*/
    .autocomplete1 {
        position: relative;
        display: inline-block;
    }

    .autocomplete1-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        z-index: 99;
        top: 100%;
        left: 50%;
        right: 3%;
    }

        .autocomplete1-items div {
            padding: 10px;
            cursor: pointer;
            background-color: #fff;
            border-bottom: 1px solid #d4d4d4;
        }

            .autocomplete1-items div:hover {
                background-color: #009DA0;
            }

    .autocomplete1-active {
        background-color: #009DA0 !important;
        color: white;
    }
    /*Style for Local AutoComplete:*/
</style>
<div class="myData" data-x="M344" />

<div id="Entry" style="">

    <div class="row">
        <div class="col-md-12">
            <div class="card" style="margin-top: 5px;">
                <div class="card-header" style="border-bottom:1px solid #e6e6e6;">
                    <div class="row">
                        <div class="col-md-6 text-left">
                            <h4 class="card-title mb-0" style="font-weight:bold;">Appointment</h4>
                        </div>

                    </div>

                </div>
                <div class="card-body">
                    <div class="px-3">
                        <div class="card-content collapse show">
                            <div class="card-body">
                                <form action="#">
                                    <div class="form-body">
                                        <div style="height:15px;"></div>
                                        <div class="row">
                                            <div class="col-md-12" style="border-right:1px solid lightgrey">
                                                
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group row" style="margin-bottom:10px">
                                                            <label class="col-md-4 label-control" for="userinput2"> First Name<span class="danger">*</span></label>
                                                            <div class="col-md-8">
                                                                <input type="text" id="AppFirst"  class="form-control frsdwn" autocomplete="off">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="col-md-6">
                                                        <div class="form-group row">
                                                            <label class="col-md-4 label-control" for="userinput2"> Last Name</label>
                                                            <div class="col-md-8">
                                                                <input type="text" id="AppLast"  class="form-control frsdwn" autocomplete="off">
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group row style="margin-bottom:10px"">
                                                            <label class="col-md-4 label-control" for="userinput2" >Gender<span class="danger">*</span></label>

                                                            <div class="col-md-8">
                                                                <select id="PGender" class="form-control frsdwn" autocomplete="off">
                                                                    <option value="0">
                                                                        Select
                                                                    </option>
                                                                    <option value="1">
                                                                        Male
                                                                    </option>
                                                                    <option value="2">
                                                                        Female
                                                                    </option>
                                                                    <option value="3">
                                                                        Others
                                                                    </option>
                                                                </select>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group row">
                                                            <label class="col-md-4 label-control" for="userinput2" style="width:110%">Contact Number<span class="danger">*</span></label>
                                                            <div class="col-md-8">
                                                                <input type="text" class="form-control frsdwn" id="MobileNo" autocomplete="off" onkeypress=" return PisNumberInt(event, this)">
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>


                                                <div class="row">
                                                    <div class="col-md-6 ">
                                                        <div class="form-group row style="margin-bottom:10px"">
                                                            <label class="col-md-4 label-control" for="userinput2">DOB</label>
                                                            <div class="col-md-8">
                                                                <input type="text" class="form-control frsdwn" id="PDOB" autocomplete="off" onchange="GetPatientAge()">
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="col-md-6">
                                                        <div class="form-group row">
                                                            <label class="col-md-4 label-control" for="userinput2" style="width:110%">Nationality<span class="danger">*</span></label>
                                                            <div class="col-md-8">
                                                                <select type="text" class="form-control frsdwn" id="Country" autocomplete="off"></select>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="row" style="  border-bottom: 1px solid grey;">
                                                    <div class="col-md-6">
                                                        <div class="form-group row">
                                                            <label class="col-md-4 label-control" for="userinput2">Age</label>
                                                            <div class="col-md-3">
                                                                <input type="text" class="form-control frsdwn" readonly id="Age" autocomplete="off" placeholder="YEAR">
                                                            </div>

                                                            <div class="col-md-3">
                                                                <input type="text" class="form-control frsdwn" readonly style="margin-left:-10%" id="Age1" placeholder="MONTH" autocomplete="off">
                                                            </div>
                                                            <div class="col-md-2">
                                                                <input type="text" class="form-control frsdwn" readonly id="Age2" style="width:135%;margin-left:-35%" placeholder="DAY" autocomplete="off">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6" >
                                                        <div class="form-group row">
                                                            <label class="col-md-4 label-control" for="userinput2" style="width:110%;margin-bottom:10px">Email</label>
                                                            <div class="col-md-8">
                                                                <input type="text" style="margin-bottom:20px" class="form-control frsdwn" id="EmailId" autocomplete="off" onfocusout="Validateemail()">
                                                            </div>
                                                        </div>
                                                    </div>
                                                   
                                                </div>
                                                <div class="row" style="margin-top:2%">
                                                  
                                                    <div class="col-md-6">
                                                        <div class="form-group row">
                                                            <label class="col-md-4 label-control" for="userinput2">Department</label>
                                                            <div class="col-md-8">
                                                                <select id="txt_docdeptname" name="priority" class="form-control frsdwn" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-original-title="" title=""></select>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group row">
                                                            <label class="col-md-4 label-control" for="" style="margin-bottom:10px">Patient Type</label>
                                                            <div class="col-md-8">

                                                                <div class="row col-md-12" style="margin-bottom:20px">
                                                                    <input type="radio" id="self"  name="gender" value="male"> Self Paying Patient<br>
                                                                    <input type="radio" id="insurance" class="ml-3" name="gender" value="female"> Insurance Patient<br>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                   
                                                    <div class="col-md-6" style="margin-top:20px">
                                                        <div class="form-group row">
                                                            <label class="col-md-4 label-control" for="userinput2" style="width:110%">Branch<span class="danger">*</span></label>
                                                            <div class="col-md-8">
                                                                <input type="text" class="form-control frsdwn" id="Branch" autocomplete="off" disabled>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6" style="margin-bottom:20px">
                                                        <div class="form-group row" >
                                                            <label class="col-md-4 label-control" for="" style="margin-bottom:10px">Do you want to stay ahead from the rest?</label>
                                                            <div class="col-md-8" style="margin-bottom:20px">

                                                                <div class="row col-md-12">
                                                                    <input type="radio" name="gender2" id="yes" value="male">Yes<br>
                                                                    <input type="radio" class="ml-3" name="gender2" id="no"value="female"> No<br>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    
                                                    <div class="col-md-6">
                                                        <div class="form-group row">
                                                            <label class="col-md-4 label-control" for="userinput2">Doctor<span class="danger">*</span></label>
                                                            <div class="col-md-8">
                                                                <select type="text" class="form-control frsdwn" id="Doctor" autocomplete="off" onchange="TokenLoad(),ChangeFee()"></select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group row">
                                                            <label class="col-md-4 label-control" for="">Choose *Fast Track Clinic For:</label>
                                                            <div class="col-md-8">

                                                                <div class="col-md-12"style="margin-bottom:20px">
                                                                    <input type="radio" name="gender" value="male" disabled style="color:lightgreen"> No Waiting For<br>
                                                                </div>
                                                                <div class="col-md-12" style="margin-bottom:20px">
                                                                    <input type="radio" name="gender" value="female" disabled style="color:lightgreen"> One -an-one-assistance<br>
                                                                 </div>
                                                                <div class="col-md-12 " >
                                                                    <input type="radio" name="gender" value="male" disabled style="color:lightgreen"> Free Refreshment<br>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                   
                                                    <div class="col-md-6">
                                                        <div class="form-group row">
                                                            <label class="col-md-4 label-control" for="userinput2"  style="margin-top:-60px">Appointment Date</label>
                                                            <div class="col-md-8">
                                                                <input type="text" class="form-control frsdwn" id="PDATE" autocomplete="off" onchange="GetPatientAge()"   style="margin-top:-60px">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">

                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group row">
                                                            <label class="col-md-4 label-control" for="userinput2">Appointment Time<span class="danger"></span></label>
                                                            <div class="col-md-8">
                                                                <input type="Time" id="PTime" class="form-control frsdwn" name="time">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                

                                            </div>
                                            
                                        </div>


                                        <div class="form-actions">
                                            <div class="text-right">
                                                <button type="button" style="width:100px" id="btnsubmitapp" class="btn btn-primary btn-min-width mr-1 mb-1"><u>S</u>ave <i class="fa fa-check-square-o"></i></button>
                                                <button type="button" style="width:100px;display:none" id="btneditapp"  class="btn btn-primary btn-min-width mr-1 mb-1">Edit <i class="icon-pencil"></i></button>
                                                <button type="button" style="width:100px" id="btnnew" onclick="formrefresher()" class="btn btn-primary btn-min-width mr-1 mb-1">Clear <i class="ft-refresh-cw position-right"></i></button>
                                                <button style="display:none" type="button" id="btndeleted" class="btn btn-primary btn-min-width mr-1 mb-1">Delete <i class="fa fa-times"></i></button>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div style="display:none">
    <input type="text" id="AppointmentId" class="form-control" />
    <input type="text" id="RegId" class="form-control" />
 
</div>



<script>
    function RevisitPatient()
    {
        var PatId = $('#RegId').val();

        sessionStorage.setItem("PatId", PatId);
        window.location = "@Url.Action("Revis it", "Revisit", new { from = "PRegistration" })";
    }
    $("#btndeleted").click(function (e) {
        $('#confirmmessage').text('Do You Want To Delete This Record?')
        $('#confirm').show();
        $('#confirmOk').focus();
    });
    $("#AppFirst").autocomplete({
       
        delay: 0,
        minLength: 0,
        source: function (request, response) {
            $("#AppointmentId").val('');
          
            var data = {};
            data.FirstName = $("#AppFirst").val();
            data.Contact = $("#MobileNo").val();           
            $.ajax({
                url: '../Master/HMS_AppointmentSearch',
                type: "POST",
                data: data,
                dataType: "json",
                success: function (data) {
                    response($.map(data, function (item) {
                        return ({
                            ColCount: '2',
                            label: item.FirstName,
                            label1: item.Contact,
                            AppointmentId: item.AppointmentId,
                            FirstName: item.FirstName,
                            LastName: item.LastName,
                            DOB: item.DOB,
                            Gender: item.Gender,
                            Nationality: item.Nationality,
                            Contact: item.Contact,
                            Email: item.Email,
                            Branch: item.Branch,
                            Department: item.Department,
                            Doctor: item.Doctor,
                            FirstName: item.FirstName,
                            AppointmentTime: item.AppointmentTime,
                            AppointmentDate: item.AppointmentDate,
                            Contact: item.Contact,
                            Status1: item.Status1,
                            Status2: item.Status2,
                            headers: ["FirstName", "Contact"]
                        })
                    }));
                }
            })
        },
        autoFocus: true,

        select: function (event, ui) {
           
            GetRowsss(ui.item.AppointmentId);
            $("#AppointmentId").val(ui.item.AppointmentId);
            $("#MobileNo").val(ui.item.Contact);
            $("#AppLast").val(ui.item.LastName);
            $("#PDOB").val(ui.item.DOB);
            GetPatientAge();
            $("#PGender").val(ui.item.Gender);
            $("#Country").val(ui.item.Nationality);
            $("#EmailId").val(ui.item.Email);
            $("#Branch").val(ui.item.Branch);
            $("#txt_docdeptname").val(ui.item.Department);
            $("#Doctor").val(ui.item.Doctor);
            $("#PDATE").val(ui.item.AppointmentDate);
            $("#PTime").val(ui.item.AppointmentTime);
           
            $("#AppFirst").focus();
            $('#btndeleted').show();
        
            if (ui.item.Status1 == 0)
            {
                console.log('a')
                $('#self').prop('checked', true);
            }
            else if (ui.item.Status1 == 1)
            {
                console.log('b')
                $('#insurance').prop('checked', true);
            }

            if (ui.item.Status2 == 0)
            {
                console.log('c')
                $('#yes').prop('checked', true);
            }
           else if (ui.item.Status2 == 1)
            {
                console.log('d')
                $('#no').prop('checked', true);
            }
            
        },

    });
</script>

<script>
    //----------------------------Blood Grp AutoComplete
    //function autocompleteadd(inp, arr) {

    //    var currentFocus;

    //    inp.addEventListener("input", function (e) {
    //        var a, b, i, val = this.value;

    //        closeAllLists();
    //        if (!val) { return false; }
    //        currentFocus = -1;
    //        a = document.createElement("DIV");
    //        a.setAttribute("id", this.id + "autocomplete1-list");
    //        a.setAttribute("class", "autocomplete1-items");
    //        this.parentNode.appendChild(a);
    //        for (i = 0; i < arr.length; i++) {
    //            if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
    //                b = document.createElement("DIV");
    //                b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
    //                b.innerHTML += arr[i].substr(val.length);
    //                b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
    //                b.addEventListener("click", function (e) {
    //                    inp.value = this.getElementsByTagName("input")[0].value;
    //                    closeAllLists();
    //                });
    //                a.appendChild(b);
    //            }
    //        }
    //    });
    //    /*execute a function presses a key on the keyboard:*/
    //    inp.addEventListener("keydown", function (e) {
    //        var x = document.getElementById(this.id + "autocomplete1-list");
    //        if (x) x = x.getElementsByTagName("div");
    //        if (e.keyCode == 40) {
    //            currentFocus++;
    //            addActive(x);
    //        } else if (e.keyCode == 38) { //up
    //            currentFocus--;
    //            addActive(x);
    //        } else if (e.keyCode == 13) {
    //            e.preventDefault();
    //            if (currentFocus > -1) {
    //                if (x) x[currentFocus].click();
    //            }
    //        }
    //    });
    //    function addActive(x) {
    //        if (!x) return false;
    //        removeActive(x);
    //        if (currentFocus >= x.length) currentFocus = 0;
    //        if (currentFocus < 0) currentFocus = (x.length - 1);
    //        x[currentFocus].classList.add("autocomplete1-active");
    //    }
    //    function removeActive(x) {
    //        for (var i = 0; i < x.length; i++) {
    //            x[i].classList.remove("autocomplete1-active");
    //        }
    //    }
    //    function closeAllLists(elmnt) {
    //        var x = document.getElementsByClassName("autocomplete1-items");
    //        for (var i = 0; i < x.length; i++) {
    //            if (elmnt != x[i] && elmnt != inp) {
    //                x[i].parentNode.removeChild(x[i]);
    //            }
    //        }
    //    }
    //    /*execute a function when someone clicks in the document:*/
    //    document.addEventListener("click", function (e) {
    //        closeAllLists(e.target);
    //    });
    //}

    /*An array containing all the Blood Groups:*/
    //var BloodGroup = ["A+",
    //                  "A-",
    //                  "B+",
    //                  "B-",
    //                  "O+",
    //                  "O-",
    //                  "AB+",
    //                  "AB-"];

    //autocompleteadd(document.getElementById("Bloodgroup"), BloodGroup);

    //----------------------------End Blood Grp AutoComplete
</script>