
@{
    ViewBag.Title = "Branch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="../Projectscript/Common.js"></script>
<script type="text/javascript" src="../Projectscript/BranchMaster.js"></script>
<style>
    .label-control {
        font-weight: bold;
    }
</style>

<div class="myData" data-x="M21" />

<div id="Entry" style="width:50%;margin-left:25%;">
  
    <div class="row" >
        <div class="col-md-12">
            <div class="card" style="margin-top:15%">
                <div class="card-header" style="border-bottom:1px solid #e6e6e6;text-align:center">
                    <h4 class="card-title mb-0" style="font-weight:bold;">CLOSING</h4>
                </div>
                <div class="card-body">
                    <div class="px-3">
                        <div class="card-content collapse show">
                            <div class="card-body">
                                <div style="height:15px;"></div>
                                <form action="#">
                                    <div class="form-body">

                                        <br />

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-md-4 label-control" for="userinput1">Opening</label>
                                                    <div class="col-md-8">
                                                        <input type="text" id="txtaddr1" class="form-control" onkeypress="return isNumberInt(event, this)">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-md-4 label-control" for="userinput2">Date</label>
                                                    <div class="col-md-8">
                                                        <input type="text" id="txtdesc" class="form-control">
                                                    </div>
                                                </div>
                                            </div>

                                           
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-md-4 label-control" for="userinput2">Cash</label>
                                                    <div class="col-md-8">
                                                        <input type="text" id="txtaddr2" class="form-control" onkeypress="return isNumberInt(event, this)">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-md-4 label-control" for="userinput2">Upi</label>
                                                    <div class="col-md-8">
                                                        <input type="text" id="txtphone" class="form-control" onkeypress="return isNumberInt(event, this)">
                                                    </div>
                                                </div>
                                            </div>
                                          
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-md-4 label-control" for="userinput2">Card</label>
                                                    <div class="col-md-8">
                                                        <input type="text" id="txtphone1" class="form-control" onkeypress="return isNumberInt(event, this)">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-md-4 label-control" for="userinput1">Hand over to</label>
                                                    <div class="col-md-8">
                                                        <select type="text" id="txtaddr3" maxlength="100" class="form-control"></select>
                                                    </div>
                                                </div>
                                            </div>


                                            @*<div class="col-md-6">
            <div class="form-group row">
                <label class="col-md-4 label-control" for="userinput1">Mobile#</label>
                <div class="col-md-8">
                    <input type="text" id="txtphone1" class="form-control" onkeypress="return isNumberInt(event, this)" name="phone1">
                </div>
            </div>
        </div>*@
                                        </div>

                                        @*<div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-md-4 label-control" for="userinput2">Email</label>
                                                    <div class="col-md-8">
                                                        <input type="text" id="txtemail" class="form-control" name="email">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>*@
                                        <div class="form-actions center">

                                            <button type="button" style="width:100px" id="btnsubmit" class="btn btn-primary btn-min-width mr-1 mb-1"><u>S</u>ave <i class="fa fa-check-square-o"></i></button>
                                            <button type="button" style="width:100px" id="btnlist" onclick="GetRows(0)" class="btn btn-primary btn-min-width mr-1 mb-1">List <i class="ft-align-justify"></i></button>
                                            <button type="button" style="width:100px" id="btnnew" onclick="formrefresh()" class="btn btn-primary btn-min-width mr-1 mb-1">Clear <i class="ft-refresh-cw position-right"></i></button>
                                            <button style="display:none" type="button" id="btndelete" class="btn btn-primary btn-min-width mr-1 mb-1">Delete <i class="fa fa-times"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<div style="display:none;width:100%;" id="listing">
    <section>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <table width="100%">
                            <tr>
                                <td><h4 class="card-title" style="font-weight:bold;">Branch List</h4></td>
                                <td align="right">
                                    <div class="heading-elements">
                                        <div>
                                            <button type="button" onclick="closelist()" class="btn btn-outline-primary" id="ed"><i class="ft-edit"></i> Add New</button>
                                            <span id="itemListButtonPlace">
                                            </span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>


                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard" style="overflow:auto">
                            <table id="tblbranch" class="table table-striped table-bordered base-style dataTable"></table>
                            <br />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    UserList()

    function UserList() {

        var data = {};
        data.UserId = 0;
        $.ajax({
            type: "POST",
            url: "../Master/UsersGetandGets",
            data: data,
            success: function (result) {
                ShowUserslist(result.oList);
            }
        });

    }


    function ShowUserslist(result) {
        $("#txtaddr3").append("<option value='0'>All</option>");
        for (var i = 0; i < result.length; i++) {

            $("#txtaddr3").append("<option value='" + result[i].UserId + "'>" + result[i].UserName + "</option>");

        }

    }
    $(function () {
        $('#txtdesc').daterangepicker({
            minDate: minDate,
            maxDate: new Date(new Date().getFullYear() , new Date().getMonth(), new Date().getDate()),
            singleDatePicker: true,
            showDropdowns: true,
            locale: {
               format: 'DD/MM/YYYY'
            }
        });
    });
    $('#txtdesc').val(CurDate);
</script>







<div style="display:none"><input type="text" value="0" id="BrnchId" /></div>


