
@{
    ViewBag.Title = "Customer";
}
<style>
    #CELL1 {
        border-right: 1px solid #cccccc;
        border-left: 1px solid #ffffff;
        width: 40%;
    }

    #CELL2 {
        /*padding-left:50px;*/
        border-right: 1px solid #cccccc;
        width: 40%;
    }

    #CELL3 {
        /*padding-left:50px;*/
        border-right: 1px solid #ffffff;
      
    }
     .label-control{
        font-weight: bold;
    }
       /*.form-control{
        font-weight: bold;
    }*/
</style>


<script type="text/javascript" src="../Projectscript/Common.js"></script>
<script type="text/javascript" src="../Projectscript/CustomerMaster.js"></script>
<div class="myData" data-x="M17" />
<br />
<div id="Entry">
   
    <div class="row" style="">
        <div class="col-md-12" style="margin-top:-2%;">
            <div class="card">
                <div class="card-header" style="border-bottom:1px solid #e6e6e6">
                    <table style="margin-top:0px;" width="100%">
                        <tr>
                            <td><h4 class="card-title mb-0" style="font-weight:bold;">Customer</h4></td>
                            <td align="right">
                                <div class="col-md-6">

                                    <fieldset>
                                        <div class="custom-control custom-checkbox" style="float:right">
                                            <input type="checkbox" class="custom-control-input" id="select_status" checked="">
                                            <label class="custom-control-label" for="select_status">IsActive</label>
                                        </div>
                                    </fieldset>

                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="card-body">
                    <div class="px-3">
                        <div class="card-content collapse show">
                            <div class="card-body">
                                <div style="height:15px;"></div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card" style="margin-top:-10px">
                                            <table width="100%">
                                                <tr>
                                                    <td id="CELL1" valign="top">
                                                        <table width="95%">
                                                            @*<tr><td height="20px"></td></tr>*@
                                                            <tr>
                                                                <td>
                                                                    <div class="card-content collapse show">
                                                                        <div class="card-body">
                                                                            <form class="form">
                                                                                <div class="form-body">
                                                                                    <div class="row">
                                                                                        <div class="col-md-12">

                                                                                            <div class="form-group row">
                                                                                                <label class="col-md-5 label-control" for="userinput1"> Account Type<span class="danger">*</span></label>
                                                                                                <div class="col-md-7">
                                                                                                    <select id="select_acnt" name="acnt" class="form-control"></select>
                                                                                                </div>
                                                                                            </div>



                                                                                            <div class="form-group row" style="margin-top:-8px;">
                                                                                                <label class="col-md-5 label-control" for="userinput2">Code<span class="danger">*</span></label>
                                                                                                <div class="col-md-7">
                                                                                                   <table width="100%"><tr><td width="40%">
                                                                                                                  <input type="text" id="txtacnt1" maxlength="4" class="form-control" style="border-right:none;background:white;border-top-right-radius:0px;border-bottom-right-radius:0px;text-align:right" disabled>
                                                                                                       </td>
                                                                                                       <td>
                                                                                                           <input type="text" id="txtacnt" maxlength="4" class="form-control" name="acnt1" onkeypress="return isNumberInt(event, this)" autocomplete="off" style="border-top-left-radius:0px;border-bottom-left-radius:0px;border-left:none">
                                                                                                       </td>
                                                                                                       </tr></table>
                                                                                                </div>
                                                                                            </div>
                                                                                            
                                                                                            
                                                                                            <div class="form-group row" style="margin-top:-8px;">
                                                                                                <label class="col-md-5 label-control" for="userinput2"> Name<span class="danger">*</span></label>
                                                                                                <div class="col-md-7">
                                                                                                    <input type="text" id="txtname" class="form-control" name="Name" autocomplete="off">
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group row" style="margin-top:-8px;">
                                                                                                <label class="col-md-5 label-control" for="userinput2">TRN#</label>
                                                                                                <div class="col-md-7">
                                                                                                    <input type="text" id="txttrn" class="form-control" name="trnno"  autocomplete="off">
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group row" style="margin-top:-8px;">
                                                                                                <label class="col-md-5 label-control" for="userinput2">Opening Balance</label>
                                                                                                <div class="col-md-7">
                                                                                                    <input type="text" id="txtblnc" class="form-control" name="Balance" onkeypress="return isNumber(event, this)" disabled autocomplete="off">
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group row" style="margin-top:-8px;">
                                                                                                <label class="col-md-5 label-control" for="userinput2">Terms</label>
                                                                                                <div class="col-md-7">
                                                                                                    <select id="select_terms" name="priority" class="form-control" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-original-title="" title=""></select>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group row" style="margin-top:-8px;">
                                                                                                <label class="col-md-5 label-control" for="userinput2">Due Days</label>
                                                                                                <div class="col-md-7">
                                                                                                    <input type="text" id="txtduedays" class="form-control" name="Days" disabled="" onkeypress="return isNumberInt(event, this)">

                                                                                                </div>
                                                                                            </div>
                                                                                            @*<div class="form-group row" style="margin-top:-8px;">
                                                                                                <label class="col-md-5 label-control" for="userinput2">Terms</label>
                                                                                                <div class="col-md-7">
                                                                                                    <select id="select_terms" name="priority" class="form-control" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-original-title="" title="">

                                                                                                    </select>
                                                                                                </div>
                                                                                                <label class="col-md-2 label-control" for="userinput2"> Due Days</label>
                                                                                                <div class="col-md-3">
                                                                                                    <input type="text" id="txtduedays" class="form-control" name="Days" disabled="" onkeypress="return isNumberInt(event, this)">
                                                                                                </div>
                                                                                            </div>*@                                                                                          
                                                                                            <div class="form-group row" style="margin-top:-8px;">
                                                                                                <label class="col-md-5 label-control" for="userinput1">Credit Limit</label>
                                                                                                <div class="col-md-7">
                                                                                                    <input type="text" id="txtcredit" class="form-control" name="Credit" onkeypress="return isNumber(event, this)" autocomplete="off">
                                                                                                </div>
                                                                                            </div>

                                                                                            <div class="form-group row" style="margin-top:-8px;">
                                                                                                <label class="col-md-5 label-control" for="userinput1">Salesman</label>
                                                                                                <div class="col-md-7">
                                                                                                    <select id="select_sales" name="priority" class="form-control"></select>
                                                                                                </div>
                                                                                            </div>

                                                                                            <div  class="form-group row" style="margin-top:-8px;">
                                                                                                <label class="col-md-5 label-control" for="userinput1">Price Group</label>
                                                                                                <div class="col-md-7">
                                                                                                    <select id="select_price" name="priority" class="form-control" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-original-title="" title=""></select>
                                                                                                </div>
                                                                                            </div>

                                                                                            <div class="form-group row" style="margin-top:-8px;">
                                                                                                <label class="col-md-5 label-control" for="userinput1">Currency<span class="danger">*</span></label>
                                                                                                <div class="col-md-7">
                                                                                                    <select id="select_crncy" name="priority" class="form-control" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-original-title="" title=""></select>
                                                                                                </div>
                                                                                            </div>

                                                                                            <div class="form-group row" style="margin-top:-8px;">
                                                                                                <label class="col-md-5 label-control">Supply To </label>
                                                                                                <div class="col-md-7">
                                                                                                    <select id="select_place" class="form-control"></select>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group row" style="margin-top:-8px;">
                                                                                                <label class="col-md-5 label-control">Email </label>
                                                                                                <div class="col-md-7">
                                                                                                    <input type="tel" class="form-control" id="txtcustemail">
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group row" style="margin-top:-8px;">
                                                                                                <label class="col-md-5 label-control" for="userinput2">Phone#</label>
                                                                                                <div class="col-md-7">
                                                                                                    <input type="text" id="txtcustphone" class="form-control" name="Days" onkeypress="return isNumberInt(event, this)" >
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                    </div>

                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>

                                                    <td id="CELL2" valign="top" style="height:600px;">
                                                        <table width="100%">
                                                            <tr>
                                                                <td>

                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="card-content collapse show">
                                                                                <div class="card-body">
                                                                                    <ul class="nav nav-tabs nav-topline">
                                                                                        <li class="nav-item">
                                                                                            <a class="nav-link active" id="tab1" data-toggle="tab" aria-controls="div1" href="#div1" aria-expanded="true" style="font-weight:bold">&nbsp;Address Info</a>
                                                                                        </li>
                                                                                        <li class="nav-item" >
                                                                                            <a class="nav-link" id="tab2" data-toggle="tab" aria-controls="div2" href="#div2" aria-expanded="false" style="font-weight:bold">Contact person Info</a>
                                                                                        </li>
                                                                                       
                                                                                    </ul>
                                                                                    <div class="tab-content px-1 pt-1  border-lighten-2 border-0-top">
                                                                                        <div role="tabpanel" class="tab-pane active" id="div1" aria-expanded="true" aria-labelledby="tab1">
                                                                                            <div class="repeater-default">
                                                                                                <div data-repeater-list="car">
                                                                                                    <div data-repeater-item="">
                                                                                                        <form class="form" style="margin-left:10px">
                                                                                                            <div class="form-group row">&#160;&#160;&#160;<u style="font-weight:bold">Billing Address</u></div>
                                                                                                            <div class="form-group row" style="margin-top:-10px;">
                                                                                                                <label class="col-md-4 label-control" for="userinput2"> Street</label>
                                                                                                                <div class="col-md-8">
                                                                                                                    <input type="text" id="txtadr1" class="form-control" name="Address1" onkeyup="checkauto()" autocomplete="off">
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div class="form-group row" style="margin-top:-10px;">
                                                                                                                <label class="col-md-4 label-control" for="userinput2">City</label>
                                                                                                                <div class="col-md-8">
                                                                                                                    <input type="text" id="txtadr3" class="form-control" name="Address3" onkeyup="checkauto()" autocomplete="off">
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div class="form-group row" style="margin-top:-10px;">
                                                                                                                <label class="col-md-4 label-control" for="userinput1">State</label>
                                                                                                                <div class="col-md-8">
                                                                                                                    <input type="text" id="txtstate" class="form-control" name="Address3" onkeyup="checkauto()" autocomplete="off">
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div class="form-group row" style="margin-top:-10px;">
                                                                                                                <label class="col-md-4 label-control" for="userinput2">Pin</label>
                                                                                                                <div class="col-md-8">
                                                                                                                    <input class="form-control" type="email" id="txtpin" onkeyup="checkauto()" onkeypress="return isNumberInt(event, this)" autocomplete="off">
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div class="form-group row" style="margin-top:-10px;">
                                                                                                                <label class="col-md-4 label-control" for="userinput2">Country</label>
                                                                                                                <div class="col-md-8">
                                                                                                                    <input class="form-control" type="email" id="txtcntry" onkeyup="checkauto()" autocomplete="off">
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div class="form-group row">
                                                                                                                &#160;&#160;&#160;<u style="font-weight:bold">Shipping Address</u>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
                                                                                                                <div class="custom-control custom-checkbox">
                                                                                                                    <input type="checkbox" class="custom-control-input" checked="" name="customCheck" id="select_adrs">
                                                                                                                    <label class="custom-control-label" for="select_adrs" style="font-weight:bold">Same As Billing Address</label>
                                                                                                                </div>

                                                                                                            </div>
                                                                                                            <div class="form-group row" style="margin-top:-10px;">
                                                                                                                <label class="col-md-4 label-control" for="userinput2">Street</label>
                                                                                                                <div class="col-md-8">
                                                                                                                    <input type="text" id="txtadr2" class="form-control" name="Address2" readonly="">
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div class="form-group row" style="margin-top:-10px;">
                                                                                                                <label class="col-md-4 label-control" for="userinput2"> City</label>
                                                                                                                <div class="col-md-8">
                                                                                                                    <input type="text" id="txtcity" class="form-control" name="Contact" readonly="">
                                                                                                                </div>
                                                                                                            </div>

                                                                                                            <div class="form-group row" style="margin-top:-10px;">
                                                                                                                <label class="col-md-4 label-control" for="userinput2"> State</label>
                                                                                                                <div class="col-md-8">
                                                                                                                    <input type="text" id="txtstate1" class="form-control" name="Contact" readonly="">
                                                                                                                </div>
                                                                                                            </div>



                                                                                                            <div class="form-group row" style="margin-top:-10px;">
                                                                                                                <label class="col-md-4 label-control" for="userinput2"> Pin</label>
                                                                                                                <div class="col-md-8">
                                                                                                                    <input class="form-control" type="email" id="txtpin1" readonly="" onkeypress="return isNumberInt(event, this)">
                                                                                                                </div>
                                                                                                            </div>


                                                                                                            <div class="form-group row" style="margin-top:-10px;">
                                                                                                                <label class="col-md-4 label-control" for="userinput2">Country</label>
                                                                                                                <div class="col-md-8">
                                                                                                                    <input class="form-control" type="email" id="txtcntry1" readonly="">
                                                                                                                </div>
                                                                                                            </div>








                                                                                                        </form>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="tab-pane" id="div2" aria-labelledby="tab2">
                                                                                            <div class="repeater-default">
                                                                                                <div data-repeater-list="car">
                                                                                                    <div data-repeater-item="">
                                                                                                        <form class="form" style="margin-left:20px">
                                                                                                            <div class="form-body">
                                                                                                                <div class="form-group row">

                                                                                                                </div>

                                                                                                                <div class="form-group row">
                                                                                                                    <label class="col-md-4 label-control" for="userinput1">Contact Person 1</label>
                                                                                                                    <div class="col-md-8">

                                                                                                                        <input type="text" class="form-control" id="txtcn1" autocomplete="off">

                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                <div class="form-group row" style="margin-top:0px">
                                                                                                                    <label class="col-md-4 label-control" for="userinput1">Contact#</label>
                                                                                                                    <div class="col-md-8">
                                                                                                                        <input type="tel" placeholder="" class="form-control" id="txtcno1" onkeypress="return isNumberInt(event, this)" autocomplete="off">
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                <div class="form-group row" style="margin-top:0px">
                                                                                                                    <label class="col-md-4 label-control" for="userinput1">Email </label>
                                                                                                                    <div class="col-md-8">                                                                                                                      
                                                                                                                        <input type="text" id="txtemail" class="form-control" autocomplete="off">

                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                <div class="form-group row" style="margin-top:0px">
                                                                                                                    <label class="col-md-4 label-control" for="userinput1">Person 2</label>
                                                                                                                    <div class="col-md-8">
                                                                                                                        <input type="text" placeholder="" class="form-control" id="txtcn2" autocomplete="off">
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                <div class="form-group row" style="margin-top:0px">
                                                                                                                    <label class="col-md-4 label-control" for="userinput1">Contact#</label>
                                                                                                                    <div class="col-md-8">
                                                                                                                        <input type="tel" class="form-control" id="txtcno2" onkeypress="return isNumberInt(event, this)" autocomplete="off">
                                                                                                                    </div>
                                                                                                                </div>



                                                                                                                <div class="form-group row" style="margin-top:0px">
                                                                                                                    <label class="col-md-4 label-control" for="userinput1">Person 3</label>
                                                                                                                    <div class="col-md-8">
                                                                                                                        <input type="text" placeholder="" class="form-control" id="txtcn3" autocomplete="off">
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                <div class="form-group row" style="margin-top:0px">
                                                                                                                    <label class="col-md-4 label-control" for="userinput1">Contact#</label>
                                                                                                                    <div class="col-md-8">
                                                                                                                        <input type="tel" placeholder="" class="form-control" id="txtcno3" onkeypress="return isNumberInt(event, this)" autocomplete="off">
                                                                                                                    </div>

                                                                                                                </div>


                                                                                                                <div class="form-group row" style="margin-top:0px">
                                                                                                                    <label class="col-md-4 label-control" for="userinput1">Notes</label>
                                                                                                                    <div class="col-md-8">
                                                                                                                        <textarea id="txtnotes" rows="10" class="form-control" autocomplete="off" name="notes" style="height:100px;"></textarea>
                                                                                                                    </div>

                                                                                                                </div>





                                                                                                            </div>
                                                                                                        </form>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>


                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td id="CELL3" valign="top">

                                                        <div class="col-12 col-md-9 col-lg-9">
                                                            <div class="card">
                                                                <div class="card-header text-center" style="margin-left:50px">

                                                                    <img id="myImg" src="../app-assets/img/portrait/small/avatar-s-12.png" alt="Gini" width="100" class="rounded-circle gradient-back-to-earth" onerror="this.onerror=null; this.src='../app-assets/img/portrait/small/avatar-s-12.png';">

                                                                </div>
                                                                <div class="" style="">
                                                                    <div class="" style="">
                                                                      
                                                                        <input type="file" id="selectedImage" class="btn btn-sm gradient-back-to-earth" style="width:100%;">



                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div><hr />
                                                    </td>
                                                </tr>
                                            </table>
                                            <div class="card-body" style="border-top:1px solid #e3e8e8;">
                                                <br />

                                                <div class="form-body" style="margin-top:-1%">
                                                    <div class="form-actions center" >
                                                        <div class="text-right">
                                                            <button type="button" style="width:100px" id="btnsubmit" class="btn btn-primary btn-min-width mr-1 mb-1"><u>S</u>ave <i class="fa fa-check-square-o"></i></button>
                                                            <button type="button" style="width:100px" id="btnlist" onclick="GetRows(0)" class="btn btn-primary btn-min-width mr-1 mb-1">List <i class="ft-align-justify"></i></button>
                                                            <button type="button" style="width:100px" id="btnnew" onclick="formrefresh()" class="btn btn-primary btn-min-width mr-1 mb-1">Clear <i class="ft-refresh-cw position-right"></i></button>
                                                            <button style="display:none" type="button" id="btndelete" class="btn btn-primary btn-min-width mr-1 mb-1">Delete <i class="fa fa-times"></i></button>
                                                        </div>                                                      
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div style="display:none;" id="listing">
    <section>
        <div class="row" >
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <table width="100%">
                            <tr>
                                <td><h4 class="card-title" style="font-weight:bold;">Customer List</h4></td>
                                <td align="right">
                                    <div class="heading-elements">
                                        <div>
                                            <button type="button" onclick="closelist()" class="btn btn-outline-primary" id="ed"><i class="ft-edit"></i> Add New</button>
                                            <span id="itemListButtonPlace">
                                            </span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>


                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard" style="overflow:auto">
                            <table id="tblcustomer" class="table table-striped table-bordered base-style dataTable"></table>
                            <br />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



    <div class="modal fade text-left show" id="addacnttype" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" style="padding-right: 17px; background:rgba(0,0,0,0.5); display: block;display:none;">
        <div class="modal-dialog" role="document" style="top:200px">
            <div class="modal-content">

                <div class="modal-body" ><br /> <br />
                   <center><h2 style="color:#ef1111">Please Add Account Type!</h2>    <br />    </center>              
                </div>               
            </div>
        </div>
    </div>



    <script type="text/javascript">

        $(document).ready(function () {
            $("#txtacnt").focus(function () {
                $("#txtacnt1").css("background-color", "#e6ffff");
            });
            $("#txtacnt").focusout(function () {
                $("#txtacnt1").css("background-color", "white");
            });


        });


        

        
        function addnew() {
            var no = $('#slno').val();
            $('#' + no).show("fast");
            $('#slno').val(+no + 1)
            if(no==3)
            {
                $('#aaaaa').hide();
            }
        }


        
        function isNumberInt(evt, selectedvalue) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            $(selectedvalue).val($(selectedvalue).val().replace(/[^0-9\.]/g, ''));
            if (charCode != 8 && charCode != 13 && (charCode < 48 || charCode > 57)) {
                evt.preventDefault();
                warningshow('Digits Only')
                return false;
            }
            return true;

        }
        function isNumber(evt, selectedvalue) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            $(selectedvalue).val($(selectedvalue).val().replace(/[^0-9\.]/g, ''));
            if (charCode != 8 && (charCode != 46 || $(selectedvalue).val().indexOf('.') != -1) && charCode != 13 && (charCode < 48 || charCode > 57)) {
                evt.preventDefault();
                warningshow('Digits Only')
                return false;
            }
            return true;

        }

        $('.form-control').attr('autocomplete', 'off');
    </script>


    <div style="display:none">
    <input type="text" value="0" id="CustId" />
    <input type="text" value="0" id="MapId" />
    </div>



