
@{
    ViewBag.Title = "CustomerSupplierLinking";
}

<script type="text/javascript" src="../Projectscript/Common.js"></script>
<script src="~/Scripts/Autocomplete/jquery-ui.js"></script>


<div class="myData" data-x="M329" />

<div id="Entry" style="margin-left:20%">
    <div class="row" >
        <div class="col-md-8" style="margin-top:10%" >
            <div class="card">
                <div class="card-header text-center" style="border-bottom:1px solid #e6e6e6">
                    <h4 class="card-title mb-0" style="font-weight:bold">Customer-Supplier Mapping</h4>
                </div>
                <div class="card-body">
                    <div class="px-3">
                        <div class="card-content collapse show">
                            <div class="card-body">
                                <div style="height:15px;"></div>
                                <form action="#">
                                    <div class="form-body">



                                        <div class="row">
                                            <div class="col-md-2">

                                            </div>
                                            <div class="col-md-2">
                                                <label>Customer<span class="danger">*</span></label>
                                            </div>
                                            <div class="col-md-6 ">
                                                <table>
                                                    <tr>
                                                        <td width="30%">
                                                            <input type="text" id="customercode" class="form-control ui-autocomplete-input editds" style="border-right:none;border-top-right-radius:0px;border-bottom-right-radius:0px;text-align:left;height:40px;">
                                                            <input type="hidden" id="customerid" class="form-control" />
                                                        </td>
                                                        <td width="70%">
                                                            <input id="customername" class="form-control editds" name="acnt1" style="border-top-left-radius:0px;border-bottom-left-radius:0px;border-left:none;background-color:white" disabled />
                                                        </td>
                                                    </tr>
                                                </table>





                                                @*<div class="form-group">
                                                    <input type="text"  id="customername" class="form-control" name="Code"/>
                                                    <input type="text" id="customerid" style="display:none" />
                                                </div>*@
                                            </div>
                                            <div class="col-md-2">

                                            </div>
                                        </div>
                                        
                                        <div class="row" style="margin-top:1%">
                                            <div class="col-md-2">

                                            </div>
                                            <div class="col-md-2 ">
                                                <label>Supplier<span class="danger">*</span></label>
                                            </div>
                                            <div class="col-md-6 ">

                                                <table>
                                                    <tr>
                                                        <td  width="30%">
                                                            <input type="text" id="suppliercode" class="form-control ui-autocomplete-input editds" style="border-right:none;border-top-right-radius:0px;border-bottom-right-radius:0px;text-align:left;height:40px;">
                                                            <input type="hidden" id="supplierid" class="form-control" />
                                                        </td>
                                                        <td  width="70%">
                                                            <input id="suppliername" class="form-control editds" name="acnt1" style="border-top-left-radius:0px;border-bottom-left-radius:0px;border-left:none;background-color:white" disabled />
                                                        </td>
                                                    </tr>
                                                </table>






                                                @*<div class="form-group">
                                                    <input type="text" id="suppliername" class="form-control" name="Name"/>
                                                    <input type="text" id="supplierid" style="display:none"/>
                                                </div>*@
                                            </div>
                                            <div class="col-md-2">

                                            </div>
                                        </div>

                                        <br />

                                    </div>
                                    <div class="form-actions">
                                        <div class="text-center">
                                            <button type="button" style="width:100px" id="btnsubmit" onclick="SaveAndUpdate(1)" class="btn btn-primary btn-min-width mr-1 mb-1"><u>S</u>ave <i class="fa fa-check-square-o"></i></button>
                                            <button type="button" style="width:100px" id="btnlist" onclick="GetRows(0,0)" class="btn btn-primary btn-min-width mr-1 mb-1">List <i class="ft-align-justify"></i></button>
                                            <button type="button" style="width:100px" id="btnnew" onclick="formrefresh()" class="btn btn-primary btn-min-width mr-1 mb-1">Clear <i class="ft-refresh-cw position-right"></i></button>

                                            <button style="display:none" type="button" id="btndelete"  class="btn btn-primary btn-min-width mr-1 mb-1">Delete <i class="fa fa-times"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="listing" style="display:none;">
    <section>
        <div class="row">
            <div class="col-9 " style="margin-left:15%">
                <div class="card">
                    <div class="card-header">
                        <table width="100%">
                            <tr>
                                <td><h4 class="card-title" style="font-weight:bold;">Customer-Supplier Mapping List</h4></td>
                                <td align="right">
                                    <div class="heading-elements">
                                        <div>
                                            <button type="button" onclick="closetable()" class="btn btn-outline-primary" id="ed"><i class="ft-edit"></i> Add New</button>
                                            <span id="itemListButtonPlace">
                                            </span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>


                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard" style="overflow:auto;">
                            <table id="tblFeatures_Building" class="table table-striped table-bordered base-style dataTable"></table>
                            <br />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>









<input id="linkcode" value="0" style="display:none"/>

<script>
    //Supplier AutoComplete

    $("#suppliercode").autocomplete({
        delay: 0,
        minLength: 0,
        source: function (request, response) {
            var data = {};
            data.CustName = $("#suppliercode").val();
            data.CustType = 'S';
          
            $.ajax({
                url: '../Master/CustomerOrSupplierSearch',
                type: "POST",
                data: data,
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    response($.map(data, function (item) {
                        return ({
                            ColCount: '3con',
                            label: item.CustAccount,
                            label1: item.CustName,
                            label2: item.PhoneNumber,
                            CustId: item.CustId,
                            CurncyId: item.CurrencyId,
                            CustTermsId: item.CustTermsId,
                            AreaId: item.AreaId,
                            CustName:item.CustName,
                            CustAccount:item.CustAccount,
                            headers: ["Account Code", "Supplier Name", "Phone Number"]
                        })
                    }));
                }

            })

        },
        autoFocus: true,
        select: function (event, ui) {
            $('#supplierid').val(ui.item.CustId)
            $("#suppliercode").val(ui.item.CustAccount)
            $('#suppliername').val(ui.item.CustName)
            $("#btnsubmit").focus();
          
        },

    });

    //Customer Autocomplete

    $("#customercode").autocomplete({
        delay: 0,
        minLength: 0,
        source: function (request, response) {
            var data = {};
            data.CustName = $("#customercode").val();
            data.CustType = 'C';
            
            $.ajax({
                url: '../Master/CustomerOrSupplierSearch',
                type: "POST",
                data: data,
                dataType: "json",
                success: function (data) {
                    response($.map(data, function (item) {
                        return ({
                            ColCount: '3con',
                            label: item.CustAccount,
                            label1: item.CustName,
                            label2: item.PhoneNumber,
                            CustName: item.CustName,
                            Address: item.CustStreet1 + ',' + item.CustCity1 + ',' + item.CustState1,
                            Street: item.CustStreet1,
                            City: item.CustCity1,
                            State: item.CustState1,
                            TRNNumber: item.TRNNumber,
                            CustId: item.CustId,
                            SalesmanId: item.SalesmanId,
                            CurncyId: item.CurrencyId,
                            CustTermsId: item.CustTermsId,
                            AreaId: item.AreaId,
                            PriceGroupId: item.PriceGroupId,
                            PhoneNumber: item.PhoneNumber,
                            CreditLimit: item.CreditLimit,
                            CustAccount: item.CustAccount,
                            headers: ["Account Code", "Customer Name", "Phone No"]
                        })
                    }));
                }
            })

        },
        autoFocus: true,
        select: function (event, ui) {
            $('#customerid').val(ui.item.CustId);
            $("#customercode").val(ui.item.CustAccount);
            $("#customername").val(ui.item.CustName);
            $('#suppliercode').focus();
        },

    });

    function SaveAndUpdate(Flag) {
        if (   $('#customerid').val() == 0) {
            warningshow('Please Select  Customer', 'customerid');
        }
        else if ( $('#supplierid').val() == 0) {
            warningshow('Please Select Supplier', 'supplierid');
        }
        else
        {
            var data = {};   //array
            data.CustId = $('#customerid').val();
            data.supplierid = $('#supplierid').val();
            data.DelFlag = Flag;
            data.LinkCode = $('#linkcode').val();
            console.log(data)
            //alert($('#linkcode').val())
            if ($('#linkcode').val() == 0) {
                $.ajax({
                    type: "POST",
                    url: "../Master/CustomerSupplierLinking",
                    data: data,
                    success: function (result) {
                        var status = result.oList[0].Status;
                        NewShowalerts(status);
                    }
                });

            }
            else {
                $.ajax({
                    type: "POST",
                    url: "../Master/CustomerSupplierLinkingUpdate",
                    data: data,
                    success: function (result) {
                        var status = result.oList[0].Status;
                        NewShowalerts(status);
                    }
                });
            }
        }
    }
    function GetRows(custid,supid) {
    
        var data = {};
        data.CustId = custid;
        data.supplierid = supid;
        $.ajax({
            type: "POST",
            url: "../Master/CustomerSupplierLinkingGetandGets",
            data: data,
            success: function (result) {
                if ((custid == 0) && (supid==0))
                    CustomerSupplierlist(result.oList);
                else
                    CustomerSupplierEdit(result.oList);
            }
        });
    }
 
  
    function CustomerSupplierEdit(result) {
        for (var i = 0; i < result.length; i++) {
            $("#suppliername").val(result[i].SupplierName);
            $("#customername").val(result[i].CustName);
            $('#customerid').val(result[i].IDCUST);
            $('#supplierid').val(result[i].IDSUPP);
            $('#linkcode').val(result[i].LinkCode);
            $("#suppliercode").val(result[i].SupplierCode);
            $("#customercode").val(result[i].Custcode);
            $('#customername').focus();
        }
        $('#Entry').show();
        $('#listing').hide();
        $('#btndelete').show();
    }


    function CustomerSupplierlist(result) {
        disable_datatable('tblFeatures_Building');
        $('#Entry').hide();
        $('#listing').show();
        var responseText = "<thead><tr><th width=15px>Sl#</th><th>Code</th><th>Description</th><th style='display:none'>Link Code</th><th width=15px>Edit</th></tr></thead><tbody>";
        for (var i = 0; i < result.length; i++) {
            var slno = parseInt(i + 1);
          
            responseText += '<tr><td align=center>' + slno + '</td><td>' + result[i].Custcode + " " + '-' + " " + result[i].SupplierCode + '</td><td>' + result[i].CustName + " " + '-' + " " + result[i].SupplierName + '</td><td style="display:none">' + result[i].LinkCode + '</td><td align=center><a onclick="GetRows(' + result[i].IDCUST + ',' + result[i].IDSUPP + ')">' + Editbutton + '</a></td></tr>';
        }
        $('#tblFeatures_Building').html(responseText + '</tbody><tfoot><tr><th>Sl#</th><th>Code</th><th>Description</th><th style="display:none">Link Code</th><th>Edit</th></tr></tfoot>');
        datatableWithsearchNEW('tblFeatures_Building');
    }

    function formrefresh() {
        $("#suppliername").val('');
        $("#customername").val('');
        $('#customerid').val('0');
        $('#supplierid').val('0');
        $('#linkcode').val('0');
        $('#btndelete').hide();
        $("#suppliercode").val('');
        $("#customercode").val('');
        Defaultfocus();
    }
    function closetable(value) {
        $('#Entry').show();
        Defaultfocus();
        $('#listing').hide();
        if (value == 1)
            formrefresh();
    }

  
    function Defaultfocus() {
        $('#customercode').focus();
    }

 

    $(document).ready(function () {
        Defaultfocus();
    });


    function NewShowalerts(Status) {
        if (Status == 1) {
            formrefresh();
            swal('Data Saved Successfully', "", "success");
            $('.swal-button swal-button--confirm').focus();
        }
        else if (Status == 2) {
            formrefresh();
            swal('Data Updated Successfully', "", "success");
            $('.swal-button swal-button--confirm').focus();

        }
        else if (Status == 3) {
            formrefresh();
            swal('Deleted', "", "error");
            $('.swal-button swal-button--confirm').focus();
        }
        else if (Status == 7) {
            swal('Already Linked', "", "error");
            $('.swal-button swal-button--confirm').focus();
        }
       

    }


    function datatableWithsearchNEW(tablename, download, title, tableButtonContainerId) {

        var a = '#' + tablename + ' tfoot th'
        $(a).each(function () {
            var title = $(this).text();
            if (title != 'Edit' && title != 'Select' && title != 'Sl#' && title != 'Credit Limit' && title != 'Due Days' && title != 'O Balance' && title != 'Serial#' && title != ' ' && title != ' ') {
                $(this).html('<input type="text" placeholder="Search ' + title + '" style="width=100%" />');
            }
            if (title == 'Code' || title == 'Description' || title == 'Link Code')
                $(this).html('<input type="text" placeholder="' + title + '" style="width:100%" />');
        });

        table = $('#' + tablename).DataTable({
            dom: 'Blfrtip',
            dom: "<'row'<'col-sm-1'l><'col-sm-11'f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-1'i><'col-sm-11'p>>",
            buttons: [],
        });

        new $.fn.dataTable.Buttons(table, {
            buttons: [
            {
                extend: 'collection',
                text: 'Export',
                buttons: [
                    {
                        extend: 'excelHtml5',
                        title: title,
                        messageTop: 'MEDOC HMS',
                        exportOptions: { columns: [0, 1, 2, 3] }
                    },
                    {
                        extend: 'pdfHtml5',
                        title: title,
                        messageTop: 'MEDOC HMS',
                        exportOptions: { columns: [0, 1, 2, 3] }
                    },
                    {
                        extend: 'print',
                        title: title,
                        messageTop: 'MEDOC HMS',
                        exportOptions: { columns: [0, 1, 2, 3] }
                    }
                ]
            },
            //'colvis'
            ]
        });
        table.buttons(0, null).container().appendTo($("#itemListButtonPlace"));
        $("#itemListButtonPlace").find(".buttons-collection").addClass("btn-outline-primary mx-1").css("border-radius", "4px");


        table.columns().every(function () {
            var that = this;
            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();

                }
            });
        });
    }













</script>








