
@{
    ViewBag.Title = "DoctorsMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/tables/jsgrid/jsgrid-theme.min.css">
<link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/tables/jsgrid/jsgrid.min.css">
<script type="text/javascript" src="../Projectscript/Doctormaster.js"></script>
<link rel="stylesheet" type="text/css" href="../app-assets/vendors/css/hopscotch.css">
<script type="text/javascript" src="../Projectscript/Common.js"></script>
@*<script type="text/javascript" src="~/ProjectScript/MedicalShift.js"></script>*@
<script src="~/Scripts/Autocomplete/jquery-ui.js"></script>
<style>
        .modal-xl {
    max-width: 1200px;
}
    #CELL1 {
        border-right: 1px solid #cccccc;
        border-left: 1px solid #ffffff;
        width: 40%;
    }

    #CELL2 {
        /*padding-left:50px;*/
        border-right: 1px solid #cccccc;
        width: 40%;
    }

    #CELL3 {
        /*padding-left:50px;*/
        border-right: 1px solid #ffffff;
    }

    .label-control {
        font-weight: bold;
    }
    /*.form-control{
        font-weight: bold;
    }*/
</style>

<script type="text/javascript" src="../Projectscript/Common.js"></script>

<div class="myData" data-x="M336" />
<br />
<div id="Entry">

    <div class="row" style="">
        <div class="col-md-12" style="margin-top:-2%;">
            <div class="card">
                <div class="card-header" style="border-bottom:1px solid #e6e6e6">
                    <table style="margin-top:0px;" width="100%">
                        <tr >
                            <td ><h1 class="card-title mb-0" style="font-weight:bold;font-size:x-large">Doctor</h1></td>
                            <td align="right" class="col-md-6">


                                <fieldset>
                                    <div class="custom-control custom-checkbox" style="float:right">
                                        <input type="checkbox" class="custom-control-input" id="select_prop" checked="">
                                        <label class="custom-control-label" for="select_prop">IsActive</label>
                                    </div>
                                </fieldset>

                            </td>
                        </tr>
                    </table>
                </div>
                
                <div class="card-body">
                    <div class="px-3">
                        <div class="card-content collapse show">
                            <div class="card-body">
                              
                                <div style="height:10px;"></div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card" style="margin-top:-10px">
                                            <table width="100%">
                                                <tr>
                                                    <td id="CELL1" valign="top" style="height:300px;">
                                                        <table width="95%">
                                                            <tr>
                                                                <td>
                                                                    <div class="card-content collapse show">
                                                                        <div class="card-body">
                                                                            <form class="form">
                                                                                <div class="form-body">
                                                                                    <div class="row">
                                                                                        <div class="col-md-12">
                                                                                            <div class="form-group row">
                                                                                                <a class="col-md-5 label-control" id="tab1" data-toggle="tab" aria-controls="div0" href="#div0" aria-expanded="true" style="font-weight:bold;font-size:larger;margin-top:10px"><u>Personal Info</u></a>

                                                                                            </div>
                                                                                            <div class="form-group row">
                                                                                                <label class="col-md-5 label-control" for="userinput1">Name<span class="danger">*</span></label>
                                                                                                <div class="col-md-7">
                                                                                                    <input type="text" id="txt_docname" class="form-control frsdwn" name="Address1" onkeyup="changetoupper(this.id)" autocomplete="off">
                                                                                                </div>
                                                                                            </div>

                                                                                            <div class="form-group row" style="margin-top:-8px;">
                                                                                                <label class="col-md-5 label-control" for="userinput2">Department<span class="danger">*</span></label>
                                                                                                <div class="col-md-7">
                                                                                                    <select id="txt_docdeptname" name="priority" class="form-control frsdwn" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-original-title="" title=""></select>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group row" style="margin-top:-10px;">
                                                                                                <label class="col-md-5 label-control" for="userinput1">Address 1<span class="danger">*</span></label>
                                                                                                <div class="col-md-7">
                                                                                                    <input type="text" id="txt_docadd1" class="form-control frsdwn" name="Address1" autocomplete="off">
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group row" style="margin-top:-10px;">
                                                                                                <label class="col-md-5 label-control" for="userinput1">Address 2</label>
                                                                                                <div class="col-md-7">
                                                                                                    <input type="text" id="txt_docadd2" class="form-control frsdwn" name="Address2" autocomplete="off">
                                                                                                </div>
                                                                                            </div>

                                                                                            <div class="form-group row" style="margin-top:-10px;">
                                                                                                <label class="col-md-5 label-control" for="userinput2">Mobile No.<span class="danger">*</span></label>
                                                                                                <div class="col-md-7">
                                                                                                    <input class="form-control frsdwn" id="txt_docmob" onkeyup="changetoupper(this.id)" onblur="check();" onkeypress="    return PisNumberInt(event, this)" autocomplete="off">
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group row" style="margin-top:-10px;">
                                                                                                <label class="col-md-5 label-control" for="userinput1">Fee Duration(Days)</label>
                                                                                                <div class="col-md-7">
                                                                                                    <input type="text" id="txt_docphn" class="form-control frsdwn" name="Address3" onkeyup="changetoupper(this.id)" onkeypress="return PisNumberInt(event, this)" autocomplete="off">
                                                                                                </div>
                                                                                            </div>

                                                                                            <div class="form-group row" style="margin-top:-10px;">
                                                                                                <label class="col-md-5 label-control" for="userinput1">No Of Visits<span class="danger"></span></label>
                                                                                                <div class="col-md-7">
                                                                                                    <input type="text" id="txt_doclang" class="form-control frsdwn" name="Address3"  onkeypress="return PisNumberInt(event, this)" autocomplete="off">
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group row" style="margin-top:-10px;">
                                                                                                <label class="col-md-5 label-control" for="userinput1">Email<span class="danger">*</span></label>
                                                                                                <div class="col-md-7">
                                                                                                    <input type="text" id="txt_docemail" type="email" class="form-control frsdwn" name="Address3" o onblur="return Validateemail()" autocomplete="off">
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group row" style="margin-top:-10px;">
                                                                                                <label class="col-md-5 label-control" for="userinput1">Gender<span class="danger">*</span></label>
                                                                                                <div class="col-md-7">
                                                                                                    <select id="txt_docgender" class="form-control frsdwn" name="Units">

                                                                                                        <option value="1">
                                                                                                            Male
                                                                                                        </option>
                                                                                                        <option value="2">
                                                                                                            Female
                                                                                                        <option value="3">
                                                                                                            Transgender
                                                                                                        </option>

                                                                                                    </select>
                                                                                                </div>
                                                                                            </div>

</form>
                                                                        </div>
                                                                    </div>

                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td id="CELL2" valign="top" style="height:300px;">
                                                        <table width="100%">
                                                            <tr>
                                                                <td>
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="card-content collapse show">
                                                                                <div class="card-body">
                                                                                    <ul class="nav nav-tabs nav-topline">
                                                                                        <li class="nav-item">
                                                                                            <a class="nav-link active" id="tab1" data-toggle="tab" aria-controls="div1" href="#div1" aria-expanded="true" style="font-weight:bold">&nbsp;Professional Info</a>
                                                                                        </li>
                                                                                        <li class="nav-item">
                                                                                            <a class="nav-link" id="tab2" data-toggle="tab" aria-controls="div2" href="#div2" aria-expanded="false" style="font-weight:bold">Qualifications</a>
                                                                                        </li>

                                                                                    </ul>
                                                                                    <div class="tab-content px-1 pt-1  border-lighten-2 border-0-top">
                                                                                        <div role="tabpanel" class="tab-pane active" id="div1" aria-expanded="true" aria-labelledby="tab1">
                                                                                            <div class="repeater-default">
                                                                                                <div data-repeater-list="car">
                                                                                                    <div data-repeater-item="">
                                                                                                        <form class="form" style="margin-left:20px">

                                                                                                            <div class="form-group row" style="margin-top:20px;">
                                                                                                                <label class="col-md-4 label-control" for="userinput2">Consultation fee</label>
                                                                                                                <div class="col-md-8">
                                                                                                                    <input type="text" id="txt_docfee" class="form-control frsup" name="Address3" onkeyup="changetoupper(this.id)" onkeypress="    return PisNumber(event, this)" autocomplete="off">
                                                                                                                </div>
                                                                                                            </div>

                                                                                                            <div class="form-group row" style="margin-top:-10px;">
                                                                                                                <label class="col-md-4 label-control" for="userinput2">Register No</label>
                                                                                                                <div class="col-md-8">
                                                                                                                    <input class="form-control frsdwn" id="txt_docexp" autocomplete="off">
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div class="form-group row" style="margin-top:-10px;">
                                                                                                                <label class="col-md-4 label-control" for="userinput2">Specialization<span class="danger">*</span></label>
                                                                                                                <div class="col-md-8">
                                                                                                                    <input class="form-control frsdwn" id="txt_docspl" autocomplete="off">
                                                                                                                </div>
                                                                                                            </div>

                                                                                                            <div class="form-group row" style="margin-top:-5px;">
                                                                                                                <label class="col-md-4 label-control" for="userinput2"> Designation</label>
                                                                                                                <div class="col-md-8">
                                                                                                                    <input type="text" id="txt_docdesignation" class="form-control frsdwn" name="Address1" autocomplete="off">
                                                                                                                </div>
                                                                                                            </div>

                                                                                                            <div class="form-group row" style="margin-top:-5px;">
                                                                                                                <label class="col-md-4 label-control" for="userinput2">Token Series</label>
                                                                                                                <div class="col-md-8">
                                                                                                                    <input type="text" id="txt_doctraining" class="form-control frsdwn" name="Address1" autocomplete="off">
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div class="form-group row" style="margin-top:-5px;">
                                                                                                                <label class="col-md-4 label-control" for="userinput1">Acheivements</label>
                                                                                                                <div class="col-md-8">
                                                                                                                    <textarea id="txtacheive" rows="10" class="form-control " autocomplete="off" name="notes" style="height:60px;"></textarea>
                                                                                                                </div>

                                                                                                            </div>
                                                                                                            <div class="form-group row" style="margin-top:-5px;">
                                                                                                                <label class="col-md-4 label-control" for="userinput2">User</label>
                                                                                                                <div class="col-md-8">
                                                                                                                    <input type="text" id="User" class="form-control frsdwn" name="Address1" autocomplete="off">
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div class="form-group row" style="margin-top:-5px;">
                                                                                                                <label class="col-md-4 label-control" for="userinput2"> Certification</label>
                                                                                                                <div class="col-md-8">
                                                                                                                    <input type="text" id="txt_docawards" class="form-control frsdwn" name="Address1" autocomplete="off">
                                                                                                                </div>

                                                                                                        </form>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="tab-pane" id="div2" aria-labelledby="tab2">
                                                                                        <div class="repeater-default">
                                                                                            <div data-repeater-list="car">
                                                                                                <div data-repeater-item="">
                                                                                                    <form class="form" style="margin-left:20px">
                                                                                                        <div class="form-body">
                                                                                                            <div class="form-group row">

                                                                                                            </div>

                                                                                                            <div class="form-group row">
                                                                                                                <label class="col-md-4 label-control" for="userinput1">Qualification<span class="danger">*</span></label>
                                                                                                                <div class="col-md-8">

                                                                                                                    <input type="text" class="form-control frsup" id="txtcn1" autocomplete="off">

                                                                                                                </div>
                                                                                                                <div id="Itemsdiv" class="col-md-12">
                                                                                                                </div>
                                                                                                            </div>
                                                                                                             
                                                                                                          
                                                                                                            <button type="button" data-repeater-create="" id="btnaddnew" class="btn btn-outline-primary" onclick="additems()">
                                                                                                                <i class="icon-plus4"></i>ADD
                                                                                                            </button>
                                                                                                            <input type="text" style="display:none" id="slno" value="0" />
                                                                                                           




                                                                                                        </div>
                                                                                                    </form>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>


                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                             </td>
                                                           </tr>
                                                       </table>
                                                     </td>
                                        <td id="CELL3" valign="top">

                                            <div class="col-md-12">
                                                <div class="card" width:100%>
                                                    <div class="card-header text-center" style="padding-top:.5rem">
                                                        <img id="myImg" src="~/app-assets/img/NoImage.png" alt="Gini" style="width:100%;min-height:250px;max-height:250px" class="img-thumbnail" onerror="this.onerror = null;this.src = '../app-assets/img/elements/04.png';">
                                                        <input type="file" style="width:100%" id="selectedImage" accept="image/*" onchange="validate(this.value)" class="btn btn-lg btn-outline-info font-small-2 white p-2" autocomplete="off">

                                                    </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <hr />
                                        </td>
                                        </tr>
                                        </table>
                                        <div class="card-body" style="border-top:1px solid #e3e8e8;height: 45px">
                                            <br />

                                            <div class="form-group row"  style="margin-top:-1%">
                                                
                                                    <div class="text-left  col-md-4">
                                                        <button type="button" style="width:100px;height:35px" id="btnshift" onclick="pop(),formrefreshshift()" class="btn btn-outline-info mb-0 mr-1 btn-sm"><u>S</u>hift<i class="ft-settings"></i></button>
                                                        </div>
                                                  
                                                        <div class="text-right col-md-8" style=" margin-top:0.5%">

                                                            <button type="button" style="width:100px" id="btnsubmitdoc" class="btn btn-primary btn-min-width mr-1 mb-1"><u>S</u>ave <i class="fa fa-check-square-o"></i></button>
                                                            <button type="button" style="width:100px" id="btnlist" onclick="GetRowss(0)" class="btn btn-primary btn-min-width mr-1 mb-1">List <i class="ft-align-justify"></i></button>
                                                            <button type="button" style="width:100px" id="btnnewdoc" onclick="formrefreshdoc(1)" class="btn btn-primary btn-min-width mr-1 mb-1">Clear <i class="ft-refresh-cw position-right"></i></button>
                                                            <button style="display:none;width:110px" type="button" id="btndelete" class="btn btn-primary btn-min-width mr-1 mb-1">Delete <i class="fa fa-times"></i></button>
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div style="display:none;" id="listing">
    <section>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <table width="100">
                            <tr>
                                <td><h4 class="card-title" style="font-weight:bold;width:max-content">Doctors List</h4></td>
                                <td align="right">
                                    <div class="heading-elements" style="  width: max-content;">
                                        <div>
                                            <button type="button" onclick="closelist()" class="btn btn-outline-primary" id="ed" style="margin-left:20px"><i class="ft-edit"></i> Add New</button>
                                            <span id="itemListButtonPlace">
                                            </span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>


                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard" style="overflow:auto">
                            <table id="tblcustomer" class="table table-striped table-bordered base-style dataTable"></table>
                            <br />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>




<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="MedicalShift" role="dialog" >
        <div class="modal-dialog modal-xl">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row col-md-12 p-0">
                        <div class="col-md-6">
                         
                        </div>
                       
                       
                    </div>


                </div>
                <div class="modal-body">

                    <div id="Entry" style="margin-top:-20px; width:100%">

                        <section class="grid-row-label">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card" >
                                        <div class="card-header" style="border-bottom:1px solid #e6e6e6;background-color:#009DA0;height:70px; width:100%">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <h2 class="card-title mb-0" style="font-weight:normal;font-size:190%;color:white;">Doctors Shift Settings</h2>
                                                </div>
                                                <div class="col-md-8">
                                                    <button type="button" class="close pull-right" style="color:white" onclick="Back()">&times;</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-content collapse show">
                                            <div class="card-body" style="margin-top:-20px">

                                                <form action="#">
                                                    <div class="form-body">
                                                        <hr style="margin-top:20px" />

                                                        <div class="col-md-8">
                                                            <div class="row">
                                                                <label class="col-md-2" style="margin-top:5px;font-weight:bold;">Doctor<span class="danger">*</span></label>
                                                                <div class="col-md-2">
                                                                    <input id="select_doc" name="priority" class="form-control" style="height:80%;width:140%;margin-left:-40%;">
                                                                </div>

                                                                <div class="row">

                                                                    <div class="col-md-12">


                                                                        <div class="row" style="margin-top:-10px">

                                                                            <div class="col-lg-11">
                                                                                <div class="row">

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>

                                                            </div>
                                                        </div>


                                                    </div>

                                                    <hr style="margin-top:5px" />

                                                    <div class="px-0">
                                                        <div class="row" style="margin-top:-1%;margin-left:3px">

                                                            <div class="col-md-12">
                                                                <div class="row" style="height:26px;">

                                                                    <div class="col-md-2">
                                                                        <div class="form-group">
                                                                            <label>Day<span class="danger">*</span></label>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-md-2">
                                                                        <div class="form-group">
                                                                            <label>Start Time<span class="danger">*</span></label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <div class="form-group">
                                                                            <label>End Time<span class="danger">*</span></label>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-md-1">
                                                                        <div class="form-group">
                                                                            <label style="margin-left:0%">Shift</label>
                                                                        </div>
                                                                    </div>


                                                                </div>

                                                                <div class="row">
                                                                    <div class="col-md-2">

                                                                        <select id="select_days0" class="form-control" name="Units">

                                                                            <option value="1">
                                                                                Monday
                                                                            </option>
                                                                            <option value="2">
                                                                                Tuesday
                                                                            <option value="3">
                                                                                Wednesday
                                                                            <option value="4">
                                                                                Thursday
                                                                            <option value="5">
                                                                                Friday
                                                                            <option value="6">
                                                                                Saturday
                                                                            </option>
                                                                            <option value="7">
                                                                                Sunday
                                                                            </option>

                                                                        </select>
                                                                    </div>


                                                                    <div class="col-md-2">
                                                                        <input type="Time" id="Time0" class="form-control" name="time">
                                                                    </div>


                                                                    <div class="col-md-2">

                                                                        <div class="form-group">
                                                                            <input type="Time" id="EndTime0" class="form-control" name="time">
                                                                        </div>

                                                                    </div>



                                                                    <div class="col-md-2">


                                                                        <select id="select_shift0" style="height:70%;width:90%;margin-left:0%" class="form-control" name="shift"></select>

                                                                    </div>
                                                                    <div class="col-md-1">

                                                                        <button type="button" id="btnadd" onclick="doctoradd()" class="btn btn-outline-primary" style="height:35px;margin-left:-60%">+Add</button>

                                                                    </div>

                                                                </div>

                                                            </div>
                                                        </div>

                                                    </div>
                                                </form>
                                            </div>
                                            <div class="px-2">
                                                <div id="customView" class="jsgrid" style="position: relative; height: auto; width: 100%; border:solid 1px;border-color:#e9e9e9;margin-top:-.5%;overflow-x: auto;overflow-y: hidden;height: 310px;">
                                                    <div class="jsgrid-grid-header jsgrid-header-scrollbar" style="width: 100%;">
                                                        <table class="jsgrid-table" id="tblsalesinvoiceheader">
                                                            <tr class="jsgrid-header-row">
                                                                <th class="jsgrid-header-cell jsgrid-control-field jsgrid-align-center" id="editcancelheader" style="width: 2%;display:none;"></th>
                                                                <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width: 2%;"><input type="checkbox" style="zoom:1.5;align-self:center" id="select_status" onclick="Check()" checked="" /></th>
                                                                <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width: 3%;">SL#</th>
                                                                <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width: 10%;">Days</th>
                                                                <th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" style="width: 4%;">Shift</th>
                                                                <th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" style="width: 4%;">Shift Time</th>
                                                                <th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable" style="width: 4%;">End Time</th>


                                                            </tr>


                                                        </table>
                                                    </div>
                                                    <div id="proddiv" class="" style="position: relative;overflow-x: auto;overflow-y: scroll; height:260px; width: 100%;border-bottom:1px solid;border-bottom-color:#e9e9e9">
                                                        <table class="jsgrid-table" id="tblsalesinvoice"></table>
                                                    </div>
                                                </div>
                                                <br />

                                                <table style="width:100%">
                                                    <tr>
                                                        <td id="Cell1">
                                                            <div class="row" style="margin-top:-10px;">

                                                                <div class="form-group row col-md-12 text-md-center">

                                                                    <div class="col-md-9">

                                                                    </div>

                                                                </div>
                                                            </div>

                                                        </td>
                                                        <td valign="top" id="Cell2">
                                                            <div class="text-right">
                                                                <button type="button" style="width:100px" id="btnbck" onclick="Back()" class="btn btn-primary btn-min-width mr-1 mb-1">Back <i class="fa fa-check-square-o"></i></button>
                                                                <button type="button" style="width:100px" id="btnsubmit" class="btn btn-primary btn-min-width mr-1 mb-1">Save <i class="fa fa-check-square-o"></i></button>
                                                                <button type="button" style="width:100px" id="btnnew" onclick="formrefreshconfirm()" class="btn btn-primary btn-min-width mr-1 mb-1">New <i class="ft-refresh-cw position-right"></i></button>
                                                                <button type="button" style="width:100px;display:none" id="btndeleteshift"  class="btn btn-primary btn-min-width mr-1 mb-1">Delete <i class="fa fa-times"></i></button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>

                                            </div>
                                            </form>



                                        </div>
                                    </div>
                                </div>
                            </div>


                        </section>
                    </div>
                </div>
               
            </div>

        </div>
    </div>
</div>
<script>

    $(document).keydown(function (e) {
        var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
        if (key == 27) {
            e.preventDefault();
            Back();
        }

    });
    var SubId = 1;
    var ShiftSelect = '';
    var DaysSelect =
                      '<option value=1>Monday</option>' +
                      '<option value=2>Tuesday</option>' +
                      '<option value=3>Wednesday</option>' +
                      '<option value=4>Thursday</option>' +
                      '<option value=5>Friday</option>' +
                      '<option value=6>Saturday</option>' +
                      '<option value=7>Sunday</option>'

    function pop() {
        $("#MedicalShift").modal("show");
        $("#MedicalShift").appendTo("body");
    }
    function MedShiftGets(result) {
        $('#tblsalesinvoice tr').remove();
        console.log(result)
        if ($('#tblsalesinvoice tr').length == 0) {
            Count = 1;
        }
        $('#Warningpopup').fadeOut();
        for (var n = 0; n < result.length; n++) {
            var id = parseInt(Count);
            var slno = parseInt(n) + 1;
            var ProdRow1 = "<tr id=" + 'row' + id + " class=jsgrid-row>" +

                "<td id= 'col14_" + id + "'  class='jsgrid-cell jsgrid-control-field jsgrid-align-center' style='display:none;width:2%'><input class='jsgrid-button jsgrid-update-button' id='Update' type='button' onclick='updaterow(" + id + ")' title='Update'><input class='jsgrid-button jsgrid-cancel-edit-button' type='button' id='canceledit' onclick='editcancel(" + id + ")' title='Cancel edit'></td>" +
                 "<td  class='jsgrid-cell' style='width:2%;text-align:center;zoom:1.5' ><input type=checkbox id ='checkstatus" + id + "' checked ></td>" +
                "<td id=" + 'td' + id + " class='jsgrid-cell' style='width:3%;text-align:center'>" + slno + "</td>" +
                "<td class='jsgrid-cell jsgrid-align-right' style='width:10%;text-align:center' ><input type='text' id=" + 'AvailableId' + id + " style='display:none' value='" + result[n].AvailableId + "' /><select style='height:45px;background-color:009DA0' class='form-control text-left'  id=select_days" + id + " >" + DaysSelect + "</select></td>" +
                "<td class='jsgrid-cell jsgrid-align-right' style='width:4%;text-align:center' ><select style='height:45px;background-color:009DA0' class='form-control text-left' id=" + 'select_shift' + id + " >" + ShiftSelect + "</select></td>" +
                  "<td  onfocusout=Testing(" + id + ") class='jsgrid-cell jsgrid-align-right' style='width:4%;text-align:center' ><input type='Time' style='height:45px;background-color:white' class='form-control text-left' id=" + 'Time' + id + " value='" + result[n].StartTime + "'></td>" +
                 "<td  onfocusout=Testing(" + id + ") class='jsgrid-cell jsgrid-align-right' style='width:4%;text-align:center;margin-bottom:10px' ><input type='Time' style='height:45px;background-color:white' class='form-control text-left' id=" + 'EndTime' + id + " value='" + result[n].EndTime + "'></td>" +
                "</tr>";

            $('#tblsalesinvoice').append(ProdRow1);
            $('#checkstatus' + id).prop('checked');
            $('#select_shift' + id).val(result[n].Shift);
            $('#select_days' + id).val(result[n].Days);
            Count++;
        }
        $('#proddiv').animate({ scrollTop: 5000 }, 900);
        $('#btndeleteshift').show();
    }

    function DeleteConfirm() {

        $("#tblsalesinvoice").remove();

    }

    function formrefreshconfirm() {

        var rowcount = CountRows();
        if (rowcount > 0) {
            $('#confirmshift').show();
            $('#confirmOkshift').focus();
            $('#Confirmflagshift').val('refresh'); $('#ConfirmRowIdshift').val(0);
            $('#confirmmessageshift').text('Data will be lost.Do you want to Continue?');
        }
        else {
            formrefreshshift();
        }
    }

    function additems() {
        if (SubId < 5) {
            $('#Itemsdiv').append("</br><div class='form_group row'><div class='col-md-4'><label class='label-control'>Qualification "+ SubId +"</label></div><div class='col-md-8' ><input type='hidden' class='form-control' id='Subdoc_" + SubId + "_Id' value='0' /><input type='text' class='form-control' style='' id='Subdoc_" + SubId + "'  /></div></div>")
            SubId++;
        }
        else
            $('#btnaddnew').hide();
    }
    function formrefreshshift() {

        Count = 0;
        // Testing(0)
        $('#select_doc').val('');
        $('#select_days0').val('1');
        $('#Time0').val('');
        $('#EndTime0').val('');
        $('#select_shift0').val('1');
        $('#select_status').prop('checked', false);
        $('#AvailableId').val(0);
        $('#btndeleteshift').hide();
        $('#Warningpopup').fadeOut();
        $('#tblsalesinvoice tr').remove();
        $('.swal-button swal-button--confirm').focus();
        $('#select_doc').focus();

        if (parseInt($('#DoctorsId').val() || 0) != 0) {
            $("#doctorId").val($('#DoctorsId').val());
            $("#select_doc").val($('#txt_docname').val());
            GetRows($('#DoctorsId').val());
        }
    }
 
    function ConfirmboxResultshift(Result, statushift, rowid) {
        if (Result == 'true' && statushift == 'delete') {           
            rowdeleteconfirm(0);            
        }
        else if (Result == 'true' && statushift == 'refresh') {
            formrefreshshift();
        }
        else if (Result == 'true' && statushift == 'copy') {
            SalesCopy();
        }
        $('#confirmshift').fadeOut();

    }

    function rowdeleteconfirm(flg) {
        console.log(0);       
        SaveUpdate(0);
        $('#tblsalesinvoice tr').remove();
        //var slno = 1;
        //var rowslno = parseInt(slno);
        //if ($('#tblsalesinvoice tr').length == 0) {
        //    Flag = 0;
        //}    
        //$('#row' + RowId).remove();
        //for (var j = 1; j <= Count - 1; j++) {
        //    if (parseFloat($('#tblsalesinvoice tr' + j).val()) != 0) {
        //            Flag = 1;
        //        }
        //        else {
                //    Flag = 0;
                //}
           // }
        
    }

    function timediffblur(slno, e) {
        var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
        if (diffkey != 1) {
            if ($('#outtime' + slno).val() != '') {
                $("#txttype" + slno).attr("disabled", false);


                if ($('#intime' + slno).val() == '' && $('#outtime' + slno).val() != '') {
                    warningshow('Please Enter In Time', '#intime' + slno);
                }
                else {

                    var startTime = $('#intime' + slno).val();
                    var endTime = $('#outtime' + slno).val();

                    if (startTime != '' && endTime != '') {
                        var startTimeArray = startTime.split(":");
                        var startInputHrs = parseInt(startTimeArray[0]);
                        var startInputMins = parseInt(startTimeArray[1]);

                        var endTimeArray = endTime.split(":");
                        var endInputHrs = parseInt(endTimeArray[0]);
                        var endInputMins = parseInt(endTimeArray[1]);

                        var startMin = startInputHrs * 60 + startInputMins;
                        var endMin = endInputHrs * 60 + endInputMins;

                        var result;

                        if (endMin < startMin) {
                            var minutesPerDay = 24 * 60;
                            result = minutesPerDay - startMin;  // Minutes till midnight
                            result += endMin; // Minutes in the next day
                        } else {
                            result = endMin - startMin;
                        }
                        var minutesElapsed = result % 60;
                        var hoursElapsed = (result - minutesElapsed) / 60;
                        var r
                        if (minutesElapsed > 0 && minutesElapsed < 10) {

                            var ext = '0' + minutesElapsed

                            r = hoursElapsed + ':' + ext


                        }
                        else if (minutesElapsed > 10) {
                            r = hoursElapsed + ':' + minutesElapsed


                        }
                        else {
                            r = hoursElapsed
                        }
                        $('#WorkingHrs' + slno).text(r)
                    }

                }
            }
            else if (key == 8) {
                $('#WorkingHrs' + slno).text(0);
                $("#txttype" + slno).attr("disabled", false);
            }

        }

    }

    function warningshow(message, Id) {
        $('#popupmessage').text(message);
        $('#Warningpopup').show();
        $('#' + Id).focus();
        window.setTimeout(function () {
            $('#Warningpopup').hide();
        }, 3000);
    }
 

    function ShiftLoad() {
        var data = {};                                       //dropdownbind
        data.Flag = 0;
        data.DeptId = ERPDeptId;
        $.ajax({
            type: "POST",
            url: "../Revisit/HMS_ShiftGetandGets",
            data: data,
            success: function (result) {
                ShiftSelect = '';
                if (result.oList.length > 0) {
                    $("#select_shift0").empty()
                    for (var i = 0; i < result.oList.length; i++) {
                        ShiftSelect = ShiftSelect + "<option value='" + result.oList[i].Flag + "'>" + result.oList[i].Shift + "</option>"
                    }
                    $("#select_shift0").append(ShiftSelect);

                }
            }
        });
    }
  
    function Defaultfocus() {
        $('#select_doc').focus();
        $('#select_status').prop('checked', false);
    }
    function Testing(id) {

        if (($("#checkstatus" + id).prop('checked')) == true) {

            if ($("#Time" + id).val() == 0) {
                warningshow('Please Enter Start Time', 'Time' + id);
                $('#Time' + id).select();
                $("#checkstatus" + id).prop('checked') == $("#checkstatus" + id).prop('unchecked')
                return false;
            }
            else if ($("#EndTime" + id).val() == 0) {
                warningshow('Please Enter End Time', 'EndTime' + id);
                $("#checkstatus" + id).prop('checked') == $("#checkstatus" + id).prop('unchecked')
                $('#EndTime' + id).select();

                return false;
            }

        }
        else if (($("#checkstatus" + id).prop('checked', false)) == true) {
            SaveUpdate(1);
        }

    }
    var Count = 0;
    function doctoradd() {
        if (($("#select_doc").val()) == '') {
            warningshow('Please Select The doctor', 'select_doc');
        }

        else if (($("#select_days0").val()) == '0') {
            warningshow('Please Select The Days', 'select_days0');
        }
        else if ($("#Time0").val() == 0) {
            warningshow('Please Enter Start Time', 'Time0');
            $('#Time0').select();
        }
        else if ($("#EndTime0").val() == 0) {
            warningshow('Please Enter End Time', 'EndTime0');
            $('#EndTime0').select();
        }

        else {
            if ($('#tblsalesinvoice tr').length == 0) {
                Count = 0;
            }

            Count++;
            var id = parseInt(Count);
            var slno = $('#tblsalesinvoice tr').length + 1;


            $('#Warningpopup').fadeOut();

            var ProdRow1 = "<tr id=" + 'row' + id + " class=jsgrid-row>" +
                "<td id= 'col14_" + id + "'  class='jsgrid-cell jsgrid-control-field jsgrid-align-center' style='display:none;width:2%'><input class='jsgrid-button jsgrid-update-button' id='Update' type='button' onclick='updaterow(" + id + ")' title='Update'><input class='jsgrid-button jsgrid-cancel-edit-button' type='button' id='canceledit' onclick='editcancel(" + id + ")' title='Cancel edit'></td>" +
                 "<td  class='jsgrid-cell' style='width:2% ;text-align:center;zoom:1.5' ><input type=checkbox id ='checkstatus" + id + "' checked ></td>" +
                "<td id=" + 'td' + id + " class='jsgrid-cell' style='width:3%;text-align:center'>" + slno + "</td>" +
                "<td class='jsgrid-cell jsgrid-align-right' style='width:10%;text-align:center' ><input type='text' id=" + 'AvailableId' + id + " style='display:none' value='" + $("#AvailableId0").val() + "' /><select style='height:45px;background-color:009DA0' class='form-control text-left'  id=select_days" + id + "  value='" + $("#select_days0").val() + "'>" + DaysSelect + "</select></td>" +
                "<td class='jsgrid-cell jsgrid-align-right' style='width:4%;text-align:center' ><select style='height:45px;background-color:009DA0' class='form-control text-left' id=" + 'select_shift' + id + " value='" + $("#select_shift0").val() + "'>" + ShiftSelect + "</select></td>" +
                  "<td  onfocusout=Testing(" + id + ") class='jsgrid-cell jsgrid-align-right' style='width:4%;text-align:center' ><input type='Time' style='height:45px;background-color:white' class='form-control text-left' id=" + 'Time' + id + " value='" + $("#Time0").val() + "'></td>" +
                 "<td  onfocusout=Testing(" + id + ") class='jsgrid-cell jsgrid-align-right' style='width:4%;text-align:center;margin-bottom:10px' ><input type='Time' style='height:45px;background-color:white' class='form-control text-left' id=" + 'EndTime' + id + " value='" + $("#EndTime0").val() + "'></td>" +
                "</tr>";
            $('#tblsalesinvoice').append(ProdRow1);
            $('#select_shift' + id).val($('#select_shift0').val());
            $('#select_days' + id).val($('#select_days0').val());

            $('#proddiv').animate({ scrollTop: 5000 }, 900);
        }

    }
    function ShowDoct(result) {

        $("#select_doc").empty();
        $("#select_doc").append("<option value='0'>--Select--</option>");
        for (var i = 0; i < result.length; i++) {
            $("#select_doc").append("<option value='" + result[i].DoctorsId + "'  >" + result[i].Name + "</option>");
        }
    }
    function Check() {

        var st = $('#select_status').prop('checked');
        $('input[type=checkbox]').prop('checked', st);
    }
    function CountRows() {
        var totalRowCount = 0;
        var rowCount = 0;
        var table = document.getElementById("tblsalesinvoice");
        var rows = table.getElementsByTagName("tr")
        for (var i = 0; i < rows.length; i++) {
            totalRowCount++;
            if (rows[i].getElementsByTagName("td").length > 0) {
                rowCount++;
            }
        }
        var message = "Total Row Count: " + totalRowCount;
        message += "\nRow Count: " + rowCount;
        return rowCount;
    }
    function GetRows(DoctorsId) {

        $('#AvailableId').val(DoctorsId)
        var data = {};
        data.AvailableId = DoctorsId;
        $.ajax({
            type: "POST",
            url: "../Master/MedShiftGetandGets",
            data: data,
            success: function (result) {
                MedShiftGets(result.oList);
            }
        });

    }
    $("#select_doc").autocomplete({
        delay: 0,
        minLength: 0,
        source: function (request, response) {
            $("#doctorId").val('');
            var data = {};
            data.Name = $("#select_doc").val();
            data.DoctorsId = $("#DocId").val();
            data.Department = $("#Department").val();
            data.DeptId = ERPDeptId;

            $.ajax({
                url: '../Master/HMS_DoctorsSearch',
                type: "POST",
                data: data,
                dataType: "json",
                success: function (data) {
                    response($.map(data, function (item) {
                        return ({
                            ColCount: '2',
                            label: item.Name,
                            label1: item.Department,
                            Department: item.Department,
                            DoctorsId: item.DoctorsId,
                            Name: item.Name,


                            headers: ["Name", "Department"]
                        })
                    }));
                }



            })
        },
        autoFocus: true,

        select: function (event, ui) {

            GetRows(ui.item.DoctorsId);
            $("#doctorId").val(ui.item.DoctorsId);
            $("#select_doc").focus();
        },

    });

    function GetCurrentMenu(MenuCode) {
        var array = MenuCode.split(',');
        console.log(array)
        for (var i = 1; i <= MenuLength; i++) {
            console.log(array.indexOf($('#Menucodeid' + i).val()));
            if (array.indexOf($('#Menucodeid' + i).val()) != -1) {
                $('#checklabel' + i).prop('checked', true);
            }
        }
        $('#CopyDiv').hide();
    }

    $("#User").autocomplete({
        delay: 0,
        minLength: 0,
        source: function (request, response) {
            var data1 = {};
            data1.UserName = $("#User").val();

            $.ajax({
                url: '../Master/UserSearchInUserMenuSettings',
                type: "POST",
                data: data1,
                dataType: "json",
                success: function (data) {

                    response($.map(data, function (item) {

                        return ({
                            ColCount: '1',
                            label: item.UserName,
                            UserId: item.UserId,
                            UserName: item.UserName,
                           
                            headers: ["User"]
                        })
                    }));
                }

            })

        },
        autoFocus: true,
        select: function (event, ui) {
         
            $('#UserId').val(ui.item.UserId);
 

        },
    });
    $(document).ready(function () {

        Defaultfocus();
        $('.form-control').attr('autocomplete', 'off');
        $("#btnsubmit").click(function (e) {
            SaveUpdate(1);
        });

        var data = {};
        data.Id = 0;
        $.ajax({

            type: "POST",
            url: "../Master/DoctorGetandGets",
            data: data,
            success: function (result) {
                ShowDoct(result.oList);
            }

        });
        var data = {};
        data.Id = 0;
        $.ajax({

            type: "POST",
            url: "../Revisit/HMS_ShiftGetandGets",
            data: data,
            success: function (result) {
                ShiftLoad(result.oList);
            }

        });


    });//Document Close

    function Back() {
        $("#MedicalShift").modal("hide");
        $("body>#EditModal").remove();
    }

    function Tbldelete() {
        $('#tblsalesinvoice tr').remove();
        i = 1;
        //$('#txtproduct0').focus();
    }
    function Showalertsdoc(Statusdoc) {
        if (Statusdoc == 1) {
            formrefreshdoc(0);
            swal(' Data Saved Successfully', "", "success");
            $('.swal-button swal-button--confirm').focus();
        }
        else if (Statusdoc == 2) {
            formrefreshdoc(0);
            swal('Data Updated Successfully', "", "success");
            $('.swal-button swal-button--confirm').focus();

        }
        else if (Statusdoc == 3) {
            formrefreshdoc(0);
            swal('Data Deleted', "", "error");
            $('.swal-button swal-button--confirm').focus();
        }
        else {
            swal('Data Already Exists', "", "warning");
            $('.swal-button swal-button--confirm').focus();
        }

    }
    function Showalertsshift(Statusshift) {
        if (Statusshift == 1) {
            swal(' Data Saved Successfully', "", "success");
            $('.swal-button swal-button--confirm').focus();
            formrefreshshift();
        }
        else if (Statusshift == 2) {
            formrefreshshift();
            swal('Data Updated Successfully', "", "success");
            $('.swal-button swal-button--confirm').focus();

        }
        else if (Statusshift == 3) {
            formrefreshshift();
            swal('Data Deleted', "", "error");
            $('.swal-button swal-button--confirm').focus();
        }
        else {
            swal('Data Already Exists', "", "warning");
            $('.swal-button swal-button--confirm').focus();
        }

    }


    function PisNumber(evt, selectedvalue) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        $(selectedvalue).val($(selectedvalue).val().replace(/[^0-9\.]/g, ''));
        if (charCode != 8 && (charCode != 46 || $(selectedvalue).val().indexOf('.') != -1) && charCode != 13 && (charCode < 48 || charCode > 57)) {
            evt.preventDefault();
            warningshow('Digits Only')
            return false;
        }
        return true;

    }

    //Numeric Only Text Boxes without Decimal Point

    function PisNumberInt(evt, selectedvalue) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        $(selectedvalue).val($(selectedvalue).val().replace(/[^0-9\.]/g, ''));
        if (charCode != 8 && charCode != 13 && (charCode < 48 || charCode > 57)) {
            evt.preventDefault();
            warningshow('Digits Only')
            return false;
        }
        return true;

    }


    function changetoupper(Id) {
        $('#' + Id).val($('#' + Id).val().toUpperCase())
    }




    function closetable(value) {
        $('#Entry').show();
        $('#listing').hide();
        if (value == 1)
            formrefreshshift();
    }


 
    function disable_datatable(tablename, tableButtonContainerId) {
        $('#Warningpopup').fadeOut();
        if ($.fn.DataTable.isDataTable('#' + tablename)) {
            var table = $('#' + tablename).DataTable();
            table.destroy();
            if (tableButtonContainerId) { $("#" + tableButtonContainerId).empty(); }
            return;
        }
    }

    function SaveUpdate(Flag) {

        if ($('#tblsalesinvoice tr').length == 0) {
            warningshow('Please Add Shift');
        }

        else {
            var oArray = new Array();
            for (var k = 1; k <= Count; k++) {

                var AvailableId = 0;
                var Days = $('#select_days' + k).val();
                var StartTime = $('#Time' + k).val();
                var EndTime = $('#EndTime' + k).val();
                var Shift = $('#select_shift' + k).val();
                var Doctors = $('#doctorId').val();
                var DelFlag = Flag;
                var DepId = ERPDeptId;
                var UserId = ERPUserId;
                if ($('#checkstatus' + k).prop('checked')) {
                    oArray.push({
                        'AvailableId': AvailableId,
                        'Days': Days,
                        'StartTime': StartTime,
                        'EndTime': EndTime,
                        'Shift': Shift,
                        'Doctors': Doctors,
                        'DelFlag': DelFlag,
                        'DepId': DepId,
                        'UserId': UserId

                    })
                }
            }
            console.log(oArray)
            if (oArray != "") {

                var data = { 'MedicalShift': oArray };
                $.ajax(
            {

                type: "POST",
                url: "../Master/MedShiftInsertandUpdate",
                data: data,
                success: function (result) {

                    var statushift = result.oList[0].Statusshift;
                    Showalertsshift(statushift);
                    Tbldelete();
                    $('#btnsubmit').prop('disabled', false);

                }
            });
            }
            formrefreshshift();
           
        }
    }

    </script>

<div style="display:none">
    <input type="text" id="AvailableId" value="0" />
    <input type="text" value="0" id="DoctorsId" />
    <input type="text" id="doctorId" />
    <input type="text" id="UserId" value="0" />
    //doctor and doctors doctors id use?
    //purpose of doctoe id possible to explain juky 
    which one doctor or doctors?both whats the diffrence

</div>
    
