
@{
    ViewBag.Title = "ecommerce";
}

<section id="outline-variants">
    <div class="row">
        <div class="col-12 mt-3 mb-1">
            <div class="content-header">New Arrivals</div>
            
        </div>
    </div>
    <div class="row match-height">
        <div class="col-md-6 col-sm-12">
            <div class="card card-outline-primary box-shadow-0 text-center" style="height: 301.75px;">
                <div class="card-body">
                    <div class="card-block pt-3">
                        <div class="row d-flex">
                            <div class="col align-self-center">
                                <img src="../app-assets/img/elements/01.jpg" alt="element 01" width="390">
                            </div>
                            <div class="col align-self-center">
                                <h4 class="card-title mt-3">CHEVROLET SILVERADO</h4>
                                <p class="card-text"></p>
                                <button class="btn btn-raised btn-primary">Buy Now</button>
                                <button class="btn btn-raised btn-primary">Details</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card card-outline-success box-shadow-0 text-center" style="height: 301.75px;">
                <div class="card-body">
                    <div class="card-block pt-3">
                        <div class="row d-flex">
                            <div class="col align-self-center">
                                <img src="../app-assets/img/elements/02.jpg" alt="element 01" width="390">
                            </div>
                            <div class="col align-self-center">
                                <h4 class="card-title mt-3">BALENO</h4>
                                <p class="card-text"></p>
                                <button class="btn btn-raised btn-primary">Buy Now</button>
                                <button class="btn btn-raised btn-primary">Details</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card card-outline-success box-shadow-0 text-center" style="height: 301.75px;">
                <div class="card-body">
                    <div class="card-block pt-3">
                        <div class="row d-flex">
                            <div class="col align-self-center">
                                <img src="../app-assets/img/elements/07.jpg" alt="element 01" width="390">
                            </div>
                            <div class="col align-self-center">
                                <h4 class="card-title mt-3">Jetta</h4>
                                <p class="card-text"></p>
                                <button class="btn btn-raised btn-primary">Buy Now</button>
                                <button class="btn btn-raised btn-primary">Details</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card card-outline-success box-shadow-0 text-center" style="height: 301.75px;">
                <div class="card-body">
                    <div class="card-block pt-3">
                        <div class="row d-flex">
                            <div class="col align-self-center">
                                <img src="../app-assets/img/elements/04.jpg" alt="element 01" width="390">
                            </div>
                            <div class="col align-self-center">
                                <h4 class="card-title mt-3">Nissan GO</h4>
                                <p class="card-text"></p>
                                <button class="btn btn-raised btn-primary">Buy Now</button>
                                <button class="btn btn-raised btn-primary">Details</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card card-outline-success box-shadow-0 text-center" style="height: 301.75px;">
                <div class="card-body">
                    <div class="card-block pt-3">
                        <div class="row d-flex">
                            <div class="col align-self-center">
                                <img src="../app-assets/img/elements/05.jpg" alt="element 01" width="390">
                            </div>
                            <div class="col align-self-center">
                                <h4 class="card-title mt-3">JEEP COMPASS  SPORT</h4>
                                <p class="card-text"></p>
                                <button class="btn btn-raised btn-primary">Buy Now</button>
                                <button class="btn btn-raised btn-primary">Details</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card card-outline-success box-shadow-0 text-center" style="height: 301.75px;">
                <div class="card-body">
                    <div class="card-block pt-3">
                        <div class="row d-flex">
                            <div class="col align-self-center">
                                <img src="../app-assets/img/elements/06.jpg" alt="element 01" width="390">
                            </div>
                            <div class="col align-self-center">
                                <h4 class="card-title mt-3">JEEP COMPASS</h4>
                                <p class="card-text"></p>
                                <button class="btn btn-raised btn-primary">Buy Now</button>
                                <button class="btn btn-raised btn-primary">Details</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

