@{
    ViewBag.Title = "ItemAccessories";
}


<script src="~/Scripts/Autocomplete/jquery-ui.js"></script>
<script type="text/javascript" src="../Projectscript/Common.js"></script>
<script type="text/javascript" src="../Projectscript/ItemAccessoriesMapping.js"></script>



<div class="myData" data-x="M160" />

<table><tr><td width="65%">
               <div id="Entry" >

                   <div class="row">
                       <div class="col-md-12">
                           <div class="card">
                               <div class="card-header" style="border-bottom:1px solid #e6e6e6">
                                   <h4 class="card-title mb-0" style="text-align:center;font-weight:bold">LAB PACKAGE-Lab test Mapping</h4>
                               </div>
                               <div class="card-body">
                                   <div class="px-3">
                                       <div class="card-content collapse show">
                                           <div class="card-body">
                                               <div style="height:15px;"></div>
                                               <form action="#">
                                                   <div class="form-body" style="margin-left:2%;">

                                                       <div class="row">

                                                           <div class="col-md-2">
                                                               <div class="form-group">
                                                                   <label style="font-weight:bold">Package</label>
                                                               </div>
                                                           </div>
                                                           <div class="col-md-8">
                                                               <div class="form-group">
                                                                   <input type="text" class="form-control" id="ItemName" onkeypress="AccessoriesLoad('ItemName')" onkeyup="CheckID('ItemName')" />
                                                                   <input type='hidden' class='form-control' id='ItemName_Id' value="0" />
                                                               </div>
                                                           </div>
                                                           <div class="col-md-2">
                                                               <button type="button" id="btnaddacess" class="btn btn-outline-primary" onclick="addaccessories()">
                                                                   <i class="icon-plus4"></i>ADD
                                                               </button>
                                                           </div>
                                                       </div>


                                                       <div>
                                                           <div class="form-group row">
                                                               <div class="col-md-2">
                                                                   Type
                                                               </div>
                                                               <div class="col-md-4">
                                                                   <b> Test </b>
                                                               </div>
                                                               <div class="col-md-2">
                                                                   <b> Quantity</b>
                                                               </div>
                                                               <div class="col-md-2">
                                                                   <b>Unit Rate</b>
                                                               </div>
                                                               <div class="col-md-2">
                                                                   <b>Amount</b>
                                                               </div>
                                                           </div>
                                                       </div>





                                                       <div style="height:50px;overflow-y: scroll;overflow-x:hidden;">
                                                           <div class="form-group row">
                                                               <div class="col-md-2">
                                                                   <select onchange="rowamoutcalcul(1)" id="accstaus1" class="form-control">
                                                                       <option value="LAB">LAB TEST</option>
                                                                       @*<option value="SR">Sub Recipies</option>
                                                                       <option value="OR">Other</option>*@
                                                                   </select>
                                                               </div>
                                                               <div class="col-md-4">
                                                                   <input type="text" class="form-control" id="Accsessories_1" onkeypress="AccessoriesLoad('Accsessories_1')" onkeyup="CheckID('Accsessories_1')" />
                                                                   <input type='hidden' class='form-control' id='Accsessories_1_Id' value="0" />
                                                               </div>

                                                               <div class="col-md-2">
                                                                   <input type="text" onkeyup="rowamoutcalcul(1)" class="form-control" id="Accsessoriesqty_1" onkeypress="isNumberFloatCommonn123(event,this)" />
                                                               </div>
                                                               <div class="col-md-2">
                                                                   <input type="text" onkeyup="rowamoutcalcul(1)" class="form-control" id="Accrate1" onkeypress="isNumberFloatCommonn123(event,this)" />
                                                               </div>
                                                               <div class="col-md-2">
                                                                   <input type="text" disabled class="form-control" id="Acctot1" onchange="rowamoutcalcul(1)" onkeypress="isNumberFloatCommonn(event,this)" />
                                                               </div>

                                                           </div>
                                                       </div>
                                                       <div id="Accessdiv" style="height:350px;overflow-y: scroll;overflow-x:hidden;">
                                                       </div>


                                                       <div class="form-actions">
                                                           <div class="text-center">
                                                               <button type="button" style="width:100px" id="btnsubmit" class="btn btn-primary btn-min-width mr-1 mb-1"><u>S</u>ave <i class="fa fa-check-square-o"></i></button>
                                                               <button type="button" style="width:100px;display:none" id="btnlist" onclick="GetRows(0)" class="btn btn-primary btn-min-width mr-1 mb-1">List <i class="ft-align-justify"></i></button>
                                                               <button type="button" style="width:100px" id="btnnew" onclick="formrefresh()" class="btn btn-primary btn-min-width mr-1 mb-1">Clear <i class="ft-refresh-cw position-right"></i></button>
                                                               <button style="display:none" type="button" id="btndelete" class="btn btn-primary btn-min-width mr-1 mb-1">Delete <i class="fa fa-times"></i></button>
                                                           </div>
                                                       </div>
                                               </form>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
    </td>
    <td width="35%">
        <div id="Entry" >

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" style="border-bottom:1px solid #e6e6e6">
                           
                        </div>
                        <div class="card-body">
                            <div class="px-3">
                                <div class="card-content collapse show">
                                    <div style="height:655px" class="card-body">
                                      
                                        <form style="display:none" action="#">
                                            <div class="form-body" style="margin-left:2%;">

                                              


                                                <div >
                                                    <div class="form-group row">
                                                        <div class="col-md-6">
                                                            <label>Ingredients TotQty</label>
                                                            <input type="text" id="inqty" disabled class="form-control" />
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label> Amount</label>
                                                            <input type="text" id="inamt" disabled class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="form-group row">
                                                        <div class="col-md-6">
                                                            <label>Sub Recipies TotQty</label>
                                                            <input type="text" id="srqty" disabled class="form-control" />
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label>Amount</label>
                                                            <input type="text" id="sramt" disabled class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>


                                                <div style="margin-top:-5px">
                                                    <div class="form-group row">
                                                        <div class="col-md-6">
                                                            <label>Others TotQty</label>
                                                            <input type="text" id="oqty" disabled class="form-control" />
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label>Amount</label>
                                                            <input type="text" id="oamt" disabled class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div style="margin-top:-5px">
                                                    <div class="form-group row">
                                                        <div class="col-md-6"></div>
                                                            <div class="col-md-6">
                                                                <label>SR Variance</label>
                                                                <input type="text" onkeyup="amountcalcul()"  onkeypress="isNumberFloatCommonn123(event, this)" id="srvariance" class="form-control" />
                                                            </div>
                                                        </div>
                                                </div>

                                                <di style="margin-top:-5px"v>
                                                    <div class="form-group row">
                                                        <div class="col-md-6">
                                                            <label>Gross Qty</label>
                                                            <input type="text" disabled id="gqty" class="form-control" />
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label>Gross Amount</label>
                                                            <input type="text" disabled id="gamt" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div style="margin-top:-5px">
                                                    <div class="form-group row">
                                                        <div class="col-md-6">
                                                            <label>Production Lose</label>
                                                            <input type="text" onkeypress="isNumberFloatCommonn(event,this)" onkeyup="amountcalcul()" id="plose" class="form-control" />
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label>Lose Rate</label>
                                                            <input type="text"  id="Lorate" disabled class="form-control" />


                                                        </div>
                                                </div>

                                                <div>
                                                    <div class="form-group row">
                                                        <div class="col-md-6">
                                                            <label>Net Qty</label>
                                                            <input type="text" disabled id="nqty" class="form-control" />
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label>Net Amount</label>
                                                            <input type="text" disabled id="namt" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>


                                               
                                                </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </td>
    
    </tr></table>


<script>
    function isNumberFloatCommonn(evt, selectedvalue) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        $(selectedvalue).val($(selectedvalue).val().replace(/[^0-9\.]/g, ''));
        if (charCode != 8 && charCode != 13 && (charCode < 48 || charCode > 57)) {
            evt.preventDefault();
            warningshow('Digits Only')
            return false;
        }
        return true;

    }
</script>