
@{
    ViewBag.Title = "NewItemImport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/tables/jsgrid/jsgrid-theme.min.css">
<link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/tables/jsgrid/jsgrid.min.css">
<script type="text/javascript" src="~/Scripts/Excelmport/xlsx.full.min.js"></script>
<script type="text/javascript" src="~/Scripts/Excelmport/excelimport.js"></script>

<div class="myData" data-x="M325" />

<div id="Entry" style="">

    <div class="row">
        
        <div class="col-md-12" style="">
            <div class="card">
                <div class="card-header" style="border-bottom:1px solid #e6e6e6">
                    <h4 class="card-title mb-0" style="text-align:center;font-weight:bold">New Item Create</h4>
                </div>
                <div class="card-body">
                    <div class="px-3">
                        <div class="card-content collapse show">
                            <div class="card-body">

                                <form action="#">
                                    <div class="form-body ">

                                        <div class="row">
                                            <div id="customView001" class="jsgrid" style="position: relative; height: 600px; width: 100%; margin-top:0px;overflow-x: auto;overflow-y: scroll ">
                                                <div class="jsgrid-grid-header jsgrid-header-scrollbar" style="width:4500px;">
                                                    <table class="jsgrid-table" style="" id="tblitemimport">
                                                        <thead>
                                                            <tr class="jsgrid-header-row">
                                                                <th class="jsgrid-header-cell jsgrid-align-center" style="width:3%">S No.</th>
                                                                <th class="jsgrid-header-cell jsgrid-align-center" style="width:10%">ItemCode</th>
                                                                <th class="jsgrid-header-cell jsgrid-align-center" style="width:15%">Item Name</th>
                                                                <th class="jsgrid-header-cell jsgrid-align-center" style="width:5%">Unit</th>
                                                                <th class="jsgrid-header-cell jsgrid-align-center" style="width:5%">SP</th>
                                                                <th class="jsgrid-header-cell jsgrid-align-center" style="width:5%">Group</th>
                                                                <th class="jsgrid-header-cell jsgrid-align-center" style="width:5%">Sub Group</th>
                                                                <th class="jsgrid-header-cell jsgrid-align-center" style="width:5%">Category</th>
                                                                <th class="jsgrid-header-cell jsgrid-align-center" style="width:5%">Sub Category</th>
                                                                <th class="jsgrid-header-cell jsgrid-align-center" style="width:5%;display:none">OP Qty</th>
                                                                <th class="jsgrid-header-cell jsgrid-align-center" style="width:5%;display:none">OP Cost</th>
                                                                <th class="jsgrid-header-cell jsgrid-align-center" style="width:5%;display:none">LPCost</th>
                                                                <th class="jsgrid-header-cell jsgrid-align-center" style="width:5%">VAT</th>
                                                                <th class="jsgrid-header-cell jsgrid-align-center" style="width:10%">Model1</th>
                                                                <th class="jsgrid-header-cell jsgrid-align-center" style="width:10%">Model2</th>
                                                                <th class="jsgrid-header-cell jsgrid-align-center" style="width:10%">Model3</th>
                                                                <th class="jsgrid-header-cell jsgrid-align-center" style="width:5%;display:none">Max Qty</th>
                                                                <th class="jsgrid-header-cell jsgrid-align-center" style="width:5%;display:none">Min Qty</th>
                                                                <th class="jsgrid-header-cell jsgrid-align-center" style="width:5%">BinA</th>
                                                                <th class="jsgrid-header-cell jsgrid-align-center" style="width:5%">BinB</th>
                                                                <th class="jsgrid-header-cell jsgrid-align-center" style="width:5%">BinC</th>
                                                                <th class="jsgrid-header-cell jsgrid-align-center" style="width:5%">BinD</th>
                                                                <th class="jsgrid-header-cell jsgrid-align-center" style="width:5%">BinE</th>
                                                                <th class="jsgrid-header-cell jsgrid-align-center" style="width:5%">BinF</th>
                                                                <th class="jsgrid-header-cell jsgrid-align-center" style="width:5%">BinG</th>
                                                                <th class="jsgrid-header-cell jsgrid-align-center" style="width:5%">BinH</th>
                                                                <th class="jsgrid-header-cell jsgrid-align-center" style="width:5%;display:none">Size</th>
                                                                <th class="jsgrid-header-cell jsgrid-align-center" style="width:5%;display:none">Weight</th>
                                                                <th class="jsgrid-header-cell jsgrid-align-center" style="width:5%;display:none">Length</th>
                                                                <th class="jsgrid-header-cell jsgrid-align-center" style="width:5%;display:none">Width</th>
                                                                <th class="jsgrid-header-cell jsgrid-align-center" style="width:5%;display:none">Thickness</th>
                                                                <th class="jsgrid-header-cell jsgrid-align-center" style="width:5%;display:none">Density</th>
                                                                <th class="jsgrid-header-cell jsgrid-align-center" style="width:10%;display:none">Specification</th>
                                                                <th class="jsgrid-header-cell jsgrid-align-center" style="width:5%;display:none">Prev LPCost</th>
                                                                <th class="jsgrid-header-cell jsgrid-align-center" style="width:10%">HSN Code</th>
                                                                <th class="jsgrid-header-cell jsgrid-align-center" style="width:5%;display:none">MRP</th>
                                                                <th class="jsgrid-header-cell jsgrid-align-center" style="width:5%;display:none">SP 1</th>
                                                                <th class="jsgrid-header-cell jsgrid-align-center" style="width:5%;display:none">SP 2</th>
                                                                <th class="jsgrid-header-cell jsgrid-align-center" style="width:10%;">Description</th>

                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                               
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="text-right">
                                            <button type="button" id="btnexcel" style="width:106px;" onclick="SampleExcelFormat()" class="btn btn-primary font-small-2 white p-2 mr-2"><i class="fa fa-file-excel-o"></i> Format</button>
                                            <input type="file" id="fileUpload" onchange="Upload()" class="text-left btn btn-lg gradient-back-to-earth font-small-2 white p-2 mr-2" />
                                            <input type="button" id="upload" value="Upload" onclick="Upload()" class="text-left btn btn-lg gradient-back-to-earth font-small-2 white p-2 mr-2" />
                                            <button type="button" style="" onclick="ImportSave()" id="btnitemimportsubmit" class="btn btn-primary font-small-2 white p-2 mr-2"><u>S</u>ave <i class="fa fa-check-square-o"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<div id="alertpopup" class="modal fade text-left show" tabindex="-1" role="dialog" aria-labelledby="myheader" style="padding-right: 17px; background:rgba(0,0,0,0.5); display: block; display:none">
    <div class="modal-dialog" role="document" style="top:20%">
        <div class="modal-content" style="width:600px">
            <form id="alertdiv" style="display:none;">
                <div class="modal-body">
                    <div class="row" style="height:400px;">
                        <div class="col-md-12" style="overflow:scroll;width:100%;height:inherit">
                            <table class="table table-responsive-md-md text-center" id="tblAlert" style="overflow:scroll"></table>
                        </div>
                    </div>
                    <div class="text-right">
                        <input type="button" class="btn btn-outline-primary" value="Ok" id="btnokalert" onclick="$('#alertpopup').hide()">
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">

    function Upload() {
           //Reference the FileUpload element.
        var fileUpload = document.getElementById("fileUpload");

        //Validate whether File is valid Excel file.
        var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.xls|.xlsx)$/;
        if (regex.test(fileUpload.value.toLowerCase())) {
            if (typeof (FileReader) != "undefined") {
                var reader = new FileReader();

                //For Browsers other than IE.
                if (reader.readAsBinaryString) {
                    reader.onload = function (e) {
                        ProcessExcel(e.target.result);
                    };
                    reader.readAsBinaryString(fileUpload.files[0]);
                } else {
                    //For IE Browser.
                    reader.onload = function (e) {
                        var data = "";
                        var bytes = new Uint8Array(e.target.result);
                        for (var i = 0; i < bytes.byteLength; i++) {
                            data += String.fromCharCode(bytes[i]);
                        }
                        ProcessExcel(data);
                    };
                    reader.readAsArrayBuffer(fileUpload.files[0]);
                }

            } else {
                alert("This browser does not support HTML5.");
            }
        } else {
            alert("Please upload a valid Excel file.");
        }

    };
    function ProcessExcel(data) {


        //Read the Excel File data.
        var workbook = XLSX.read(data, {
            type: 'binary'
        });

        //Fetch the name of First Sheet.
        var firstSheet = workbook.SheetNames[0];

        //Read all rows from First Sheet into an JSON array.
        var excelRows = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[firstSheet]);

        

        var a = 0; b = 0; c = 0; d = 0;

        for (var k = 0; k < excelRows.length; k++) {

            if (excelRows[k]["ItemCode"] == '' || excelRows[k]["ItemCode"] == undefined || excelRows[k]["ItemCode"] == '') {
                a = 1;
                break;
            }
            if (excelRows[k]["Description"] == '' || excelRows[k]["Description"] == undefined || excelRows[k]["Description"] == '') {
                b = 1;
                break;
            }
            if (excelRows[k]["Unit"] == '' || excelRows[k]["Unit"] == undefined || excelRows[k]["Unit"] == '') {
                c = 1;
                break;
            }
            if (excelRows[k]["Group"] == '' || excelRows[k]["Group"] == undefined || excelRows[k]["Group"] == '') {
                d = 1;
                break;
            }
        }


        if (a != 0) {
            warningshow("Please Enter Code of all Items");
        }
        else if (b != 0) {
            warningshow("Please Enter Description for all Items");
        }
        else if (c != 0) {
            warningshow("Please Enter Unit for all Items");
        }
        else if (d != 0) {
            warningshow("Please Enter Group for all Items");
        }
        else {
            $("#tblitemimport tbody tr").remove();
            //Add the data rows from Excel file.
            for (var i = 0; i < excelRows.length; i++) {


                if (excelRows[i]["ItemCode"] == undefined) { var ItemCode = '' } else { var ItemCode = excelRows[i]["ItemCode"] }
                if (excelRows[i]["Description"] == undefined) { var Description = '' } else { var Description = excelRows[i]["Description"] }
                if (excelRows[i]["Unit"] == undefined) { var Unit = '' } else { var Unit = excelRows[i]["Unit"] }
                if (excelRows[i]["SellingPrice"] == undefined) { var SellingPrice = '' } else { var SellingPrice = excelRows[i]["SellingPrice"] }
                if (excelRows[i]["Group"] == undefined) { var Group = '' } else { var Group = excelRows[i]["Group"] }
                if (excelRows[i]["SubGroup"] == undefined) { var SubGroup = '' } else { var SubGroup = excelRows[i]["SubGroup"] }
                if (excelRows[i]["Category"] == undefined) { var Category = '' } else { var Category = excelRows[i]["Category"] }
                if (excelRows[i]["SubCategory"] == undefined) { var SubCategory = '' } else { var SubCategory = excelRows[i]["SubCategory"] }
                if (excelRows[i]["OpenQty"] == undefined) { var OpenQty = '' } else { var OpenQty = excelRows[i]["OpenQty"] }
                if (excelRows[i]["OpeningCost"] == undefined) { var OpeningCost = '' } else { var OpeningCost = excelRows[i]["OpeningCost"] }
                if (excelRows[i]["LPCost"] == undefined) { var LPCost = '' } else { var LPCost = excelRows[i]["LPCost"] }
                if (excelRows[i]["Vat"] == undefined) { var Vat = '' } else { var Vat = excelRows[i]["Vat"] }
                if (excelRows[i]["Model1"] == undefined) { var Model1 = '' } else { var Model1 = excelRows[i]["Model1"] }
                if (excelRows[i]["Model2"] == undefined) { var Model2 = '' } else { var Model2 = excelRows[i]["Model2"] }
                if (excelRows[i]["Model3"] == undefined) { var Model3 = '' } else { var Model3 = excelRows[i]["Model3"] }
                if (excelRows[i]["MaxQty"] == undefined) { var MaxQty = '' } else { var MaxQty = excelRows[i]["MaxQty"] }
                if (excelRows[i]["MinQty"] == undefined) { var MinQty = '' } else { var MinQty = excelRows[i]["MinQty"] }

                if (excelRows[i]["BinA"] == undefined) { var BinA = '' } else { var BinA = excelRows[i]["BinA"] }
                if (excelRows[i]["BinB"] == undefined) { var BinB = '' } else { var BinB = excelRows[i]["BinB"] }
                if (excelRows[i]["BinC"] == undefined) { var BinC = '' } else { var BinC = excelRows[i]["BinC"] }
                if (excelRows[i]["BinD"] == undefined) { var BinD = '' } else { var BinD = excelRows[i]["BinD"] }
                if (excelRows[i]["BinE"] == undefined) { var BinE = '' } else { var BinE = excelRows[i]["BinE"] }
                if (excelRows[i]["BinF"] == undefined) { var BinF = '' } else { var BinF = excelRows[i]["BinF"] }
                if (excelRows[i]["BinG"] == undefined) { var BinG = '' } else { var BinG = excelRows[i]["BinG"] }
                if (excelRows[i]["BinH"] == undefined) { var BinH = '' } else { var BinH = excelRows[i]["BinH"] }

                if (excelRows[i]["Size"] == undefined) { var Size = '' } else { var Size = excelRows[i]["Size"] }
                if (excelRows[i]["Weight"] == undefined) { var Weight = '' } else { var Weight = excelRows[i]["Weight"] }
                if (excelRows[i]["Length"] == undefined) { var Length = '' } else { var Length = excelRows[i]["Length"] }
                if (excelRows[i]["Width"] == undefined) { var Width = '' } else { var Width = excelRows[i]["Width"] }
                if (excelRows[i]["Thickness"] == undefined) { var Thickness = '' } else { var Thickness = excelRows[i]["Thickness"] }
                if (excelRows[i]["Density"] == undefined) { var Density = '' } else { var Density = excelRows[i]["Density"] }
                if (excelRows[i]["Specification"] == undefined) { var Specification = '' } else { var Specification = excelRows[i]["Specification"] }
                if (excelRows[i]["Prev_LPCost"] == undefined) { var Prev_LPCost = '' } else { var Prev_LPCost = excelRows[i]["Prev_LPCost"] }
                if (excelRows[i]["HsnCode"] == undefined) { var HsnCode = '' } else { var HsnCode = excelRows[i]["HsnCode"] }
                if (excelRows[i]["MrpRate"] == undefined) { var MrpRate = '' } else { var MrpRate = excelRows[i]["MrpRate"] }
                if (excelRows[i]["SellingPrice_1"] == undefined) { var SellingPrice_1 = '' } else { var SellingPrice_1 = excelRows[i]["SellingPrice_1"] }
                if (excelRows[i]["SellingPrice_2"] == undefined) { var SellingPrice_2 = '' } else { var SellingPrice_2 = excelRows[i]["SellingPrice_2"] }
                if (excelRows[i]["Otherdescription"] == undefined) { var Otherdescription = '' } else { var Otherdescription = excelRows[i]["Otherdescription"] }

                var slno = parseInt(i + 1)

                var row = '<tr class="jsgrid-row" id="row_' + slno + '" style="height:30px;">' +
                            '<td id="td' + slno + '" class="jsgrid-cell"  style="width:3%;text-align:center" value="">' + slno + '</td>' +
                            '<td id="impitemcode' + slno + '" class="jsgrid-cell"  style="width:10%;text-align:left" value="">' + ItemCode + '</td>' +
                            '<td id="impdesc' + slno + '" class="jsgrid-cell"  style="width:15%;text-align:left" value="">' + Description + '</td>' +
                            '<td id="impunit' + slno + '" class="jsgrid-cell"  style="width:5%;text-align:center" value="">' + Unit + '</td>' +
                            '<td id="impsp' + slno + '" class="jsgrid-cell"  style="width:5%;text-align:center" value="">' + parseFloat(SellingPrice || 0).toFixed(Decimal) + '</td>' +
                            '<td id="impgroup' + slno + '" class="jsgrid-cell"  style="width:5%;text-align:left" value="">' + Group + '</td>' +
                            '<td id="impsubgroup' + slno + '" class="jsgrid-cell"  style="width:5%;text-align:left" value="">' + SubGroup + '</td>' +
                            '<td id="impcategory' + slno + '" class="jsgrid-cell"  style="width:5%;text-align:left" value="">' + Category + '</td>' +
                            '<td id="impsubcategory' + slno + '" class="jsgrid-cell"  style="width:5%;text-align:left" value="">' + SubCategory + '</td>' +
                            '<td id="impopenqty' + slno + '" class="jsgrid-cell"  style="width:5%;text-align:center;display:none" value="">' + parseInt(OpenQty || 0) + '</td>' +
                            '<td id="impopcost' + slno + '" class="jsgrid-cell"  style="width:5%;text-align:center;display:none" value="">' + parseFloat(OpeningCost || 0).toFixed(Decimal) + '</td>' +
                            '<td id="implpcost' + slno + '" class="jsgrid-cell"  style="width:5%;text-align:center;display:none" value="">' + parseFloat(LPCost || 0).toFixed(Decimal) + '</td>' +
                            '<td id="impvat' + slno + '" class="jsgrid-cell"  style="width:5%;text-align:center" value="">' + parseFloat(Vat || 0).toFixed(Decimal) + '</td>' +
                            '<td id="impmodel1' + slno + '" class="jsgrid-cell"  style="width:10%;text-align:left" value="">' + Model1 + '</td>' +
                            '<td id="impmodel2' + slno + '" class="jsgrid-cell"  style="width:10%;text-align:left" value="">' + Model2 + '</td>' +
                            '<td id="impmodel3' + slno + '" class="jsgrid-cell"  style="width:10%;text-align:left" value="">' + Model3 + '</td>' +
                            '<td id="impmaxqty' + slno + '" class="jsgrid-cell"  style="width:5%;text-align:center;display:none" value="">' + parseInt(MaxQty || 0) + '</td>' +
                            '<td id="impminqty' + slno + '" class="jsgrid-cell"  style="width:5%;text-align:center;display:none" value="">' + parseInt(MinQty || 0) + '</td>' +
                            '<td id="impbina' + slno + '" class="jsgrid-cell"  style="width:5%;text-align:left" value="">' + BinA + '</td>' +
                            '<td id="impbinb' + slno + '" class="jsgrid-cell"  style="width:5%;text-align:left" value="">' + BinB + '</td>' +
                            '<td id="impbinc' + slno + '" class="jsgrid-cell"  style="width:5%;text-align:left" value="">' + BinC + '</td>' +
                            '<td id="impbind' + slno + '" class="jsgrid-cell"  style="width:5%;text-align:left" value="">' + BinD + '</td>' +
                            '<td id="impbine' + slno + '" class="jsgrid-cell"  style="width:5%;text-align:left" value="">' + BinE + '</td>' +
                            '<td id="impbinf' + slno + '" class="jsgrid-cell"  style="width:5%;text-align:left" value="">' + BinF + '</td>' +
                            '<td id="impbing' + slno + '" class="jsgrid-cell"  style="width:5%;text-align:left" value="">' + BinG + '</td>' +
                            '<td id="impbinh' + slno + '" class="jsgrid-cell"  style="width:5%;text-align:left" value="">' + BinH + '</td>' +
                            '<td id="impsize' + slno + '" class="jsgrid-cell"  style="width:5%;text-align:center;display:none" value="">' + Size + '</td>' +
                            '<td id="impweight' + slno + '" class="jsgrid-cell"  style="width:5%;text-align:center;display:none" value="">' + Weight + '</td>' +
                            '<td id="implength' + slno + '" class="jsgrid-cell"  style="width:5%;text-align:center;display:none" value="">' + Length + '</td>' +
                            '<td id="impwidth' + slno + '" class="jsgrid-cell"  style="width:5%;text-align:center;display:none" value="">' + Width + '</td>' +
                            '<td id="impthick' + slno + '" class="jsgrid-cell"  style="width:5%;text-align:center;display:none" value="">' + Thickness + '</td>' +
                            '<td id="impdensity' + slno + '" class="jsgrid-cell"  style="width:5%;text-align:center;display:none" value="">' + Density + '</td>' +
                            '<td id="impspec' + slno + '" class="jsgrid-cell"  style="width:10%;text-align:left;display:none" value="">' + Specification + '</td>' +
                            '<td id="impprevlpcost' + slno + '" class="jsgrid-cell"  style="width:5%;text-align:center;display:none" value="">' + Prev_LPCost + '</td>' +
                            '<td id="imphsncode' + slno + '" class="jsgrid-cell"  style="width:10%;text-align:left" value="">' + HsnCode + '</td>' +
                            '<td id="impmrp' + slno + '" class="jsgrid-cell"  style="width:5%;text-align:center;display:none" value="">' + parseFloat(MrpRate || 0).toFixed(Decimal) + '</td>' +
                            '<td id="impsp1' + slno + '" class="jsgrid-cell"  style="width:5%;text-align:center;display:none" value="">' + parseFloat(SellingPrice_1 || 0).toFixed(Decimal) + '</td>' +
                            '<td id="impsp2' + slno + '" class="jsgrid-cell"  style="width:5%;text-align:center;display:none" value="">' + parseFloat(SellingPrice_2 || 0).toFixed(Decimal) + '</td>' +
                            '<td id="impotherdesc' + slno + '" class="jsgrid-cell"  style="width:10%;text-align:left" value="">' + Otherdescription + '</td>' +


                           '</tr>'
                $("#tblitemimport").append(row);
            }
        }
    };

    function ImportSave() {
        $('#btnitemimportsubmit').prop("disabled", true);

        var tbllenghth = $('#tblitemimport tbody tr').length

        var bArray = new Array();
        for (var i = 1; i <= tbllenghth; i++) {
            var ItemCode = $.trim($('#impitemcode' + i).text());
            var Description = $.trim($('#impdesc' + i).text());
            var Unit = $.trim($('#impunit' + i).text());
            var SellingPrice = $('#impsp' + i).text();
            var Group = $.trim($('#impgroup' + i).text());
            var SubGroup = $.trim($('#impsubgroup' + i).text());
            var Category = $.trim($('#impcategory' + i).text());
            var SubCategory = $.trim($('#impsubcategory' + i).text());
            var OpeningQty = $('#impopenqty' + i).text();
            var OpeningCost = $('#impopcost' + i).text();

            var LPCost = $('#implpcost' + i).text();
            var VatPer = $('#impvat' + i).text();
            var Model1 = $.trim($('#impmodel1' + i).text());
            var Model2 = $.trim($('#impmodel2' + i).text());
            var Model3 = $.trim($('#impmodel3' + i).text());
            var MaxQty = $('#impmaxqty' + i).text();
            var MinQty = $('#impminqty' + i).text();
            var Bin_A = $.trim($('#impbina' + i).text());
            var Bin_B = $.trim($('#impbinb' + i).text());
            var Bin_C = $.trim($('#impbinc' + i).text());

            var Bin_D = $.trim($('#impbind' + i).text());
            var Bin_E = $.trim($('#impbine' + i).text());
            var Bin_F = $.trim($('#impbinf' + i).text());
            var Bin_G = $.trim($('#impbing' + i).text());
            var Bin_H = $.trim($('#impbinh' + i).text());
            var Size = $('#impsize' + i).text();
            var Weight = $('#impweight' + i).text();
            var Length = $('#implength' + i).text();
            var Width = $('#impwidth' + i).text();
            var Thickness = $('#impthick' + i).text();

            var Density = $('#impdensity' + i).text();
            var Specification = $('#impspec' + i).text();
            var AvgCost = $('#impprevlpcost' + i).text();
            var Hsncode = $.trim($('#imphsncode' + i).text());
            var MRP = $('#impmrp' + i).text();
            var SellingPrice1 = $('#impsp1' + i).text();
            var SellingPrice2 = $('#impsp2' + i).text();
            var Otherdescription = $.trim($('#impotherdesc' + i).text());
            var UserId = ERPUserId;
            var DeptId = ERPDeptId;

            if (!(typeof ItemCode == "undefined")) {
                bArray.push({
                    'ItemCode': ItemCode,
                    'Description': Description,
                    'Unit': Unit,
                    'SellingPrice': SellingPrice,
                    'Group': Group,
                    'SubGroup': SubGroup,
                    'Category': Category,
                    'SubCategory': SubCategory,
                    'OpeningQty': OpeningQty,
                    'OpeningCost': OpeningCost,

                    'LPCost': LPCost,
                    'VatPer': VatPer,
                    'Model1': Model1,
                    'Model2': Model2,
                    'Model3': Model3,
                    'MaxQty': MaxQty,
                    'MinQty': MinQty,
                    'Bin_A': Bin_A,
                    'Bin_B': Bin_B,
                    'Bin_C': Bin_C,

                    'Bin_D': Bin_D,
                    'Bin_E': Bin_E,
                    'Bin_F': Bin_F,
                    'Bin_G': Bin_G,
                    'Bin_H': Bin_H,
                    'Size': Size,
                    'Weight': Weight,
                    'Length': Length,
                    'Width': Width,
                    'Thickness': Thickness,

                    'Density': Density,
                    'Specification': Specification,
                    'AvgCost': AvgCost,
                    'Hsncode': Hsncode,
                    'MRP': MRP,
                    'SellingPrice1': SellingPrice1,
                    'SellingPrice2': SellingPrice2,
                    'Otherdescription': Otherdescription,
                    'UserId': UserId,
                    'DeptId': DeptId
                })
            }
        }
        if (bArray != "") {
            var data = { 'ItemMasterModel': bArray };
            $.ajax({
                type: "POST",
                url: "../Master/ItemImportInsertandUpdate",
                data: data,
                success: function (result) {
                    $('#btnitemimportsubmit').prop("disabled", false);
                    var status = result.oList[0].Status;
                    if(status==1){
                        Showalertsthis(status);
                    }
                    else {

                        if (status == 0)
                            var Desc = "Thses Items Already Exists!";
                        else if (status == 5)
                            var Desc = "Same ItemCode Found in Excel!";

                        $('#tblAlert tr').remove();
                        var Prod1 = "<tr class='jsgrid-row'><td colspan=4 style='border:none'><h2 style='color:#FF586B'>" + Desc + "</h2></td></tr>" +
                                            "<tr class='jsgrid-row' style='color:#607D8B'><th class='jsgrid-cell jsgrid-control-field jsgrid-align-center' >SL#</th><th class='jsgrid-cell jsgrid-control-field jsgrid-align-center' >ProductCode</th></tr>";

                        $('#tblAlert').append(Prod1);
                        for (var m = 0; m < result.oList.length; m++) {

                            var Prod1 =
                                "<tr class='jsgrid-row' style='color:#607D8B'>" +
                                "<td class='jsgrid-cell jsgrid-control-field jsgrid-align-center'  style='text-align:center'>" + (m+1) + "</td>"+
                                "<td class='jsgrid-cell jsgrid-control-field jsgrid-align-center'  style='text-align:left'>" + result.oList[m].ItemCode + "</td></tr>";

                            $('#tblAlert').append(Prod1);

                            $('#alertpopup').show();
                            $('#alertdiv').show();
                        }

                    }
                }
            });
        }
    }

    function Showalertsthis(Status) {

        if (Status == 1) {
            swal('Data Saved Successfully', "", "success");
            $('.swal-button swal-button--confirm').focus();
            $("#tblitemimport tbody tr").remove();
            $("#fileUpload").val('');
        }
        else if (Status == 5) {
            swal('Same ItemCode Found in Excel', "", "warning");
            $('.swal-button swal-button--confirm').focus();
        }
        else {
            swal('Data Already Exists', "", "warning");
            $('.swal-button swal-button--confirm').focus();
         
        }

    }

    //Show Warnig Popup right top
    function warningshow(message, Id) {
        $('#popupmessage').text(message);
        $('#Warningpopup').show();
        $('#' + Id).focus();
        window.setTimeout(function () {
            $('#Warningpopup').hide();
        }, 3000);
    }

    function SampleExcelFormat() {
        window.open('../PerfomaExcelFormat/ItemCreate' + ".xlsx", '_blank');
    }
</script>