
@{
    ViewBag.Title = "ProjectJob";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript" src="../Projectscript/Common.js"></script>
<script type="text/javascript" src="~/ProjectScript/ProjectJobMaster.js"></script>
<script src="~/Scripts/Autocomplete/jquery-ui.js"></script>

<style>
    .brrow {
        height: 10px;
    }
</style>
<div class="myData" data-x="M124" />
<div id="Entry" style="width:60%;margin-left:20%;">

    <div class="row">
        <div class="col-md-12" style="margin-top:10%">
            <div class="card">
                <div class="card-header" style="border-bottom:1px solid #e6e6e6">


                    <div class="row">

                        <div class="col-md-10">
                            <h4 class="card-title mb-0">Project Job Master</h4>
                        </div>
                        <div class="col-md-2">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" checked="" name="customCheck" id="JobStatus">
                                <label class="custom-control-label" for="JobStatus">Active</label>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="card-body">
                    <div class="px-3">
                        <div class="card-content collapse show">
                            <div class="card-body">
                                <div style="height:15px;"></div>
                                <form action="#">
                                    <div class="form-body">


                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-4 label-control" for="JobCode">Code<span class="danger">*</span></label>
                                                    <div class="col-md-8">
                                                        <input type="text" id="JobCode" onkeyup="changetoupper(this.id)" class="form-control" autocomplete="off" maxlength="150" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-4 label-control" for="Description">Description<span class="danger">*</span></label>
                                                    <div class="col-md-8">
                                                        <input type="text" id="Description" autocomplete="off" class="form-control" maxlength="150">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row brrow">

                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">

                                                    <label class="col-md-4 label-control" for="CustName">Customer</label>
                                                    <input type="hidden" id="CustomerId" class="form-control" />
                                                    <div class="col-md-8 input-group">
                                                        <input type="text" id="CustName" class="form-control ui-autocomplete-input" style="" />
                                                        <div class="input-group-append" id="addcustomer">
                                                            <button type="button" style="" id="btnne" onclick="window.open('../Master/CustomerMaster')" class="btn btn-outline-primary">+ <i class="position-right"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-4 label-control" for="EstAmount">Est. Amount</label>
                                                    <div class="col-md-8">
                                                        <input type="text" autocomplete="off" id="EstAmount" class="form-control" onkeypress="isNumber(event,this)" maxlength="150" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-4 label-control" for="FirstName">Salesman</label>
                                                    <div class="col-md-8">
                                                        <select id="FirstName" name="interested" class="form-control"></select>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-4 label-control" for="JobNature">Job Nature</label>
                                                    <div class="col-md-8">
                                                        <input type="text" id="JobNature" autocomplete="off" class="form-control" maxlength="150" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row brrow">

                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-4 label-control" for="LPO">LPO</label>
                                                    <div class="col-md-8">
                                                        <input type="text" id="LPO" autocomplete="off" class="form-control" maxlength="150" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-4 label-control" for="StartDate">Start Date</label>
                                                    <div class="col-md-8">
                                                        <input type="text" id="StartDate" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row brrow">

                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-4 label-control" for="EndDate">End Date</label>
                                                    <div class="col-md-8">
                                                        <input type="text" id="EndDate" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-4 label-control" for="JobGroup">Job Group</label>
                                                    <input type="hidden" id="JobGroupId" class="form-control" />
                                                    <div class="col-md-8">
                                                        <input type="text" id="JobGroup" autocomplete="off" class="form-control" maxlength="150" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row brrow">

                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-4 label-control" for="RetensionAccount">Retension Account</label>
                                                    <div class="col-md-8">
                                                        <input type="text" id="RetensionAccount" autocomplete="off" class="form-control" maxlength="150" />
                                                        <input type="hidden" id="RetensionAccountId" class="form-control"/>
                                                    </div>


                                                </div>
                                            </div>
                                            <div class="col-md-6">

                                                <div class="row">
                                                    <label class="col-md-4 label-control" for="JobDetails">Job Details</label>
                                                    <div class="col-md-8">
                                                        <textarea class="form-control" id="JobDetails" rows="3" style="resize:none"></textarea>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row brrow">

                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-4 label-control" for="Address1">Address 1</label>
                                                    <div class="col-md-8">
                                                        <input type="text" id="Address1" autocomplete="off" class="form-control" maxlength="150" />
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-4 label-control" for="Status">Status</label>
                                                    <div class="col-md-8">
                                                        <select id="Status" name="interested" class="form-control">
                                                            <option value="Created">Created</option>
                                                            <option value="Started">Started</option>
                                                            <option value="Pending">Pending</option>
                                                            <option value="Closed">Closed</option>
                                                        </select>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row brrow">

                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-4 label-control" for="Address2">Address 2</label>
                                                    <div class="col-md-8">
                                                        <input type="text" id="Address2" autocomplete="off" class="form-control" maxlength="150" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-1" style="margin-left:1.5%">
                                                <div class="row">
                                                    <fieldset>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" checked="" name="customCheck" id="BOQ">
                                                            <label class="custom-control-label" style="margin-left:5px" for="BOQ">BOQ</label>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row brrow">

                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <label class="col-md-4 label-control" for="Address3">Address 3</label>
                                                    <div class="col-md-8">
                                                        <input type="text" id="Address3" autocomplete="off" class="form-control" maxlength="150" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <div class="text-right">
                                            <button type="button" style="width:100px" id="btnsubmit" class="btn btn-primary btn-min-width mr-1 mb-1"><u>S</u>ave <i class="fa fa-check-square-o"></i></button>
                                            <button type="button" style="width:100px" id="btnlist" onclick="GetRows(0)" class="btn btn-primary btn-min-width mr-1 mb-1">List <i class="ft-align-justify"></i></button>
                                            <button type="button" style="width:100px" id="btnnew" onclick="formrefresh()" class="btn btn-primary btn-min-width mr-1 mb-1">Clear <i class="ft-refresh-cw position-right"></i></button>
                                            <button style="display:none" type="button" id="btndelete" class="btn btn-primary btn-min-width mr-1 mb-1">Delete <i class="fa fa-times"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<div style="display:none;width:80%;margin-left:10%;" id="listing">
    <section>
        <div class="row">
            <div class="col-12" style="margin-top:5%">
                <div class="card">
                    <div class="card-header">
                        <table width="100%">
                            <tr>
                                <td><h4 class="card-title">Project Job List</h4></td>
                                <td align="right">
                                    <div class="heading-elements">
                                        <div class="btn-group">
                                            <button type="button" onclick="closetable(1)" class="btn btn-outline-primary"><i class="ft-edit"></i> Add New</button>
                                            <button type="button" class="btn btn-outline-primary"><i class="ft-edit"></i> Export</button>
                                            <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false">
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">Excel</a>
                                                <a class="dropdown-item" href="#">PDF</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Print</a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>


                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard" style="overflow:auto">
                            <table id="tblprojectjob" class="table table-striped table-bordered base-style dataTable"></table>
                            <br />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
















<div style="display:none">
    <input type="text" value="0" id="ProjectJobId" />
    @*<input type="text" value="0" id="CustId" />*@
</div>


<script>
    $("#RetensionAccount").autocomplete({
        source: function (request, response) {
            var data = {};
            data.AccountDescription = $("#RetensionAccount").val();
            $.ajax({
                url: '../Inventory/AccountNumberSearch',
                type: "POST",
                data: data,
                dataType: "json",
                success: function (data) {
                    response($.map(data, function (item) {
                        return ({
                            ColCount: 'TWOEnq',
                            label: item.DebitAccount,
                            label1: item.AccountDescription,
                            DebitAccount: item.DebitAccount,
                            AccountDescription: item.AccountDescription,
                            AccountId: item.AccountId,
                            headers: ["Code", "Decription"]
                        })
                    }));
                }

            })

        },
        autoFocus: true,
        select: function (event, ui) {
            $("#RetensionAccountId").val(ui.item.AccountId);
            $("#RetensionAccount").val(ui.item.DebitAccount);
            $('#JobDetails').focus();
        },
    });

    $("#CustName").autocomplete({
        source: function (request, response) {
            var data = {};
            data.CustName = $("#CustName").val();
            data.CustType = 'C';

            $.ajax({
                url: '../Master/CustomerOrSupplierSearch',
                type: "POST",
                data: data,
                dataType: "json",
                success: function (data) {
                    response($.map(data, function (item) {
                        return ({
                            ColCount: 'THREE',
                            label: item.CustName,
                            label1: item.CustAccount,
                            CustId: item.CustId,
                            CustAccount: item.CustAccount,
                            SalesmanId: item.SalesmanId,
                            headers: ["Customer Code", "Customer Name"]

                        })
                    }));
                }

            })

        },
        autoFocus: true,
        select: function (event, ui) {
            $('#CustId').val(ui.item.CustId);
            $('#CustomerId').val(ui.item.CustId);
            $('#FirstName').val(ui.item.SalesmanId);
        },

    });

    $("#JobGroup").autocomplete({
        source: function (request, response) {
            var data = {};
            data.JobCode = $("#JobGroup").val();
            $.ajax({
                url: '../Master/JobCodeSearch',
                type: "POST",
                data: data,
                dataType: "json",
                success: function (data) {
                    response($.map(data, function (item) {
                        return ({
                            ColCount: 'THREE',
                            label: item.JobCode,
                            label1: item.Description,
                            Description: item.Description,
                            JobcodeId: item.ProjectJobId,
                            JobCode: item.JobCode,
                            headers: ["Job Code", "Job Name"]

                        })
                    }));
                }

            })

        },
        autoFocus: true,
        select: function (event, ui) {
            $('#JobGroupId').val(ui.item.JobcodeId);
            $('#JobGroup').val(ui.item.JobCode);
            //$('#Description').val(ui.item.Description);
        },

    });

    $(function () {


        $('#StartDate').daterangepicker({
            minDate: minDate,
            maxDate: new Date(new Date().getFullYear() + 50, new Date().getMonth(), new Date().getDate()),
            singleDatePicker: true,
            showDropdowns: true,
            locale: {
                format: 'DD/MM/YYYY'
            }

        });

    });
    $(function () {


        $('#EndDate').daterangepicker({
            minDate: minDate,
            maxDate: new Date(new Date().getFullYear() + 50, new Date().getMonth(), new Date().getDate()),
            singleDatePicker: true,
            showDropdowns: true,
            locale: {
                format: 'DD/MM/YYYY'
            }

        });

    });
</script>
