
@{
    ViewBag.Title = "ToolMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #outPopUp {
        position: absolute;
        width: 300px;
        height: 200px;
        z-index: 15;
        top: 50%;
        left: 50%;
        margin: -100px 0 0 -150px;
    }
</style>



<script type="text/javascript" src="../Projectscript/ToolMaster.js"></script>
@*<script type="text/javascript" src="../Projectscript/Common.js"></script>*@

<div class="myData" data-x="M287" />
<div id="Entry">

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6" style="margin-top:50px">
            <div class="card">
                <div class="card-header" style="border-bottom:1px solid #e6e6e6">
                    <h4 class="card-title mb-0" style="text-align:center;font-weight:bold">TOOLS  MASTER</h4>
                </div>
                <div class="card-body">
                    <div class="px-3">
                        <div class="card-content collapse show">
                            <div class="card-body">
                                <div style="height:15px;"></div>
                                <form action="#">
                                    <div class="form-body ">
                                        <div class="row">
                                            <div class="col-md-3">
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label style="font-weight:bold">Code<span class="danger">*</span></label>
                                                </div>
                                            </div>
                                            <div class="col-md-4" style="margin-left:-2%">
                                                <div class="form-group">
                                                    <input type="text" onkeyup="changetoupper(this.id)" id="Code" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-3">

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">

                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label style="font-weight:bold">Description<span class="danger">*</span></label>
                                                </div>
                                            </div>
                                            <div class="col-md-4" style="margin-left:-2%">
                                                <div class="form-group">
                                                    <input type="text" id="ToolDesc" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-3">

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">

                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label style="font-weight:bold">Unit<span class="danger">*</span></label>
                                                </div>
                                            </div>
                                            <div class="col-md-4" style="margin-left:-2%">
                                                <div class="input-group">
                                                    <select id="Pcs" class="form-control"  aria-describedby="addunit">
                                                        <option value="0">-Select-</option>
                                                    </select>
                                                    <div class="input-group-append" id="x">
                                                        <button class="btn btn-outline-primary" type="button" onclick="Addpopupwindow(0)" id="addunit">+</button>
                                                    </div>
                                                </div>

                                                @*<div class="form-group">
                    <input type="text" id="Pcs" class="form-control" onkeypress="isNumberInt(event, this)">
                </div>*@
                                            </div>
                                            <div class="col-md-3">

                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">

                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label style="font-weight:bold">Group<span class="danger">*</span></label>
                                                </div>
                                            </div>
                                            <div class="col-md-4" style="margin-left:-2%">
                                                <div class="input-group">
                                                    <select id="group" class="form-control" aria-describedby="addgroup">
                                                        <option value="0">-Select-</option>
                                                    </select>
                                                    <div class="input-group-append" id="addgroup">
                                                        <button class="btn btn-outline-primary" onclick="Addpopupwindow(1)" type="button" id="addgroup">+</button>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-md-3">

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">

                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label style="font-weight:bold">Category<span class="danger">*</span></label>
                                                </div>
                                            </div>
                                            <div class="col-md-4" style="margin-left:-2%">
                                                <div class="input-group">
                                                    <select id="category" class="form-control" aria-describedby="addcat">
                                                        <option value='0'>-Select-</option>
                                                    </select>
                                                    <div class="input-group-append" id="addcat">
                                                        <button class="btn btn-outline-primary" onclick="Addpopupwindow(3)" type="button" id="addcat">+</button>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-3">

                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">

                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label style="font-weight:bold">Quantity<span class="danger">*</span></label>
                                                </div>
                                            </div>
                                            <div class="col-md-4" style="margin-left:-2%">
                                                <div class="form-group">
                                                    <input type="text" id="ToolQty" class="form-control" onkeypress="isNumberInt(event, this)">
                                                </div>
                                            </div>
                                            <div class="col-md-3">

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">

                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label style="font-weight:bold">Other Details</label>
                                                </div>
                                            </div>
                                            <div class="col-md-4" style="margin-left:-2%">
                                                <div class="form-group">
                                                    <textarea type="text" id="OtherDetails" class="form-control" style="height:60px"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-3">

                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-actions center">
                                        <button type="button" style="width:100px" id="btnsubmit" class="btn btn-primary btn-min-width mr-1 mb-1"><u>S</u>ave <i class="fa fa-check-square-o"></i></button>
                                        <button type="button" style="width:100px" id="btnlist" onclick="GetRows(0)" class="btn btn-primary btn-min-width mr-1 mb-1">List <i class="ft-align-justify"></i></button>
                                        <button type="button" style="width:100px" id="btnnew" onclick="thisformrefresh()" class="btn btn-primary btn-min-width mr-1 mb-1">Clear <i class="ft-refresh-cw position-right"></i></button>
                                        <button style="display:none" type="button" id="btndelete" class="btn btn-primary btn-min-width mr-1 mb-1" onclick="DeleteToolMaster()">Delete <i class="fa fa-times"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>

    </div>
</div>

<div id="popupdiv" class="modal fade text-left show" tabindex="-1" role="dialog" aria-labelledby="myheader" style="padding-right: 17px; background:rgba(0,0,0,0.5); display: block; display:none">
    <div class="modal-dialog" role="document" style="top:10%">
        <div class="modal-content" style="width:95%">
            <div class="modal-header bg-primary white" style="height:50px">
                <h4 class="modal-title" id="myheader" style="margin-top:-2%"> Group Master</h4>
                <button type="button" class="close" onclick="formrefresh()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form id="unitdiv" style="display:none">
                <div class="modal-body">
               
                    <div class="row">
                        <label style="font-weight:bold;margin-left:13%">Unit Name<span class="danger">*</span></label>
                        <div class="col-md-5" style="margin-left:8.9%">
                            <input type="text" class="form-control" id="unitname" onkeyup="changetoupper(this.id)">
                        </div>
                    </div>
                    <div class="row" style="margin-top:3%">
                        <label style="font-weight:bold;margin-left:13%">Unit Description</label>
                        <div class="col-md-5">
                            <input type="text" class="form-control" id="unitdesc" onkeypress="fousnextbutton(event,'btnunitsave');">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-outline-secondary" style="margin-right:2%" onclick="formrefresh()" data-dismiss="modal" value="close">
                    <input type="button" class="btn btn-outline-primary" style="margin-right:35%" value="Save" id="btnunitsave" onclick="SaveUnit(1)">
                </div>
            </form>

            <form id="groupdiv" style="display:none">
                <div class="modal-body">
                    <div class="row">
                        <label style="font-weight:bold;margin-left:13%">Group Code<span class="danger">*</span></label>
                        <div class="col-md-5" style="margin-left:11.5%">
                            <input type="text" class="form-control" id="groupcode" onkeyup="changetoupper(this.id)">
                        </div>
                    </div>
                    <div class="row" style="margin-top:3%">
                        <label style="font-weight:bold;margin-left:13%">Group Name<span class="danger">*</span></label>
                        <div class="col-md-5" style="margin-left:10.5%">
                            <input type="text" class="form-control" id="groupname" onkeyup="changetoupper(this.id)">
                        </div>
                    </div>
                    <div class="row" style="margin-top:3%">
                        <label style="font-weight:bold;margin-left:13%">Group Description</label>
                        <div class="col-md-5" style="margin-left:2%">
                            <input type="text" class="form-control" id="groupdesc">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-outline-secondary" style="margin-right:2%" onclick="formrefresh()" data-dismiss="modal" value="close">
                    <input type="button" class="btn btn-outline-primary" style="margin-right:35%" value="Save" id="btngroupsave" onclick="SaveGroup(1)">
                </div>
            </form>
            <form id="categorydiv" style="display:none">
                <div class="modal-body">
                    <div class="row">
                        <label style="font-weight:bold;margin-left:13%">Category Code<span class="danger">*</span></label>
                        <div class="col-md-5" style="margin-left:13%">
                            <input type="text" class="form-control" id="catcode" onkeyup="changetoupper(this.id)">
                        </div>
                    </div>
                    <div class="row" style="margin-top:3%">
                        <label style="font-weight:bold;margin-left:13%">Category Name<span class="danger">*</span></label>
                        <div class="col-md-5" style="margin-left:12%">
                            <input type="text" class="form-control" id="catname" onkeyup="changetoupper(this.id)">
                        </div>
                    </div>
                    <div class="row" style="margin-top:3%">
                        <label style="font-weight:bold;margin-left:13%">Category Description</label>
                        <div class="col-md-5" style="margin-left:3%">
                            <input type="text" class="form-control" id="catdesc">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-outline-secondary" style="margin-right:2%" onclick="formrefresh()" data-dismiss="modal" value="close">
                    <input type="button" class="btn btn-outline-primary" style="margin-right:35%" value="Save" id="btncategorysave" onclick="SaveCategory(1)">
                </div>
            </form>
        </div>
    </div>
</div>


<div id="listing" style="margin-left:250px;display:none;">
    <section>
        <div class="row">
            <div class="col-10">
                <div class="card">
                    <div class="card-header">
                        <table width="100%">
                            <tr>
                                <td><h4 class="card-title" style="font-weight:bold;">TOOLS-LIST</h4></td>
                                <td align="right">
                                    <div class="heading-elements">
                                        <div>
                                            <button type="button" onclick="closelist()" class="btn btn-outline-primary" id="ed"><i class="ft-edit"></i> Add New</button>
                                            <span id="itemListButtonPlace">
                                            </span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>


                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard" style="overflow:auto;">
                            <table id="tblcategory" class="table table-striped table-bordered base-style dataTable"></table>
                            <br />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
















<div style="display:none"><input type="text" value="0" id="ToolId" /></div>

