
@{
    ViewBag.Title = "ItemMapping";
}


<script type="text/javascript" src="../Projectscript/ItemMapping.js"></script>
<script src="~/Scripts/Autocomplete/jquery-ui.js"></script>

<div class="myData" data-x="M203" />

<div id="Entry" style="height:100%;">

    <div class="row">
        <div class="col-md-12" >
            <div class="card">
                <div class="card-header" style="border-bottom:1px solid #e6e6e6">
                    <h4 class="card-title mb-0" style="text-align:center;font-weight:bold;">Medicine Mapping</h4>
                </div>
                <div class="card-body">
                    <div class="px-3">
                        <div class="card-content collapse show">
                            <div class="card-body">
                                <div style="height:15px;"></div>
                                <form action="#">
                                    <div class="form-body center" >
                                        <div class="row">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label style="font-weight:bold;">Template Name <span class="danger">*</span></label>
                                                </div>
                                            </div>
                                            <div class="col-md-3 " style="margin-left:-8%;">
                                                <input type="text" class="form-control" id="ItemName" />
                                                <input type='hidden' class='form-control' id='ItemName_Id' />
                                            </div>
                                            <div class="col-md-1">
                                                <button type="button" id="btnaddacess" class="btn btn-outline-primary" onclick="additems()">
                                                    <i class="icon-plus4"></i>ADD
                                                </button>
                                            </div>



                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label style="font-weight:bold;">Template Name <span class="danger">*</span></label>
                                                </div>
                                            </div>
                                            <div class="col-md-3 " style="margin-left:-8%;">
                                                <select class="form-control" id="Itemgroup1" ></select>
                                             
                                            </div>
                                            <div class="col-md-1">
                                                <button type="button" id="btnaddacess" class="btn btn-outline-primary" onclick="GetItemGroupload()">
                                                    <i class="icon-plus4"></i>Load
                                                </button>
                                            </div>
                                        </div>
                                        <div style="display:none" class="row">
                                            <div class="col-md-3"></div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label style="font-weight:bold;">Item Group<span class="danger">*</span></label>
                                                </div>
                                            </div>
                                            <div class="col-md-4" style="margin-left:-8%;">
                                                <select id="ItemGroup" onchange="subItemload()" class="form-control"></select>
                                            </div>
                                            <div class="col-md-4"></div>
                                        </div>
                                        
                                        <div style="background-color: #009DA0;height:30px" class="row">
                                            <div class="col-md-1">
                                                <label style="font-weight:bold;">Remove</label>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label style="font-weight:bold;">Medicine</label>
                                                </div>
                                            </div>

                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label style="font-weight: bold; text-align: left">Notes</label>
                                                </div>
                                            </div>

                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label style="font-weight: bold; text-align: left ">Dosage</label>
                                                </div>
                                            </div>

                                            <div class="col-md-1">
                                                <div class="form-group">
                                                    <label style="font-weight: bold; text-align: left ">Days</label>
                                                </div>
                                            </div>

                                            <div class="col-md-1">
                                                <div class="form-group">
                                                    <label style="font-weight: bold; text-align: left">Qty</label>
                                                </div>
                                            </div>


                                            <div style="display:none" class="col-md-2">
                                                <div class="form-group">
                                                    <label style="font-weight: bold; text-align: left">Daily</label>
                                                </div>
                                            </div>


                                        </div>
                                        <div style="height:192px;overflow-y: scroll;overflow-x:hidden;margin-top:10px">
                                            <div id='Roww_1' class="row">
                                                <div style="text-align:center" class="col-md-1">
                                                    @*<a onclick="removerow(1)"><i class="icon-trash"></i></a>*@
                                                </div>

                                                <div class="col-md-3" style="width:20%;">
                                                    <input type="text" class="form-control" id="SubItems_1" onkeypress="AccessoriesLoad('SubItems_1','1')" onkeyup="CheckID('SubItems_1')" />
                                                    <input type='hidden' class='form-control' id='SubItems_1_Id' value="" />
                                                </div>

                                                <div class="col-md-2">
                                                    <input type="text" class="form-control" id="notes_1" />
                                                </div>
                                                <div class="col-md-2">
                                                    <input type="text" onfocus="mednoteload(1)" class="form-control" id="txtdosage_1" />
                                                </div>

                                                <div class="col-md-1">
                                                    <input type="text" class="form-control" id="txtdays_1" />
                                                </div>

                                                <div class="col-md-1">
                                                    <input type="number" class="form-control" id="Quantity_1" />
                                                </div>

                                                <div style="display:none" class="col-md-2">
                                                    <input type="text" class="form-control" id="txtdaily_1" />
                                                </div>


                                            </div>
                                            <div id="Itemsdiv">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions center">
                                        <div class="text-center">
                                            <button type="button" style="width:100px" id="btnsubmit" class="btn btn-primary btn-min-width mr-1 mb-1"><u>S</u>ave <i class="fa fa-check-square-o"></i></button>
                                            <button type="button" style="width:100px;display:none" id="btnlist" onclick="GetRows(0)" class="btn btn-primary btn-min-width mr-1 mb-1">List <i class="ft-align-justify"></i></button>
                                            <button type="button" style="width:100px" id="btnnew" onclick="formrefresh()" class="btn btn-primary btn-min-width mr-1 mb-1">New <i class="ft-refresh-cw position-right"></i></button>
                                            <button style="display:none" type="button" id="btndelete" onclick="SaveAndUpdate(0)" class="btn btn-primary btn-min-width mr-1 mb-1">Delete <i class="fa fa-times"></i></button>
                                        </div>                                   
                                     </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<script>


    function mednoteload(ID) {


        var availableTags = ["1-0-0", "0-1-0", "0-0-1", "1-0-1", "1-1-1", "1-1-1-1", "1/2-0-0", "0-1/2-0", "0-0-1/2", "1/2-0-1/2", "1/2-1/2-1/2", "1/2-1/2-1/2-1/2", "SOS", "STAT"];
        $(function () {
            $("#txtdosage_" + ID).autocomplete({
                source: availableTags, delay: 0, autoFocus: false,
                focus: function (event, ui) { },
                select: function (event, ui) {
                    $('#txtdays_' + ID).focus()
                }
            }).on('keydown', function (e) {

            }).autocomplete("instance")._renderItem = function (ul, item) { return $("<li>").append("<div>" + item.label + "</div>").appendTo(ul); };
        })
    }

     function subItemload() {
        if ($('#ItemGroup').val() != 0) {
            $('#Itemsdiv').empty();
            $('#SubItems_1').val('');
            $('#Quantity_1').val('');
            var ItemId = $('#ItemName_Id').val();
            var GroupId = $('#ItemGroup').val();
            var data = {};
            data.ItemId = ItemId;
            data.GroupId = GroupId;
            $.ajax({
                type: "POST",
                url: "../../ItemMapping/ItemSearch",
                data: data,
                success: function (result) {
                    Showaccessories(result.oList);
                }
            });
        }
        else {
            $('#Itemsdiv').empty();
            $('#SubItems_1').val('');
            $('#Quantity_1').val(1);
        }
    }


    function AccessoriesLoad(Id, no) {
       
        $("#" + Id).autocomplete({
            delay: 0,
            minLength: 0,
            source: function (request, response) {
                var data = {};
                data.ItemCode = $("#" + Id).val();
                console.log(data.ItemCode + 'k')
                $.ajax({
                    url: '../Purchase/ProductSearch',
                    type: "POST",
                    data: data,
                    dataType: "json",
                    success: function (data) {
                        console.log(data)
                        response($.map(data, function (item) {
                            return ({
                                ColCount: 'ONE',
                                label: item.Description,
                                label1: item.ItemCode,
                                ItemId: item.ItemId

                            })
                        }));
                    }

                })
            },


            autoFocus: true,
            select: function (event, ui) {
                console.log(no)
                $('#' + Id + '_Id').val(ui.item.ItemId)
                console.log($('#' + Id + '_Id').val())
                $('#' + Id).val(ui.item.Description);
                $('#notes_' + no).focus();
                $('#notes_' + no).select();
            },
        })
    }



</script>


