
@{
    ViewBag.Title = "AlternateItemLinking";
}

<script src="~/Scripts/Autocomplete/jquery-ui.js"></script>

<link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/tables/jsgrid/jsgrid-theme.min.css">
<link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/tables/jsgrid/jsgrid.min.css">
<link rel="stylesheet" type="text/css" href="../app-assets/vendors/css/hopscotch.css">



<script type="text/javascript" src="../Projectscript/AlternateProductLink.js"></script>



<div id="AlternateItemLink" style="margin-top:2%; margin-left:30%">
    <div class="row">
        <div class="col-md-14">
            <div class="card" style="width:850px">
                <div class="card-header" style="border-bottom:1px solid #e6e6e6">
                    <h4 class="card-title mb-0">Alternate Item Linking</h4>
                </div>
                <div class="card-body" style="margin-left:-25px">
                    <div class="px-5" style="width:800px;margin-left:1%">
                        <div class="card-content collapse show" style="width:750px">
                            <div class="card-body">
                                <div style="height:25px;"></div>
                                <form action="#">
                                    <div class="form-body">

                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="userinput2">Main_Product :<span class="danger"></span></label>
                                            <div class="col-md-6">
                                                <input type="text" id="MainItemName" class="form-control editds ui-autocomplete-input" style="height:90%;align-self:auto"  autocomplete="off" autofocus>

                                            </div>
                                        </div>
                                        <hr style="margin-top:5px">
                                        <div class="form-body">
                                            <div>
                                                <div class="row">
                                                    <div class="col-md-12">

                                                        <div class="row" style="height:28px;">
                                                            <div class="col-md-5">
                                                                <div class="form-group">
                                                                    <label>Alternate Item_Search</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <label>Description</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-1">
                                                                <div class="form-group">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <div class="col-md-5">
                                                                <div class="input-group">
                                                                    <input type="text" id="txtS_ItemCode" class="form-control" style="" onkeyup="changetoupper(this.id),checkpdcttextempty(event)">
                                                                    <div class="input-group-append" id="addProduct">
                                                                        <button class="btn btn-outline-primary" onclick="window.open('../master/itemmaster')" id="btnaddprd" type="button">+</button>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                            <input type="hidden" id="Description" />
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <input type="text" id="txtS_ItemDesc" class="form-control editds" >
                                                                </div>
                                                            </div>
                                                            <div class="col-md-1">
                                                                <div class="form-group">
                                                                    <button type="button" id="btnaddPro" style="height:40px;width:95px" onclick="Productadd()" class="btn btn-outline-primary ">+ Add </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="margin-left:0px;margin-right:0px;">
                                            <div id="customView" class="jsgrid" style="position: relative; height: auto; width: 99%;border:solid 1px;border-color:#cccccc;border-bottom:1px solid #cccccc;overflow-x: auto;overflow-y: hidden;">
                                                <div class="jsgrid-grid-header jsgrid-header-scrollbar" style="width:740px;">
                                                    <table class="jsgrid-table">
                                                        <tr class="jsgrid-header-row">
                                                            <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width:75px">Sl No</th>
                                                            <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width:275px">Product</th>
                                                            <th class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable" style="width:275px">ItemCode</th>
                                                            <th class="jsgrid-header-cell jsgrid-control-field jsgrid-align-center" style="width:200px"></th>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div id="proddiv" class="jsgrid dataTables_scrollBody" style="position: relative;overflow-x: auto;overflow-y: auto; height: 290px; width: 750px;">
                                                    <table class="jsgrid-table"  id="tblProductAdd"></table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <div class="text-right">
                                            <button id="btnsubmitLink" type="button" class="btn btn-outline-warning" autofocus="">Save</button>
                                            &nbsp;
                                            <button id="btnnewLink" type="button" class="btn btn-outline-primary" autofocus="">New</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<input type="hidden" id="rowcount" value="1" />
<input type="hidden" id="MainProdId" />
<input type="hidden" id="SubProdId" />


