
@{
    ViewBag.Title = "Test";
}

<script src="~/Scripts/Autocomplete/jquery-ui.js"></script>

<input type="text" id="txtTime" />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button type="button" style="width:150px;margin-left:-3%" id="btnSetTime" onclick="showpopup();" class="btn btn-primary btn-min-width mr-1 mb-1">SetCurrentTime <i class="ft-refresh-cw position-right"></i></button>

<script>

    $(document).ready(function () {

        $("#btnSetTime").click(function () {

            alert("hi")
 
            var d = new Date();
          
            var formatted_time = time_format(d);
           

            $('#txtTime').val(formatted_time);

        });

        function time_format(d) {
  
            hours = format_two_digits(d.getHours());
            minutes = format_two_digits(d.getMinutes());
            seconds = format_two_digits(d.getSeconds());
            return hours + ":" + minutes ;
        }

        function format_two_digits(n) {
            return n < 10 ? '0' + n : n;
        }



    });
 

    
</script>