
@{
    ViewBag.Title = "CheckList";
}
<script type="text/javascript" src="../Projectscript/Common.js"></script>
<script type="text/javascript" src="../Projectscript/ItemCheckList.js"></script>
<script src="~/Scripts/Autocomplete/jquery-ui.js"></script>

<div class="myData" data-x="M167" />

 <div id="Entry">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
               <div class="card-header" style="border-bottom:1px solid #e6e6e6">
                    <h4 class="card-title mb-0">CHECKLIST</h4>
                </div>
                <div class="card-body">
                    <div class="px-3">
                        <div class="card-content collapse show">
                            <div class="card-body">
                                <form action="#">
                                    <div class="form-body">
                                        <div style="height:15px;"></div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group ">
                                                    <label>Chasis Number<span class="danger">*</span></label>
                                                    <div class="form-group">
                                                        <input type="text" id="Chasisnumber" onkeyup="changetoupper(this.id)" class="form-control" autocomplete="off">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label>Description</label>
                                                <div class="form-group">
                                                    <input type="text" id="description" class="form-control" autocomplete="off">
                                                    <input type="hidden" id="ItemId" />
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div id="proddiv" class="row"> 
                                            <div class="col-md-6">
                                                <table class="jsgrid-table" id="tbl_checklist"></table>
                                            </div>
                                        </div>
                                    </div>
                                </form>


                               
                            </div>

                        </div>
                           

                               
                      


                        @*<div >
                            <input type='file' id="keyimage" accept="image/*" class="btn btn-sm gradient-back-to-earth font-small-2">
                        </div>*@


                                <div class="form-actions">
                                    <br />
    
                                  
                                    <div class="text-left">
                                        <button type="button" style="width:100px" id="btnsubmit" onclick="SaveAndUpdate(1)" class="btn btn-primary btn-min-width mr-1 mb-1"><u>S</u>ave <i class="fa fa-check-square-o"></i></button>
                                        <button type="button" style="width:100px" id="btnlist" onclick="GetList(0)" class="btn btn-primary btn-min-width mr-1 mb-1">List <i class="ft-align-justify"></i></button>
                                        <button type="button" style="width:100px" id="btnnew" onclick="formrefresh()" class="btn btn-primary btn-min-width mr-1 mb-1">Clear <i class="ft-refresh-cw position-right"></i></button>
                                        <button style="display:none" type="button" id="btndelete" class="btn btn-primary btn-min-width mr-1 mb-1">Delete <i class="fa fa-times"></i></button>
                                    </div>
                                    <br />
                                    <br />
                                </div>
                            </div>   
                 </div>
              </div>
          </div>
      </div>
   </div>

    


<div style="display:none">
    <input type="text" id="rowlength" value="0"/>
</div>
<div style="display:none;" id="listing">
    <section>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <table width="100%">
                            <tr>
                                <td><h4 class="card-title">CheckList</h4></td>
                                <td align="right">
                                    <div class="heading-elements">
                                        <div class="btn-group">
                                            <button type="button" onclick="closetable(1)" class="btn btn-outline-primary"><i class="ft-edit"></i> Add New</button>
                                            <button type="button" class="btn btn-outline-primary"><i class="ft-edit"></i> Export</button>
                                            <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false">
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">Excel</a>
                                                <a class="dropdown-item" href="#">PDF</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Print</a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                     <div class="card-content collapse show" style="overflow:auto;">
                        <div class="card-body card-dashboard">
                          
                            <table id="tblCheckListMain" class="table table-striped table-bordered base-style dataTable"></table>
                            <br />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div style="display:none"><input type="text" value="0" id="CheckListId" /></div>


<script>


    $("#Chasisnumber").autocomplete({
        source: function (request, response) {
            var data = {};
            data.ItemCode = $("#Chasisnumber").val();

            $.ajax({
                url: '../Purchase/ProductSearch',
                type: "POST",
                data: data,
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    response($.map(data, function (item) {
                        return ({
                            ColCount: 'TWOEnq',
                            label: item.ItemCode,
                            label1: item.Description,
                            ItemId: item.ItemId,
                            Description: item.Description,
                            headers: ["Item Code", "Description", ]
                        })
                    }));
                }

            })
        },
        autoFocus: true,
        select: function (event, ui) {
            $('#Chasisnumber').val(ui.item.ItemCode);
            $('#description').val(ui.item.Description);
            $('#ItemId').val(ui.item.ItemId);
            $('#description').focus();
        },
    });



</script>